<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>

<div class="borde">
    <div>
        <div style="width:100%;">
            <h1>UBICACIONES</h1>
        
            <section id="ubicaciones" class="dib45w">
                <?php foreach($this->estaciones as $ciudad=>$estacion){?>
                    <h2><?php echo $ciudad?></h2>
                    <?php foreach($estacion as $est){?>
                        <article class="ubicaciones-item" id="estacion-<?php echo $est->id;?>" onclick="marcarEstacion(<?php echo $est->id;?>,<?php echo $est->latitud;?>,<?php echo $est->longitud;?>);">
                            <p><b><?php echo $est->nombre;?></b></p>
                            <p><?php echo $est->direccion;?></p>
                            <p><?php echo $est->telefono;?></p>
                            <p><?php if($est->diesel==1) echo '<span class="diesel">Diesel</span>'; if($est->magna==1) echo ' <span class="magna">Magna</span>'; if($est->premium==1) echo ' <span class="premium">Premium</span>'; ?></p>
                        </article><!--
                        -->
                    <?php }?>
                <?php }?>
            </section><!--
            --><div id="ubicaciones-mapa" class="dib50w"></div>
        </div>
    </div>
</div>

<script>
    
        cargaMapa();
        <?php 
            foreach($this->estaciones as $ciudad=>$estacion)
            {
                foreach($estacion as $est)
                {
                    if(!empty($est->latitud))
                    {
        ?>
                        var markerEstacion<?php echo $est->id?>;
                        var ubicacionEstacion = new google.maps.LatLng(<?php echo $est->latitud?>, <?php echo $est->longitud?>);
                        markerEstacion<?php echo $est->id?> = new google.maps.Marker({
                                  position: ubicacionEstacion,
                                  map: mapaPropiedad
                        });


                        var contentString<?php echo $est->id?> = '<p><b><?php echo $est->nombre?></b></p>';


                        var infowindow<?php echo $est->id?> = new google.maps.InfoWindow({
                              content: contentString<?php echo $est->id?>
                        });


                       google.maps.event.addListener(markerEstacion<?php echo $est->id?>, 'click', function() {
                            infowindow<?php echo $est->id?>.open(mapaPropiedad,markerEstacion<?php echo $est->id?>);
                        });

        <?php
                    }
                }
            }
        ?>
    
</script>