<section class="borde">
    <div id="contacto">
        <h1>CONTÁCTANOS</h1>

        <div id="contacto-left">   
            <div>
                <figure>
                    <img src="/images/phone.png">
                </figure><!--
                --><div>
                    <h2>Vales Fussion</h2>
                    
                </div>
            </div>
            
        </div><!--
        --><div id="contacto-right">
            <form name="frmContacto" id="frmContacto" class="frmContacto" method="post" action="/contacto/enviar" onsubmit="return validar()">
                <?php if($this->enviado){?>
                <div>
                    <span id="msgEnvioContacto">Su mensaje ha sido enviado.</span>
                </div> 
                <?php }?>
                <div class="control-form">
                    <label>Nombre:</label>
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="required" value="" maxlength="100"/>
                </div>
                <div class="control-form">
                    <label>Teléfono:</label>
                    <input type="text" name="telefono" id="telefono" placeholder="Teléfono" class="required" value="" maxlength="100"/>
                </div>
                <div class="control-form">
                    <label>Email:</label>
                    <input type="text" name="email" id="email" placeholder="Email" class="required" value="" maxlength="100"/>
                </div>
                <div class="control-form">
                    <label>Empresa:</label>
                    <input type="text" name="empresa" id="empresa" placeholder="Empresa/Organización" class="required" value="" maxlength="100"/>
                </div>
                <div class="control-form">
                    <label>Comentarios:</label>
                    <textarea rows="4" id="comentarios" name="comentarios"></textarea>
                </div>
                <div class="control-form">
                    <span id="msgErrorContacto"></span>
                </div>
                <input type="submit" name="submit" value="Enviar" class="btn">
            </form>
        </div>
    </div>
</section><!--