<table width="500" border="0" align="center" cellpadding="2" cellspacing="4">
  <tr>
    <td colspan="2" align="center"><img src="http://valesfusion.com/img/logo_vales_fusion.png" /></td>
  </tr>
  <tr>
    <td width="113" align="left">Nombre:</td>
    <td width="367" align="left"><?php echo utf8_decode($this->post['nombre'])?></td>
  </tr>
  <tr>
    <td align="left">Tel&eacute;fono:</td>
    <td align="left"><?php echo utf8_decode($this->post['telefono'])?></td>
  </tr>
  <tr>
    <td align="left">Email:</td>
    <td align="left"><?php echo utf8_decode($this->post['email'])?></td>
  </tr>
  <tr>
    <td align="left">Empresa:</td>
    <td align="left"><?php echo utf8_decode($this->post['empresa'])?></td>
  </tr>
  <tr>
    <td align="left">Comentarios:</td>
    <td align="left"><?php echo utf8_decode($this->post['comentarios'])?></td>
  </tr>
</table>