<section class="content">
  <div class="box" style="padding: 3em;">
    <form id="frm" name="frm" class="form-horizontal" role="form">
      <div class="row">
        <div class="form-group col-xs-12">
          <label for="nombre" class="col-xs-2 control-label">*Nombre:</label>
          <div class="col-xs-4">
            <input type="text" id="nombre" name="nombre" class="form-control input-sm" value="<?php echo ($this->registro->nombre); ?>"  maxlength="100" placeholder="Nombre del municipio" />
          </div>
          <label for="id_estado" class="col-xs-2 control-label">*Estado:</label>
          <div class="col-xs-4">
            <select name="id_estado" id="id_estado" class="form-control input-sm">
              <option value="0">Seleccione un estado</option>
              <?php
                foreach ($this->estados as $estado) {
                  if($this->registro->id_estado == $estado->id) $select = "selected";
                  else $select = '';
                  echo '<option value="'. $estado->id .'" '. $select .'>'. utf8_decode($estado->nombre) .'</option>';
                }
              ?>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12">
          <label for="clave" class="col-xs-2 control-label">*Clave:</label>
          <div class="col-xs-4">
            <input type="text" id="clave" name="clave" class="form-control input-sm" value="<?php echo($this->registro->clave); ?>"  maxlength="100" placeholder="Clave del municipio" />
          </div>
        </div>
      </div>
      <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id; ?>" />
    </form>
  </div>
  <div class="height-5" style="margin-top:50px"></div>
  <div class="row center-block" style="">
    <div class="height-5"></div>
      <div class="col-xs-2 pull-left" id="btnGuardar">
        <a class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
      </div>
      <div class="col-xs-2 pull-left" onclick="limpiar()">
        <a class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Limpiar</a>
      </div>
    </div>
  </div>
</section>