<!-- HEADER -->
  <section class="content-header">
    <h1>
      <?php echo $this->titulo; ?>
      <small><?php echo $this->subtitulo; ?></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"> Inicio</a></li>
      <li class="active"><a href="#"><i class="fa fa-server"></i>Catálogos</a></li>
      <li class="active"><a href="#"><i class="fa fa-building-o"></i>Cultivos</a></li>
    </ol>
  </section>
<!-- /HEADER -->
<!-- CONTENIDO -->
  <section class="content">
    <div class="box">
      <!-- AGREGAR -->
      <div class="box-header">
        <div class="box-tools pull-right" onclick="agregar()">
<?php /*?>          <a class="btn btn-block btn-success" style="color:#FFF !important;">
          	<i class="fa fa-plus"> Agregar Etapa Fenológica</i>
          </a><?php */?>
        </div>
      </div>
      <!-- /AGREGAR -->
      <!-- FILTROS -->
      <div style="margin-top:30px;"></div>
        <div class="box-body">
          <div class="box box-danger">
            <div class="box-header">
              <div class="row">
                <div class="col-xs-12">
                  <h3 class="box-title">Etapas Fenológicas</h3>
                </div>
                <!-- CAMPOS DE FILTROS -->
                <div class="form-group col-xs-6">
                  <div class="col-xs-12">
                  	<select class="form-control input-sm" name="etapas_fenologicas" id="etapas_fenologicas">
                    <?php echo $this->select; ?>
                    </select>
<?php /*?>                    <input type="text" class="form-control input-sm" name="filtroNombre" id="filtroNombre" placeholder="Etapa Fenológica"/>
<?php */?>         </div>
                </div>
                <!-- /CAMPOS DE FILTROS -->
              <div class="col-xs-6">
                <button name="agregar" class="btn btn-info fa fa-eraser pull-right" style="color:#FFF !important;" onclick="javascript:agregar();">
                  Agregar etapa
                </button> &nbsp;
                <?php /*?><button name="filtrar" class="btn btn-info fa fa-search pull-right" style="color:#FFF !important;" onclick="javascript:filtrargrig();">
                  Filtrar
                </button><?php */?>
              </div>
            </div><br/>
            
          </div>
        </div>
      </div>
      <!-- /FILTROS -->
      <!-- GRID -->
      <div class="box-body">
        <?php echo $this->grid; ?>
        <div id="flexigrid-etapa-fenologica" class="col-xs-12" style="padding:0px">
        </div>
      </div>
      <!-- /GRID -->     
  	</div>
  </section>
<!-- /CONTENIDO -->
<script language="javascript">
	$("#flexigrid-etapa-fenologica").flexigrid({
        url: "/backend/cultivo/grid-etapa-fenologica/id_cultivo/"+<?php echo $this->id; ?>,
		dataType: "xml",
		colModel: [
            {display: "Editar", name: "editar", width : 40, sortable: false, align: "center"},
			{display: "Cancelar", name: "cancelar", width: 60, sortable: false, align: "center"},
			{display: "Etapa Fenológica", name: "etapa", width: 600, sortable: false, align: "center"}
			
        ]
        ,sortname: "id"
        ,sortorder: "asc"
        ,usepager: true
        ,useRp: false
        ,singleSelect: true
        ,resizable: false
        ,showToggleBtn: false
        ,rp: 10
        ,width: 700
        ,height: 230
        ,onSuccess: function(){
        
        }
        ,onError: function(respuesta){
            ShowDialogBox("Ha ocurrido un error", "No se han podido mostrar las etapas fenológicas, intentelo nuevamente", "Ok", "", false, "");
        }
    });
	
	function agregar(){
		var id_etapa='';
		id_etapa = $('#etapas_fenologicas').val();
		var id_cultivo = <?php echo $this->id; ?>;
		var datas = '';
		
		if(id_etapa!='' && id_etapa!='0'){
			$.ajax({
				url: "/backend/cultivo/agregar-etapa-cultivo/",
				type: "POST",
				data:{id_etapa_fenologica: id_etapa, id_cultivo:id_cultivo}
			}).done(function(datas){
				if(datas > 0) 
    	    	{
                  ShowDialogBox("Guardado", "El registro se ha guardado correctamente", "Ok", "", false, "");
                  limpiar();
				  $('#flexigrid-etapa-fenologica').flexOptions({url: "/backend/cultivo/grid-etapa-fenologica/id_cultivo/"+<?php echo $this->id; ?>}).flexReload(); 
                    
    	    	}else if(datas == '-1'){
    	    		ShowDialogBox("No se ha podido guardar", "El registro ya existe", "Ok", "", false, "");
				}else{
    	    		ShowDialogBox("Ha ocurrido un error", datas, "Ok", "", false, "");
				}
			});
		}else{
			 ShowDialogBox("¡Advertencia!", "Es necesario seleccionar una etapa para poder relacionarla con el cultivo", "Ok", "", false, "");
		}
		
}
</script>