<label>Seleccione las variables a consultar:</label></br></br>
<input id="arcilla" name="arcilla" type="checkbox" onClick="change('arcilla')"/>Arcilla</br>
<input id="arena" name="arena" type="checkbox" onClick="change('arena')"/>Arena</br>
<input id="cah" name="cah" type="checkbox" onClick="change('cah')"/>CAH</br>
<input id="cic" name="cic" type="checkbox" onClick="change('cic')"/>CIC</br>
<input id="iht" name="iht" type="checkbox" onClick="change('iht')"/>IHT</br>
<input id="ip" name="ip" type="checkbox" onClick="change('ip')"/>IP</br>
<input id="limo" name="limo" type="checkbox" onClick="change('limo')"/>LIMO</br>
<input id="mo" name="mo" type="checkbox" onClick="change('mo')"/>MO</br>
<input id="ph" name="ph" type="checkbox" onClick="change('ph')"/>PH</br>
<input id="profundidad" name="profundidad" type="checkbox" onClick="change('profundidad')"/>Profundidad</br>
<input id="sb" name="sb" type="checkbox" onClick="change('sb')"/>SB</br>
<input id="textura" name="textura" type="checkbox" onClick="change('textura')"/>Textura</br>
<input id="fc" name="fc" type="checkbox" onClick="change('fc')"/>ZM FC</br>
<input id="qb" name="qb" type="checkbox" onClick="change('qb')"/>ZM QB</br>