/* CSS Document */
    html, body {
        height: 100%;
        margin: 0px;
        padding: 0px
    }
	.text-center{
		text-align:center;
	}
    #txt-desc{
        float:left;
        background:#FFFFFF;
        height: 100%;
        width: 3%;
    }
	#car_fisicas, #car_quimicas, #indice_productividad{
		position: relative;
		float: left;
		margin: 0px 10px;	
	}
    #btn-close {
        background: #3498db;
        background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
        background-image: -moz-linear-gradient(top, #3498db, #2980b9);
        background-image: -ms-linear-gradient(top, #3498db, #2980b9);
        background-image: -o-linear-gradient(top, #3498db, #2980b9);
        background-image: linear-gradient(to bottom, #3498db, #2980b9);
        width: 100%;
        height: 100%;
        float: left;
        cursor: pointer;
    }

    #btn-close:hover {
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
        text-decoration: none;
    }

    #txt-general {
        background: #fff;
        width: 90%;
        height: 100%;
        float: left;
        display: none;
    }
	.text-14{ 
		font-size:14px;
		
	}

    #txt-info-variables {
        background: #FFF;
        width: 60%;
        height: 70%;
        float: left;
        padding: 4.5em;
        font-family: Verdana;
    }

    .loader {
        position: absolute; 
        left: 0px; 
        top: 0px;
        background:rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
        z-index: 999999999;
    }

    .loader-inner {
        float: left;
		top: 50%;
		position: relative;
		left: 50%;
    }

    .loader-inner-txt {
        float: left;
        margin-top: 1.3em;
        margin-left: 1em;
		top: 50%;
		position: relative;
		left: 50%;
    }

    #txt-info-punto {
        background: #FFF;
        width: 60%;
        height: 70%;
        float: left;
        padding: 4.5em;
    }

    .oculto {
        display: none;
    }

    .titulo {
        background: #3498db;
        width: 50%;
        height: 4.7%;
        float: left;
        border-bottom: 1px solid black;
        cursor: pointer;
        text-align: center;
        padding-top: 0.5em; 
        font-family: Verdana;
    }

    .titulo:hover {
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
        text-decoration: none;
    }

    .marcar{
        width: 50%;
        height: 4.7%;
        float: left;
        border-bottom: 1px solid black;
        cursor: pointer;
        text-align: center;
        padding-top: 0.5em; 
        font-family: Verdana;
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
        text-decoration: none;
    }

    .modalcarga{
        position: fixed;
        top: 40%;
        left: 40%;
        padding: 16px;
        background:rgba(0,0,0,0);
        z-index:1002;
        overflow: auto;
        color: #FFFFFF;
        font-size: 20px;
		display:block !important;
    }

    .margen{
        margin-left: 0.5em;
    }

    .google-maps {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
        max-width: none !important;
    }

    .H_ib_body{
        bottom: 0.5em;
        background-color: black;
        margin-right: -1em;
        padding: 0.5em 2em 0.5em 0.5em;
        position: absolute;
        right: 0;
        border-radius: 0em;
    }

    .H_ib {
        color: #fff;
        fill: #000;
        font-size: 1.5em;
        line-height: 1em;
    }
	
    .H_ib_content {
        margin: 0.8em 0;
        min-width: 6em;
        padding: 0 0.2em;
        width: 11em;
    }

    .here-maps img {
        max-width: none;
    }



    .tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;border:none;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding: 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
    .tg .tg-io0k{font-size:11px;font-family:"Courier New", Courier, monospace !important;;text-align:center; border-width: 1px; border-style: solid;}
    .tg .tg-1rf6{font-size:11px;font-family:"Courier New", Courier, monospace !important; border-width: 1px; border-style: solid;}

    .ifond
    {
        position:absolute;
        padding-top:85px;
        top:0;
        left:0;
        right:0;
        bottom:0;
        display: none;
    }

    .contener_general
    {
        -webkit-animation:animball_two 1s infinite;
        -moz-animation:animball_two 1s infinite;
        -ms-animation:animball_two 1s infinite;
        animation:animball_two 1s infinite;
        width:44px; height:44px;
    }

  .contener_mixte
  {
    width:44px; height:44px; position:absolute;
  }

  .ballcolor
  {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .ball_1, .ball_2, .ball_3, .ball_4
  {
    position: absolute;
    -webkit-animation:animball_one 1s infinite ease;
    -moz-animation:animball_one 1s infinite ease;
    -ms-animation:animball_one 1s infinite ease;
    animation:animball_one 1s infinite ease;
  }

  .ball_1
  {
    background-color:#FFF;
    top:0; left:0;
  }

  .ball_2
  {
    background-color:#FFF;
    top:0; left:24px;
  }

  .ball_3
  {
    background-color:#FFF;
    top:24px; left:0;
  }

  .ball_4
  {
    background-color:#FFF;
    top:24px; left:24px;
  }

  @-webkit-keyframes animball_one
  {
    0%{ position: absolute;}
    50%{top:12px; left:12px; position: absolute;opacity:0.5;}
    100%{ position: absolute;}
  }

  @-moz-keyframes animball_one
  {
    0%{ position: absolute;}
    50%{top:12px; left:12px; position: absolute;opacity:0.5;}
    100%{ position: absolute;}
  }

  @-ms-keyframes animball_one
  {
    0%{ position: absolute;}
    50%{top:12px; left:12px; position: absolute;opacity:0.5;}
    100%{ position: absolute;}
  }

  @keyframes animball_one
  {
    0%{ position: absolute;}
    50%{top:12px; left:12px; position: absolute;opacity:0.5;}
    100%{ position: absolute;}
  }

  @-webkit-keyframes animball_two
  {
    0%{-webkit-transform:rotate(0deg) scale(1);}
    50%{-webkit-transform:rotate(360deg) scale(1.3);}
    100%{-webkit-transform:rotate(720deg) scale(1);}
  }

  @-moz-keyframes animball_two
  {
    0%{-moz-transform:rotate(0deg) scale(1);}
    50%{-moz-transform:rotate(360deg) scale(1.3);}
    100%{-moz-transform:rotate(720deg) scale(1);}
  }

  @-ms-keyframes animball_two
  {
    0%{-ms-transform:rotate(0deg) scale(1);}
    50%{-ms-transform:rotate(360deg) scale(1.3);}
    100%{-ms-transform:rotate(720deg) scale(1);}
  }

  @keyframes animball_two
  {
    0%{transform:rotate(0deg) scale(1);}
    50%{transform:rotate(360deg) scale(1.3);}
    100%{transform:rotate(720deg) scale(1);}
  }

  .icentrar
  {
    position: absolute;
    /*nos posicionamos en el centro del navegador*/
    top:50%;
    left:50%;
    /*determinamos una anchura*/
    width:20%;
    /*indicamos que el margen izquierdo, es la mitad de la anchura*/
    margin-left:-10%;
    /*determinamos una altura*/
    height:20%;
    /*indicamos que el margen superior, es la mitad de la altura*/
    margin-top:-10%;
    padding:5px;
    z-index: 999999;
  }

  .iloader
  {
    position: absolute; 
    left: 0px; 
    top: 0px;
    background:rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 999998;
    display: none;
  }
  .display-none{
	display: none;
}

.ui-dialog-titlebar-close{
	background-color: #14374A; 
	border: 1px solid #060f15; 
	color: #F9F9F9; 		
	padding: 0 !important;
}

.ui-dialog-titlebar-close:hover{
	background-color: #B59858; 
	border-color: #8b733e;
}

.ui-dialog-titlebar-close:after{
	content: "X";
}

.ui-datepicker-month
,.ui-datepicker-year{
	color: #222222;
}

.ui-multiselect{
	/*width: 282px !important;*/
	width: 233px !important;
	height: 29px !important;
}

.form-group{
	margin-bottom: 3px;
}

.ui-widget-header{
	font-weight: normal;
	font-size: 16px;
}

ul.ui-widget-header{
	font-weight: normal;
	font-size: 14px !important;
}

.ui-widget{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
}

.form-control-envio{
	border: solid 1px #AAAAAA;
	border-radius: 0;
	-webkit-border-radius: 0;
	width: 100%;

	background-color: #fff;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
	background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
	background-image: -moz-linear-gradient(top, #eee 1%, #fff 15%);
	background-image: linear-gradient(to bottom, #eee 1%, #fff 15%);
}

.form-control-envio:active
,.form-control-envio:focus{

	border: 1px solid #5897fb;
	outline: none;

	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
			box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.select2-choices{
	max-height: 57px;
	overflow: auto !important;
}
.table th{
	background-color:#80b5d3 !important;
	color:#fff !important;	
}
.table tfoot tr, .table2 tfoot tr{
	background-color:#2a96d3 !important;
	color:#fff !important;
	font-weight:bold;	
}
.azul{
	background-color:#80b5d3 !important;
	color:#fff !important;
}
.vcenter{display:table-cell !important; vertical-align:middle !important; float:none !important;}

input[type="radio"]{
	margin: 10px 5px 5px 5px;	
}

.loading {
    background: url("/images/map3.png") no-repeat scroll 50% 50% transparent;
    background-color: rgba(18, 65, 145, 0.60);
    bottom: 0;
    color: #fff;
    content: " ";
    display: none;
    font: 275% "Georgia";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    /*text-shadow: -1px -1px 1px #ccc, 1px 1px 1px #fff;*/
    top: 0;
    transition: opacity 0.35s ease-in-out 0s;
    width: 100%;
    z-index: 2147483647;
}

.jGrowl .manilla {
    background-color:       #FFF1C2;
    color:                  navy;
}

.jGrowl .flora {
    background:             #E6F7D4 url(flora-notification.png) no-repeat;
    -moz-border-radius:     0px;
    -webkit-border-radius:  0px;
    opacity:                1;
    filter:                 alpha(opacity = 100);
    width:                  270px;
    height:                 90px;
    padding:                0px;
    overflow:               hidden;
    border-color:           #5ab500;
}

.jGrowl .flora .message {
    padding:                5px;
    color:                  #000;
}

.jGrowl .flora .header {
    background:             url(flora-header.png) no-repeat;
    padding:                5px;
}

.jGrowl .flora .close {
    background:             url(flora-close.png) no-repeat;
    padding:                5px;
    color:                  transparent;
    padding:                0px;
    margin:                 5px;
    width:                  17px;
}

.showcss{ display:block; }
.hidecss{ display:none; }

.mapHeight{
	width: 530px;
	width: -webkit-calc(100% - 100px);
	width: -moz-calc(100% - 100px);
	width: calc(100% - 100px);
}

.tituloVariable
{
    height: 40px;
    line-height: 20px;
    padding-left: 20px;
}

#trIp td
{
    padding: 10px;
}

#tablaVariables tr td
{
    font-size: 15px;
}


.toGreen
{
    width: 140px;
    height: 15px;
    margin: auto;
    background: #fa0505;
    background: -moz-linear-gradient(left, #fa0505 0%, #fa0505 15%, #f09409 30%, #f7f700 45%, #37e627 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #fa0505), color-stop(15%, #fa0505), color-stop(30%, #f09409), color-stop(45%, #f7f700), color-stop(100%, #37e627));
    background: -webkit-linear-gradient(left, #fa0505 0%, #fa0505 15%, #f09409 30%, #f7f700 45%, #37e627 100%);
    background: -o-linear-gradient(left, #fa0505 0%, #fa0505 15%, #f09409 30%, #f7f700 45%, #37e627 100%);
    background: -ms-linear-gradient(left, #fa0505 0%, #fa0505 15%, #f09409 30%, #f7f700 45%, #37e627 100%);
    background: linear-gradient(to right, #fa0505 0%, #fa0505 15%, #f09409 30%, #f7f700 45%, #37e627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa0505', endColorstr='#37e627', GradientType=1 );
}

.toGreenMiddle
{
    width: 140px;
    height: 15px;
    margin: auto;
    background: #fa0505;
    background: -moz-linear-gradient(left, #fa0505 0%, #fa0505 10%, #f09409 20%, #f7f700 30%, #29f500 36%, #29f500 65%, #f7f700 70%, #f09409 80%, #fa0505 90%, #fa0505 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #fa0505), color-stop(10%, #fa0505), color-stop(20%, #f09409), color-stop(30%, #f7f700), color-stop(36%, #29f500), color-stop(65%, #29f500), color-stop(70%, #f7f700), color-stop(80%, #f09409), color-stop(90%, #fa0505), color-stop(100%, #fa0505));
    background: -webkit-linear-gradient(left, #fa0505 0%, #fa0505 10%, #f09409 20%, #f7f700 30%, #29f500 36%, #29f500 65%, #f7f700 70%, #f09409 80%, #fa0505 90%, #fa0505 100%);
    background: -o-linear-gradient(left, #fa0505 0%, #fa0505 10%, #f09409 20%, #f7f700 30%, #29f500 36%, #29f500 65%, #f7f700 70%, #f09409 80%, #fa0505 90%, #fa0505 100%);
    background: -ms-linear-gradient(left, #fa0505 0%, #fa0505 10%, #f09409 20%, #f7f700 30%, #29f500 36%, #29f500 65%, #f7f700 70%, #f09409 80%, #fa0505 90%, #fa0505 100%);
    background: linear-gradient(to right, #fa0505 0%, #fa0505 10%, #f09409 20%, #f7f700 30%, #29f500 36%, #29f500 65%, #f7f700 70%, #f09409 80%, #fa0505 90%, #fa0505 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa0505', endColorstr='#fa0505', GradientType=1 );
}

.toGreen img, .toGreenMiddle img
{
    position:relative;
    top: -7px;
}

caption
{
    font-size: 16px;
    font-weight: bold;
}

table.tablaClima tr td input
{
    width: 45px;

}