@charset "utf-8";
/* CSS Document */

* {
	padding:0px;
	margin:0px;
	font-size:14px;
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}
header {
	background:#FFF;
	height:100px;
}
main {
	/*background:url(../img/bgMapa.jpg) no-repeat center;*/
	background-size:100% 100%;
	padding:1em;
}
nav {
	margin-top:3em;
}
p, a, h1, h2, h3, h4 {
	font-weight:normal;
}
ul {
	margin:0 auto;
	list-style:none;
}
.btnCenter {
	background:#9f8334;
	border:none;
	border-radius:2em;
	margin:.5em;
	width:240px;
	height:3em;
	text-align:center;
}
.btnCenter a {
	color:#FFF;
	font-size:1em;
	vertical-align:middle;
}
.btnCenter:hover {
	background:#836c2a;
}
.btnCenter:hover a {
	color:#FFF;
}
.btnCerrar {
	background:rgba(0, 0, 0, 0);
	border:none;
	width:2em;
	height:2em;
 col or:#FFF;
}
.btnCerrar a {
	color:#FFF;
	font-size:1.5em;
}
.btnCerrar:hover a {
	color:#9f8334;
}
.btnSprite {
	background-position:bottom;
	width:40px;
	height:40px;
}
.btnLeft:hover .btnSprite {
	background-position:top;
}
.btnLeft {
	background-color:#FFF;
	border:none;
	border-radius:0 2em 2em 0;
	box-shadow: 0px 0px 7px #000;
	margin:.2em 0;
	width:160px;
	padding:.5em;
	text-align:left;
}
.btnLeft a {
	color:#999;
	font-size:.8em;
	width:100px;
	vertical-align:middle;
}
.btnLeft:hover {
	background:#9f8334;
}
.btnLeft:hover a {
	color:#FFF;
}
.btnRight {
	background:#FFF;
	border:none;
	/*border-radius:2em 0 0 2em;*/
	box-shadow: 0px 0px 7px #000;
	margin:4em 0 1em;
	width:150px;
	padding:1em;
	/*text-align:right;*/
}
.btnRight a {
	color:#999;
	font-size:.8em;
 wid th:130px;
	vertical-align:middle;
}
.btnRight:hover {
	background:#9f8334;
}
.btnRight:hover a {
	color:#FFF;
}
.col-md-12 {
	padding:0;
	padding-left: 0;
	padding-right: 0;
}
.cuadroColor img {
	width:1em;
}
.icono {
	width:30px;
}
.ingreso {
	margin:1em 2em;
}
.ingreso a {
	color:#999;
	font-size:.8em;
}
.ingreso a:hover {
	color:#9f8334;
	text-decoration:none;
}
.logo {
	padding:13px 2em;
}
.row {
	margin-left: 0;
	margin-right: 0x;
}
.tablaVariables {
	background: rgba(0, 0, 0, .5);
	color:#FFF;
	/*margin-top:3em;*/
	width:100%;
}
.tablaVariables table img {
	margin:0 .5em 0 0;
}
.tablaVariables table {
	/*margin:1em;*/
	text-align:left;
	width:100%;
}
.tablaVariables table th {
	height:3em;
	text-align:left;
}
.tablaVariables table td{
	color: #fff;
}
.tablaVariables table td div.txt {
	/*width:14.28%;*/
	font-size:.7em;
}
.tablaVariables table td div{
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.tablaVariables table tr {
	height:2em;
}

.nm_buttonPair .nm_zoomOut {
    padding-left: 0.4em !important;
}

.nm_buttonPair .nm_zoomIn {
    padding-left: 0.4em !important;
}
.tableValores{
	padding-right: unset !important; display: none;max-height: 450px; overflow: scroll;
	overflow-x:hidden;

}
