<section class="borde">
    <div>
        <div>
            <h1>BENEFICIOS</h1>

            <h2>Beneficios Clientes (usuarios Estación de Servicio)</h2>
            <ul>
                <li>Ahorro por no cobro de comisión</li>
                <li>Una red de estaciones afiliadas</li>
                <li>No tiene una compra mínima</li>
                <li>Es deducible 100 % al facturarse como combustible</li>
            </ul>

            <h2>Beneficios Estaciones de Servicio</h2>
            <ul>
                <li>El costo de la administración es la mas baja del mercado</li>
                <li>La seguridad del sistema agiliza los proceso</li>
                <li>El pago es al día siguiente</li>
            </ul>

        </div><!--
        --><figure>
            <img src="img/temp_interna.png" alt="" title="">
        </figure>
    </div>
</section><!--