<section class="borde">
    <div>
        <div>
            <h1>¿QUIÉNES SOMOS?</h1>

            <h2>Historia</h2>
            <p>Las reformas fiscales en los últimos años han colocado a los consumidores de combustible en una posición dificil, ya que al ser un requisito para la deducibilidad el pago con cheque o transferencia, la empresas de prepago tuvieron un auge pero con un incremento en sus costos.<br /><br />
            Vales Fusión nace buscando ser una opción diferente ya que se analizo que un cliente que adquiere prepago de combustibles tiene que pagar un costo de $400 mas iva por una compra de $ 8,000 siendo este un costo de 5% sobre la compra mas la estación de servicio le descuentan un 2 % sobre el importe descontado
            </p>

            <h2>Misión</h2>
            <p>Somos una administradora de prepago de combustible vía electrónica que busca ser una opción diferente para las estaciones de servicio y clientes de combustibles en el estado de Jalisco </p>

            <h2>Visión</h2>
            <p>Ser la empresa de prepago  de combustible con las comisiones mas baja del mercado en el estado de Jalisco por medio de la tecnología para disminuir costos y con una red que le permita a  los usuarios contar con varias opciones de estaciones de servicio en el estado.</p>
        </div><!--
        --><figure>
            <img src="img/temp_interna.png" alt="" title="">
        </figure>
    </div>
</section><!--