<section class="content">
  <div class="box" style="padding: 3em;">
    <form id="frm" action="javascript:void(0)" name="frm" class="form-horizontal" role="form">
      <div class="row">
        <div class="form-group col-xs-6">
          <label for="nombre" class="col-xs-3 control-label">*Nombre:</label>
          <div class="col-xs-9">
            <input type="text" id="nombre" name="nombre" class="form-control input-sm" value="<?php echo($this->registro->nombre); ?>"  maxlength="100" placeholder="Nombre del Catálogo" />
          </div>
        </div>
        <div class="form-group col-xs-6">
          <label for="padre_id" class="col-xs-3 control-label">*Pertenece a:</label>
          <div class="col-xs-9">
            <select name="padre_id" id="padre_id"  class="form-control">
              <option value="">Ninguno</option>
              <?php foreach($this->catalogos as $catalogo){?>
                <option value="<?php echo $catalogo->id?>" <?php if($catalogo->id==$this->registro->padre_id) echo "selected";?>><?php echo $catalogo->nombre?></option>
              <?php }?>
            </select>
            
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-6">
        </div>
        <div class="form-group col-xs-6">
          <label for="opcion_id" class="col-xs-3 control-label">*Cuanto tiene el valor de:</label>
          <div class="col-xs-9">
            <select name="opcion_id" id="opcion_id"  class="form-control">
              <option value="">Ninguno</option>
            </select>
          </div>
        </div>
      </div>
      <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id; ?>" />
    </form>
  </div>
  <div class="height-5" style="margin-top:50px"></div>
  <div class="row center-block" style="">
    <div class="height-5"></div>
      <div class="col-xs-2 pull-left" id="btnGuardar">
        <a class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
      </div>
      <div class="col-xs-2 pull-left" onclick="limpiar()">
        <a class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Limpiar</a>
      </div>
    </div>
  </div>
</section>