  <section class="content-header">
    <h1>
      <?php echo $this->titulo; ?>
      <small><?php echo $this->subtitulo; ?></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"> Inicio</a></li>
      <li class="active"><a href="#"><i class="fa fa-server"></i>Configuración</a></li>
      <li class="active"><a href="#"><i class="fa fa-building-o"></i>Unidades de medida</a></li>
    </ol>
  </section>
   <!-- Main content -->
    <section class="content">
    <!-- Default box -->
      <div class="box">
      <div class="box-body">
			<div class="row">
              <div class="col-xs-3 pull-left" id="menuLateral">
                
                <button id="btn-rdlt-mn" class="btn btn-block btn-primary  text-center btn-menu" title="Renta de la tierra" 
                onclick="AparecerFormulario('RentaDeLaTierra')">
                    <i class="fa fa-briefcase pull-left"> Renta de la tierra </i>
                </button>
                <button id="btn-adp-mn" class="btn btn-block btn-primary btn-menu" title="Acondicionamiento del predio" 
                onclick="AparecerFormulario('AcondicionamientoDelPredio')">
                    <i class="fa fa-road pull-left"> Acondicionamiento del predio </i>
                </button>
                <button id="btn-mdfds-mn" class="btn btn-block btn-primary btn-menu" title="Mejoramiento de fertilidad del suelo" 
                onclick="AparecerFormulario('MejoramientoDeFertilidadDelSuelo')">
                    <i class="fa fa-heartbeat pull-left"> Mejoramiento de fertilidad del suelo </i>
                </button>
                <button id="btn-pds-mn" class="btn btn-block btn-primary btn-menu" title="Preparacion del terreno" 
                onclick="AparecerFormulario('PreparacionDelTerreno')">
                    <i class="fa fa-tasks pull-left"> Preparación del suelo </i>
                </button>
                <button id="btn-r-mn" class="btn btn-block btn-primary btn-menu" title="Riego" 
                onclick="AparecerFormulario('Riego')">
                    <i class="fa fa-tint pull-left"> Riego </i>
                </button>
                <button id="btn-s-mn" class="btn btn-block btn-primary btn-menu" title="Siembra" 
                onclick="AparecerFormulario('Semilla')">
                    <i class="fa fa-bullseye pull-left"> Siembra </i>
                </button>
                <button id="btn-pdsi-mn" class="btn btn-block btn-primary btn-menu" title="Practica de siembra" 
                onclick="AparecerFormulario('SiembraDePrecision')">
                    <i class="fa fa-crosshairs pull-left"> Practica de siembra </i>
                </button>
                <button id="btn-rs-mn" class="btn btn-block btn-primary btn-menu" title="Resiembra" 
                onclick="AparecerFormulario('Resiembra')">
                    <i class="fa fa-bullseye pull-left"> Resiembra </i>
                </button>
                <button id="btn-pdrsi-mn" class="btn btn-block btn-primary btn-menu" title="Practica de resiembra" 
                onclick="AparecerFormulario('PracticaDeResiembra')">
                    <i class="fa fa-crosshairs pull-left"> Practica de resiembra </i>
                </button>
                <button id="btn-f-mn" class="btn btn-block btn-primary btn-menu" title="Agregar" 
                onclick="AparecerFormulario('Fertilizacion')">
                    <i class="fa fa-fire-extinguisher pull-left"> Fertilización </i>
                </button>
                <button id="btn-cdm-mn" class="btn btn-block btn-primary btn-menu" title="Agregar" 
                onclick="AparecerFormulario('ControlDeMaleza')">
                    <i class="fa fa-sort-amount-asc pull-left"> Control de malezas </i>
                </button>
                <button id="btn-cdpds-mn" class="btn btn-block btn-primary btn-menu" title="Agregar" 
                onclick="AparecerFormulario('ControlDePlagasDeSuelo')">
                    <i class="fa fa-globe pull-left"> Control de plagas de suelo </i>
                </button>
                <button id="btn-cdpf-mn" class="btn btn-block btn-primary btn-menu" title="Agregar" 
                onclick="AparecerFormulario('ControlDePlagasFoliares')">
                    <i class="fa fa-leaf pull-left"> Control de plagas foliares </i>
                </button>
                <button id="btn-cde-mn" class="btn btn-block btn-primary btn-menu" title="Agregar" 
                onclick="AparecerFormulario('ControlDeEnfermedades')">
                    <i class="fa fa-medkit pull-left"> Control de enfermedades </i>
                </button>
                <button id="btn-tdebya-mn" class="btn btn-block btn-primary btn-menu" title="Agregar" 
                onclick="AparecerFormulario('TratamientoDeEstresBioticoYAbiotico')">
                    <i class="fa fa-home pull-left"> Tratamiento de estrés biótico y abiótico </i>
                </button>
                <?php /*?><button id="btn-ci-mn" class="btn btn-block btn-primary btn-menu" title="Agregar" 
                onclick="AparecerFormulario('CostosIndirectos')">
                    <i class="fa fa-usd pull-left"> Costos indirectos </i>
                </button>
                <button id="btn-ie-mn" class="btn btn-block btn-primary btn-menu" title="Agregar" 
                onclick="AparecerFormulario('IngresosEsperados')">
                    <i class="fa fa-credit-card pull-left"> Ingresos Esperados </i>
                </button>
                <button id="btn-rc-mn" class="btn btn-block btn-primary btn-menu" title="Agregar" 
                onclick="AparecerFormulario('ReporteCostos')">
                    <i class="fa fa-bar-chart pull-left"> Reporte de Costos </i>
                </button>
                <button id="btn-ir-mn" class="btn btn-block btn-primary btn-menu" title="Agregar" 
                onclick="AparecerFormulario('IndiceDeRentabilidad')">
                    <i class="fa fa-line-chart pull-left"> Indice de rentabilidad </i>
                </button><?php */?>
                
            </div>
            <div id="parcial" class="col-xs-9">
                
                <div id="RentaDeLaTierra" class="hide">
                   <h2>Renta de la tierra</h2>
                   <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Renta de la Tierra</h3>
                        <select id='RentaDeLaTierra-renta' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   </div>
                   <div class="row col-md-12 center-block" style="margin-top: 100px">
                        <div class="col-xs-3 pull-left" id="btn-clean-RentaDeLaTierra">
                            <a href="javascript:deselect('RentaDeLaTierra')" class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Deseleccionar Todo</a>
                        </div>
                        <div class="col-xs-2 pull-left" id="btn-save-RentaDeLaTierra">
                            <a href="javascript:guardarUnidades('RentaDeLaTierra')" class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
                        </div>
    				</div>
                </div>
                <div id="AcondicionamientoDelPredio" class="hide">
                   <h2>Acondicionamiento del Predio</h2>
                   <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Canales de desvío</h3>
                        <select id='AcondicionamientoDelPredio-canal' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   </div>
                   <div class="col-md-4"style="margin-bottom:40px">
                   		<h3>Trazo de surcado</h3>
                        <select id='AcondicionamientoDelPredio-trazo' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   </div>
                   <div class="col-md-4"style="margin-bottom:40px">
                   		<h3>Emparejamiento</h3>
                        <select id='AcondicionamientoDelPredio-emparejamiento' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   </div>
                   <div class="col-md-4"style="margin-bottom:40px">
                   		<h3>Contreo</h3>
                        <select id='AcondicionamientoDelPredio-contreo' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   </div>
                   <div class="col-md-4"style="margin-bottom:40px">
                   		<h3>Despiedre</h3>
                        <select id='AcondicionamientoDelPredio-despiedre' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   </div>
                   <div class="col-md-4"style="margin-bottom:40px">
                   		<h3>Reforzamiento de cercado</h3>
                        <select id='AcondicionamientoDelPredio-reforzamiento' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   </div>
                   <div class="col-md-4"style="margin-bottom:40px">
                   		<h3>Otros</h3>
                        <select id='AcondicionamientoDelPredio-otros' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   </div>
                   
                    <div class="row col-md-12 center-block" style="margin-top: 100px">
                        <div class="col-xs-3 pull-left" id="btn-clean-AcondicionamientoDelPredio">
                            <a href="javascript:deselect('AcondicionamientoDelPredio')" class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Deseleccionar Todo</a>
                        </div>
                        <div class="col-xs-2 pull-left" id="btn-save-AcondicionamientoDelPredio">
                            <a href="javascript:guardarUnidades('AcondicionamientoDelPredio')" class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
                        </div>
    				</div>
                </div>
                <div id="MejoramientoDeFertilidadDelSuelo" class="hide">
                	<h2>Mejoramiento de la fertilidad de suelo</h2>
                   	<div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Muestreo del suelo</h3>
                        <select id='MejoramientoDeFertilidadDelSuelo-muestreo' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Muestras analizadas</h3>
                        <select id='MejoramientoDeFertilidadDelSuelo-analisis_suelo' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Incorporación de rastrojo</h3>
                        <select id='MejoramientoDeFertilidadDelSuelo-incorporacion_rastrojo' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Abonos verdes</h3>
                        <select id='MejoramientoDeFertilidadDelSuelo-abonos_verdes' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Composta</h3>
                        <select id='MejoramientoDeFertilidadDelSuelo-composta' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Lombricomposta</h3>
                        <select id='MejoramientoDeFertilidadDelSuelo-lombricomposta' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Lixiviados</h3>
                        <select id='MejoramientoDeFertilidadDelSuelo-lixiviados' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Remineralización</h3>
                        <select id='MejoramientoDeFertilidadDelSuelo-remineralizacion' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Descompactadores</h3>
                        <select id='MejoramientoDeFertilidadDelSuelo-descompactadores' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Microorganismos</h3>
                        <select id='MejoramientoDeFertilidadDelSuelo-microorganismos' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Cal agricola</h3>
                        <select id='MejoramientoDeFertilidadDelSuelo-cal' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Dolomita</h3>
                        <select id='MejoramientoDeFertilidadDelSuelo-dolomita' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Yeso agricola</h3>
                        <select id='MejoramientoDeFertilidadDelSuelo-yeso' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Corrección pH</h3>
                        <select id='MejoramientoDeFertilidadDelSuelo-ph' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                      <h3>Otro</h3>
                        <select id='MejoramientoDeFertilidadDelSuelo-otro' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                    </div>

                    <div class="row col-md-12 center-block" style="margin-top: 100px">
                        <div class="col-xs-3 pull-left" id="btn-clean-MejoramientoDeFertilidadDelSuelo">
                            <a href="javascript:deselect('MejoramientoDeFertilidadDelSuelo')" class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Deseleccionar Todo</a>
                        </div>
                        <div class="col-xs-2 pull-left" id="btn-save-MejoramientoDeFertilidadDelSuelo">
                            <a href="javascript:guardarUnidades('MejoramientoDeFertilidadDelSuelo')" class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
                        </div>
    				</div>
                </div>
                <div id="PreparacionDelTerreno" class="hide">
					<h2>Preparación del terreno</h2>
                   	<div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Subsoleo</h3>
                        <select id='PreparacionDelTerreno-subsoleo' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Cinceleo</h3>
                        <select id='PreparacionDelTerreno-cinceleo' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Barbecho con arado de discos</h3>
                        <select id='PreparacionDelTerreno-barbecho' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Rastra</h3>
                        <select id='PreparacionDelTerreno-rastra' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Rastra (cruza)</h3>
                        <select id='PreparacionDelTerreno-cruza' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Nivelación con equipo láser</h3>
                        <select id='PreparacionDelTerreno-laser' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Nivelación con landplane u otro</h3>
                        <select id='PreparacionDelTerreno-landplane' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <?php /*?><div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Surcado</h3>
                        <select id='PreparacionDelTerreno-sur' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Otro</h3>
                        <select id='PreparacionDelTerreno-otro' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div><?php */?>
                    
                    <div class="row col-md-12 center-block" style="margin-top: 100px">
                        <div class="col-xs-3 pull-left" id="btn-clean-PreparacionDelTerreno">
                            <a href="javascript:deselect('PreparacionDelTerreno')" class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Deseleccionar Todo</a>
                        </div>
                        <div class="col-xs-2 pull-left" id="btn-save-PreparacionDelTerreno">
                            <a href="javascript:guardarUnidades('PreparacionDelTerreno')" class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
                        </div>
    				</div>
                </div>
                <div id="Riego" class="hide">
					<h2>Riego</h2>
                   	<div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Acondicionamiento de zanjas</h3>
                        <select id='Riego-acondicionamiento' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Apertura de desague</h3>
                        <select id='Riego-apertura_desague' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Apertura de zanjas</h3>
                        <select id='Riego-apertura_zanjas' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Cuota de riego</h3>
                        <select id='Riego-cuota' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Riego de nacencia</h3>
                        <select id='Riego-nacencia' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Riego (s) de auxilio</h3>
                        <select id='Riego-auxilio' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <?php /*?><div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Energia eléctrica</h3>
                        <select id='Riego-ee' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Otros</h3>
                        <select id='Riego-otro' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div><?php */?>
                    
                    
                    <div class="row col-md-12 center-block" style="margin-top: 100px">
                        <div class="col-xs-3 pull-left" id="btn-clean-Riego">
                            <a href="javascript:deselect('Riego')" class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Deseleccionar Todo</a>
                        </div>
                        <div class="col-xs-2 pull-left" id="btn-save-Riego">
                            <a href="javascript:guardarUnidades('Riego')" class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
                        </div>
    				</div>
                </div>
                <div id="Semilla" class="hide">
					<h2>Siembra</h2>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Inoculacion con biofertilizante</h3>
                        <select id='Semilla-bio' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Inoculacion con insecticida</h3>
                        <select id='Semilla-ins' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Inoculacion con bioestimulantes</h3>
                        <select id='Semilla-bios' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Inoculacion con insecticida químico</h3>
                        <select id='Semilla-insq' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    
                    
                    <div class="row col-md-12 center-block" style="margin-top: 100px">
                        <div class="col-xs-3 pull-left" id="btn-clean-Semilla">
                            <a href="javascript:deselect('Semilla')" class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Deseleccionar Todo</a>
                        </div>
                        <div class="col-xs-2 pull-left" id="btn-save-Semilla">
                            <a href="javascript:guardarUnidades('Semilla')" class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
                        </div>
    				</div>
                </div>
                <?php /*?><div id="SiembraDePrecision" class="hide">
					<h2>Practicas de siembra</h2>
                    
                    
                    <div class="row col-md-12 center-block" style="margin-top: 100px">
                        <div class="col-xs-3 pull-left" id="btn-clean-fert">
                            <a href="javascript:deselect('ap')" class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Deseleccionar Todo</a>
                        </div>
                        <div class="col-xs-2 pull-left" id="btn-save-fert">
                            <a href="javascript:guardarUnidades('ap')" class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
                        </div>
    				</div>
                </div><?php */?>
                <div id="Resiembra" class="hide">
					<h2>Resiembra</h2>
                   	 <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Inoculacion con biofertilizante</h3>
                        <select id='Resiembra-bio' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Inoculacion con insecticida</h3>
                        <select id='Resiembra-ins' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Inoculacion con bioestimulantes</h3>
                        <select id='Resiembra-bios' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Inoculacion con insecticida químico</h3>
                        <select id='Resiembra-insq' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    
                    <div class="row col-md-12 center-block" style="margin-top: 100px">
                        <div class="col-xs-3 pull-left" id="btn-clean-Resiembra">
                            <a href="javascript:deselect('Resiembra')" class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Deseleccionar Todo</a>
                        </div>
                        <div class="col-xs-2 pull-left" id="btn-save-Resiembra">
                            <a href="javascript:guardarUnidades('Resiembra')" class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
                        </div>
    				</div>
                </div>
                <?php /*?><div id="PracticaDeResiembra" class="hide">
					<h2>Practica de resimbra</h2>
                    
                    
                    <div class="row col-md-12 center-block" style="margin-top: 100px">
                        <div class="col-xs-3 pull-left" id="btn-clean-fert">
                            <a href="javascript:deselect('ap')" class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Deseleccionar Todo</a>
                        </div>
                        <div class="col-xs-2 pull-left" id="btn-save-fert">
                            <a href="javascript:guardarUnidades('ap')" class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
                        </div>
    				</div>
                </div><?php */?>
                <div id="Fertilizacion" class="hide">
					<h2>Fertilizacion</h2>
                   	<div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Fuente</h3>
                        <select id='Fertilizacion-concepto' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Mezclado</h3>
                        <select id='Fertilizacion-mezclado' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Quimica</h3>
                        <select id='Fertilizacion-quimica' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Organica</h3>
                        <select id='Fertilizacion-organica' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Mineral</h3>
                        <select id='Fertilizacion-mineral' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Acondicionador</h3>
                        <select id='Fertilizacion-acondicionador' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    
                    
                    <div class="row col-md-12 center-block" style="margin-top: 100px">
                        <div class="col-xs-3 pull-left" id="btn-clean-Fertilizacion">
                            <a href="javascript:deselect('Fertilizacion')" class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Deseleccionar Todo</a>
                        </div>
                        <div class="col-xs-2 pull-left" id="btn-save-Fertilizacion">
                            <a href="javascript:guardarUnidades('Fertilizacion')" class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
                        </div>
    				</div>
                </div>
                <div id="ControlDeMaleza" class="hide">
					<h2>Control de malezas</h2>
                   	<div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Pre-emergente</h3>
                        <select id='ControlDeMaleza-pre' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Post-emergente</h3>
                        <select id='ControlDeMaleza-post' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Desecante</h3>
                        <select id='ControlDeMaleza-des' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Otro</h3>
                        <select id='ControlDeMaleza-otro' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    
                    <div class="row col-md-12 center-block" style="margin-top: 100px">
                        <div class="col-xs-3 pull-left" id="btn-clean-ControlDeMaleza">
                            <a href="javascript:deselect('ControlDeMaleza')" class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Deseleccionar Todo</a>
                        </div>
                        <div class="col-xs-2 pull-left" id="btn-save-ControlDeMaleza">
                            <a href="javascript:guardarUnidades('ControlDeMaleza')" class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
                        </div>
    				</div>
                </div>
                <div id="ControlDePlagasDeSuelo" class="hide">
					<h2>Control de plagas de suelo</h2>
                   	<div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Insecticida granulado químico</h3>
                        <select id='ControlDePlagasDeSuelo-gran' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Insecticida tratamiento a la semilla (químico)</h3>
                        <select id='ControlDePlagasDeSuelo-trat' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Insecticida granulado de recarga</h3>
                        <select id='ControlDePlagasDeSuelo-rec' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Metarhizium </h3>
                        <select id='ControlDePlagasDeSuelo-metarhizium' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Trichoderma </h3>
                        <select id='ControlDePlagasDeSuelo-Trichoderma' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Beauveria </h3>
                        <select id='ControlDePlagasDeSuelo-beauveria' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Acidificación del agua </h3>
                        <select id='ControlDePlagasDeSuelo-acidificacion' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>

                    <div class="row col-md-12 center-block" style="margin-top: 100px">
                        <div class="col-xs-3 pull-left" id="btn-clean-ControlDePlagasDeSuelo">
                            <a href="javascript:deselect('ControlDePlagasDeSuelo')" class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Deseleccionar Todo</a>
                        </div>
                        <div class="col-xs-2 pull-left" id="btn-save-ControlDePlagasDeSuelo">
                            <a href="javascript:guardarUnidades('ControlDePlagasDeSuelo')" class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
                        </div>
    				</div>
                </div>
                <div id="ControlDePlagasFoliares" class="hide">
					<h2>Control de plagas foliares</h2>
                   	<div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Control Químico o biológico</h3>
                        <select id='ControlDePlagasFoliares-qob' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    
                    <div class="row col-md-12 center-block" style="margin-top: 100px">
                        <div class="col-xs-3 pull-left" id="btn-clean-ControlDePlagasFoliares">
                            <a href="javascript:deselect('ControlDePlagasFoliares')" class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Deseleccionar Todo</a>
                        </div>
                        <div class="col-xs-2 pull-left" id="btn-save-ControlDePlagasFoliares">
                            <a href="javascript:guardarUnidades('ControlDePlagasFoliares')" class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
                        </div>
    				</div>
                </div>
                <div id="ControlDeEnfermedades" class="hide">
					<h2>Control de enfermedades</h2>
                   	<div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Bactericidas</h3>
                        <select id='ControlDeEnfermedades-bactericida' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Fugicidas</h3>
                        <select id='ControlDeEnfermedades-fungicida' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Viricidas</h3>
                        <select id='ControlDeEnfermedades-viricida' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Bioestimulantes</h3>
                        <select id='ControlDeEnfermedades-bioestimulante' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    
                    
                    <div class="row col-md-12 center-block" style="margin-top: 100px">
                        <div class="col-xs-3 pull-left" id="btn-clean-ControlDeEnfermedades">
                            <a href="javascript:deselect('ControlDeEnfermedades')" class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Deseleccionar Todo</a>
                        </div>
                        <div class="col-xs-2 pull-left" id="btn-save-ControlDeEnfermedades">
                            <a href="javascript:guardarUnidades('ControlDeEnfermedades')" class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
                        </div>
    				</div>
                </div>
                <div id="TratamientoDeEstresBioticoYAbiotico" class="hide">
					<h2>Tratamiento de estrés biótico y abiótico</h2>
                   	<div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Insecticida granulado químico</h3>
                        <select id='TratamientoDeEstresBioticoYAbiotico-gran2' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Insecticida tratamiento a la semilla (químico)</h3>
                        <select id='TratamientoDeEstresBioticoYAbiotico-trat2' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Insecticida granulado de recarga</h3>
                        <select id='TratamientoDeEstresBioticoYAbiotico-rec2' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Metarhizium </h3>
                        <select id='TratamientoDeEstresBioticoYAbiotico-metarhizium' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Trichoderma </h3>
                        <select id='TratamientoDeEstresBioticoYAbiotico-Trichoderma' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Beauveria </h3>
                        <select id='TratamientoDeEstresBioticoYAbiotico-beauveria' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    <div class="col-md-4" style="margin-bottom:40px">
                   		<h3>Acidificación del agua </h3>
                        <select id='TratamientoDeEstresBioticoYAbiotico-acidificacion' multiple='multiple' style="height:200px;">
                          <?php echo $this->unidades; ?>
                        </select>
                   	</div>
                    
                    
                    
                    <div class="row col-md-12 center-block" style="margin-top: 100px">
                        <div class="col-xs-3 pull-left" id="btn-clean-TratamientoDeEstresBioticoYAbiotico">
                            <a href="javascript:deselect('TratamientoDeEstresBioticoYAbiotico')" class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Deseleccionar Todo</a>
                        </div>
                        <div class="col-xs-2 pull-left" id="btn-save-TratamientoDeEstresBioticoYAbiotico">
                            <a href="javascript:guardarUnidades('TratamientoDeEstresBioticoYAbiotico')" class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
                        </div>
    				</div>
                </div>
                
                
                
      		</div>
      <!-- /GRID -->     
  		</div>
        </div>
        </div>
  </section>
<!-- /CONTENIDO -->