<style type="text/css">
    .btn-primary {
        background-color: #643513;
        border-color: #643513;
        color: #fff;
    }
    .table th {
        background-color: #9E8331 !important;
        color: #fff !important;
    }
    .bg-aqua {
        background-color: <?php echo $this->color; ?> !important;
        color: #fff !important;
    }
    .azul {
        background-color: <?php echo $this->color; ?> !important;
        color: #fff !important;
    }
</style>
<script type="text/javascript">
    var color_check = '#fff';
    var color_uncheck = '#643513';
</script>
<!-- Content Header (Page header) -->
        <input type="hidden" name="id" id="gen-id" value="<?php echo $this->id; ?>" />
        <input type="hidden" name="type" id="gen-type" value="<?php echo $this->tipo; ?>" />
        <!--<section class="content-header">
          <h1>
            <?php echo $this->titulo; ?>
            <small><?php echo $this->subtitulo; ?></small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"> Inicio</a></li>
            <li class="active"><a href="#"><i class="fa fa-dashboard"></i>Diagnósticos</a></li>
            <li><a href="#"><i class="fa fa-dashboard"></i>Agregar</a></li>
          </ol>
        </section>-->

        <!--<br/>-->
        

        <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">            
            <div style="margin-top:20px;"></div>
            <div class="box-body">
                <?php $tab=Zend_Controller_Front::getInstance()->getRequest()->getParam('tab');?>
                <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 15px;">
                    <li role="presentation"><a  href="/backend/diagnosticos"><< Regresar al listado de productores</a></li>
                    <li role="presentation" class="<?php if($tab!='manejo' && $tab!='transicion'){?>active<?php }?>"><a onclick="AparecerFormulario('DatosGenerales', 'btn-dg-mn');" href="#tabProductor" aria-controls="home" role="tab" data-toggle="tab">Datos del productor</a></li>
                    <li role="presentation"><a onclick="AparecerFormulario('DatosPredio', 'btn-dp-mn');" href="#tabPredio" aria-controls="home" role="tab" data-toggle="tab">Datos del predio</a></li>
                    <?php if($this->predio_id>0){?>
                    <?php if($this->tipo==1){?>
                    <li role="presentation"><a onclick="AparecerFormulario('SistemaProduccionActual', 'btn-spa-mn', true);" href="#tabCaracterizacion" aria-controls="home" role="tab" data-toggle="tab">CSPA Cualitativo<?php echo Zend_Auth::getInstance()->hasIdentity()->id;?></a></li>
                    <?php }?>
                    <li role="presentation" class="<?php if($tab=='manejo') echo "active";?>"><a href="/backend/diagnosticos/agregar/tipo/1/id/<?php echo $this->id?>/predio/<?php echo $this->predio_id?>/tab/manejo" aria-controls="profile">CSPA Manejo actual</a></li>
                    <?php if(Zend_Auth::getInstance()->getIdentity()->id==6){?>
                    <li role="presentation" class="<?php if($tab=='transicion') echo "active";?>"><a href="/backend/diagnosticos/agregar/tipo/2/id/<?php echo $this->id?>/predio/<?php echo $this->predio_id?>/tab/transicion" aria-controls="profile">Plan de transición agroecológico</a></li>
                    <?php }}?>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane <?php if($tab!='manejo' && $tab!='transicion'){?>active<?php }?>" id="tabProductor">
                        <div class="row">
                            <div class="col-xs-3 pull-left" id="menuLateralCaracterizacion">
                                <button id="btn-dg-mn" class="btn btn-block btn-primary btn-menu" title="Datos generales" 
                                onclick="AparecerFormulario('DatosGenerales', 'btn-dg-mn')">
                                    <i class="fa fa-plus pull-left"> Datos generales</i>
                                </button>
                            </div>
                            <div  class="col-xs-9" id="contenidoFormulariosCaracterizacion">
                                <div id="DatosGenerales" class="">
                                <?php echo ($this->id)?'':'<h3>Datos Generales</h3>'; ?>
                                    <?php 
                                        //if($this->verticesMapa)
                                            echo $this->partial("parcial/datos-generales.phtml", array("id"=>$this->id,"tipo"=>$this->tipo,"tipo"=>$this->tipo,"integradora"=>$this->integradora,"dependencia"=>$this->dependencia,"estado"=>$this->estado,"organizacion"=>$this->organizacion,"vertices" => $this->verticesMapa, "predio_id" => ($this->predio_id?$this->predio_id:'') )); 
                                        /*else
                                            echo $this->partial("parcial/datos-generales.phtml",array("id"=>$this->id,"tipo"=>$this->tipo,"estado"=>$this->estado,"integradora"=>$this->integradora,"dependencia"=>$this->dependencia,"organizacion"=>$this->organizacion,"predio_id" => ($this->predio_id?$this->predio_id:'')));*/
                                    ?>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="tabPredio">
                        <div class="row">
                            <div class="col-xs-3 pull-left" id="menuLateralCaracterizacion">
                                <button id="btn-dp-mn" class="btn btn-block btn-primary btn-menu" title="Datos generales" 
                                onclick="AparecerFormulario('DatosPredio', 'btn-dp-mn')">
                                    <i class="fa fa-plus pull-left"> Datos del predio </i>
                                </button>
                            </div>
                            <div  class="col-xs-9" id="contenidoFormulariosCaracterizacion">
                                <div id="DatosPredio" class="hide">
                                <?php echo ($this->id)?'':'<h3>Datos Predio</h3>'; ?>
                                    <?php 
                                        if($this->verticesMapa)
                                            echo $this->partial("parcial/datos-predio.phtml", array("id"=>$this->id,"tipo"=>$this->tipo,"tipo"=>$this->tipo,"integradora"=>$this->integradora,"dependencia"=>$this->dependencia,"estado"=>$this->estado,"organizacion"=>$this->organizacion,'tipo_manejo_actual'=>$this->tipo_manejo_actual,'tipo_regimen_propiedad'=>$this->tipo_regimen_propiedad,'tipo_regimen_agrario'=>$this->tipo_regimen_agrario,'tipo_regimen_hidrico'=>$this->tipo_regimen_hidrico, "vertices" => $this->verticesMapa, "predio_id" => ($this->predio_id?$this->predio_id:''))); 
                                        else
                                            echo $this->partial("parcial/datos-predio.phtml",array("id"=>$this->id,"tipo"=>$this->tipo,"estado"=>$this->estado,"integradora"=>$this->integradora,"dependencia"=>$this->dependencia,"organizacion"=>$this->organizacion,'tipo_manejo_actual'=>$this->tipo_manejo_actual,'tipo_regimen_propiedad'=>$this->tipo_regimen_propiedad,'tipo_regimen_agrario'=>$this->tipo_regimen_agrario,'tipo_regimen_hidrico'=>$this->tipo_regimen_hidrico, "predio_id" => ($this->predio_id?$this->predio_id:'')));
                                    ?>
                                </div>
                            </div>
                        </div>

                    </div>
                    <?php if($this->tipo==1){?>
                    <div role="tabpanel" class="tab-pane" id="tabCaracterizacion">
                        <div class="row">
                            <div class="col-xs-3 pull-left" id="menuLateralCaracterizacion">
                                <button id="btn-spa-mn" class="btn btn-block btn-primary btn-menu" title="Sistema de producción actual" onclick="AparecerFormulario('SistemaProduccionActual', 'btn-spa-mn', true)"><i class="fa fa-plus pull-left"> Sistema de producción actual </i></button>
                                <button id="btn-bio-mn" class="btn btn-block btn-primary btn-menu" title="Sistema de producción actual" onclick="AparecerFormulario('Biodiversidad', 'btn-bio-mn', true)"><i class="fa fa-plus pull-left"> Biodiversidad </i></button>
                                <button id="btn-cos-mn" class="btn btn-block btn-primary btn-menu" title="Sistema de producción actual" onclick="AparecerFormulario('Cosecha', 'btn-cos-mn', true)"><i class="fa fa-plus pull-left"> Cosecha </i></button>
                                <button id="btn-fin-mn" class="btn btn-block btn-primary btn-menu" title="Sistema de producción actual" onclick="AparecerFormulario('Financiamiento', 'btn-fin-mn', true)"><i class="fa fa-plus pull-left"> Financiamiento </i></button>

                            </div>
                            <div  class="col-xs-9" id="contenidoFormulariosCaracterizacion">
                                <div id="SistemaProduccionActual" class="hide"><?php echo $this->partial("parcial/sistema-produccion-actual.phtml", array('fuerza_trabajo'=>$this->fuerza_trabajo,'mano_obra'=>$this->mano_obra,'predio_id'=>$this->predio_id,'sistema_produccion_actual'=>$this->sistema_produccion_actual,'equipos'=>$this->sistema_equipos,'practica_conservaciones'=>$this->practica_conservaciones,'cultivos'=>$this->cultivos,'datos_cultivos'=>$this->datos_cultivos,'sistema_eventos'=>$this->sistema_eventos,'cat_textura_suelo'=>$this->cat_textura_suelo,'cat_pendiente_promedio'=>$this->cat_pendiente_promedio,'cat_tecnica_labranza'=>$this->cat_tecnica_labranza,'cat_disposicion_cultivo'=>$this->cat_disposicion_cultivo,'cat_obtiene_semilla'=>$this->cat_obtiene_semilla,'cat_material_genetico'=>$this->cat_material_genetico,'cat_propia_semilla'=>$this->cat_propia_semilla)); ?></div>
                                <div id="Biodiversidad" class="hide"><?php echo $this->partial("parcial/biodiversidad.phtml", array('catalogo_biodiversidad_formas'=>$this->catalogo_biodiversidad_formas,'catalogo_biodiversidad_usos'=>$this->catalogo_biodiversidad_usos,'biodiversidad_plantas'=>$this->biodiversidad_plantas,'biodiversidad_animales'=>$this->biodiversidad_animales,'catalogo_biodiversidad_animales_clasificacion'=>$this->catalogo_biodiversidad_animales_clasificacion,'catalogo_biodiversidad_animales_usos'=>$this->catalogo_biodiversidad_animales_usos,'biodiversidad_actividades'=>$this->biodiversidad_actividades,'catalogo_biodiversidad_actividades_fase_lunar'=>$this->catalogo_biodiversidad_actividades_fase_lunar)); ?></div>
                                <div id="Cosecha" class="hide"><?php echo $this->partial("parcial/cosecha.phtml", array('datos_cultivos'=>$this->datos_cultivos,'catalogo_cosecha_fuerza_trabajo'=>$this->catalogo_cosecha_fuerza_trabajo,'catalogo_cosecha_mano_obra'=>$this->catalogo_cosecha_mano_obra,'catalogo_cosecha_acarreo'=>$this->catalogo_cosecha_acarreo,'catalogo_cosecha_almacenamiento'=>$this->catalogo_cosecha_almacenamiento,'catalogo_cosecha_destino'=>$this->catalogo_cosecha_destino)); ?></div>
                                <div id="Financiamiento" class="hide"><?php echo $this->partial("parcial/financiamiento.phtml", array('caracterizacion_financiamiento'=>$this->caracterizacion_financiamiento)); ?></div>
                            </div>
                        </div>

                    </div>
                    <?php }?>
                    <div role="tabpanel" class="tab-pane <?php if($tab=='manejo' || $tab=='transicion') echo "active";?>" id="tabManejoActual">
                        <div class="row">
                            <div class="col-xs-3 pull-left <?php echo ($this->id)?'':'hide'; ?>" id="menuLateral">
                                <?php if($tab=='transicion'){?>
                                <button id="btn-cultivos-mn" class="btn btn-block btn-primary  text-center btn-menu" title="Cultivos" onclick="AparecerFormulario('Cultivos', 'btn-cultivos-mn')">
                                    <i class="fa fa-briefcase pull-left"> Cultivos </i>
                                </button>
                                <?php }?>
                                <button id="btn-rdlt-mn" class="btn btn-block btn-primary  text-center btn-menu" title="Renta de la tierra" onclick="AparecerFormulario('RentaDeLaTierra', 'btn-rdlt-mn')">
                                    <i class="fa fa-briefcase pull-left"> Renta de la tierra </i>
                                </button>
                                <button id="btn-adp-mn" class="btn btn-block btn-primary btn-menu" title="Acondicionamiento del predio" 
                                onclick="AparecerFormulario('AcondicionamientoDelPredio', 'btn-adp-mn')">
                                    <i class="fa fa-road pull-left"> Acondicionamiento del suelo </i>
                                </button>
                                <button id="btn-mdfds-mn" class="btn btn-block btn-primary btn-menu" title="Mejoramiento de fertilidad del suelo" 
                                onclick="AparecerFormulario('MejoramientoDeFertilidadDelSuelo', 'btn-mdfds-mn')">
                                    <i class="fa fa-heartbeat pull-left"> Mejoramiento de fertilidad del suelo </i>
                                </button>
                                <button id="btn-pds-mn" class="btn btn-block btn-primary btn-menu" title="Preparacion del terreno" 
                                onclick="AparecerFormulario('PreparacionDelTerreno', 'btn-pds-mn')">
                                    <i class="fa fa-tasks pull-left"> Preparación del suelo </i>
                                </button>
                                <button id="btn-r-mn" class="btn btn-block btn-primary btn-menu" title="Riego" 
                                onclick="AparecerFormulario('Riego', 'btn-r-mn')">
                                    <i class="fa fa-tint pull-left"> Riego </i>
                                </button>
                                <button id="btn-s-mn" class="btn btn-block btn-primary btn-menu" title="Siembra" 
                                onclick="AparecerFormulario('Semilla', 'btn-s-mn')">
                                    <i class="fa fa-bullseye pull-left"> Siembra </i>
                                </button>
                                <button id="btn-pdsi-mn" class="btn btn-block btn-primary btn-menu" title="Practica de siembra" 
                                onclick="AparecerFormulario('SiembraDePrecision', 'btn-pdsi-mn')">
                                    <i class="fa fa-crosshairs pull-left"> Practica de siembra </i>
                                </button>
                                <!----
                                <button id="btn-rs-mn" class="btn btn-block btn-primary btn-menu" title="Resiembra" 
                                onclick="AparecerFormulario('Resiembra', 'btn-rs-mn')">
                                    <i class="fa fa-bullseye pull-left"> Resiembra </i>
                                </button>
                                <button id="btn-pdrsi-mn" class="btn btn-block btn-primary btn-menu" title="Practica de resiembra" 
                                onclick="AparecerFormulario('PracticaDeResiembra', 'btn-pdrsi-mn')">
                                    <i class="fa fa-crosshairs pull-left"> Practica de resiembra </i>
                                </button>
                                ---->
                                <button id="btn-f-mn" class="btn btn-block btn-primary btn-menu" title="Agregar" 
                                onclick="AparecerFormulario('Fertilizacion', 'btn-f-mn')">
                                    <i class="fa fa-fire-extinguisher pull-left"> Nutrición </i>
                                </button>
                                <button id="btn-cdm-mn" class="btn btn-block btn-primary btn-menu" title="Agregar" 
                                onclick="AparecerFormulario('ControlDeMalezas', 'btn-cdm-mn')">
                                    <i class="fa fa-sort-amount-asc pull-left"> Manejo de plantas no deseadas </i>
                                </button>
                                <button id="btn-cdpds-mn" class="btn btn-block btn-primary btn-menu" title="Agregar" 
                                onclick="AparecerFormulario('ControlDePlagasDeSuelo', 'btn-cdpds-mn')">
                                    <i class="fa fa-globe pull-left"> Manejo Fitosanitario (plagas de suelo) </i>
                                </button>
                                <button id="btn-cdpf-mn" class="btn btn-block btn-primary btn-menu" title="Agregar" 
                                onclick="AparecerFormulario('ControlDePlagasFoliares', 'btn-cdpf-mn')">
                                    <i class="fa fa-leaf pull-left"> Manejo Fitosanitario (plagas foliares) </i>
                                </button>
                                <button id="btn-cde-mn" class="btn btn-block btn-primary btn-menu" title="Agregar" 
                                onclick="AparecerFormulario('ControlDeEnfermedades', 'btn-cde-mn')">
                                    <i class="fa fa-medkit pull-left"> Manejo Fitosanitario (control de enfermedades) </i>
                                </button>
                                <button id="btn-tdebya-mn" class="btn btn-block btn-primary btn-menu" title="Agregar" 
                                onclick="AparecerFormulario('TratamientoDeEstresBioticoYAbiotico', 'btn-tdebya-mn')">
                                    <i class="fa fa-home pull-left"> Inductores de resistencia vegetal,<br> crecimiento y productividad </i>
                                </button>
                                <button id="btn-ci-mn" class="btn btn-block btn-primary btn-menu" title="Agregar" 
                                onclick="AparecerFormulario('CostosIndirectos', 'btn-ci-mn')">
                                    <i class="fa fa-usd pull-left"> Costos indirectos </i>
                                </button>
                                <button id="btn-ie-mn" class="btn btn-block btn-primary btn-menu" title="Agregar" 
                                onclick="AparecerFormulario('IngresosEsperados', 'btn-ie-mn')">
                                    <i class="fa fa-credit-card pull-left"> Ingresos Esperados </i>
                                </button>
                                <button id="btn-rc-mn" class="btn btn-block btn-primary btn-menu" title="Agregar" 
                                onclick="AparecerFormulario('ReporteCostos', 'btn-rc-mn')">
                                    <i class="fa fa-bar-chart pull-left"> Análisis financiero </i>
                                </button>
                                <?php /*?><button id="btn-ir-mn" class="btn btn-block btn-primary btn-menu" title="Agregar" 
                                onclick="AparecerFormulario('IndiceDeRentabilidad', 'btn-ir-mn')">
                                    <i class="fa fa-line-chart pull-left"> Indice de rentabilidad </i>
                                </button><?php */?>
                    
                            </div>
                            <div id="parcial" class="col-xs-<?php echo ($this->id)?'9':'12'; ?>" id="contenidoFormularios">
                                <!--Encabezado-->
                                <div class="box" id="encabezadoManejo">
                                    <div class="box-header <?php echo ($this->id)?'':'hide'; ?>" id="conceptosEncabezado">
                                        <div class="row" >
                                            <div class="col-xs-12">
                                                <!--<button id="btn-ch-t3" class="btn btn-info fa fa-book pull-right" style="width:32%; background-color: #CA9831; border-color: #CA9831;">
                                                    Plan de Manejo Realizado
                                                </button>
                                                <button id="btn-ch-t2" class="btn btn-info fa fa-code pull-left" style="width:32%; background-color: #c3311a; border-color: #c3311a;">
                                                    Plan de Transición Agroecológico
                                                </button>
                                                <!--<button id="btn-ch-t1" class="btn btn-info fa fa-edit pull-right" style="width:32%; background-color: #643513; border-color: #643513;">
                                                    Plan de Manejo Tradicional
                                                </button>-->
                                            </div>
                                        </div><br />
                                    </div>
                                </div>
                                <!--Encabezado-->
                                <div id="Cultivos" class="hide">
                                    <?php echo $this->partial("parcial/cultivos.phtml",array('cultivos'=>$this->cultivos,'datos_cultivos'=>$this->datos_cultivos,'cat_disposicion_cultivo'=>$this->cat_disposicion_cultivo,'cat_obtiene_semilla'=>$this->cat_obtiene_semilla,'cat_material_genetico'=>$this->cat_material_genetico,'cat_propia_semilla'=>$this->cat_propia_semilla,'tipo'=>$this->tipo)); ?>
                                </div>
                                <div id="RentaDeLaTierra" class="hide">
                                    <?php echo $this->partial("parcial/renta-de-la-tierra.phtml"); ?>
                                </div>
                                <div id="AcondicionamientoDelPredio" class="hide">
                                    <?php echo $this->partial("parcial/acondicionamiento-del-predio.phtml"); ?>
                                </div>
                                <div id="MejoramientoDeFertilidadDelSuelo" class="hide">
                                    <?php echo $this->partial("parcial/mejoramiento-de-fertilidad-del-suelo.phtml",array("tecnicas"=>$this->tecnicas)); ?>
                                </div>
                                <div id="PreparacionDelTerreno" class="hide">
                                    <?php echo $this->partial("parcial/preparacion-del-terreno.phtml"); ?>
                                </div>
                                <div id="Riego" class="hide">
                                    <?php echo $this->partial("parcial/riego.phtml"); ?>
                                </div>
                                <div id="Semilla" class="hide">
                                    <?php echo $this->partial("parcial/semilla.phtml",array("empresas"=>$this->empresas,'cat_fuente_nutricion'=>$this->cat_fuente_nutricion)); ?>
                                </div>
                                <div id="SiembraDePrecision" class="hide">
                                    <?php echo $this->partial("parcial/siembra-de-precision.phtml"); ?>
                                </div>
                                <div id="Resiembra" class="hide">
                                    <?php echo $this->partial("parcial/resiembra.phtml",array("empresas"=>$this->empresas)); ?>
                                </div>
                                <div id="PracticaDeResiembra" class="hide">
                                    <?php echo $this->partial("parcial/practica-de-resiembra.phtml"); ?>
                                </div>
                                <div id="Fertilizacion" class="hide">
                                    <?php echo $this->partial("parcial/fertilizacion.phtml",
                                    array(
                                        "empresas"=>$this->empresas,
                                        "cat_fuente_nutricion"=>$this->cat_fuente_nutricion
                                    )); ?>
                                </div>
                                <div id="ControlDeMalezas" class="hide">
                                    <?php echo $this->partial("parcial/control-de-malezas.phtml",array("etapas_fenologicas"=>$this->etapas_fenologicas,"unidades_pre"=>$this->unidades_pre,"empresas"=>$this->empresas,"marcas"=>$this->marcas,'cat_fuente_manejo_sanitario'=>$this->cat_fuente_manejo_sanitario,'unidades_escarda'=>$this->unidades_escarda)); ?>
                                </div>
                                <div id="ControlDePlagasDeSuelo" class="hide">
                                    <?php echo $this->partial("parcial/control-de-plagas-de-suelo.phtml",array("id"=>$this->id,"tipo"=>$this->tipo,"control_plagas_suelo"=>$this->control_plagas_suelo,"control_plagas_suelo_insecticida_granulado"=>$this->control_plagas_suelo_insecticida_granulado,/*"control_plagas_suelo_insecticida_tratamiento"=>$this->control_plagas_suelo_insecticida_tratamiento,*/"control_plagas_suelo_insecticida_recarga"=>$this->control_plagas_suelo_insecticida_recarga,"unidad"=>$this->unidadPlagas,'etapas_fenologicas'=>$this->etapas_fenologicas,"empresas"=>$this->empresas,"marcas"=>$this->marcas,"activos"=>$this->activos,'cat_fuente_nutricion'=>$this->cat_fuente_nutricion,'cat_fuente_manejo_sanitario'=>$this->cat_fuente_manejo_sanitario) ); ?>
                                    <?php //echo $this->partial("parcial/control-de-plagas-de-suelo.phtml"); ?>
                                </div>
                                <div id="ControlDePlagasFoliares" class="hide">
                                    <?php echo $this->partial("parcial/control-de-plagas-foliares.phtml",array("id"=>$this->id,"tipo"=>$this->tipo,"control_plagas_foliares"=>$this->control_plagas_foliares,/*"control_plagas_foliares_insecticida"=>$this->control_plagas_foliares_insecticida,*/"unidad"=>$this->unidadFoliar,'etapas_fenologicas'=>$this->etapas_fenologicas,"empresas"=>$this->empresas,"marcas"=>$this->marcas,"activos"=>$this->activos,'cat_fuente_nutricion'=>$this->cat_fuente_nutricion,'cat_fuente_manejo_sanitario'=>$this->cat_fuente_manejo_sanitario)); ?>
                                </div>
                                <div id="ControlDeEnfermedades" class="hide">
                                    <?php echo $this->partial("parcial/control-de-enfermedades.phtml",array("id"=>$this->id,"tipo"=>$this->tipo,"control_plagas_suelo_enfermedades"=>$this->control_plagas_suelo_enfermedades,"control_plagas_suelo_insecticida_granulado_enfermedades"=>$this->control_plagas_suelo_insecticida_granulado_enfermedades,/*"control_plagas_suelo_insecticida_tratamiento"=>$this->control_plagas_suelo_insecticida_tratamiento,*/"control_plagas_suelo_insecticida_recarga"=>$this->control_plagas_suelo_insecticida_recarga,"unidad"=>$this->unidadPlagas,'etapas_fenologicas'=>$this->etapas_fenologicas,"empresas"=>$this->empresas,"marcas"=>$this->marcas,"activos"=>$this->activos,'cat_fuente_nutricion'=>$this->cat_fuente_nutricion,'cat_fuente_manejo_sanitario'=>$this->cat_fuente_manejo_sanitario)); ?>
                                </div>
                                <div id="TratamientoDeEstresBioticoYAbiotico" class="hide">
                                    <?php echo $this->partial("parcial/tratamiento-de-estres-biotico-y-abiotico.phtml",array("id"=>$this->id,"tipo"=>$this->tipo,"tratamiento_b_ab"=>$this->tratamiento_b_ab,"tratamiento_b_ab_insecticida_granulado"=>$this->tratamiento_b_ab_insecticida_granulado,"tratamiento_b_ab_insecticida_tratamiento"=>$this->tratamiento_b_ab_insecticida_tratamiento,"tratamiento_b_ab_insecticida_recarga"=>$this->tratamiento_b_ab_insecticida_recarga,"unidad"=>$this->unidadTratamiento,'etapas_fenologicas'=>$this->etapas_fenologicas,"empresas"=>$this->empresas, "marcas"=>$this->marcas,"activos"=>$this->activos,"cat_tipo_inductores_resistencia"=>$this->cat_tipo_inductores_resistencia,"cat_tipo_inductores_crecimiento"=>$this->cat_tipo_inductores_crecimiento,"cat_tipo_inductores_productividad"=>$this->cat_tipo_inductores_productividad)); ?>
                                </div>
                                <div id="CostosIndirectos" class="hide">
                                    <?php echo $this->partial("parcial/costos-indirectos.phtml"); ?>
                                </div>
                                <div id="IngresosEsperados" class="hide">
                                    <?php echo $this->partial("parcial/ingresos-esperados.phtml",array("usos"=>$this->usos)); ?>
                                </div>
                                <div id="ReporteCostos" class="hide">
                                    <?php echo $this->partial("parcial/reporte-de-costos.phtml",array("usos"=>$this->usos)); ?>
                                </div>
                                <?php /*?><div id="IndiceDeRentabilidad" class="hide">
                                    <?php echo $this->partial("parcial/indice-de-rentabilidad.phtml"); ?>
                                </div><?php */?>
                
                            </div>
                            <input type="hidden" id="id" value="0" />
                        </div><!-- row-->
                    </div><!--tabPlan-->
                </div><!-- tabcontent-->
            </div><!-- /.box-body -->
		</div><!-- /.box -->
    </section><!-- /.content -->

