<!-- HEADER -->
  <section class="content-header">
    <h1>
      Listado de productores
      <small><?php echo $this->subtitulo; ?></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"> Inicio</a></li>
      <li class="active"><a href="#"><i class="fa fa-server"></i>Catálogos</a></li>
      <li class="active"><a href="#"><i class="fa fa-building-o"></i>Dependencias</a></li>
    </ol>
  </section>
<!-- /HEADER -->
<!-- CONTENIDO -->
  <section class="content">
    <div class="box">
      <!-- AGREGAR -->
      <!--<div class="box-header">
        <div class="box-tools pull-right" onclick="agregar()">
          <a class="btn btn-block btn-success">
            <i class="fa fa-plus"> Agregar</i>
          </a>
        </div>
      </div>-->
      <!-- /AGREGAR -->
      <!-- FILTROS -->
      <div style="margin-top:30px;"></div>
        <div class="box-body">
          <div class="box box-danger">
            <div class="box-header">
              <div class="row">
                <div class="col-xs-9">
                  <h3 class="box-title">Filtros de búsqueda</h3>
                </div>
              <div class="col-xs-3">
                <input type="hidden" name="utipo" id="utipo" value="<?php echo $this->tipo ?>"/>
                <button name="reset" class="btn btn-info fa fa-eraser pull-right" onclick="javascript:limpiarFiltro();">
                  Limpiar
                </button> &nbsp;
                <button name="filtrar" class="btn btn-info fa fa-search pull-right" onclick="javascript:filtrargrig();">
                  Filtrar
                </button>
              </div>
            </div><br/>
            <!-- CAMPOS DE FILTROS -->
            <div class="form-group col-xs-4">
              <div class="col-xs-6" style="<?php if($this->tipo_usuario == 3){ echo 'display:none;'; }?>">
                <select class="form-control input-sm" name="filtroEstado" id="filtroEstado">
                  <option value="">.: Estado :.</option>
                  <?php foreach($this->estados as $estado){?>
                    <option value="<?php echo $estado->id ?>"><?php echo $estado->nombre ?></option>
                  <?php }?>
                </select>
              </div>
              <div class="col-xs-6">
                <select class="form-control input-sm" name="filtroMunicipio" id="filtroMunicipio">
                  <option value="">.: Municipios :.</option>
                  <?php foreach($this->municipios as $municipio){?>
                    <option value="<?php echo $municipio->id ?>"><?php echo $municipio->nombre ?></option>
                  <?php }?>
                </select> 
              </div>
            </div>
            <div class="form-group col-xs-4">
              <div class="col-xs-6">
                <select class="form-control input-sm" name="filtroLocalidad" id="filtroLocalidad">
                  <option value="">.: Localidad :.</option>
                  <?php foreach($this->localidades as $localidad){?>
                    <option value="<?php echo $localidad->id ?>"><?php echo $localidad->nombre ?></option>
                  <?php }?>
                </select> 
              </div>
              <div class="col-xs-6" style="<?php if(in_array($this->tipo_usuario, array(2,3))){ echo 'display:none;'; }?>">
                <select class="form-control input-sm" name="filtroRegion" id="filtroRegion">
                  <option value="">.: Region :.</option>
                  <?php foreach($this->regiones as $region){?>
                    <option value="<?php echo $region ?>"><?php echo $region ?></option>
                  <?php }?>
                </select> 
              </div>
            </div>
            <div class="form-group col-xs-4">
              <div class="col-xs-6" style="<?php if(in_array($this->tipo_usuario, array(3))){ echo 'display:none;'; }?>">
                <select class="form-control input-sm" name="filtroTerritorio" id="filtroTerritorio">
                <option value="">.: Territorio funcional:.</option>
                <?php foreach($this->territorios as $territorio){?>
                <option value="<?php echo $territorio ?>"><?php echo $territorio ?></option>
                <?php }?>
                </select> 
              </div>
              
            </div>
            <div class="form-group col-xs-4">
              <div class="col-xs-6" style="<?php if(in_array($this->tipo_usuario, array(3))){ echo 'display:none;'; }?>">
                <select class="form-control input-sm" name="filtroAgroconsultor" id="filtroAgroconsultor">
                <?php echo $this->agroconsultor; ?>
                </select> 
              </div>
              <div class="col-xs-6">
                <select class="form-control input-sm" name="filtroTipoPredio" id="filtroTipoPredio">
                  <option value="">- Tipo de predio -</option>    
                  <?php foreach($this->tipos_predios as $tipo_predio){?>
                    <option value="<?php echo $tipo_predio ?>"><?php echo $tipo_predio ?></option>
                  <?php }?>
                </select>
              </div>
            </div>
            <div class="form-group col-xs-4">
              <div class="col-xs-6">
                <select class="form-control input-sm" name="filtroClave" id="filtroClave">
                  <option value="">- Clave -</option>    
                  <?php foreach($this->claves as $clave){?>
                    <option value="<?php echo $clave ?>"><?php echo $clave ?></option>
                  <?php }?>
                </select>
              </div>
            </div>          
            <!-- /CAMPOS DE FILTROS -->
          </div>
        </div>
      </div>
      <!-- /FILTROS -->
      <!-- GRID -->
      <div class="box-body">
        <?php echo $this->grid; ?>
        <div id="flexigrid" class="col-xs-12" style="padding:0px">
        </div>
      </div>
      <!-- /GRID -->     
    </div>
  </section>
<!-- /CONTENIDO -->