<div id="productor_div">
  <h3>Informacion del productor</h3>
    <div>
      <section class="content">
        <div class="box" style="padding: 3em;">
          <form id="frm-productor" name="frm-productor" class="form-horizontal" role="form">
            <div class="row">
              <div class="form-group col-xs-12">
                <label for="nombre" class="col-xs-2 control-label">*Nombre:</label>
                <div class="col-xs-4">
                  <input type="text" id="nombre" name="nombre" class="form-control input-sm" value=""  maxlength="100" placeholder="Nombre del productor" />
                </div>
                <label for="rfc" class="col-xs-2 control-label">*RFC:</label>
                <div class="col-xs-4">
                  <input type="text" id="rfc" name="rfc" class="form-control input-sm" value="<?php echo($this->rfc); ?>"  maxlength="15" placeholder="RFC del productor" readonly="readonly"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-12">
                <label for="curp" class="col-xs-2 control-label">*CURP:</label>
                <div class="col-xs-4">
                  <input type="text" id="curp" name="curp" class="form-control input-sm" value=""  maxlength="20" placeholder="CURP del productor" />
                </div>
                <label for="domicilio" class="col-xs-2 control-label">*Domicilio:</label>
                <div class="col-xs-4">
                  <input type="text" id="domicilio" name="domicilio" class="form-control input-sm" value=""  maxlength="200" placeholder="Domicilio del productor" />
                </div>
              </div>
            </div>
            <input type="hidden" name="id" id="id" value="" />
          </form>
        </div>
        <div class="height-5" style="margin-top:50px"></div>
        <div class="row center-block" style="">
          <div class="height-5"></div>
            <div class="col-xs-2 pull-left" id="btnSiguiente" >
              <a class="btn btn-block btn-success" style="color:white"><i class="fa fa-save">&nbsp;</i>Guardar</a>
            </div>
            <div class="col-xs-2 pull-left" id="btnLimpiar">
              <a class="btn btn-block btn-success" style="color:white"><i class="fa fa-eraser">&nbsp;</i>Limpiar</a>
            </div>
          </div>
        </div>
      </section>
    </div>
</div>
<?php /*?><div id="predio_div" style="display:none;">
  <h3>Agregar predio del productor</h3>
    <div>
      <section class="content">
        <div class="box" style="padding: 3em;">
          <form id="frm-predio" name="frm-predio" class="form-horizontal" role="form">
            <div class="row">
              <div class="form-group col-xs-12">
                <label for="nombre" class="col-xs-2 control-label">*Nombre:</label>
                <div class="col-xs-4">
                  <input type="text" id="nombre" name="nombre" class="form-control input-sm" value=""  maxlength="100" placeholder="Nombre del predio" />
                </div>
                <label for="id_dependencia" class="col-xs-2 control-label">*Dependencia:</label>
                <div class="col-xs-4">
                  <select name="id_dependencia" id="id_dependencia" class="form-control input-sm">
                      <option value="0">Seleccione una dependencia</option>
                      <?php
                        foreach ($this->dependencias as $dependencia) {
                          $select = '';
                          echo '<option value="'. $dependencia->id .'" '. $select .'>'. utf8_decode($dependencia->nombre) .'</option>';
                        }
                      ?>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-12">
                <label for="id_integradora" class="col-xs-2 control-label">*Integradora:</label>
                <div class="col-xs-4">
                  <select name="id_integradora" id="id_integradora" class="form-control input-sm">
                    <option value="0">Seleccione una integradora</option>
                    <?php
                      foreach ($this->integradoras as $integradora) {
                        $select = '';
                        echo '<option value="'. $integradora->id .'" '. $select .'>'. utf8_decode($integradora->nombre) .'</option>';
                      }
                    ?>
                </select>
                </div>
                <label for="id_organizacion" class="col-xs-2 control-label">*Organizacion:</label>
                <div class="col-xs-4">
                  <select name="id_organizacion" id="id_organizacion" class="form-control input-sm">
                    <option value="0">Seleccione una organización</option>
                    <?php
                      foreach ($this->organizaciones as $organizacion) {
                        $select = '';
                        echo '<option value="'. $organizacion->id .'" '. $select .'>'. utf8_decode($organizacion->nombre) .'</option>';
                      }
                    ?>
                </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-12">
                <label for="id_estado" class="col-xs-2 control-label">*Estado:</label>
                <div class="col-xs-4">
                  <select name="id_estado" id="id_estado" class="form-control input-sm">
                    <option value="0">Seleccione un estado</option>
                    <?php
                      foreach ($this->estados as $estado) {
                        $select = '';
                        echo '<option value="'. $estado->id .'" '. $select .'>'. utf8_decode($estado->nombre) .'</option>';
                      }
                    ?>
                  </select>
                </div>
                <label for="id_municipio" class="col-xs-2 control-label">*Municipio:</label>
                <div class="col-xs-4">
                  <select name="id_municipio" id="id_municipio" class="form-control input-sm">
                    <option value="0">Seleccione un municipio</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-12">
                <label for="id_localidad" class="col-xs-2 control-label">*Localidad:</label>
                <div class="col-xs-4">
                  <select name="id_localidad" id="id_localidad" class="form-control input-sm">
                    <option value="0">Seleccione una localidad</option>
                  </select>
                </div>
                <label for="potrero" class="col-xs-2 control-label">*Potrero:</label>
                <div class="col-xs-4">
                 <input type="text" id="potrero" name="potrero" class="form-control input-sm" value=""  maxlength="100" placeholder="Potrero" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-12">
                <label for="superficie" class="col-xs-2 control-label">*Superficie:</label>
                <div class="col-xs-4">
                  <input type="text" id="superficie" name="superficie" class="form-control input-sm" value=""  maxlength="100" placeholder="Superficie" />
                </div>
                <label for="id_productor" class="col-xs-2 control-label">*Productor:</label>
                <div class="col-xs-4">
                  <select name="id_productor_view" id="id_productor_view" class="form-control input-sm">
                  </select>
                </div>
              </div>
            </div>
            <input type="hidden" name="id" id="id" value="" />
          </form>
        </div>
        <div class="height-5" style="margin-top:50px"></div>
        <div class="row center-block" style="">
          <div class="height-5"></div>
            <div class="col-xs-2 pull-left" id="btnAnterior" style="color:white">
              <a class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Anterior</a>
            </div>
            <div class="col-xs-2 pull-left" id="btnGuardar" style="color:white">
              <a class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
            </div>
            <div class="col-xs-2 pull-left" id="btnLimpiar" style="color:white">
              <a class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Limpiar</a>
            </div>
          </div>
        </div>
      </section>
    </div>
</div><?php */?>