<section class="content">
  <div class="box" style="padding: 3em;">
    <form id="frm" name="frm" class="form-horizontal" role="form">
      <div class="row">
        <div class="form-group col-xs-12">
          <label for="nombre" class="col-xs-2 control-label">*Nombre:</label>
          <div class="col-xs-4">
            <input type="text" id="nombre" name="nombre" class="form-control input-sm" value="<?php echo($this->registro->nombre); ?>"  maxlength="100" placeholder="Nombre de la marca" />
          </div>
          
           <label for="id_dependencia" class="col-xs-2 control-label">*Empresa:</label>
          <div class="col-xs-4">
            <select name="id_empresa" id="id_empresa" class="form-control input-sm">
                <option value="0">Seleccione una empresa</option>
                <?php
                  foreach ($this->empresas as $empresa) {
                    if($this->registro->id_empresa == $empresa->id) $select = "selected";
                    else $select = '';
                    echo '<option value="'. $empresa->id .'" '. $select .'>'. utf8_decode($empresa->nombre) .'</option>';
                  }
                ?>
            </select>
          </div>  
        </div>
      </div>
      
   	  <div class="row">
        <div class="form-group col-xs-12">
          <label for="id_integradora" class="col-xs-2 control-label">*Tipo:</label>
          <div class="col-xs-4">
            <select name="tipo" id="tipo" class="form-control input-sm">
              <option value="0" >Seleccione un tipo</option>
              <option value="1" <?php echo $this->registro->tipo == 1 ? "selected":"";?>>Insecticida</option>
              <option value="2" <?php echo $this->registro->tipo == 2 ? "selected":"";?>>Bioestimulante</option>
              <option value="3" <?php echo $this->registro->tipo == 3 ? "selected":"";?>>Fertilizante</option>
              <option value="4" <?php echo $this->registro->tipo == 4 ? "selected":"";?>>Fungicida</option>
              <option value="5" <?php echo $this->registro->tipo == 5 ? "selected":"";?>>Biofertilizante</option>
              <option value="6" <?php echo $this->registro->tipo == 6 ? "selected":"";?>>Herbicida</option>
          </select>
          </div>
          <label for="id_organizacion" class="col-xs-2 control-label">*Composición:</label>
          <div class="col-xs-4"> 
           	<textarea name="composicion" class="form-control input-sm" placeholder="Composición"><?php echo($this->registro->composicion); ?></textarea>  
          </div>
        </div>
      </div>
      <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id; ?>" />
    </form>
  </div>
  <div class="height-5" style="margin-top:50px"></div>
  <div class="row center-block" style="">
    <div class="height-5"></div>
      <div class="col-xs-2 pull-left" id="btnGuardar">
        <a class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
      </div>
      <div class="col-xs-2 pull-left" onclick="limpiar()">
        <a class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Limpiar</a>
      </div>
    </div>
  </div>
</section>