<!--
<div style="position:absolute; height: 93%; width: 100%;" id="map-canvas"></div>
<div style="position:absolute; height: 0%; width: 100%; background-color:#FFF; bottom:0px; overflow-y:scroll;" id="var_canvas"></div><div class="loading" id="loading">
    <span>
        Loading...
    </span>
</div>
<div style="position:absolute; height: 0%; width: 100%; background-color:#FFF; bottom:0px; overflow-y:scroll;" id="stats_canvas"></div>-->
<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Agricultura</title>

<!-- Bootstrap 3.3.2 -->
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<!-- Font Awesome Icons -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

<!--CSS-->
<link rel="stylesheet" href="/css/normalize.css" />
<link rel="stylesheet" href="/css/main.css?v=1" />
<link rel="stylesheet" type="text/css" href="/css/global.css" />
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="/css/jgrowl/jquery.jgrowl.css" type="text/css"/>
<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
  type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
  type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"
            type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"
       type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css"
            href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
</head>
<body>
<!-- Notificaciones -->
<div id="notifications" class="top-right"></div>
<div id="wrapper" class="row col-md-12" style="height: 100%;">
  <header id="header" class="row col-md-12" role="header">
    <figure class="col-md-2 pull-left logo">
      <img src="/img/logo.jpeg" height="80px">
    </figure>
    <div class=" col-md-10 pull-right">
   		
        <div class="col-md-4">
          <h3 style="font-size: 22px; width:100%; text-align: center;">Plan de Transición Agroecológico</h3>
          <h3 style="font-size: 15px; margin-top: 1px; width:100%; text-align: center;">Caracterización del Sistema de Producción Actual</h3>
          <h3 style="font-size: 13px; margin-top: 3px; width:100%; text-align: center;">Sistema de captura</h3>
        </div>
        <button class="col-md-4 pull-left btnCenter" style="color:#fff !important;" onclick="nuevoDiagnostico(true);">
          CAPTURAR NUEVO PRODUCTOR
        </button>
        <button class="col-md-4 pull-left btnCenter" onclick="window.location='/backend/diagnosticos'">
      		<a href="/backend/diagnosticos">LISTADO DE PRODUCTORES</a>
      	</button>
        
    
      	<div class="col-md-4 pull-right ingreso">     
          	<a href="/backend/login/salir" class="pull-right">
      			<span class="fa fa-sign-out"></span> 
        		Salir
  			</a>
            
           	<a href="#" class="pull-right">
      			<span class="fa fa-user"></span> 
        		HOLA <?php echo strtoupper(Zend_Auth::getInstance()->getIdentity()->nombre); ?>&nbsp;&nbsp;|&nbsp;&nbsp;
  			</a>
   	 	</div>
    </div>
  </header>
  <main id="main" class="row col-md-12 container" role="main">
  	<div style="position:absolute; width: 100%;" class="mapHeight" id="map-canvas"></div>
    <nav class="col-md-2 pull-left" role="nav" style="padding-left: unset !important;">
      <ul class="btnMI">
        <li>
          <button class="btnLeft" onclick="javascrit:buscarPredio();">
          <a href="#" class="pull-left">BUSCAR PREDIO </a>
          <figure class="btnSprite pull-right" style=" background-image:url(/img/spriteLupa.png)"></figure>
          </button>
              <seccion class="col-md-3 pull-left tablaBusqueda " style="padding-right: unset !important; width: 300px;  padding-left: 0 !important; display:none">
      <div class="tablaBSup2 tablaVariables pull-right" style="padding-left: 0.7em; font-size:13.2px">
        <table style="width: 91% !important;">
            <button class="btnCerrar btnCloseBusqueda pull-right">
              <a href="#"><span class="fa fa-times-circle"></span></a>
            </button>
            <div id="verror" class="sidebar-form" >
              <div class="input-group" style="width: 100%;">
                <div id="verrorc" class="form-control" style="background-color: #f2dede; border: 1px solid #eed3d7; color: #b94a48; font-size: 13px; width: 90%;" align="center"></div>
              </div>
            </div>
          <tr>
            <th colspan="3">Filtrar por localidad</th>
          </tr>
          <tr>
            <td style="padding-bottom: 2%; width: 100%">
              <select id="search_select_estado" class="form-control">
                <option value="0">Seleccione un estado...</option>
                <?php foreach ($this->estados as $estado)
                      {
                        echo '<option value="'.$estado->id.'">'.utf8_decode($estado->nombre).'</option>';
                      }
                ?>
            </select>
        </td>
          </tr>
          <tr>
            <td style="padding-bottom: 2%; width: 100%">
              <select id="search_select_municipio" class="form-control">
                  <option value="0">Seleccione un municipio...</option>
                </select>
            </td>
          </tr>
          <tr>
            <td style="padding-bottom: 2%; width: 100%">
              <select id="search_select_localidad" class="form-control">
                  <option value="0">Seleccione una localidad...</option>
                </select>
            </td>
          </tr>
        </table>

        <table style="width: 91% !important;">
          <tr>
            <th colspan="3">Filtrar por coordenadas</th>
          </tr>
          <tr style="width: 100%">
            <td style="width: 100%">
              <div style="display: flex;">
                <!-- Buscar Latitud -->
                <div class="sidebar-form" style="width: 50%; margin-right: 5%">
                  <div class="input-group">
                    <input id="search_input_lat" type="text" class="form-control" style="background: #FFF;" placeholder="Latitud..."/>
                  </div>
                </div>
                <!-- Buscar Longitud -->
                <div class="sidebar-form" style="width: 50%;">
                  <div class="input-group">
                    <input id="search_input_lng" type="text" class="form-control" style="background: #FFF;" placeholder="Longitud..."/>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>

        <table style="width: 91% !important;">
        <tr>
          <th colspan="3">Filtrar por productor</th>
          </tr>
          <tr>
            <td style="width: 100%">
              <select id="search_select_productor" class="form-control">
                <option value="0">Seleccione un productor...</option>
                <?php 
                  echo $this->productores;
                ?>
            </select>
            </td>
          </tr>
        </table>

        <table style="width: 91% !important;">
        <tr>
        </tr>
          <tr>
            <td style="width: 100%; padding-bottom:2%">
              <div class="sidebar-form" style="cursor: pointer; color: #FFF; background-color: #9f8334;"  onClick="buscarInfo()">
                <button class="btn btn-flat" style="border-radius: 0 !important; background-color: #9f8334;"><i class="fa fa-search"></i></button>
                <label style="padding-left: 1.5em; cursor: pointer;">Buscar informaci&oacute;n</label>
              </div>
            </td>
          </tr>
           <tr>
            <td style="width: 100%; padding-bottom:2%">
              <div class="sidebar-form" style="cursor: pointer; color: #000; background-color: #FFFFFF;"  onClick="limpiarInfo()">
                <button class="btn btn-flat" style="border-radius: 0 !important background-color: #FFFFFF;"><i class="fa fa-eraser"></i></button>
                <label style="padding-left: 1.5em; cursor: pointer;">Limpiar informaci&oacute;n</label>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </seccion>
        </li>
        <!--<li>
          <button class="btnLeft btnLeft2" onclick="javascrit:verFisicas();">
          <a href="#" class="pull-left">VARIABLES FÍSICAS </a>
          <figure class="btnSprite pull-right" style=" background-image:url(/img/spriteFisicas.png)"></figure>
          </button>
        </li>
        <li>
          <button class="btnLeft btnLeft2" onclick="javascrit:verQuimicas();">
          <a href="#" class="pull-left">VARIABLES QUÍMICO BIOLÓGICAS </a>
          <figure class="btnSprite pull-right" style=" background-image:url(/img/spriteQuimico.png)"></figure>
          </button>
        </li>
        <li>
          <button class="btnLeft btnLeft2" onclick="javascrit:verClimatologicas();">
          <a href="#" class="pull-left">VARIABLES CLIMATOLÓGICAS </a>
          <figure class="btnSprite pull-right" style="background-image: url(/img/nubedorada.jpg);background-repeat: no-repeat;background-size: 36px 35px;"></figure>
          </button>
        </li>
        <li>
          <button class="btnLeft btnLeft2" onclick="javascrit:verBiologia();">
          <a href="#" class="pull-left">BIOLOGÍA DEL SUELO </a>
          <figure class="btnSprite pull-right" style="background-image: url(/img/biologia.jpg);background-repeat: no-repeat;background-size: 36px 35px;"></figure>
          </button>
        </li>
        <li>
          <button class="btnLeft btnLeft2" onclick="javascrit:verIP();">
          <a href="#" class="pull-left">ÍNDICE DE PRODUCTIVIDAD </a>
          <figure class="btnSprite pull-right" style=" background-image:url(/img/spriteIndice.png)"></figure>
          </button>
        </li>-->
      </ul>
    </nav>

    <seccion class="col-md-3 pull-right tableValores">
      <div class="tablaSup1 tablaVariables pull-right" style="padding-left: 0.7em; display:none;">
      	<button class="btnCerrar btnCloseValores">
      		<a href="#"><span class="fa fa-times-circle"></span></a>
        </button>
      	<label style="padding: 0 0.7em 100% 2.5em;">No se ha encontrado información sobre este punto</label>
      </div>
      <div class="tablaSup2 tablaVariables pull-right" style="padding-left: 0.7em;">
        <table style="width: 91% !important;">
            <button class="btnCerrar btnCloseValores">
          		<a href="#"><span class="fa fa-times-circle"></span></a>
            </button> 
            <div id="datosPredio" style="display:none; font-style: italic;">
		      	<label id="LOCALIDAD">No definido</label><br />
                <label id="MUNICIPIO">No definido</label><br />
                <label id="ESTADO">No definido</label><br />
                <label id="PRODUCTO">No definido</label><br />
		    </div>
          	<?php /*?><div class="tablaSup3" style="display:none;">
		      	<label style="padding: 0 0.7em 0.7em 2.5em;" id="idEstadoCultivo">Estado: No definido</label>
		      	<button id="btnEstadoCultivo" class="btn btn-block btn-primary btn-menu" style="width: 50%; margin-left: 2.5em;">
                    <i class="fa fa-bullseye pull-left"> Seguir editando </i>
                </button>
		     </div><?php */?>
          <tr>
            <th colspan="3"><img src="/img/icoFisicasOn.png"> Variables físicas</th>
          </tr>
          <!--<tr>
            <td style="width: 25%">TEXTURA</td>
			<td id="txt_textura" style="width: 65%"></td>
			<td style="width: 10%"><div id="clr_textura">&nbsp;</div></td>
          </tr>-->
          <tr>
            <td style="width: 25%">CAH</td>
			<td id="txt_cah" style="width: 65%"></td>
			<td style="width: 10%"><div id="clr_cah">&nbsp;</div></td>
          </tr>
          <!--<tr>
            <td style="width: 25%">IHT</td>
			<td id="txt_iht" style="width: 65%"></td>
			<td style="width: 10%"><div id="clr_iht">&nbsp;</div></td>
          </tr>-->
          <tr>
            <td style="width: 25%">ARCILLA</td>
			<td id="txt_arcilla" style="width: 65%"></td>
			<td style="width: 10%"><div id="clr_arcilla">&nbsp;</div></td>
          </tr>
          <tr>
            <td style="width: 25%">ARENA</td>
			<td id="txt_arena" style="width: 65%"></td>
			<td style="width: 10%"><div id="clr_arena">&nbsp;</div></td>
          </tr>
          <!--<tr>
            <td style="width: 25%">LIMO</td>
			<td id="txt_limo" style="width: 65%"></td>
			<td style="width: 10%"><div id="clr_limo">&nbsp;</div></td>
          </tr>-->
          <!--<tr>
            <td style="width: 25%">PROFUNDIDAD</td>
			<td id="txt_profundidad" style="width: 65%"></td>
			<td style="width: 10%"><div id="clr_profundidad">&nbsp;</div></td>
          </tr>-->
        </table>

        <table style="width: 91% !important;">
          <tr>
            <th colspan="3"><img src="/img/icoQuimicoOn.png"> Variables Químico Biólogicas</th>
          </tr>

          <tr>
             <td style="width: 20%">BO</td>
      <td id="txt_boro" style="width: 50%"></td>
      <td style="width: 30%"><div id="clr_boro">&nbsp;</div></td>
          </tr>
          <tr>
             <td style="width: 20%">CA</td>
      <td id="txt_calcio" style="width: 50%"></td>
      <td style="width: 30%"><div id="clr_calcio">&nbsp;</div></td>
          </tr>
          <tr>
             <td style="width: 20%">CE</td>
      <td id="txt_ce" style="width: 50%"></td>
      <td style="width: 30%"><div id="clr_ce">&nbsp;</div></td>
          </tr>
          <tr>
            <td style="width: 20%">CIC</td>
			<td id="txt_cic" style="width: 50%"></td>
			<td style="width: 30%"><div id="clr_cic">&nbsp;</div></td>
          </tr>
          <tr>
            <td style="width: 20%">MO</td>
			<td id="txt_mo" style="width: 50%"></td>
			<td style="width: 30%"><div id="clr_mo">&nbsp;</div></td>
          </tr>
          <tr>
            <td style="width: 20%">PH</td>
			<td id="txt_ph" style="width: 50%"></td>
			<td style="width: 30%"><div id="clr_ph">&nbsp;</div></td>
          </tr>
          <tr>
            <td style="width: 20%">SB</td>
			<td id="txt_sb" style="width: 50%"></td>
			<td style="width: 30%"><div id="clr_sb">&nbsp;</div></td>
          </tr>
          <tr>
             <td style="width: 20%">CB</td>
      <td id="txt_cobre" style="width: 50%"></td>
      <td style="width: 30%"><div id="clr_cobre">&nbsp;</div></td>
          </tr>
          <tr>
             <td style="width: 20%">PT</td>
      <td id="txt_potasio" style="width: 50%"></td>
      <td style="width: 30%"><div id="clr_potasio">&nbsp;</div></td>
          </tr>
          <tr>
             <td style="width: 20%">SD</td>
      <td id="txt_sodio" style="width: 50%"></td>
      <td style="width: 30%"><div id="clr_sodio">&nbsp;</div></td>
          </tr>
          <!--<tr>
              <td style="width: 25%">MG</td>
      <td id="txt_mg" style="width: 65%"></td>
      <td style="width: 10%"><div id="clr_mg">&nbsp;</div></td>
          </tr>-->
          <tr>
             <td style="width: 20%">AL</td>
      <td id="txt_aluminio" style="width: 50%"></td>
      <td style="width: 30%"><div id="clr_aluminio">&nbsp;</div></td>
          </tr>
          
          <tr>
             <td style="width: 20%">MAG</td>
      <td id="txt_manganeso" style="width: 50%"></td>
      <td style="width: 30%"><div id="clr_manganeso">&nbsp;</div></td>
          </tr>
          <tr>
             <td style="width: 20%">AZ</td>
      <td id="txt_azufre" style="width: 50%"></td>
      <td style="width: 30%"><div id="clr_azufre">&nbsp;</div></td>
          </tr>
          <!--<tr>
             <td style="width: 25%">ZC</td>
      <td id="txt_zinc" style="width: 65%"></td>
      <td style="width: 10%"><div id="clr_zinc">&nbsp;</div></td>
          </tr>-->
        </table>

        <table style="width: 91% !important;">
          <th colspan="3"><img src="/img/icoIndiceOn.png"> Índice de productividad</th>
          </tr>
          <tr>
            <td style="width: 25%">IP</td>
			<td id="txt_ip" style="width: 65%"></td>
			<td style="width: 10%"><div id="clr_ip">&nbsp;</div></td>
          </tr>
        </table>
      </div>
    </seccion>
    <seccion class="col-md-12 tablaSup3" style="position: absolute; bottom: 0%; left: 0px; display: none; text-align: center; background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0;padding: 5px 0;">
    	<label style="position: relative; color: white;" id="idEstadoCultivo">Estado: No definido</label>
		<button id="btnEstadoCultivo" class="btn btn-block btn-primary btn-menu" style="width: 150px; margin-left: 2.5em; display:inline">
                    <i class="fa fa-bullseye pull-left"> Seguir editando </i>
        </button>
    </seccion>
    <seccion class="col-md-12 topMargin trzPoligono" style="position: absolute; bottom: 1%; display: none; left:0px;">
    	<button id="btnDP" class="btnRight" onclick="javascript:trazarPoligono();" style="margin: 1em 1em 1em 30% !important;">
      	<a href="#" id="lblDP">TRAZAR POLIGONO</a>
      	</button>
     	<button class="btnRight" onclick="javascript:eliminarPoligono();" style="margin: 1em 1em 1em 1em !important;">
      	<a href="#">ELIMINAR VERTICE</a>
      	</button>
        <?php if($this->predio_id>0){?>
          <button id="btnTP" class="btnRight" onclick="javascript:guardarPoligonoPredio(<?php echo $this->predio_id?>);" style="margin: 1em 1em 1em 1em !important; width: 12%">
          <a href="#">GUARDAR POLÍGONO</a>
          </button>
        <?php }else{?>
        	<button id="btnTP" class="btnRight" onclick="javascript:nuevoDiagnostico();" style="margin: 1em 1em 1em 1em !important; width: 12%">
        	<a href="#">CAPTURAR INFORMACIÓN</a>
        	</button>
        <?php }?>
    </seccion>
    <seccion class="col-md-12 tablaVariables" style="position:absolute; bottom: 0px; left: 0px">
    	<table id="variables_quimicas" style="display:none;" class="tableVariables">
	      	<button class="btnCerrar closeVariables" id="btnCerrarQuimicas" style="display:none;">
	    		<a href="#"><span class="fa fa-times-circle"></span></a>
	      	</button>
	        
	        <tr>
	         	<th colspan="12" style="text-align:center !important;"><img src="/img/icoQuimicoOn.png">Variables Químico Biólogicas</th>
	        </tr>
          <tr>
            
            <td colspan="12">
              <div id="tabsQumicoBilogico" style="background:rgba(0, 0, 0, 0.5); color:#fff;">
                  <ul>
                    <li><a href="#tabElementos">Elementos</a></li>
                    <li><a href="#tabIndicadores">Indicadores</a></li>
                  </ul>

                  <div id="tabIndicadores">
                    <table id="vq" class="tableVariables">
                      <tr>
                        <td class="col-md-3">Capacidad Intercambio Cationico</td>
                        <td class="col-md-3">Conductividad Electrica</td>
                        <td class="col-md-2">Materia Organica</td>
                        <td class="col-md-2">pH</td>
                        <td class="col-md-2">Saturación de Bases</td>
                      </tr>
                      <tr>
                        <td class="col-md-3">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="cic_chbx_1">
                            </div>
                            <div style="width:20px; float: left; background: red;" id="cic_clr_1">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="cic_txt_1" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-3">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="ce_chbx_1">
                            </div>
                            <div style="width:20px; float: left; background: red;" id="ce_clr_1">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="ce_txt_1" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-2">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="mo_chbx_1">
                            </div>
                            <div style="width:20px; float: left; background: red;" id="mo_clr_1">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="mo_txt_1" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-2">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="ph_chbx_1">
                            </div>
                            <div style="width:20px;  float: left; background: red;" id="ph_clr_1">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="ph_txt_1" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-2">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="sb_chbx_1">
                            </div>
                            <div style="width:20px; float: left; background: red;" id="sb_clr_1">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="sb_txt_1" class="txt"></div>
                          </div>
                        </td>
                      </tr>

                      

                      <tr>
                        <td class="col-md-3">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="cic_chbx_2">
                            </div>
                            <div style="width:20px; float: left; background: red;" id="cic_clr_2">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="cic_txt_2" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-3">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="ce_chbx_2">
                            </div>
                            <div style="width:20px; float: left; background: red;" id="ce_clr_2">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="ce_txt_2" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-2">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="mo_chbx_2">
                            </div>
                            <div style="width:20px; float: left; background: red;" id="mo_clr_2">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="mo_txt_2" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-2">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="ph_chbx_2">
                            </div>
                            <div style="width:20px;  float: left; background: red;" id="ph_clr_2">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="ph_txt_2" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-2">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="sb_chbx_2">
                            </div>
                            <div style="width:20px; float: left; background: red;" id="sb_clr_2">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="sb_txt_2" class="txt"></div>
                          </div>
                        </td>
                      </tr>

                      

                      <tr>
                        <td class="col-md-3">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="cic_chbx_3">
                            </div>
                            <div style="width:20px; float: left; background: red;" id="cic_clr_3">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="cic_txt_3" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-3">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="ce_chbx_3">
                            </div>
                            <div style="width:20px; float: left; background: red;" id="ce_clr_3">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="ce_txt_3" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-2">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="mo_chbx_3">
                            </div>
                            <div style="width:20px; float: left; background: red;" id="mo_clr_3">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="mo_txt_3" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-2">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="ph_chbx_3">
                            </div>
                            <div style="width:20px;  float: left; background: red;" id="ph_clr_3">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="ph_txt_3" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-2">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="sb_chbx_3">
                            </div>
                            <div style="width:20px; float: left; background: red;" id="sb_clr_3">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="sb_txt_3" class="txt"></div>
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td class="col-md-3">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="cic_chbx_4">
                            </div>
                            <div style="width:20px; float: left; background: red;" id="cic_clr_4">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="cic_txt_4" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-3">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="ce_chbx_4">
                            </div>
                            <div style="width:20px; float: left; background: red;" id="ce_clr_4">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="ce_txt_4" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-2">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="mo_chbx_4">
                            </div>
                            <div style="width:20px; float: left; background: red;" id="mo_clr_4">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="mo_txt_4" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-2">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="ph_chbx_4">
                            </div>
                            <div style="width:20px;  float: left; background: red;" id="ph_clr_4">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="ph_txt_4" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-2">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="sb_chbx_4">
                            </div>
                            <div style="width:20px; float: left; background: red;" id="sb_clr_4">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="sb_txt_4" class="txt"></div>
                          </div>
                        </td>
                      </tr>

                    </table>
                    
                  </div>
                  
                  <div id="tabElementos">
                    <table id="eq" class="tableVariables">
                      <tr>
                        <td class="col-md-1">Aluminio</td>
                        <td class="col-md-1">Azufre</td>
                        <td class="col-md-2">Calcio</td>
                        <td class="col-md-1">Cobre</td>
                        <td class="col-md-1">Boro</td>
                        <!--<td class="col-md-2">Magnesio</td>-->
                        <td class="col-md-1">Manganeso</td>
                        <td class="col-md-2">Potasio</td>
                        <td class="col-md-1">Sodio</td>
                        <!--<td class="col-md-2">Zinc</td>-->
                      </tr>
                      <tr>
                        <td class="col-md-1">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="al_chbx_1">
                            </div>
                            <div style="width:12px; float: left; background: red;" id="al_clr_1">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="al_txt_1" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-1">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="az_chbx_1">
                            </div>
                            <div style="width:12px; float: left; background: red;" id="az_clr_1">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="az_txt_1" class="txt"></div>
                          </div>
                        </td>
                          <td class="col-md-2">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="ca_chbx_1">
                            </div>
                            <div style="width:12px;margin-right: 10px; float:left; background: red;" id="ca_clr_1">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="ca_txt_1" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-1">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="cb_chbx_1">
                            </div>
                            <div style="width:12px;margin-left: 8px; float: left; background: red;" id="cb_clr_1">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="cb_txt_1" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-1">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="bo_chbx_1">
                            </div>
                            <div style="width:12px;margin-left: 10px; float: left; background: red;" id="bo_clr_1">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="bo_txt_1" class="txt"></div>
                          </div>
                        </td>
                         <!-- <td class="col-md-1">
                          <div style="width:100%">
                            <div style="width:10.33%; float: left;">
                              <input type="checkbox" id="mg_chbx_1">
                            </div>
                            <div style="width:18.33%;margin-left: 10%; float: left; background: red;" id="mg_clr_1">
                              &nbsp;
                            </div>
                          </div>
                        </td>-->
                        <td class="col-md-1">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="man_chbx_1">
                            </div>
                            <div style="width:12px;margin-left: 4px; float: left; background: red;" id="man_clr_1">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="man_txt_1" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-2">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="pt_chbx_1">
                            </div>
                            <div style="width:12px;margin-left: 6px;  float: left; background: red;" id="pt_clr_1">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="pt_txt_1" class="txt"></div>
                          </div>
                        </td>
                        
                        <td class="col-md-1">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="sd_chbx_1">
                            </div>
                            <div style="width:12px; margin-left:4px ;  float: left; background: red;" id="sd_clr_1">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="sd_txt_1" class="txt"></div>
                          
                          </div>
                        </td>
                        <!-- <td class="col-md-2">
                          <div style="width:100%">
                            <div style="width:10.33%; float: left;">
                              <input type="checkbox" id="zc_chbx_1">
                            </div>
                            <div style="width:37.33%;margin-right:4px;  float: right; background: red;" id="zc_clr_1">
                              &nbsp;
                            </div>
                          </div>
                        </td>-->
                      </tr>

                      <tr>
                        <td class="col-md-1">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="al_chbx_2">
                            </div>
                            <div style="width:12px; float: left; background: red;" id="al_clr_2">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="al_txt_2" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-1">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="az_chbx_2">
                            </div>
                            <div style="width:12px; float: left; background: red;" id="az_clr_2">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="az_txt_2" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-2">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="ca_chbx_2">
                            </div>
                            <div style="width:12px;margin-right: 10px; float:left; background: red;" id="ca_clr_2">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="ca_txt_2" class="txt"></div>
                          </div>
                        </td>
                         <td class="col-md-1">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="cb_chbx_2">
                            </div>
                            <div style="width:12px;margin-left: 8px; float: left; background: red;" id="cb_clr_2">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="cb_txt_2" class="txt"></div>
                          </div>
                        </td>
                          <td class="col-md-1">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="bo_chbx_2">
                            </div>
                            <div style="width:12px;margin-left: 10px; float: left; background: red;" id="bo_clr_2">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="bo_txt_2" class="txt"></div>
                          </div>
                        </td>
                          <!--<td class="col-md-1">
                          <div style="width:100%">
                            <div style="width:10.33%; float: left;">
                              <input type="checkbox" id="mg_chbx_2">
                            </div>
                            <div style="width:18.33%;margin-left: 10%; float: left; background: red;" id="mg_clr_2">
                              &nbsp;
                            </div>
                          </div>
                        </td>-->
                        <td class="col-md-1">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="man_chbx_3">
                            </div>
                            <div style="width:12px;margin-left: 4px; float: left; background: red;" id="man_clr_3">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="man_txt_2" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-2">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="pt_chbx_2">
                            </div>
                            <div style="width:12px;margin-left: 6px;  float: left; background: red;" id="pt_clr_2">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="pt_txt_2" class="txt"></div>
                          </div>
                        </td>
                        
                         <td class="col-md-1">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="sd_chbx_2">
                            </div>
                            <div style="width:12px;margin-right:8px ;  float: left; background: red;" id="sd_clr_2">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="sd_txt_2" class="txt"></div>
                          </div>
                        </td>
                         <!--<td class="col-md-2">
                          <div style="width:100%">
                            <div style="width:10.33%; float: left;">
                              <input type="checkbox" id="zc_chbx_2">
                            </div>
                            <div style="width:37.33%;margin-right:4px;  float: right; background: red;" id="zc_clr_2">
                              &nbsp;
                            </div>
                          </div>
                        </td>-->
                      </tr>
                      <tr>
                        <td class="col-md-1">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="al_chbx_3">
                            </div>
                            <div style="width:12px; float: left; background: red;" id="al_clr_3">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="al_txt_3" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-1">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="az_chbx_3">
                            </div>
                            <div style="width:12px; float: left; background: red;" id="az_clr_3">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="az_txt_3" class="txt"></div>
                          </div>
                        </td>
                          <td class="col-md-2">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="ca_chbx_3">
                            </div>
                            <div style="width:12px;margin-right: 10px; float:left; background: red;" id="ca_clr_3">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="ca_txt_3" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-1">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="cb_chbx_3">
                            </div>
                            <div style="width:12px;margin-left: 8px; float: left; background: red;" id="cb_clr_3">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="cb_txt_3" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-1">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="bo_chbx_3">
                            </div>
                            <div style="width:12px;margin-left: 10px; float: left; background: red;" id="bo_clr_3">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="bo_txt_3" class="txt"></div>
                          </div>
                        </td>
                          <!--<td class="col-md-1">
                          <div style="width:100%">
                            <div style="width:10.33%; float: left;">
                              <input type="checkbox" id="mg_chbx_3">
                            </div>
                            <div style="width:18.33%;margin-left: 10%; float: left; background: red;" id="mg_clr_3">
                              &nbsp;
                            </div>
                          </div>
                        </td>-->
                        <td class="col-md-1">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="man_chbx_4">
                            </div>
                            <div style="width:12px;margin-left: 4px; float: left; background: red;" id="man_clr_4">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="man_txt_3" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-2">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="pt_chbx_3">
                            </div>
                            <div style="width:12px;margin-left: 6px;  float: left; background: red;" id="pt_clr_3">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="pt_txt_3" class="txt"></div>
                          </div>
                        </td>
                        
                        <td class="col-md-1">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="sd_chbx_3">
                            </div>
                            <div style="width:12px;margin-right:8px ;  float: left; background: red;" id="sd_clr_3">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="sd_txt_3" class="txt"></div>
                          </div>
                        </td>
                         <!--<td class="col-md-2">
                          <div style="width:100%">
                            <div style="width:10.33%; float: left;">
                              <input type="checkbox" id="zc_chbx_3">
                            </div>
                            <div style="width:37.33%;margin-right:4px;  float: right; background: red;" id="zc_clr_3">
                              &nbsp;
                            </div>
                          </div>
                        </td>-->
                      </tr>

                      <tr>
                        <td class="col-md-1">
                          <div style="width:100%">
                            <!--<div style="width:10.33%; float: left;">
                              <input type="checkbox" id="al_chbx_4">
                            </div>
                            <div style="width:10.33%; float: left; background: red;" id="al_clr_4">
                              &nbsp;
                            </div>-->
                          </div>
                        </td>
                        <td class="col-md-1">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="az_chbx_4">
                            </div>
                            <div style="width:12px; float: left; background: red;" id="az_clr_4">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="az_txt_4" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-2">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="ca_chbx_4">
                            </div>
                            <div style="width:12px;margin-right: 10px; float:left; background: red;" id="ca_clr_4">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="ca_txt_4" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-1">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="cb_chbx_4">
                            </div>
                            <div style="width:12px;margin-left: 8px; float: left; background: red;" id="cb_clr_4">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="cb_txt_4" class="txt"></div>
                          </div>
                        </td>
                        <td class="col-md-1">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="bo_chbx_4">
                            </div>
                            <div style="width:12px;margin-left: 10px; float: left; background: red;" id="bo_clr_4">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="bo_txt_4" class="txt"></div>
                          </div>
                        </td>
                          <!--<td class="col-md-1">
                          <div style="width:100%">
                            <div style="width:10.33%; float: left;">
                              <input type="checkbox" id="mg_chbx_4">
                            </div>
                            <div style="width:18.33%;margin-left: 10%; float: left; background: red;" id="mg_clr_4">
                              &nbsp;
                            </div>
                          </div>
                        </td>-->
                        <td class="col-md-1">
                          <div style="width:100%">
                            <!--<div style="width:10.33%; float: left;">
                              <input type="checkbox" id="man_chbx_4">
                            </div>
                            <div style="width:15.33%;margin-left: 4px; float: left; background: red;" id="man_clr_4">
                              &nbsp;
                            </div>-->
                          </div>
                        </td>
                        <td class="col-md-2">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="pt_chbx_4">
                            </div>
                            <div style="width:12px;margin-left: 6px;  float: left; background: red;" id="pt_clr_4">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="pt_txt_4" class="txt"></div>
                          </div>
                        </td>
                        
                        <td class="col-md-1">
                          <div style="width:100%">
                            <div style="width:16px; float: left;">
                              <input type="checkbox" id="sd_chbx_4">
                            </div>
                            <div style="width:12px;margin-right:8px ;  float: left; background: red;" id="sd_clr_4">
                              &nbsp;
                            </div>
                            <div style="width:60%; float: left;" id="sd_txt_4" class="txt"></div>
                          </div>
                        </td>
                         <!--<td class="col-md-2">
                          <div style="width:100%">
                            <div style="width:10.33%; float: left;">
                              <input type="checkbox" id="zc_chbx_4">
                            </div>
                            <div style="width:37.33%;margin-right:4px;  float: right; background: red;" id="zc_clr_4">
                              &nbsp;
                            </div>
                          </div>
                        </td>-->
                      </tr>

  

                    </table>
                    
                  </div>
                  

              </div>
            </td>
          </tr>
          
      	</table>


      	<table id="variables_fisicas" style="display:none;" class="tableVariables">
	      	<button class="btnCerrar closeVariables" style="display:none;" id="btnCerrarFisicas">
	    		<a href="#"><span class="fa fa-times-circle"></span></a>
	      	</button>
	        
	        <tr>
	         	<th colspan="12" style="text-align:center !important;"><img src="/img/icoFisicasOn.png">Variables Físicas</th>
	        </tr>
	        <tr>
	        	<!--<td class="col-md-2">TEXTURA</td>-->
	        	<td class="col-md-2">Capacidad Almacenamiento de Humedad</td>
	        	<!--<td class="col-md-2">Indice de Humedad y Transpiración</td>-->
	          	<td class="col-md-2">ARCILLA</td>
	          	<td class="col-md-2">ARENA</td>
	          	<!--<td class="col-md-2">LIMO</td>-->
	          	<!--<td class="col-md-2">PROFUNDIDAD</td>-->
	        </tr>
	        <tr>
	          <!--<td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="tex_chbx_1">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="tex_clr_1">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="tex_txt_1">
		          	</div>
	          	</div>
	          </td>-->
	          <td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="cah_chbx_1">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="cah_clr_1">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="cah_txt_1">
		          	</div>
	          	</div>
	          </td>
			  <!--<td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="iht_chbx_1">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="iht_clr_1">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="iht_txt_1">
		          	</div>
	          	</div>
	          </td>-->
	          <td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="arc_chbx_1">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="arc_clr_1">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="arc_txt_1">
		          	</div>
	          	</div>
	          </td>
	          <td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="are_chbx_1">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="are_clr_1">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="are_txt_1">
		          	</div>
	          	</div>
	          </td>
	         <!-- <td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="lim_chbx_1">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="lim_clr_1">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="lim_txt_1">
		          	</div>
	          	</div>
	          </td>-->
	          <!--<td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="pro_chbx_1">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="pro_clr_1">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="pro_txt_1">
		          	</div>
	          	</div>
	          </td>-->
	        </tr>
	        <tr>
	          <!--<td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="tex_chbx_2">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="tex_clr_2">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="tex_txt_2">
		          	</div>
	          	</div>
	          </td>-->
	          <td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="cah_chbx_2">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="cah_clr_2">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="cah_txt_2">
		          	</div>
	          	</div>
	          </td>
			  <!--<td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="iht_chbx_2">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="iht_clr_2">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="iht_txt_2">
		          	</div>
	          	</div>
	          </td>-->
	          <td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="arc_chbx_2">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="arc_clr_2">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="arc_txt_2">
		          	</div>
	          	</div>
	          </td>
	          <td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="are_chbx_2">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="are_clr_2">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="are_txt_2">
		          	</div>
	          	</div>
	          </td>
	          <!--<td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="lim_chbx_2">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="lim_clr_2">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="lim_txt_2">
		          	</div>
	          	</div>
	          </td>-->
	          <!--<td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="pro_chbx_2">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="pro_clr_2">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="pro_txt_2">
		          	</div>
	          	</div>
	          </td>-->
	        </tr>
	        <tr>
	          <!--<td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="tex_chbx_3">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="tex_clr_3">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="tex_txt_3">
		          	</div>
	          	</div>
	          </td>-->
	          <td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="cah_chbx_3">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="cah_clr_3">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="cah_txt_3">
		          	</div>
	          	</div>
	          </td>
			  <!--<td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="iht_chbx_3">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="iht_clr_3">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="iht_txt_3">
		          	</div>
	          	</div>
	          </td>-->
	          <td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="arc_chbx_3">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="arc_clr_3">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="arc_txt_3">
		          	</div>
	          	</div>
	          </td>
	          <td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="are_chbx_3">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="are_clr_3">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="are_txt_3">
		          	</div>
	          	</div>
	          </td>
	          <!--<td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="lim_chbx_3">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="lim_clr_3">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="lim_txt_3">
		          	</div>
	          	</div>
	          </td>-->
	          <!--<td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		
		          	</div>
		          	<div style="width:10.33%; float: left;" id="pro_clr_3">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="pro_txt_3">
		          	</div>
	          	</div>
	          </td>-->
	        </tr>
	        <tr>
	          <!--<td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="tex_chbx_4">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="tex_clr_4">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="tex_txt_4">
		          	</div>
	          	</div>
	          </td>-->
	          <td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="cah_chbx_4">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="cah_clr_4">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="cah_txt_4">
		          	</div>
	          	</div>
	          </td>
			  <!--<td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="iht_chbx_4">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="iht_clr_4">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="iht_txt_4">
		          	</div>
	          	</div>
	          </td>-->
	          <td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="arc_chbx_4">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="arc_clr_4">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="arc_txt_4">
		          	</div>
	          	</div>
	          </td>
	          <td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="are_chbx_4">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="are_clr_4">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="are_txt_4">
		          	</div>
	          	</div>
	          </td>
	          <!--<td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="lim_chbx_4">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="lim_clr_4">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="lim_txt_4">
		          	</div>
	          	</div>
	          </td>-->
	          <!--<td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          	
		          	</div>
		          	<div style="width:10.33%; float: left;" id="pro_clr_4">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="pro_txt_4">
		          	</div>
	          	</div>
	          </td>-->
	        </tr>
      	</table>


      	<table id="variables_ip" style="display:none;" class="tableVariables">
	      	<button class="btnCerrar closeVariables" style="display:none;" id="btnCerrarIp">
	    		<a href="#"><span class="fa fa-times-circle"></span></a>
	      	</button>
	        
	        <tr>
	         	<th colspan="12" style="text-align:center !important;"><img src="/img/icoIndiceOn.png">Índice de productividad</th>
	        </tr>
	        <tr>
	          	<td class="col-md-2">IP</td>
	        </tr>
	        <tr>
	          <td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="ip_chbx_1">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="ip_clr_1">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="ip_txt_1">
		          	</div>
	          	</div>
	          </td>
	          <td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          	</div>
		          	<div style="width:10.33%; float: left;">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;">
		          	</div>
	          	</div>
	          </td>
	          <td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          	</div>
		          	<div style="width:10.33%; float: left;">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;">
		          	</div>
	          	</div>
	          </td>
	          <td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          	</div>
		          	<div style="width:10.33%; float: left;">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;">
		          	</div>
	          	</div>
	          </td>
	          <td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          	</div>
		          	<div style="width:10.33%; float: left;">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;">
		          	</div>
	          	</div>
	          </td>
	        </tr>
	        <tr>
	          <td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="ip_chbx_2">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="ip_clr_2">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="ip_txt_2">
		          	</div>
	          	</div>
	          </td>
	        </tr>
	        <tr>
	          <td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="ip_chbx_3">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="ip_clr_3">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="ip_txt_3">
		          	</div>
	          	</div>
	          </td>
	        </tr>
	        <tr>
	          <td class="col-md-2">
	          	<div style="width:100%">
	          		<div style="width:10.33%; float: left;">
		          		<input type="checkbox" id="ip_chbx_4">
		          	</div>
		          	<div style="width:10.33%; float: left; background: red;" id="ip_clr_4">
		          		&nbsp;
		          	</div>
		          	<div style="width:79.33%; float: left; font-size: 0.7em !important;" id="ip_txt_4">
		          	</div>
	          	</div>
	          </td>
	        </tr>
      	</table>
    </seccion>
  </main>
</div>

<div class="loading" id="loading">
    <span>
        Loading...
    </span>
</div>

<table id="tablaVariables" style="display:none; color:#fff; width: 550px; position: absolute; top: 100px; right: 10px; background-color: #404040; font-size:10px;">
  <tr>
    <td colspan="4" style="border-bottom: 2px solid #000; height: 60px; padding-left: 30px;"><img width="200" src="http://appgricola.com/public/site/wp-content/uploads/2017/07/Logo_Original.png" alt="">
      <button class="btnCerrar btnCloseValores" style="display: inline-block; float: right;">
        <a href="#"><span class="fa fa-times-circle"></span></a>
      </button>
    </td>
  </tr>
  <tr id="trIp" style="background-color: #595959">
    <td width="100"><img src="/images/icono.png" width="100%"></td>
    <td colspan="2" style=" height: 60px; padding-left: 10px;">ÍNDICE DE CAPACIDAD PRODUCTIVA</td>
    <td><span id="lblIP" style="background-color: #ccccccc; border: 1px solid #ccc; padding: 6px; font-size: 18px;"></span></td>
  </tr>
  <tr style="background-color: #404040">
    <td rowspan="4" style="padding-left: 10px;"><img src="/images/atomo.png" width="100%"></td>
    <td width="190"  class="tituloVariable">Materia orgánica</td>
    <td id="lblMo"></td>
    <td><div class="toGreen"><img id="markMo" src="/images/t2.png" width="15px"></div></td>
  </tr>
  <tr style="background-color: #404040">
    <td class="tituloVariable">pH</td>
    <td id="lblPh"></td>
    <td><div class="toGreen"><img id="markPh" src="/images/t2.png" width="15px"></div></td>
  </tr>
  <tr style="background-color: #404040">
    <td class="tituloVariable">Capacidad de intercambio catiónico</td>
    <td id="lblCic"></td>
    <td><div class="toGreen"><img id="markCic" src="/images/t2.png" width="15px"></div></td>
  </tr>
  <tr style="background-color: #404040">
    <td class="tituloVariable">Saturación de bases</td>
    <td id="lblSb"></td>
    <td><div class="toGreen"><img id="markSb" src="/images/t2.png" width="15px"></div></td>
  </tr>
  <tr style="background-color: #666666;">
    <td rowspan="7" style="padding-left: 10px;"><img src="/images/raiz.png" width="100%"></td>
    <td class="tituloVariable">Arcilla</td>
    <td id="lblArcilla"></td>
    <td width="150"><div class="toGreen"><img id="markArcilla" src="/images/t2.png" width="15px"></div></td>
  </tr>
  <tr style="background-color: #666666">
    <td class="tituloVariable">Arena</td>
    <td id="lblArena"></td>
    <td><div class="toGreen"><img id="markArena" src="/images/t2.png" width="15px"></div></td>
  </tr>
  <tr style="background-color: #666666">
    <td class="tituloVariable">Textura</td>
    <td id="lblTex"></td>
    <td></td>
  </tr>
  <tr style="background-color: #666666">
    <td class="tituloVariable">Capacidad de retención de humedad</td>
    <td id="lblCah"></td>
    <td><div class="toGreen"><img id="markCah" src="/images/t2.png" width="15px"></div></td>
  </tr>
  <tr style="background-color: #666666">
    <td class="tituloVariable">Índice de humedad</td>
    <td id="lblIht"></td>
    <td><div class="toGreen"><img id="markIht" src="/images/t2.png" width="15px"></div></td>
  </tr>
  <tr style="background-color: #666666">
    <td class="tituloVariable">Limo</td>
    <td id="lblLim"></td>
    <td><div class="toGreen"><img id="markLimo" src="/images/t2.png" width="15px"></div></td>
  </tr>
  <tr style="background-color: #666666">
    <td class="tituloVariable">Profundidad</td>
    <td id="lblPro"></td>
    <td><div class="toGreen"><img id="markProfundidad" src="/images/t2.png" width="15px"></div></td>
  </tr>
  <!--<tr style="background-color: #666666">
    <td class="tituloVariable">Zm fc</td>
    <td id="lblZmf"></td>
    <td><div class="toGreen"></div></td>
  </tr>
  <tr style="background-color: #666666">
    <td class="tituloVariable">Zm qb</td>
    <td id="lblZmq"></td>
    <td><div class="toGreenMiddle"></div></td>
  </tr>-->
</table>

<!--Modales-->
<!-- Modal para registrar productor-->
<div class="modal fade" id="modalProductor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Registrar productor</h4>
      </div>
      <div class="modal-body" style="height: 600px">
        <form id="productor_form" action="/backend/index/guardar" method="post">
          <div class="form-group col-md-10">
            <label for="">CURP</label>
            <input type="text" class="form-control" onkeyup="buscaCurp(event);" id="curp" name="curp" placeholder="Curp">
            <div id="divCurpNoEncontrada" style="display: none;" class="alert alert-danger">Esta CURP no está registrada, captura los datos del productor</div>
            <div id="divCurpEncontrada" style="display: none;" class="alert alert-success">CURP encontrada</div>
          </div>
          <div class="form-group col-md-2">
            <label for="">&nbsp;</label>
            <input type="button" onclick="buscaCurp(event);" id="btnBuscarCurp" name="btnBuscarCurp" class="btn btn-primary" value="Buscar">
          </div>
          <div class="form-group col-md-10 capturar" style="display:none">
            <label for="">Nombre de predio</label>
            <input type="text" class="form-control" id="nombre_predio" name="nombre_predio" placeholder="Nombre del predio" required>
          </div>
          <div class="form-group col-md-6 capturar" style="display:none">
            <label for="">Apellido paterno</label>
            <input type="text" class="form-control" id="apellido_paterno" name="apellido_paterno" placeholder="Apellido paterno" required>
          </div>
          <div class="form-group col-md-6 capturar" style="display:none">
            <label for="">Apellido materno</label>
            <input type="text" class="form-control" id="apellido_materno" name="apellido_materno" placeholder="Apellido materno" required>
          </div>
          <div class="form-group col-md-6 capturar" style="display:none">
            <label for="">Nombres</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombres" required>
          </div>
          <div class="form-group col-md-6 capturar" style="display:none">
            <label for="">Género</label>
            <select class="form-control" name="genero" id="genero" required>
              <option value="">Elija una opción</option>
              <option value="1">Femenino</option>
              <option value="2">Masculino</option>
            </select>
          </div>
          <div class="form-group col-md-6 capturar" style="display:none">
            <label for="">Estado</label>
            <select class="form-control" name="estado_id" id="estado_id" required>
              <option value="">Elija una opción</option>
              <?php foreach($this->estados as $estado){?>
              <option value="<?php echo $estado->id?>"><?php echo utf8_decode($estado->nombre)?></option>  
              <?php }?>
            </select>
          </div>
          <div class="form-group col-md-6 capturar" style="display:none">
            <label for="">Municipio</label>
            <select class="form-control" name="municipio_id" id="municipio_id" required>
              <option value="">Elija una opción</option>
            </select>
          </div>
          <div class="form-group col-md-6 capturar" style="display:none">
            <label for="">Localidad</label>
            <select class="form-control" name="localidad_id" id="localidad_id" required>
              <option value="">Elija una opción</option>
            </select>
          </div>
          <div class="form-group col-md-6 capturar" style="display:none">
            <label for="">Ejido o comunidad</label>
            <input type="text" class="form-control" id="ejido" name="ejido" placeholder="Ejido o comunidad">
          </div>
          <div class="form-group col-md-6 capturar" style="display:none">
            <label for="">¿Pertenece a una etnia indígena?</label>
            <select class="form-control" name="pertenece_etnia" id="pertenece_etnia" required>
              <option value="">Elija una opción</option>
              <option value="1">Si</option>
              <option value="2">No</option>
            </select>
          </div>
          <div class="form-group col-md-6" style="display: none;" id="campo_etnia" required>
            <label for="">Especifique a cual</label>
              <select class="form-control" name="etnia_id" id="etnia_id">
                <option value="">Elija una opción</option>
                <option value="1">Nahuas</option>
                <option value="2">Mayas</option>
                <option value="3">Zapotecas</option>
                <option value="4">Mixtecas</option>
                <option value="5">Otomíes</option>
                <option value="6">Totonacas</option>
                <option value="7">Tzotziles</option>
                <option value="8">Tzeltales</option>
                <option value="9">Mazahuas</option>
                <option value="10">Mazatecos</option>
                <option value="11">Huastecos</option>
                <option value="12">Choles</option>
                <option value="13">Purépechas</option>
                <option value="14">Chinantecas</option>
                <option value="15">Mixes</option>
                <option value="16">Tlapanecos</option>
                <option value="17">Tarahumaras</option>
                <option value="18">Mayos</option>
                <option value="19">Zoques</option>
                <option value="20">Chontales de Tabasco</option>
                <option value="21">Otros</option>
              </select>
          </div>
          <div class="form-group col-md-12 capturar" style="display:none">
            <label for="">¿Es innovador?</label>
            <select class="form-control" name="innovador" id="innovador" required>
              <option value="">Elija una opción</option>
              <option value="1">Si</option>
              <option value="2">No</option>
            </select>
          </div>
          <div class="form-group col-md-12 capturar" style="display:none">
            <label for="">¿Pertenece a una organización de tipo?</label>
            <table class="table table-bordered">
              <tr>
                <td><input onclick="activaSociedad(this.value);" type="checkbox" class="tipo"
                  name="sociedad_agricola" id="sociedad_agricola" value='1'><label>&nbsp;Agrícola  </label></td>
                <td><input type="checkbox" class="tipo"
                  name="sociedad_social" id="sociedad_social" value='1'><label>&nbsp;Social  </label></td>
                <td><input type="checkbox" class="tipo"
                  name="sociedad_religiosa" id="sociedad_religiosa" value='1'><label>&nbsp;Religiosa  </label></td>
              </tr>
            </table>
          </div>
          <div class="form-group col-md-12 capturar_juridica" id="campo_persona_juridica" style="display: none;">
            <label for="">Seleccione la persona jurídica de la organización</label>
            <select class="form-control" name="persona_juridica_id" id="persona_juridica_id">
              <option value="">Elija una opción</option>
              <option value="1">Ejido</option>
              <option value="2">SPR</option>
              <option value="3">Cooperativa</option>
              <option value="4">USPR</option>
              <option value="5">SSS</option>
              <option value="6">Sociedad anónima</option>
              <option value="7">OTRA</option>
            </select>
          </div>
          <div class="form-group col-md-12">
            <button id="btnCerrarDatosGenerales" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button id="btnGuardarDatosGenerales" type="button" class="btn btn-primary" onclick="guardarProductor();" >Guardar</button>
          </div>
          
        </form>
        
      </div>
      
    </div>
  </div>
</div>




<!--JS--> 
<?php echo $this->headScript(); ?>
<script type="text/javascript" src="/js/jgrowl/jquery.jgrowl.js"></script>
<script src="/js/prefixfree.min.js"></script>
</body>
</html>