<section class="content">
  <div class="box" style="padding: 3em;">
    <form id="frm" action="javascript:void(0)" name="frm" class="form-horizontal" role="form">
      <div class="row">
        <div class="form-group col-xs-6">
          <label for="nombre" class="col-xs-3 control-label">*Valor:</label>
          <div class="col-xs-9">
            <input type="text" id="valor" name="valor" class="form-control input-sm" value="<?php echo($this->registro->valor); ?>"  maxlength="100" placeholder="Valor" />
          </div>
        </div>
        <div class="form-group col-xs-6">
          <label for="marca" class="col-xs-3 control-label">*Catálogo al que pertenece:</label>
          <div class="col-xs-9">
            <select id="catalogo_id" name="catalogo_id" class="form-control input-sm">
            	<option value=""> Seleccione un catálogo </option>
                <?php
          					foreach($this->catalogos as $catalogo){?>
          						<option value="<?php echo $catalogo->id ?>" <?php echo ($this->registro->catalogo_id==$catalogo->id)?'selected="selected"':''?>.><?php echo $catalogo->nombre;?></option>
          				<?php }?>
           </select>
          </div>
        </div>
      </div>
      <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id; ?>" />
    </form>
  </div>
  <div class="height-5" style="margin-top:50px"></div>
  <div class="row center-block" style="">
    <div class="height-5"></div>
      <div class="col-xs-2 pull-left" id="btnGuardar">
        <a class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
      </div>
      <div class="col-xs-2 pull-left" onclick="limpiar()">
        <a class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Limpiar</a>
      </div>
    </div>
  </div>
</section>