<div id="carrusel">
    <ul class="bxslider">
        <?php
            $banners = Banner::obtenerBanners();
            foreach ($banners as $banner) 
            {
                echo '<li><img src="/images/banners/'.$banner->imagen.'" alt="" title=""></li>';
            }
        ?>
    </ul>
</div><!--
--><aside>
    <article id="aside-inicio1" class="aside-item">
        <h2>Ubicación de las test2<br>Estaciones de Servicio</h2>
        <a href="#" title="" class="btn">Ver más</a>
    </article><!--
    --><article id="aside-inicio2" class="aside-item">
        <h2>Conoce más de nosotros<br>Contáctanos.</h2>
        <a href="#" title="" class="btn">Ver más</a>
    </article>
</aside>