<form id="frm-3" name="frm-3" class="form-horizontal" method="post" action="/backend/diagnosticos/guardar-renta" role="form">
    <table id="tb_renta" width="100%" border="0" class="table table-bordered" style="font-size: 12px">
        <tr>
            <th scope="col" class="col-xs-2 text-center">Concepto</th>
            <th scope="col" class="col-xs-2 text-center">¿Fue realizado?</th>
            <th scope="col" class="col-xs-1 text-center">Unidad</th>
            <th scope="col" class="col-xs-1 text-center">Cantidad</th>
            <th scope="col" class="col-xs-2 text-center">Costo unitario</th>
            <th scope="col" class="col-xs-2 text-center">Costo total</th>
            <th scope="col" class="col-xs-2 text-center text-center">F. Realización</th>
        </tr>
        <tr>
            <th scope="row">Canales de desvió</th>
            <td align="center">
            	<label>Si<input value="1" type="radio" name="canal_rentado" id="canal_Si"/></label> &nbsp;
                <label>No<input value="2" type="radio" name="canal_rentado" id="canal_No"/></label>
            </td>
            <td align="center" valign="middle">	
        		<select id="canal_id_unidad" class="form-control" name="canal_id_unidad" style="color:gray;">
                </select>
            </td>
            <td>
        		<div class="input-group">
                    <input type="text" id="canal_cantidad" name="canal_cantidad" onkeypress="return numeros(event)" class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
        		<div class="input-group">
                    <input type="text" id="canal_precio" name="canal_precio"  onkeypress="return numeros(event)"class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
        		<div class="input-group">
                    <input type="text" id="canal_importe" name="canal_importe" onkeypress="return numeros(event)" class="form-control numeric required import" value="" />
                </div>
            </td>
            <td>
        		<div class="input-group date" id="div_canal_fecha">
                    <input type='text' class="form-control" disabled id="canal_fecha" name="canal_fecha" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
        </tr>

        <tr>
            <th scope="row">Trazo de surcado</th>
            <td align="center">
                <label>Si<input value="1" type="radio" name="trazo_rentado" id="trazo_Si"/></label> &nbsp;
                <label>No<input value="2" type="radio" name="trazo_rentado" id="trazo_No"/></label>
            </td>
            <td align="center" valign="middle"> 
                <select id="trazo_id_unidad" name="trazo_id_unidad" class="form-control" style="color:gray;">
                </select>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="trazo_cantidad" name="trazo_cantidad" onkeypress="return numeros(event)" class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="trazo_precio" name="trazo_precio" onkeypress="return numeros(event)" class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="trazo_importe" name="trazo_importe" onkeypress="return numeros(event)" class="form-control numeric required import" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date" id="div_trazo_fecha">
                    <input type='text' class="form-control" disabled id="trazo_fecha" name="trazo_fecha" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
        </tr>

        <tr>
            <th scope="row">Emparejamiento</th>
            <td align="center">
                <label>Si<input value="1" type="radio" name="emparejamiento_rentado" id="emparejamiento_Si"/></label> &nbsp;
                <label>No<input value="2" type="radio" name="emparejamiento_rentado" id="emparejamiento_No"/></label>
            </td>
            <td align="center" valign="middle"> 
                <select id="emparejamiento_id_unidad" class="form-control" name="emparejamiento_id_unidad" style="color:gray;">
                </select>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="emparejamiento_cantidad" name="emparejamiento_cantidad" onkeypress="return numeros(event)" class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="emparejamiento_precio" name="emparejamiento_precio" onkeypress="return numeros(event)" class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="emparejamiento_importe" name="emparejamiento_importe" onkeypress="return numeros(event)" class="form-control numeric required import" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date" id="div_emparejamiento_fecha">
                    <input type='text' class="form-control" disabled id="emparejamiento_fecha"  onkeypress="return numeros(event)" name="emparejamiento_fecha" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
        </tr>

        <tr>
            <th scope="row">Contreo</th>
            <td align="center">
                <label>Si<input value="1" type="radio" name="contreo_rentado" id="contreo_Si"/></label> &nbsp;
                <label>No<input value="2" type="radio" name="contreo_rentado" id="contreo_No"/></label>
            </td>
            <td align="center" valign="middle"> 
                <select id="contreo_id_unidad" class="form-control" name="contreo_id_unidad" style="color:gray;">
                </select>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="contreo_cantidad" name="contreo_cantidad" onkeypress="return numeros(event)"  class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="contreo_precio" name="contreo_precio" onkeypress="return numeros(event)" class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="contreo_importe" name="contreo_importe" onkeypress="return numeros(event)" class="form-control numeric required import" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date" id="div_contreo_fecha">
                    <input type='text' class="form-control" disabled id="contreo_fecha" name="contreo_fecha" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
        </tr>

        <tr>
            <th scope="row">Despiedre</th>
            <td align="center">
                <label>Si<input value="1" type="radio" name="despiedre_rentado" id="despiedre_Si"/></label> &nbsp;
                <label>No<input value="2" type="radio" name="despiedre_rentado" id="despiedre_No"/></label>
            </td>
            <td align="center" valign="middle"> 
                <select id="despiedre_id_unidad" class="form-control" name="despiedre_id_unidad" style="color:gray;">
                </select>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="despiedre_cantidad" name="despiedre_cantidad" onkeypress="return numeros(event)" class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="despiedre_precio" name="despiedre_precio" onkeypress="return numeros(event)" class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="despiedre_importe" name="despiedre_importe" onkeypress="return numeros(event)" class="form-control numeric required import" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date" id="div_despiedre_fecha">
                    <input type='text' class="form-control" disabled id="despiedre_fecha" name="despiedre_fecha" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
        </tr>

        <tr>
            <th scope="row">Reforzamiento de cercado</th>
            <td align="center">
                <label>Si<input value="1" type="radio" name="reforzamiento_rentado" id="reforzamiento_Si"/></label> &nbsp;
                <label>No<input value="2" type="radio" name="reforzamiento_rentado" id="reforzamiento_No"/></label>
            </td>
            <td align="center" valign="middle"> 
                <select id="reforzamiento_id_unidad" class="form-control" name="reforzamiento_id_unidad" style="color:gray;">
                </select>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="reforzamiento_cantidad" name="reforzamiento_cantidad" onkeypress="return numeros(event)" class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="reforzamiento_precio" name="reforzamiento_precio" onkeypress="return numeros(event)" class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="reforzamiento_importe" name="reforzamiento_importe" onkeypress="return numeros(event)" class="form-control numeric required import" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date" id="div_reforzamiento_fecha">
                    <input type='text' class="form-control" disabled id="reforzamiento_fecha" name="reforzamiento_fecha" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
        </tr>

        <tr>
            <th scope="row">Otros</th>
            <td align="center">
                <label>Si<input value="1" type="radio" name="otros_rentado" id="otros_Si"/></label> &nbsp;
                <label>No<input value="2" type="radio" name="otros_rentado" id="otros_No"/></label>
            </td>
            <td align="center" valign="middle"> 
                <select id="otros_id_unidad" class="form-control" name="otros_id_unidad" style="color:gray;">
                </select>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="otros_cantidad" name="otros_cantidad" onkeypress="return numeros(event)" class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="otros_precio" name="otros_precio" onkeypress="return numeros(event)" class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="otros_importe" name="otros_importe" onkeypress="return numeros(event)" class="form-control numeric required import" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date" id="div_otros_fecha">
                    <input type='text' class="form-control" disabled id="otros_fecha" name="otros_fecha" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
        </tr>
    </table>

    <div class="row center-block">
    	<div class="col-xs-2 pull-left">
            <a  class="btn btn-block btn-success" id="btn-clean-adp"><i class="fa fa-eraser">&nbsp;</i>Borrar</a>
        </div>
        <div class="col-xs-2 pull-left" id="btn-save-adp">
            <a  class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
        </div>
        <!---
        <div class="col-xs-3 pull-left" id="btn-congelar-adp">
          <a  class="btn btn-block btn-success frmbtn"><i class="fa fa-minus-circle">&nbsp;</i>Finalizar captura</a>
        </div>
        ---->
        
        
    </div>


</form>