<form id="frm-16" name="frm-16" class="form-horizontal" method="post" action="/backend/diagnosticos/guardar-acondicionamiento" role="form">
<table width="100%" border="0" class="table table-bordered" style="font-size: 12px">
  <tr>
    <th scope="col" class="col-xs-2 text-center">Concepto</th>
    <th scope="col" class="col-xs-1 text-center">Unidad</th>
    <th scope="col" class="col-xs-1 text-center">Cantidad</th>
    <th scope="col" class="col-xs-2 text-center">P.U.</th>
    <th scope="col" class="col-xs-2 text-center">Importe/ha</th>
    <th scope="col" class="col-xs-2 text-center text-center">F. Realización</th>
    <th scope="col" class="col-xs-2 text-center">Innovación</th>
  </tr>
  
    <tr>
    <th scope="row">
    	Drenaje parcelario<br /><br />
        <label>Mecanizada<input type="radio" name="aplicacion" checked="checked" /></label><br />
        <label>Manual<input type="radio" name="aplicacion" /></label><br />
    </th>
    <td>
    	<select id="tipo_unidad_" style="width:80%; color:gray;">
            <option value="1">HA</option>
        </select>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="aplicacion_cantidad" name="aplicacion_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="aplicacion_pu" name="aplicacion_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="aplicacion_importe" name="aplicacion_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group date">
                <input type='text' class="form-control" disabled id="aplicacion_frealizacion"
                 name="aplicacion_frealizacion" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="aplicacion_innovacion" name="aplicacion_innovacion" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
  </tr>

  
  <tr>
    <th scope="row">Despiedre, otros</th>
    <td>	
		<div class="input-group">
            <select id="tipo_unidad_" style="width:80%; color:gray;">
                <option value="1">HA</option>
            </select>
        </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="cal_cantidad" name="cal_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="cal_pu" name="cal_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="cal_importe" name="cal_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group date">
                <input type='text' class="form-control" disabled id="cal_frealizacion"
                 name="cal_frealizacion" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="cal_innovacion" name="cal_innovacion" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
  </tr>
   <tr>
    <th scope="row">Reforzamiento de cercado</th>
    <td>	
		<div class="input-group">
            <select id="tipo_unidad_" style="width:80%; color:gray;">
                <option value="1">HA</option>
            </select>
        </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="cal_cantidad" name="cal_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="cal_pu" name="cal_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="cal_importe" name="cal_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group date">
                <input type='text' class="form-control" disabled id="cal_frealizacion"
                 name="cal_frealizacion" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="cal_innovacion" name="cal_innovacion" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
  </tr>
  <tfoot>
    <tr>
      <td colspan="2">Subtotal por hectarea (1) </td>
      <td colspan="6">$</td>
      
    </tr>
  </tfoot>
</table>

<table width="100%" border="0" class="table table-bordered" style="font-size: 12px">
  <tr>
    <td  class="col-xs-2 azul">15.- TRILLA</td>
    <td class="col-xs-1">	
    		<div class="input-group">
                 <input type="text" id="cal_cantidad" name="cal_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td class="col-xs-1">&nbsp;</td>
    <td class="col-xs-2">&nbsp;</td>
    <td class="col-xs-2">&nbsp;</td>
    <td class="col-xs-2">
    		<div class="input-group date">
                <input type='text' class="form-control" disabled id="cal_frealizacion"
                 name="cal_frealizacion" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
        </div>
    </td>
    <td class="col-xs-2">
    		<div class="input-group">
                 <input type="text" id="cal_innovacion" name="cal_innovacion" 
                 class="form-control numeric required" value="" />
        </div>
    </td>
  </tr>
  <tr>
    <td  class="col-xs-2 azul">16.- FLETE</td>
    <td class="col-xs-1">	
    		<div class="input-group">
                 <input type="text" id="cal_cantidad" name="cal_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td class="col-xs-1">&nbsp;</td>
    <td class="col-xs-2">&nbsp;</td>
    <td class="col-xs-2">&nbsp;</td>
    <td class="col-xs-2">
    		<div class="input-group date">
                <input type='text' class="form-control" disabled id="cal_frealizacion"
                 name="cal_frealizacion" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
        </div>
    </td>
    <td class="col-xs-2">
    		<div class="input-group">
                 <input type="text" id="cal_innovacion" name="cal_innovacion" 
                 class="form-control numeric required" value="" />
        </div>
    </td>
  </tr>
  <tr>
    <td  class="col-xs-2 azul">17.- SEGURO AGRÍCOLA</td>
    <td class="col-xs-1">	
    		<div class="input-group">
                 <input type="text" id="cal_cantidad" name="cal_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td class="col-xs-1">&nbsp;</td>
    <td class="col-xs-2">&nbsp;</td>
    <td class="col-xs-2">&nbsp;</td>
    <td class="col-xs-2">
    		<div class="input-group date">
                <input type='text' class="form-control" disabled id="cal_frealizacion"
                 name="cal_frealizacion" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
        </div>
    </td>
    <td class="col-xs-2">
    		<div class="input-group">
                 <input type="text" id="cal_innovacion" name="cal_innovacion" 
                 class="form-control numeric required" value="" />
        </div>
    </td>
  </tr>
  <tr>
    <td class="col-xs-2 azul">18.- ASISTENCIA TECNICA</td>
    <td class="col-xs-1">	
    		<div class="input-group">
                 <input type="text" id="cal_cantidad" name="cal_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td class="col-xs-1">&nbsp;</td>
    <td class="col-xs-2">&nbsp;</td>
    <td class="col-xs-2">&nbsp;</td>
    <td class="col-xs-2">
    		<div class="input-group date">
                <input type='text' class="form-control" disabled id="cal_frealizacion"
                 name="cal_frealizacion" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
        </div>
    </td>
    <td class="col-xs-2">
    		<div class="input-group">
                 <input type="text" id="cal_innovacion" name="cal_innovacion" 
                 class="form-control numeric required" value="" />
        </div>
    </td>
  </tr>
  <tr>
    <td  class="col-xs-2 azul">19.- COSTO DE ADMINISTRACION</td>
    <td class="col-xs-1">	
    		<div class="input-group">
                 <input type="text" id="cal_cantidad" name="cal_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td class="col-xs-1">&nbsp;</td>
    <td class="col-xs-2">&nbsp;</td>
    <td class="col-xs-2">&nbsp;</td>
    <td class="col-xs-2">
    		<div class="input-group date">
                <input type='text' class="form-control" disabled id="cal_frealizacion"
                 name="cal_frealizacion" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
        </div>
    </td>
    <td class="col-xs-2">
    		<div class="input-group">
                 <input type="text" id="cal_innovacion" name="cal_innovacion" 
                 class="form-control numeric required" value="" />
        </div>
    </td>
  </tr>
  <tr>
    <td  class="col-xs-2 azul">20.- COBERTURA DE PRECIOS</td>
    <td class="col-xs-1">	
    		<div class="input-group">
                 <input type="text" id="cal_cantidad" name="cal_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td class="col-xs-1">&nbsp;</td>
    <td class="col-xs-2">&nbsp;</td>
    <td class="col-xs-2">&nbsp;</td>
    <td class="col-xs-2">
    		<div class="input-group date">
                <input type='text' class="form-control" disabled id="cal_frealizacion"
                 name="cal_frealizacion" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
        </div>
    </td>
    <td class="col-xs-2">
    		<div class="input-group">
                 <input type="text" id="cal_innovacion" name="cal_innovacion" 
                 class="form-control numeric required" value="" />
        </div>
    </td>
  </tr>
  <tr>
    <td  class="col-xs-2 azul">21.- GARANTÍA LIQUIDA</td>
    <td class="col-xs-1">	
    		<div class="input-group">
                 <input type="text" id="cal_cantidad" name="cal_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td class="col-xs-1">&nbsp;</td>
    <td class="col-xs-2">&nbsp;</td>
    <td class="col-xs-2">&nbsp;</td>
    <td class="col-xs-2">
    		<div class="input-group date">
                <input type='text' class="form-control" disabled id="cal_frealizacion"
                 name="cal_frealizacion" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
        </div>
    </td>
    <td class="col-xs-2">
    		<div class="input-group">
                 <input type="text" id="cal_innovacion" name="cal_innovacion" 
                 class="form-control numeric required" value="" />
        </div>
    </td>
  </tr>
  <tr>
    <td  class="col-xs-2 azul">22.- INTERESES</td>
    <td class="col-xs-1">Tasa anual</td>
    <td class="col-xs-1">&nbsp;</td>
    <td class="col-xs-2">CAPITAL</td>
    <td class="col-xs-2">&nbsp;</td>
    <td class="col-xs-2">
    		<div class="input-group date">
                <input type='text' class="form-control" disabled id="cal_frealizacion"
                 name="cal_frealizacion" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
        </div>
    </td>
    <td class="col-xs-2">
    		<div class="input-group">
                 <input type="text" id="cal_innovacion" name="cal_innovacion" 
                 class="form-control numeric required" value="" />
        </div>
    </td>
  </tr>  
    <tfoot>
    <tr>
      <td colspan="2">COSTO TOTAL POR HECTAREA </td>
      <td colspan="6">$</td>
      
    </tr>
    <tr>
      <td colspan="2">COSTO TOTAL SUPERFICIE SEMBRADA </td>
      <td colspan="6">$</td>
      
    </tr>
    <tr>
      <td colspan="2">COSTO POR TONELADA </td>
      <td colspan="6">$</td>
      
    </tr>
  </tfoot>
</table>
<h3 class="text-center">Ingresos esperados</h3>
<table id="tabla" width="100%" border="0" class="table table-bordered" style="font-size: 12px">
  <tr>
    <th scope="col" class="col-xs-2 text-center">Producto</th>
    <th scope="col" class="col-xs-1 text-center">Unidad</th>
    <th scope="col" class="col-xs-2 text-center">Cantidad</th>
    <th scope="col" class="col-xs-2 text-center">P.U.</th>
    <th scope="col" class="col-xs-2 text-center">Importe/ha</th>
    <th scope="col" class="col-xs-2 text-center">%</th>
    <th scope="col" class="col-xs-1 text-center">Agregar</th>
  </tr>
  <tr id="fila" class="hide">
    <th scope="row">
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_" name="nombre_herbicida_" 
                 class="form-control numeric required" value="" />
             </div>
    </th>
    <td>	
    		<div class="input-group">
                <input type="text" id="nombre_herbicida_" name="nombre_herbicida_" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_cantidad" name="nombre_herbicida_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_pu" name="nombre_herbicida_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_importe" name="nombre_herbicida_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_innovacion" name="nombre_herbicida_innovacion" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                
        		<i id="eliminarFila" style="width:40px;" 
                class="btn btn-block btn-danger fa fa-times-circle">&nbsp;</i>

        </div>
    </td>
  </tr>
  <tr>
    <th scope="row">Grano</th>
    <td>
        <select id="tipo_unidad_" style="width:80%; color:gray;">
            <option value="1">Ton</option>
        </select>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_cantidad" name="nombre_herbicida_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_pu" name="nombre_herbicida_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_importe" name="nombre_herbicida_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_innovacion" name="nombre_herbicida_innovacion" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		
    </td>
  </tr>
  <tr>
    <th scope="row">Elote</th>
<td>	
    		<div class="input-group">
                <input type="text" id="nombre_herbicida_" name="nombre_herbicida_" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_cantidad" name="nombre_herbicida_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_pu" name="nombre_herbicida_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_importe" name="nombre_herbicida_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_innovacion" name="nombre_herbicida_innovacion" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th scope="row">Forraje rastrojo</th>
    <td>	
    		<div class="input-group">
                <input type="text" id="nombre_herbicida_" name="nombre_herbicida_" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_cantidad" name="nombre_herbicida_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_pu" name="nombre_herbicida_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_importe" name="nombre_herbicida_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_innovacion" name="nombre_herbicida_innovacion" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th scope="row">Forraje verde</th>
    <td>	
    		<div class="input-group">
                <input type="text" id="nombre_herbicida_" name="nombre_herbicida_" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_cantidad" name="nombre_herbicida_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_pu" name="nombre_herbicida_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_importe" name="nombre_herbicida_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_innovacion" name="nombre_herbicida_innovacion" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th scope="row">Hojas</th>
    <td>	
    		<div class="input-group">
                <input type="text" id="nombre_herbicida_" name="nombre_herbicida_" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_cantidad" name="nombre_herbicida_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_pu" name="nombre_herbicida_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_importe" name="nombre_herbicida_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_innovacion" name="nombre_herbicida_innovacion" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th scope="row">Indemnizacion del seguro</th>
    <td>	
    		<div class="input-group">
                <input type="text" id="nombre_herbicida_" name="nombre_herbicida_" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_cantidad" name="nombre_herbicida_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_pu" name="nombre_herbicida_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_importe" name="nombre_herbicida_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_innovacion" name="nombre_herbicida_innovacion" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th scope="row">Procampo</th>
    <td>	
    		<div class="input-group">
                <input type="text" id="nombre_herbicida_" name="nombre_herbicida_" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_cantidad" name="nombre_herbicida_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_pu" name="nombre_herbicida_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_importe" name="nombre_herbicida_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_innovacion" name="nombre_herbicida_innovacion" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>&nbsp;</td>
  </tr>
    <tr>
  	<th align="center" colspan="8" style="text-align:center; background-color:#a1c1d3;">
    	Agregar otro producto
    </th>
  </tr>

   <tr id="despues">
    <th scope="row">
    		<div class="input-group">
                 <input type="text" id="semilla_nombre_" name="semilla_nombre_" 
                 class="form-control numeric required" value="" placeholder="Nombre, Marca y Número" />
             </div>
    </th>
    <td>	
    		<div class="input-group">
                <input type="text" id="nombre_herbicida_" name="nombre_herbicida_" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_cantidad" name="nombre_herbicida_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_pu" name="nombre_herbicida_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_importe" name="nombre_herbicida_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="nombre_herbicida_importe" name="nombre_herbicida_importe" 
                 class="form-control numeric required" value="" />
             </div></td>
    <td>
    		<div class="input-group">
                
        		<i onclick="agregarFila('frm-16','')" style="width:40px;" 
                class="btn btn-block btn-warning fa fa-plus-circle">&nbsp;</i>

             </div>
    </td>
  </tr>
</table>


<table width="100%" border="0" class="table table-bordered" style="font-size: 12px">
  <tr>
    <th colspan="2" scope="col" class="text-center">INDICE DE RENTABILIDAD</th>
    </tr>
  <tr>
    <td class="col-xs-6">Ingresos / 1</td>
    <td class="col-xs-6"></td>
  </tr>
  <tr>
    <td>Ingresos / 2</td>
    <td>&nbsp;</td>
  </tr>
  <tfoot>
    <tr>
      <td>PUNTO EQUILIBRIO Ton Grano / HA</td>
      <td></td>
      
    </tr>
  </tfoot>
</table>



<div class="row center-block">
	<div class="col-xs-2 pull-left">
        <a href="#" class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
    </div>
    <div class="col-xs-2 pull-left">
        <a href="#" class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Limpiar</a>
    </div>
</div>


</form>