<h3>BIODIVERSIDAD Y SABERES TRADICIONALES</h3>
<br>
<form>
	<div class="form-group col-md-12">
		<table class="table table-bordered" id="tbl_biodiversidad_plantas">
			<caption>Mencione las especies de plantas presentes en la parcela y su importancia</caption>
			<tr>
				<th>Especie</th>
				<th>Nombre común</th>
				<th>Nombre científico</th>
				<th>¿Es cultivada?</th>
				<th>Forma biológica</th>
				<th>Usos</th>
				<th>¿Le interesa que se conserve?</th>
				<th>Comentarios</th>
				<th></th>
			</tr>
			<tr>
				<td>
					<select class="form-control" name="biodiversidad_plantas_especie" id="biodiversidad_plantas_especie">
						<option value="">Elija una opción</option>
						<?php for($i=1; $i<=5; $i++){?>
						<option value="<?php echo $i?>"><?php echo $i?></option>
						<?php }?>
					</select>
				</td>
				<td><input type="text" class="form-control" name="biodiversidad_plantas_comun" id="biodiversidad_plantas_comun"></td>
				<td><input type="text" class="form-control" name="biodiversidad_plantas_cientifico" id="biodiversidad_plantas_cientifico"></td>
				<td>
					<select class="form-control" name="biodiversidad_plantas_cultivada" id="biodiversidad_plantas_cultivada">
						<option value="">Elija una opción</option>
						<option value="1">Si</option>
						<option value="0">No</option>
					</select>
				</td>
				<td>
					<select class="form-control" name="biodiversidad_plantas_forma_biologica" id="biodiversidad_plantas_forma_biologica">
						<option value="">Elija una opción</option>
						<?php foreach($this->catalogo_biodiversidad_formas as $forma){?>
							<option value="<?php echo $forma->id?>"><?php echo $forma->valor?></option>
						<?php }?>
					</select>
				</td>
				<td>
					<select class="form-control" name="biodiversidad_plantas_usos" id="biodiversidad_plantas_usos">
						<option value="">Elija una opción</option>
						<?php foreach($this->catalogo_biodiversidad_usos as $uso){?>
							<option value="<?php echo $uso->id?>"><?php echo $uso->valor?></option>
						<?php }?>
					</select>
				</td>
				<td>
					<select class="form-control" name="biodiversidad_plantas_conserve" id="biodiversidad_plantas_conserve">
						<option value="">Elija una opción</option>
						<option value="1">Si</option>
						<option value="0">No</option>
					</select>
				</td>
				<td width="15%"><input type="text" class="form-control" name="biodiversidad_plantas_comentarios" id="biodiversidad_plantas_comentarios"></td>
				<td><input type="button" class="btn btn-success" value="+" onclick="agregarBiodiversidadPlantas();"></td>
			</tr>
			<?php foreach($this->biodiversidad_plantas as $planta){?>
			<tr id="fila_biodiversidad_plantas_<?php echo $planta->id?>">
				<td><?php echo $planta->especie?></td>
				<td><?php echo $planta->nombre_comun?></td>
				<td><?php echo $planta->nombre_cientifico?></td>
				<td><?php echo ($planta->es_cultivada==1)?"Si":"No"?></td>
				<td><?php echo $planta->BiodiversidadForma->valor?></td>
				<td><?php echo $planta->BiodiversidadUso->valor?></td>
				<td><?php echo ($planta->interesa_conserve==1)?"Si":"No"?></td>
				<td><?php echo $planta->comentarios?></td>
				<td><input type="button" class="btn btn-danger" value="-" onclick="eliminarBiodiversidadPlantas(<?php echo $planta->id?>);"></td>
			</tr>
			<?php }?>
		</table>
		<table class="table table-bordered" id="tbl_biodiversidad_animales">
			<caption>Mencione las especies de animales presentes en la parcela y su importancia</caption>
			<tr>
				<th>Especie</th>
				<th>Nombre común</th>
				<th>Nombre científico</th>
				<th>Clasificación</th>
				<th>Usos</th>
				<th>¿Le interesa que se conserve?</th>
				<th>Comentarios</th>
				<th></th>
			</tr>
			<tr>
				<td>
					<select class="form-control" name="biodiversidad_animales_especie" id="biodiversidad_animales_especie">
						<option value="">Elija una opción</option>
						<?php for($i=1; $i<=5; $i++){?>
						<option value="<?php echo $i?>"><?php echo $i?></option>
						<?php }?>
					</select>
				</td>
				<td><input type="text" class="form-control" name="biodiversidad_animales_comun" id="biodiversidad_animales_comun"></td>
				<td><input type="text" class="form-control" name="biodiversidad_animales_cientifico" id="biodiversidad_animales_cientifico"></td>
			
				<td>
					<select class="form-control" name="biodiversidad_animales_clasificacion" id="biodiversidad_animales_clasificacion">
						<option value="">Elija una opción</option>
						<?php foreach($this->catalogo_biodiversidad_animales_clasificacion as $forma){?>
							<option value="<?php echo $forma->id?>"><?php echo $forma->valor?></option>
						<?php }?>
					</select>
				</td>
				<td>
					<select class="form-control" name="biodiversidad_animales_usos" id="biodiversidad_animales_usos">
						<option value="">Elija una opción</option>
						<?php foreach($this->catalogo_biodiversidad_animales_usos as $uso){?>
							<option value="<?php echo $uso->id?>"><?php echo $uso->valor?></option>
						<?php }?>
					</select>
				</td>
				<td>
					<select class="form-control" name="biodiversidad_animales_conserve" id="biodiversidad_animales_conserve">
						<option value="">Elija una opción</option>
						<option value="1">Si</option>
						<option value="0">No</option>
					</select>
				</td>
				<td width="15%"><input type="text" class="form-control" name="biodiversidad_animales_comentarios" id="biodiversidad_animales_comentarios"></td>
				<td><input type="button" class="btn btn-success" value="+" onclick="agregarBiodiversidadAnimales();"></td>
			</tr>
			<?php foreach($this->biodiversidad_animales as $animal){?>
			<tr id="fila_biodiversidad_animales_<?php echo $animal->id?>">
				<td><?php echo $animal->especie?></td>
				<td><?php echo $animal->nombre_comun?></td>
				<td><?php echo $animal->nombre_cientifico?></td>
				<td><?php echo $animal->BiodiversidadClasificacion->valor?></td>
				<td><?php echo $animal->BiodiversidadUso->valor?></td>
				<td><?php echo ($animal->interesa_conserve==1)?"Si":"No"?></td>
				<td><?php echo $animal->comentarios?></td>
				<td><input type="button" class="btn btn-danger" value="-" onclick="eliminarBiodiversidadAnimales(<?php echo $animal->id?>);"></td>
			</tr>
			<?php }?>
		</table>
		<table class="table table-bordered" id="tbl_biodiversidad_actividades">
			<caption>Mencione algunas actividades tradicionales que desarrolla o desarrollaba durante el ciclo de cultivo</caption>
			<tr>
				<th>Actividad</th>
				<th>Nombre común</th>
				<th>Descríbala</th>
				<th>Si toma en cuenta el ciclo de la luna ¿en que fase se realiza?</th>
				<th>Nombre local de la fase lunar</th>
				<th></th>
			</tr>
			<tr>
				<td>
					<select class="form-control" name="biodiversidad_actividades_actividad" id="biodiversidad_actividades_actividad">
						<option value="">Elija una opción</option>
						<?php for($i=1; $i<=5; $i++){?>
						<option value="<?php echo $i?>"><?php echo $i?></option>
						<?php }?>
					</select>
				</td>
				<td><input type="text" class="form-control" name="biodiversidad_actividades_comun" id="biodiversidad_actividades_comun"></td>
				<td><input type="text" class="form-control" name="biodiversidad_actividades_descripcion" id="biodiversidad_actividades_descripcion"></td>
			
				<td>
					<select class="form-control" name="biodiversidad_actividades_fase_lunar" id="biodiversidad_actividades_fase_lunar">
						<option value="">Elija una opción</option>
						<?php foreach($this->catalogo_biodiversidad_actividades_fase_lunar as $forma){?>
							<option value="<?php echo $forma->id?>"><?php echo $forma->valor?></option>
						<?php }?>
					</select>
				</td>
				<td width="15%"><input type="text" class="form-control" name="biodiversidad_actividades_nombre_local" id="biodiversidad_actividades_nombre_local"></td>
				<td><input type="button" class="btn btn-success" value="+" onclick="agregarBiodiversidadActividades();"></td>
			</tr>
			<?php foreach($this->biodiversidad_actividades as $actividad){?>
			<tr id="fila_biodiversidad_actividades_<?php echo $actividad->id?>">
				<td><?php echo $actividad->actividad?></td>
				<td><?php echo $actividad->nombre_comun?></td>
				<td><?php echo $actividad->descripcion?></td>
				<td><?php echo $actividad->BiodiversidadFaseLunar->valor?></td>
				<td><?php echo $actividad->nombre_local_fase?></td>
				<td><input type="button" class="btn btn-danger" value="-" onclick="eliminarBiodiversidadActividades(<?php echo $actividad->id?>);"></td>
			</tr>
			<?php }?>
		</table>
	</div>
</form>