<form id="frm-13_enfermedades" name="frm-13_enfermedades" class="form-horizontal" method="post" action="/backend/diagnosticos/guardar-control-plagas-suelo" role="form">
    <input type="hidden" name="id_dato_general" id="id_dato_general-id" value="<?php echo $this->id; ?>" />
    <input type="hidden" name="id" id="id" value="<?php echo ($this->control_plagas_suelo_enfermedades)?$this->control_plagas_suelo_enfermedades->id:''; ?>" />
    <input type="hidden" name="congelado" id="congelado" value="<?php echo $this->control_plagas_suelo->congelado; ?>" />
    <input type="hidden" name="tipo" id="tipo_control_plagas_suelo" value="<?php echo $this->tipo; ?>" />
    <input type="hidden" name="pestana" value="2">

    <table width="100%" border="0" id="tabla" class="table table-bordered" style="font-size: 12px">
        <tr>
            <th scope="col" class="col-xs-2 text-center">Actividad/insumo</th>
            <th scope="col" class="col-xs-1 text-center">Unidad</th>
            <th scope="col" class="col-xs-1 text-center">Cantidad</th>
            <th scope="col" class="col-xs-1 text-center">Costo unitario</th>
            <th scope="col" class="col-xs-2 text-center">Costo total</th>
            <th scope="col" class="col-xs-2 text-center text-center">F. Realización</th>
            <th scope="col" class="col-xs-2 text-center">Etapa fenologica</th>
            <th scope="col" class="col-xs-1 text-center">Innovación</th>
            <th scope="col" class="col-xs-2 text-center">Agregar</th>
        </tr>

        <!-- GENERAL GRANULADO -->
        <tr id="fila-general-gran" class="hide">
            <th scope="row">
                <div class="input-group">
                    <input type="hidden"  name="insecticida_tipo[]" class="form-control numeric " value="GRANULADO" />
                    
                    <label>Fuente:</label>
                    <select class="form-control required" name="empresa_herbicida[]" id="empresa_herbicida" style="color:gray;" onchange="cargarSubcatalogo(this)" >
                        <option value="0" selected="selected">Seleccione una fuente</option>
                        <?php foreach($this->cat_fuente_manejo_sanitario as $valor){?>
                             <option value="<?php echo $valor->id?>"><?php echo $valor->valor?></option>
                        <?php }?>
                    </select><br />
                    
                    <label>Tipo:</label>
                    <select class="form-control required" name="marca_herbicida[]" id="marca_herbicida" style="color:gray;">
                        <option value="0" selected="selected">Seleccione un tipo</option>
                    </select><br />
                </div>
            </th>
            <td>    
                <div class="input-group">
                    <select class="form-control required" id="tipo_unidad" name="tipo_unidad[]" style="color:gray;">
                        <option value="0">Elija una opción</option>
                        <?php foreach($this->unidad["gran"] as $unidad){?>
                            <option value="<?php echo $unidad->id?>"><?php echo $unidad->nombre?></option>
                        <?php }?>
                    </select>
                </div>
            </td>

            <td>
                <div class="input-group">
                    <input type="text" id="insecticida_cantidad" name="insecticida_cantidad[]" onkeyup="calculaImporteFrm13Enf(this)" onkeypress="return permiteNumerosConDecimal(event,this);" class="form-control numeric required " value="" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="insecticida_pu" name="insecticida_pu[]" onkeyup="calculaImporteFrm13Enf(this)" onkeypress="return permiteNumerosConDecimal(event,this);" class="form-control numeric required " value="" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="insecticida_importe" name="insecticida_importe[]" readonly="readonly" class="form-control numeric  required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control required"  id="insecticida_frealizacion" readonly="readonly" name="insecticida_frealizacion[]" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                    <div class="input-group">
                        <select class="form-control required" style="color:gray;" name="insecticida_etapa_fenologica[]">
                            <option value="0">Seleccione una opción</option>
                            <?php foreach($this->etapas_fenologicas as $etapa){?>
                                <option value="<?php echo $etapa->id?>"><?php echo $etapa->nombre?></option>
                            <?php }?>
                        </select>
                    </div>
                </td>
            <td>
                <div class="input-group">
                    <input type="text" id="insecticida_innovacion" name="insecticida_innovacion[]" class="form-control numeric  required" value="" />
                    
                </div>
            </td>
            <td>
                <div class="input-group">
                    <i id="eliminarFila" style="width:40px;" class="btn btn-block btn-danger fa fa-times-circle">&nbsp;</i>
                </div>
            </td>
        </tr>
        <!-- GENERAL RECARGA -->
        <tr id="fila-general-rec" class="hide">
            <th scope="row">
                <div class="input-group">
                    <label>Fuente:</label>
                    <select class="form-control required" name="empresa_herbicida[]" id="empresa_herbicida_" style="color:gray;" onchange="cargarSubcatalogo(this)" >
                        <option value="0" selected="selected">Seleccione una fuente</option>
                        <?php foreach($this->cat_fuente_manejo_sanitario as $valor){?>
                             <option value="<?php echo $valor->id?>"><?php echo $valor->valor?></option>
                        <?php }?>
                    </select><br />
                
                
                    <input type="hidden"  name="insecticida_tipo[]" class="form-control numeric  required" value="RECARGA" />
                    <label>Tipo:</label>
                    <select class="form-control required" name="marca_herbicida[]" id="marca_herbicida_" style="color:gray;">
                        <option value="0" selected="selected">Seleccione un tipo</option>
                    </select><br />
                    
                    
                </div>
            </th>
            <td>    
                <div class="input-group">
                    <select class="form-control required" id="tipo_unidad" name="tipo_unidad[]" style="color:gray;">
                        <option value="0">Elija una opción</option>
                        <?php foreach($this->unidad["rec"] as $unidad){?>
                            <option value="<?php echo $unidad->id?>" ><?php echo $unidad->nombre?></option>
                        <?php }?>
                    </select>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="insecticida_cantidad" name="insecticida_cantidad[]" onkeyup="calculaImporteFrm13Enf(this)" onkeypress="return permiteNumerosConDecimal(event,this);" class="form-control numeric required " value="" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="insecticida_pu" name="insecticida_pu[]" onkeyup="calculaImporteFrm13Enf(this)" onkeypress="return permiteNumerosConDecimal(event,this);" class="form-control numeric required " value="" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="insecticida_importe" name="insecticida_importe[]" readonly="readonly" class="form-control numeric required " value="" />
                </div>
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control required"  id="insecticida_frealizacion" readonly="readonly" name="insecticida_frealizacion[]" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                    <div class="input-group">
                        <select class="form-control required" style="color:gray;" name="insecticida_etapa_fenologica[]">
                            <option value="0">Seleccione una opción</option>
                            <?php foreach($this->etapas_fenologicas as $etapa){?>
                                <option value="<?php echo $etapa->id?>"><?php echo $etapa->nombre?></option>
                            <?php }?>
                        </select>
                    </div>
                </td>
            <td>
                <div class="input-group">
                    <input type="text" id="insecticida_innovacion" name="insecticida_innovacion[]" class="form-control numeric required " value="" />
                    
                </div>
            </td>
            <td>
                <div class="input-group">
                    <i id="eliminarFila" style="width:40px;" class="btn btn-block btn-danger fa fa-times-circle">&nbsp;</i>
                </div>
            </td>
        </tr>
        
        
        <!-- ##############################################################################
             ############################# TABLA ##########################################
             ############################################################################## -->
        <!-- INSECTICIDA GRANULADO -->
        <tr>
            <th align="center" colspan="9" style="text-align:center; background-color:#a1c1d3;">
                Sustancia utilizada
            </th>
        </tr>
        <?php 
        $i=0;
        do
        {
            $insecticida_granulado=$this->control_plagas_suelo_insecticida_granulado_enfermedades[$i];
            $catTipo=CatalogoDetalle::obtenerHtml($insecticida_granulado->empresa_id,$insecticida_granulado->marca_id);
        ?>  
        <tr id="despues_enf_gran_marca_<?php echo ($i+1)?>" class="cdpds-gran-enf">
            <th scope="row">
                <input type="hidden"  name="insecticida_tipo[]" class="form-control numeric " value="GRANULADO" />
                
                <label>Fuente:</label>
                <select class="form-control required" name="empresa_herbicida[]" id="empresa_herbicida_" style="color:gray;" onchange="cargarSubcatalogo(this)" >
                        <option value="0" selected="selected">Seleccione una fuente</option>
                        <?php foreach($this->cat_fuente_manejo_sanitario as $valor){?>
                             <option value="<?php echo $valor->id;?>" <?php if($valor->id == $insecticida_granulado->empresa_id) echo 'selected';?> ><?php echo $valor->valor;?></option>
                        <?php }?>
                </select><br />
                
                <label>Tipo:</label>
                <select class="form-control required" name="marca_herbicida[]" id="marca_herbicida_" style="color:gray;">
                    <?php echo $catTipo;?>
                </select>
            </th>
            <td>    
                <select class="form-control required" id="tipo_unidad" name="tipo_unidad[]" style="color:gray;">
                    <option value="0">Elija una opción</option>
                    <?php foreach($this->unidad["gran"] as $unidad){?>
                        <option value="<?php echo $unidad->id?>" <?php if($unidad->id==$insecticida_granulado->unidad_id) echo "selected";?>><?php echo $unidad->nombre?></option>
                    <?php }?>
                </select>
            </td>
            <td>
                <input type="text" id="gran_insecticida_cantidad_<?php echo ($i+1)?>" name="insecticida_cantidad[]" onkeyup="calculaImporteFrm13Enf(this)" onkeypress="return permiteNumerosConDecimal(event,this);" class="form-control numeric required " value="<?php echo $insecticida_granulado->cantidad;?>" />
            </td>
            <td>
                <input type="text" id="gran_insecticida_precio_<?php echo ($i+1)?>" name="insecticida_pu[]" onkeyup="calculaImporteFrm13Enf(this)" onkeypress="return permiteNumerosConDecimal(event,this);" class="form-control numeric required " value="<?php echo $insecticida_granulado->precio;?>" />
            </td>
            <td>
                <input type="text" id="gran_insecticida_importe_<?php echo ($i+1)?>" name="insecticida_importe[]" readonly="readonly" class="form-control numeric  required" value="<?php echo $insecticida_granulado->importe;?>" />
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control required" id="insecticida_frealizacion" readonly="readonly" name="insecticida_frealizacion[]" value="<?php echo $insecticida_granulado->fecha;?>" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                <select class="form-control required" style="color:gray;" name="insecticida_etapa_fenologica[]">
                    <option value="0">Seleccione una opción</option>
                    <?php foreach($this->etapas_fenologicas as $etapa){?>
                        <option value="<?php echo $etapa->id?>" <?php echo ($etapa->id==$insecticida_granulado->etapa_fenologica)?"selected":""?>><?php echo $etapa->nombre?></option>
                    <?php }?>
                </select>
            </td>
            <td>
                <input type="text" id="insecticida_innovacion" name="insecticida_innovacion[]" class="form-control numeric required " value="<?php echo $insecticida_granulado->innovacion;?>" />
                
            </td>
            <? if($i==0){?>
            <td>
                <div class="input-group">
                    <i class="btn btn-block btn-warning fa fa-plus-circle" style="width:40px; background:green; border-color:green;" onclick="agregarFila('', 'frm-13_enfermedades', '', 'gran')">
                    </i>
                </div>
            </td>
            <?php }else{?>
            <td>
                <div class="input-group">
                    <i id="eliminarFila" style="width:40px;" class="btn btn-block btn-danger fa fa-times-circle">&nbsp;</i>
                </div>
            </td>
            <?php }?>
        </tr>
        <?php $i++; } while($i<count($this->control_plagas_suelo_insecticida_granulado_enfermedades));?>
        <tr id="despues_gran_apli_enf_1">
            <th scope="row">
                <label>Selecciona la aplicacion: </label>
                <select class="form-control" id="tipo_ap_select_gran_1" name="aplicacion_insecticida_granulado" style="color:gray;" onChange="evaluaCambioAplicacionFrm13Enf('gran')">
                    <option value="1" <?php echo ($this->control_plagas_suelo_enfermedades->aplicacion_insecticida_granulado==1)?'selected="selected"':''?>>Mecanizada</option>
                    <option value="2" <?php echo ($this->control_plagas_suelo_enfermedades->aplicacion_insecticida_granulado==2 || !isset($this->control_plagas_suelo_enfermedades->aplicacion_insecticida_granulado))?'selected="selected"':''?>>Manual</option>
                </select>
            </th>
            <td  colspan="7" >
                <div style="width:100%;">
                    <div id="manual_div_gran_1" class="input-group <?php echo ($this->control_plagas_suelo_enfermedades->aplicacion_insecticida_granulado==2 || !isset($this->control_plagas_suelo_enfermedades->aplicacion_insecticida_granulado))?'':'hide'?>">
                        <label>Numero de jornales:</label></br>
                        <input type="text" id="manual_div_no_jornales_gran_1" name="jornales_insecticida_granulado" placeholder="No. Jornales" class="form-control numeric  <?php echo ($this->control_plagas_suelo_enfermedades->aplicacion_insecticida_granulado==2 || !isset($this->control_plagas_suelo_enfermedades->aplicacion_insecticida_granulado))?'required':''?>" value="<?php echo $this->control_plagas_suelo_enfermedades->jornales_insecticida_granulado?>" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        <label>Costo por jornal:</label></br>
                        <input type="text" id="manual_div_costo_jornal_gran_1" name="costo_jornal_insecticida_granulado" placeholder="Costo por jornal" class="form-control numeric  <?php echo ($this->control_plagas_suelo->aplicacion_insecticida_granulado==2 || !isset($this->control_plagas_suelo_enfermedades->aplicacion_insecticida_granulado))?'required':''?>" value="<?php echo $this->control_plagas_suelo_enfermedades->costo_jornal_insecticida_granulado?>" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                    </div>
                    <div id="mecanizada_div_gran_1" class="<?php echo ($this->control_plagas_suelo_enfermedades->aplicacion_insecticida_granulado==1)?'':'hide'?> input-group">
                        <label>Selecciona el tipo de mecanización:</label>
                        <select class="form-control " name="tipo_mecanizacion_insecticida_granulado" id="mecanizada_div_select_gran_1" style="color:gray;" onChange="evaluaCambioAplicacion2Frm13('gran')">
                            <option value="1" <?php echo ($this->control_plagas_suelo_enfermedades->tipo_mecanizacion_insecticida_granulado==1)?'selected="selected"':''?>>Propia</option>
                            <option value="2" <?php echo ($this->control_plagas_suelo_enfermedades->tipo_mecanizacion_insecticida_granulado==2)?'selected="selected"':''?>>Rentada</option>
                        </select>
                        <div id="mecanizada_div_select_div_propia_gran_1" class="<?php echo ($this->control_plagas_suelo_enfermedades->tipo_mecanizacion_insecticida_granulado==1)?'':'hide'?>">
                            <label>Costo del combustible:</label></br>
                            <input type="text" id="mecanizada_div_select_div_propia_combustible_gran_1" name="costo_combustible_insecticida_granulado" placeholder="Costo del combustible" class="form-control numeric  <?php echo (($this->control_plagas_suelo_enfermedades->aplicacion_insecticida_granulado==1||$this->control_plagas_suelo_enfermedades->aplicacion_insecticida_granulado==3)&&$this->control_plagas_suelo_enfermedades->tipo_mecanizacion_insecticida_granulado==1)?'required':''?>" value="<?php echo $this->control_plagas_suelo_enfermedades->costo_combustible_insecticida_granulado?>" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                            <label>Costo del operador:</label></br>
                            <input type="text" id="mecanizada_div_select_div_propia_operador_gran_1" name="costo_operador_insecticida_granulado" placeholder="Costo del operador" class="form-control numeric  <?php echo (($this->control_plagas_suelo_enfermedades->aplicacion_insecticida_granulado==1||$this->control_plagas_suelo_enfermedades->aplicacion_insecticida_granulado==3)&&$this->control_plagas_suelo_enfermedades->tipo_mecanizacion_insecticida_granulado==1)?'required':''?>" value="<?php echo $this->control_plagas_suelo_enfermedades->costo_operador_insecticida_granulado?>" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        </div>
                       <div id="mecanizada_div_select_div_rentada_gran_1" class="<?php echo ($this->control_plagas_suelo->tipo_mecanizacion_insecticida_granulado==2)?'':'hide'?>">
                            <label>Monto de renta:</label></br>
                            <input type="text" id="mecanizada_div_select_div_rentada_costo_gran_1" name="monto_renta_insecticida_granulado" placeholder="Costo de la renta" class="form-control numeric  <?php echo (($this->control_plagas_suelo_enfermedades->aplicacion_insecticida_granulado==1||$this->control_plagas_suelo_enfermedades->aplicacion_insecticida_granulado==3)&& $this->control_plagas_suelo_enfermedades->tipo_mecanizacion_insecticida_granulado==2)?'required':''?>" value="<?php echo $this->control_plagas_suelo_enfermedades->costo_jornal_insecticida_granulado?>" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        </div>
                    </div>
                </div>
            </td>
        </tr> 
    </table>
    <div class="row center-block">
        <div class="col-xs-2 pull-left" id="btnLimpiarControlPlagasSuelo">
            <a  class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Borrar</a>
        </div>
        <div style="cursor:pointer;" class="col-xs-2 pull-left" id="btnGuardarControlPlagasSueloEnfermedades">
            <a   class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
        </div>
    </div>
</form>