<form id="frm-12" name="frm-12" class="form-horizontal" method="post" action="/backend/diagnosticos/guardarcontrolmaleza" role="form">
    <input type="hidden" id="registro" value="" name="registro"/>
    <table width="100%" border="0" id="tabla" class="table table-bordered" style="font-size: 12px">
        <tr>
            <th scope="col" class="col-xs-2 text-center">Actividad/Insumo</th>
            <th scope="col" class="col-xs-1 text-center">Unidad</th>
            <th scope="col" class="col-xs-1 text-center">Cantidad</th>
            <th scope="col" class="col-xs-1 text-center">Costo unitario</th>
            <th scope="col" class="col-xs-2 text-center">Costo total</th>
            <th scope="col" class="col-xs-2 text-center text-center">F. Realización</th>
            <th scope="col" class="col-xs-2 text-center">Etapa fenologica</th>
            <th scope="col" class="col-xs-1 text-center">Innovación</th>
            <th scope="col" class="col-xs-2 text-center">Agregar</th>
        </tr>
        <!-- ################### FILA GENERICA PARA MARCA/Fuente ############### -->
        <tr id="pre-marca" class="hide hpre">
            <th scope="row">
        		<div class="input-group">
                	<input type="hidden" id="id" value="" />
                    
                    <label>Fuente:</label>
                    <select id="pre_marca_empresa"class="form-control input-sm" name="oculto"  style="color:gray;" onchange="cargarSubcatalogo(this)">
                        <option value="0" selected="selected">Seleccione una fuente</option>
                        <?php foreach($this->cat_fuente_manejo_sanitario as $valor){?>
                             <option value="<?php echo $valor->id?>"><?php echo $valor->valor?></option>
                        <?php }?>
                    </select><br />
                    
                    <label>Tipo:</label>
                    <select id="pre_marca_marca"class="form-control input-sm" name="oculto"  style="color:gray;">
                        <option value="0" selected="selected">Seleccione un tipo</option>
                    </select>
                   
                    <!--<label>Fuente:</label>
                    <select id="pre_marca_fuente_" class="form-control input-sm" name="oculto" style="color:gray;">
                        <option value="0" selected="selected">Seleccione una fuente</option>
                    </select>-->
                </div>
            </th>
            <td>	
        		<div class="input-group">
                    <select id="pre_marca_unidad_" class="form-control input-sm" name="oculto" style="color:gray;">
                        <option value="0" selected="selected">Seleccione una unidad</option>
                    </select>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="pre_marca_cantidad_" class="form-control numeric required" name="oculto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="pre_marca_precio_"  class="form-control numeric required" name="oculto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="pre_marca_importe_" readonly="readonly" name="oculto"  class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control" readonly="readonly" name="oculto" id="pre_marca_frealizacion_"/>
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                <div class="input-group">
					<select id="pre_marca_etapa_fenologica_" name="oculto" class="form-control input-sm" style="color:gray;">
                        <option value="0">Seleccione una opción</option>
                    </select>                    
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="pre_marca_innovacion_" name="oculto" class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
        		<div class="input-group">
                    <i id="eliminarFila_" style="width:40px;" class="btn btn-block btn-danger fa fa-times-circle">&nbsp;</i>
                </div>
            </td>
        </tr>
        <!-- ################### FILA GENERICA PARA PRE Coadyuvantes ############### -->
        <tr id="pre-coad" class="hide hpre">
            <th>
                Coadyuvantes
            </th>
            <td>
                <div class="input-group">
                    <select id="pre_coad_unidad_"  class="form-control input-sm" name="oculto" style="color:gray;">
                        <option value="0" selected="selected">Seleccione una unidad</option>
                    </select>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="pre_coad_cantidad_" class="form-control numeric required" name="oculto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="pre_coad_precio_" class="form-control numeric required" name="oculto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="pre_coad_importe_" readonly="readonly" name="oculto" class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control" readonly="readonly" name="oculto" id="pre_coad_frealizacion_" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                <div class="input-group">
                	<select id="pre_coad_etapa_fenologica_" class="form-control input-sm" name="oculto" style="color:gray;">
                        <option value="0">Seleccione una opción</option>
                    </select>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="pre_coad_innovacion_" class="form-control numeric required" name="oculto" value="" />
                </div>
            </td>
            <td>
            </td>
        </tr>
        <!-- ################### FILA GENERICA PARA PRE APLICACION ############### -->
        <tr id="pre-apli" class="hide hpre">
            <th scope="row">
                <label>Selecciona la aplicación:</label>
                <select id="pre_tipo_apli" class="form-control input-sm" name="oculto" style="color:gray;">
                    <option value="0">Seleccione una opción</option>
                    <option value="1">Mecanizada</option>
                    <option value="2" selected>Manual</option>
                    <option value="3">Aerea</option>
                </select>
            </th>
            <td  colspan="7" >
                <div style="width:100%;">
                    <div id="manual_div" class="input-group">
                        <label>Número de jornales:</label></br>
                        <input type="text" id="manual_div_no_jornales" name="oculto" placeholder="No. Jornales" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        <label>Costo por jornal:</label></br>
                        <input type="text" id="manual_div_costo_jornal" name="oculto" placeholder="Costo por jornal" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                    </div>
                    <div id="mecanizada_div" class="hide input-group">
                        <label>Selecciona el tipo de mecanización:</label>
                        <select id="mecanizada_div_select"  name="oculto" class="form-control input-sm" style="color:gray;">
                            <option value="1" selected>Propia</option>
                            <option value="2">Rentada</option>
                        </select>
                        <div id="mecanizada_div_select_div_propia">
                            <label>Costo del combustible:</label></br>
                            <input type="text" id="mecanizada_div_select_div_propia_combustible" name="oculto" placeholder="Costo del combustible" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                            <label>Costo del operador:</label></br>
                            <input type="text" id="mecanizada_div_select_div_propia_operador" name="oculto" placeholder="Costo del operador" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        </div>
                        <div id="mecanizada_div_select_div_rentada" class="hide">
                            <label>Monto de renta:</label></br>
                            <input type="text" id="mecanizada_div_select_div_rentada_costo" name="oculto" placeholder="Costo de la renta" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        </div>
                    </div>
                    <div id="aerea_div" class="hide input-group">
                        <label>Selecciona el tipo de mecanización:</label>
                        <select id="aerea_div_select" class="form-control input-sm" name="oculto" style="color:gray;">
                            <option value="1" selected>Propia</option>
                            <option value="2">Rentada</option>
                        </select>
                        <div id="aerea_div_select_div_propia">
                            <label>Costo del combustible:</label></br>
                            <input type="text" id="aerea_div_select_div_propia_combustible_gen" name="oculto" placeholder="Costo del combustible" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                            <label>Costo del operador:</label></br>
                            <input type="text" id="aerea_div_select_div_propia_operador_gen" name="oculto" placeholder="Costo del operador" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        </div>
                        <div id="aerea_div_select_div_rentada" class="hide">
                            <label>Monto de renta:</label></br>
                            <input type="text" id="aerea_div_select_div_rentada_costo" name="oculto" placeholder="Costo de la renta" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);" />
                        </div>
                    </div>
                </div>
            </td>
        </tr>

        <!-- ##########################################################################################
             ############################################ TABLA #######################################
             ########################################################################################## -->
        <!-- ################### PRE ############### -->
        <tr>
            <th align="center" colspan="1" style="text-align:center; background-color:#a1c1d3; font-size: 18px;">
    	       Preemergencia<br />
            </th>
            <td style="padding-top:18px;" colspan="8">
            	<select style="color:grey;" id="realizo_pre" class="form-control realizo" onchange="realizo_cm('pre')">
               		<option value="1" class="realizo">Sí</option>
               		<option value="2" selected class="realizo">No</option>
            	</select>
            </td>
        </tr>
        <!-- ################### FILA PARA MARCA/Fuente ############### -->
        <tr id="pre-marca_1" class="pre">
            <th scope="row">
                <div class="input-group">
                	<input type="hidden" id="id" value="" />
                	<label>Fuente:</label>
                    <select id="pre_marca_empresa_1" class="form-control input-sm" name="pre[marca][0][empresa]"  style="color:gray;" onchange="cargarSubcatalogo(this)">
                        <option value="0" selected="selected">Seleccione una fuente</option>
                        <?php foreach($this->cat_fuente_manejo_sanitario as $valor){?>
                             <option value="<?php echo $valor->id?>"><?php echo $valor->valor?></option>
                        <?php }?>
                    </select><br/>
                	
                    <label>Tipo:</label> 
                    <select id="pre_marca_marca_1" class="form-control input-sm" name="pre[marca][0][marca]"  style="color:gray;">
                        <option value="0" selected="selected">Seleccione un tipo</option>
                    </select>
                    
                    <!--<label>Fuente:</label>
                    <select id="pre_marca_fuente_1" class="form-control input-sm" name="pre[marca][0][fuente]" style="color:gray;">
                        <option value="0" selected="selected">Seleccione una fuente</option>
                    </select>-->
                </div>
            </th>
            <td>    
                <div class="input-group">
                    <select id="pre_marca_unidad_1" class="form-control input-sm" name="pre[marca][0][unidad]" style="color:gray;">
                        <?php echo $this->unidades_pre?>
                    </select>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="pre_marca_cantidad_1" class="form-control numeric required" name="pre[marca][0][cantidad]" value="" onkeyup="calculaImporteFrm12('pre_marca_cantidad_1','pre_marca_precio_1','pre_marca_importe_1')" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="pre_marca_precio_1" class="form-control numeric required" name="pre[marca][0][precio]" value="" onkeyup="calculaImporteFrm12('pre_marca_precio_1','pre_marca_cantidad_1','pre_marca_importe_1')" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="pre_marca_importe_1" readonly="readonly" class="form-control numeric required" name="pre[marca][0][importe]" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control" readonly="readonly" name="pre[marca][0][frealizacion]" id="pre_marca_frealizacion_1" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                    <div class="input-group">
                        <select id="pre_marca_etapa_fenologica_1" name="pre[marca][0][etapa_fenologica]" class="form-control input-sm" style="color:gray;">
                            <option value="0">Seleccione una opción</option>
                            <?php foreach($this->etapas_fenologicas as $etapa){?>
                                <option value="<?php echo $etapa->id?>"><?php echo $etapa->nombre;?></option>
                            <?php }?>
                        </select>
                    </div>
                </td>
            <td>
                <div class="input-group">
                    <input type="text" id="pre_marca_innovacion_1" name="pre[marca][0][innovacion]" class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <i id="agregar" class="btn btn-block btn-warning fa fa-plus-circle" style="width:40px; background:green; border-color:green;" onclick="agregarFilaExtraFrm12('pre-marca')">
                    </i>
                </div>
            </td>
        </tr>
        <!-- ################### FILA PARA Coadyuvantes ############### -->
        <tr id="pre-coad_1" class="pre">
            <th>
                Coadyuvantes
            </th>
            <td>
                <div class="input-group">
                    <select id="pre_coad_unidad_1" class="form-control input-sm" name="pre[Coadyuvantes][0][unidad]"style="color:gray;">
                        <?php echo $this->unidades_pre?>
                    </select>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="pre_coad_cantidad_1" class="form-control numeric required" name="pre[Coadyuvantes][0][cantidad]" value="" onkeyup="calculaImporteFrm12('pre_coad_cantidad_1','pre_coad_precio_1','pre_coad_importe_1')" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="pre_coad_precio_1" class="form-control numeric required" value="" name="pre[Coadyuvantes][0][precio]"onkeyup="calculaImporteFrm12('pre_coad_precio_1','pre_coad_cantidad_1','pre_coad_importe_1')" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="pre_coad_importe_1" readonly="readonly" name="pre[Coadyuvantes][0][importe]" class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control" readonly="readonly" id="pre_coad_frealizacion_1" name="pre[Coadyuvantes][0][frealizacion]" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                    <div class="input-group">
                    	<select id="pre_coad_etapa_fenologica_1" class="form-control input-sm" style="color:gray;" name="pre[Coadyuvantes][0][etapa_fenologica]">
                            <option value="0">Seleccione una opción</option>
                            <?php foreach($this->etapas_fenologicas as $etapa){?>
                                <option value="<?php echo $etapa->id?>"><?php echo $etapa->nombre;?></option>
                            <?php }?>
                        </select>
                    </div>
                </td>
            <td>
                <div class="input-group">
                    <input type="text" id="pre_coad_innovacion_1" class="form-control numeric required" value="" name="pre[Coadyuvantes][0][innovacion]" />
                </div>
            </td>
            <td>
            </td>
        </tr>
        <!-- ################### FILA PARA APLICACION ############### -->
        <tr id="pre-apli_1" class="pre">
            <th scope="row">
                <label>Selecciona la aplicación:</label>
                <select id="pre_tipo_apli" class="form-control input-sm" style="color:gray;" name="pre[aplicacion][0][aplicacion]" onChange="evaluaCambioAplicacionFrm12('pre-apli_1', 'pre_tipo_apli')">
                    <option value="0">Seleccione una opción</option>
                    <option value="1">Mecanizada</option>
                    <option value="2" selected>Manual</option>
                    <option value="3">Aerea</option>
                </select>
            </th>
            <td  colspan="7" >
                <div style="width:100%;">
                    <div id="manual_div" class="input-group">
                        <label>Número de jornales:</label></br>
                        <input type="text" id="manual_div_no_jornales" name="pre[aplicacion][0][numero_jornales]" placeholder="No. Jornales" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        <label>Costo por jornal:</label></br>
                        <input type="text" id="manual_div_costo_jornal" name="pre[aplicacion][0][costo_jornal]" placeholder="Costo por jornal" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                    </div>
                    <div id="mecanizada_div" class="hide input-group">
                        <label>Selecciona el tipo de mecanización:</label>
                        <select id="mecanizada_div_select" class="form-control input-sm" name="pre[aplicacion][0][tipo_mecanizacion]" style="color:gray;" onChange="evaluaCambioAplicacion2Frm12('pre-apli_1','')">
                            <option value="1" selected>Propia</option>
                            <option value="2">Rentada</option>
                        </select>
                        <div id="mecanizada_div_select_div_propia">
                            <label>Costo del combustible:</label></br>
                            <input type="text" id="mecanizada_div_select_div_propia_combustible" name="pre[aplicacion][0][costo_combustible]" placeholder="Costo del combustible" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                            <label>Costo del operador:</label></br>
                            <input type="text" id="mecanizada_div_select_div_propia_operador"  name="pre[aplicacion][0][costo_operador]" placeholder="Costo del operador" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        </div>
                        <div id="mecanizada_div_select_div_rentada" class="hide">
                            <label>Monto de renta:</label></br>
                            <input type="text" id="mecanizada_div_select_div_rentada_costo" name="pre[aplicacion][0][monto_renta]" placeholder="Costo de la renta" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        </div>
                    </div>
                    <div id="aerea_div" class="hide input-group">
                        <label>Selecciona el tipo de mecanización:</label>
                        <select id="aerea_div" class="form-control input-sm" style="color:gray;" <?php /*?>name="pre[aplicacion][0][tipo_aerea]"<?php */?>onChange="evaluaCambioAplicacion('aerea_div_select_pre_1', 'pre', 1)">
                            <option value="1" selected>Propia</option>
                            <option value="2">Rentada</option>
                        </select>
                        <div id="aerea_div_select_div_propia">
                            <label>Costo del combustible:</label></br>
                            <input type="text" id="aerea_div_select_div_propia_combustible"<?php /*?> name="pre[aplicacion][0][aerea_combustible]"<?php */?>placeholder="Costo del combustible" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                            <label>Costo del operador:</label></br>
                            <input type="text" id="aerea_div_select_div_propia_operador"  <?php /*?>name="pre[aplicacion][0][aerea_operador]"<?php */?>placeholder="Costo del operador" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        </div>
                        <div id="aerea_div_select_div_rentada" class="hide">
                            <label>Monto de renta:</label></br>
                            <input type="text" id="aerea_div_select_div_rentada_costo" <?php /*?>name="pre[aplicacion][0][aerea_monto_renta]" <?php */?>placeholder="Costo de la renta" class="form-control numeric required" value="" />
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <!-- ################### FILA PARA ACIDIFICACION ############### -->
        <tr class="pre" id="pre_acidificacion_1">
            <th scope="row">
                ACIDIFICACIÓN DEL AGUA
            </th>
            <td>
                <div class="input-group">
                    <select id="pre_acidificacion_unidad_1"  class="form-control input-sm" name="pre[acidificacion][0][unidad]" style="color:gray;">
                        <option value="0" selected="selected">Seleccione una unidad</option>
                    </select>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="pre_acidificacion_cantidad_1" class="form-control numeric required" name="pre[acidificacion][0][cantidad]" value="" onkeyup="calculaImporteFrm12('pre_acidificacion_cantidad_1','pre_acidificacion_precio_1','pre_acidificacion_importe_1')" onkeypress="return permiteNumerosConDecimal(event,this);" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="pre_acidificacion_precio_1"   class="form-control numeric required" name="pre[acidificacion][0][precio]"value="" onkeyup="calculaImporteFrm12('pre_acidificacion_precio_1','pre_acidificacion_cantidad_1','pre_acidificacion_importe_1')" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="pre_acidificacion_importe_1" readonly="readonly" name="pre[acidificacion][0][importe]"class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control" readonly="readonly" name="pre[acidificacion][0][frealizacion]" id="pre_acidificacion_frealizacion_1" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                    <div class="input-group">
                        <select id="pre_acidificacion_etapa_fenologica_1" class="form-control input-sm" name="pre[acidificacion][0][etapa_fenologica]" style="color:gray;">
                            <option value="0">Seleccione una opción</option>
                        </select>
                    </div>
                </td>
            <td>
                <div class="input-group">
                    <input type="text" id="pre_acidificacion_innovacion_1" name="pre[acidificacion][0][innovacion]" class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
            </td>
        </tr>
        <!-- ################### POST ############### -->
        <tr>
            <th align="center" colspan="1" style="font-size: 18px;text-align:center; background-color:#a1c1d3;">
               Postemergencia<br />
            </th>
            <td colspan="8" style="padding-top:18px;">
            	<select style="color:grey;" id="realizo_post" class="form-control realizo" onchange="realizo_cm('post')">
               		<option value="1" class="realizo">Sí</option>
               		<option value="2" selected class="realizo">No</option>
            	</select>
            </td>
        </tr>
        <!-- ################### FILA PARA MARCA/Fuente ############### -->
        <tr id="post-marca_1" class="post">
            <th scope="row">
                <div class="input-group">
                    <input type="hidden" id="id" value="" />
                    
                    <label>Fuente:</label> 
                    <select id="post_marca_empresa_1"  class="form-control input-sm" name="post[marca][0][empresa]" style="color:gray;" onchange="cargarSubcatalogo(this)">
                        <option value="0" selected="selected">Seleccione una fuente</option>
                        <?php foreach($this->cat_fuente_manejo_sanitario as $valor){?>
                             <option value="<?php echo $valor->id?>"><?php echo $valor->valor?></option>
                        <?php }?>
                    </select><br />
 
                    <label>Tipo:</label>
                    <select id="post_marca_marca_1"  class="form-control input-sm" name="post[marca][0][marca]" style="color:gray;">
                        <option value="0" selected="selected">Seleccione un tipo</option>
                    </select>
       
                    <!--<label>Fuente:</label>
                    <select id="post_marca_fuente_1"  class="form-control input-sm" name="post[marca][0][fuente]"style="color:gray;">
                        <option value="0" selected="selected">Seleccione una fuente</option>
                    </select>-->
                </div>
            </th>
            <td>    
                <div class="input-group">
                    <select id="post_marca_unidad_1"  class="form-control input-sm" name="post[marca][0][unidad]" style="color:gray;">
                        <option value="0" selected="selected">Seleccione una unidad</option>
                    </select>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="post_marca_cantidad_1"  class="form-control numeric required" name="post[marca][0][cantidad]" value="" onkeyup="calculaImporteFrm12('post_marca_cantidad_1','post_marca_precio_1','post_marca_importe_1')" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="post_marca_precio_1" class="form-control numeric required" name="post[marca][0][precio]" value="" onkeyup="calculaImporteFrm12('post_marca_precio_1','post_marca_cantidad_1','post_marca_importe_1')" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="post_marca_importe_1" readonly="readonly"  name="post[marca][0][importe]" class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control" readonly="readonly" id="post_marca_frealizacion_1" name="post[marca][0][frealizacion]" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                    <div class="input-group">
                        <select id="post_marca_etapa_fenologica_1"  class="form-control input-sm" name="post[marca][0][etapa_fenologica]" style="color:gray;">
                            <option value="0">Seleccione una opción</option>
                        </select>
                    </div>
                </td>
            <td>
                <div class="input-group">
                    <input type="text" id="post_marca_innovacion_1" class="form-control numeric required" name="post[marca][0][innovacion]" value="" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <i class="btn btn-block btn-warning fa fa-plus-circle" style="width:40px; background:green; border-color:green;" onclick="agregarFilaExtraFrm12('post-marca')">
                    </i>
                </div>
            </td>
        </tr>
        <!-- ################### FILA PARA Coadyuvantes ############### -->
        <tr id="post-coad_1" class="post">
            <th>
                Coadyuvantes
            </th>
            <td>
                <div class="input-group">
                    <select id="post_coad_unidad_1"  class="form-control input-sm" name="post[Coadyuvantes][0][unidad]" style="color:gray;">
                        <option value="0" selected="selected">Seleccione una unidad</option>
                    </select>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="post_coad_cantidad_1" class="form-control numeric required" name="post[Coadyuvantes][0][cantidad]" value="" onkeyup="calculaImporteFrm12('post_coad_cantidad_1','post_coad_precio_1','post_coad_importe_1')" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="post_coad_precio_1" class="form-control numeric required" name="post[Coadyuvantes][0][precio]" value="" onkeyup="calculaImporteFrm12('post_coad_precio_1','post_coad_cantidad_1','post_coad_importe_1')" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="post_coad_importe_1" readonly="readonly" name="post[Coadyuvantes][0][importe]" class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control" readonly="readonly" id="post_coad_frealizacion_1" name="post[Coadyuvantes][0][frealizacion]" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                    <div class="input-group">
                        <select id="post_coad_etapa_fenologica_1" class="form-control input-sm" name="post[Coadyuvantes][0][etapa_fenologica]" style="color:gray;">
                            <option value="0">Seleccione una opción</option>
                        </select>
                    </div>
                </td>
            <td>
                <div class="input-group">
                    <input type="text" id="post_coad_innovacion_1" class="form-control numeric required" name="post[Coadyuvantes][0][innovacion]" value="" />
                </div>
            </td>
            <td>
            </td>
        </tr>
        <!-- ################### FILA PARA APLICACION ############### -->
        <tr id="post-apli_1" class="post">
            <th scope="row">
                <label>Selecciona la aplicación:</label>
                <select id="post_tipo_apli"  class="form-control input-sm" style="color:gray;" name="post[aplicacion][0][aplicacion]" onChange="evaluaCambioAplicacionFrm12('post-apli_1', 'post_tipo_apli')">
                    <option value="0">Seleccione una opción</option>
                    <option value="1">Mecanizada</option>
                    <option value="2" selected>Manual</option>
                    <option value="3">Aerea</option>
                </select>
            </th>
            <td  colspan="7" >
                <div style="width:100%;">
                    <div id="manual_div" class="input-group">
                        <label>Número de jornales:</label></br>
                        <input type="text" id="manual_div_no_jornales" placeholder="No. Jornales" name="post[aplicacion][0][numero_jornales]" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);" />
                        <label>Costo por jornal:</label></br>
                        <input type="text" id="manual_div_costo_jornal" placeholder="Costo por jornal" name="post[aplicacion][0][costo_jornal]" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                    </div>
                    <div id="mecanizada_div" class="hide input-group">
                        <label>Selecciona el tipo de mecanización:</label>
                        <select id="mecanizada_div_select"  class="form-control input-sm" style="color:gray;" name="post[aplicacion][0][tipo_mecanizacion]"onChange="evaluaCambioAplicacion2Frm12('post-apli_1','')">
                            <option value="1" selected>Propia</option>
                            <option value="2">Rentada</option>
                        </select>
                        <div id="mecanizada_div_select_div_propia">
                            <label>Costo del combustible:</label></br>
                            <input type="text" id="mecanizada_div_select_div_propia_combustible" placeholder="Costo del combustible" name="post[aplicacion][0][costo_combustible]"class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                            <label>Costo del operador:</label></br>
                            <input type="text" id="mecanizada_div_select_div_propia_operador" placeholder="Costo del operador" name="post[aplicacion][0][costo_operador]" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        </div>
                        <div id="mecanizada_div_select_div_rentada" class="hide">
                            <label>Monto de renta:</label></br>
                            <input type="text" id="mecanizada_div_select_div_rentada_costo" placeholder="Costo de la renta" name="post[aplicacion][0][monto_renta]" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        </div>
                    </div>
                    <div id="aerea_div" class="hide input-group">
                        <label>Selecciona el tipo de mecanización:</label>
                        <select id="aerea_div_select"  class="form-control input-sm" style="color:gray;"<?php /*?> name="post[aplicacion][0][aerea_tipo]" <?php */?>onChange="evaluaCambioAplicacion('aerea_div_select_post_1', 'post', 1)">
                            <option value="1" selected>Propia</option>
                            <option value="2">Rentada</option>
                        </select>
                        <div id="aerea_div_select_div_propia">
                            <label>Costo del combustible:</label></br>
                            <input type="text" id="aerea_div_select_div_propia_combustible" placeholder="Costo del combustible" <?php /*?>name="post[aplicacion][0][aerea_combustible]"<?php */?> class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                            <label>Costo del operador:</label></br>
                            <input type="text" id="aerea_div_select_div_propia_operador" placeholder="Costo del operador" <?php /*?>name="post[aplicacion][0][aerea_operador]"<?php */?> class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        </div>
                        <div id="aerea_div_select_div_rentada" class="hide">
                            <label>Monto de renta:</label></br>
                            <input type="text" id="aerea_div_select_div_rentada_costo" placeholder="Costo de la renta" <?php /*?>name="post[aplicacion][0][aerea_monto_renta]"<?php */?> class="form-control numeric required" value="" />
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <!-- ################### FILA PARA ACIDIFICACION ############### -->
        <tr class="post" id="post_acidificacion_1">
            <th scope="row">
                ACIDIFICACIÓN DEL AGUA
            </th>
            <td>
                <div class="input-group">
                    <select id="post_acidificacion_unidad" class="form-control input-sm" name="post[acidificacion][0][unidad]" style="color:gray;">
                        <option value="0" selected="selected">Seleccione una unidad</option>
                    </select>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="post_acidificacion_cantidad" class="form-control numeric required" value="" name="post[acidificacion][0][cantidad]" onkeyup="calculaImporteFrm12('post_acidificacion_cantidad','post_acidificacion_precio','post_acidificacion_importe')" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="post_acidificacion_precio" class="form-control numeric required" value="" name="post[acidificacion][0][precio]" onkeyup="calculaImporteFrm12('post_acidificacion_precio','post_acidificacion_cantidad','post_acidificacion_importe')" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="post_acidificacion_importe" readonly="readonly" name="post[acidificacion][0][importe]" class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control" readonly="readonly" id="post_acidificacion_frealizacion" name="post[acidificacion][0][frealizacion]" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                    <div class="input-group">
                        <select  id="post_acidificacion_etapa_fenologica"class="form-control input-sm" style="color:gray;" name="post[acidificacion][0][etapa_fenologica]">
                            <option value="0">Seleccione una opción</option>
                        </select>
                    </div>
                </td>
            <td>
                <div class="input-group">
                    <input type="text" id="post_acidificacion_innovacion" class="form-control numeric required" value="" name="post[acidificacion][0][innovacion]"/>
                </div>
            </td>
            <td>
            </td>
        </tr>
        <!-- ################### DESECANTE ############### -->
        <tr>
            <th align="center" colspan="1" style="font-size: 18px;text-align:center; background-color:#a1c1d3;">
                
                 ¿Se realizo control de plantas no deseadas con herbicida Desecante?<br />
            </th> 
            <td colspan="8" style="padding-top:18px;">
                <select style="color:grey;" id="realizo_des" class="form-control realizo" onchange="realizo_cm('des')">
               		<option value="1" class="realizo">Sí</option>
               		<option value="2" selected class="realizo">No</option>
            	</select>
            </td>
        </tr>
        <!-- ################### FILA PARA MARCA/Fuente ############### -->
        <tr id="des-marca_1" class="des">
            <th scope="row">
                <div class="input-group">
               		<input type="hidden" id="id" value="" />
                
                    <label>Fuente:</label> 
                    <select id="des_marca_empresa_1"  class="form-control input-sm" name="des[marca][0][empresa]" style="color:gray;" onchange="cargarSubcatalogo(this)">
                        <option value="0" selected="selected">Seleccione una fuente</option>
                        <?php foreach($this->cat_fuente_manejo_sanitario as $valor){?>
                             <option value="<?php echo $valor->id?>"><?php echo $valor->valor?></option>
                        <?php }?>
                    </select><br />
                     
                    <label>Tipo:</label>
                    <select id="des_marca_marca_1"  class="form-control input-sm" name="des[marca][0][marca]" style="color:gray;">
                        <option value="0" selected="selected">Seleccione un tipo</option>
                    </select>
                    
                    <!--<label>Fuente:</label>
                    <select id="des_marca_fuente_1"  class="form-control input-sm" name="des[marca][0][fuente]"style="color:gray;">
                        <option value="0" selected="selected">Seleccione una fuente</option>
                    </select>-->
                </div>
            </th>
            <td>    
                <div class="input-group">
                    <select id="des_marca_unidad_1"  class="form-control input-sm" name="des[marca][0][unidad]"style="color:gray;">
                        <option value="0" selected="selected">Seleccione un unidad</option>
                    </select>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="des_marca_cantidad_1" class="form-control numeric required" value="" name="des[marca][0][cantidad]" onkeyup="calculaImporteFrm12('des_marca_cantidad_1','des_marca_precio_1','des_marca_importe_1')" onkeypress="return permiteNumerosConDecimal(event,this);" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="des_marca_precio_1" class="form-control numeric required" value="" name="des[marca][0][precio]" onkeyup="calculaImporteFrm12('des_marca_precio_1','des_marca_cantidad_1','des_marca_importe_1')" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="des_marca_importe_1" readonly="readonly" class="form-control numeric required" name="des[marca][0][importe]" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control" readonly="readonly" id="des_marca_frealizacion_1" name="des[marca][0][frealizacion]"/>
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                    <div class="input-group">
                        <select  class="form-control input-sm"  id="des_marca_etapa_fenologica_1" style="color:gray;" name="des[marca][0][etapa_fenologica]">
                            <option value="0">Seleccione una opción</option>
                        </select>
                    </div>
                </td>
            <td>
                <div class="input-group">
                    <input type="text" id="des_marca_innovacion_1" class="form-control numeric required" value="" name="des[marca][0][innovacion]"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <i class="btn btn-block btn-warning fa fa-plus-circle" style="width:40px; background:green; border-color:green;" onclick="agregarFilaExtraFrm12('des-marca')">
                    </i>
                </div>
            </td>
        </tr>
        <!-- ################### FILA PARA Coadyuvantes ############### -->
        <tr id="des-coad_1" class="des">
            <th>
                Coadyuvantes
            </th>
            <td>
                <div class="input-group">
                    <select id="des_coad_unidad_1"  class="form-control input-sm" name="des[Coadyuvantes][0][unidad]" style="color:gray;">
                        <option value="0" selected="selected">Seleccione una unidad</option>
                    </select>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="des_coad_cantidad_1" class="form-control numeric required" name="des[Coadyuvantes][0][cantidad]" value=""onkeyup="calculaImporteFrm12('des_coad_cantidad_1','des_coad_precio_1','des_coad_importe_1')" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="des_coad_precio_1"  class="form-control numeric required" name="des[Coadyuvantes][0][precio]" value=""onkeyup="calculaImporteFrm12('des_coad_precio_1','des_coad_cantidad_1','des_coad_importe_1')" onkeypress="return permiteNumerosConDecimal(event,this);" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="des_coad_importe_1" readonly="readonly" class="form-control numeric required" name="des[Coadyuvantes][0][importe]"value="" />
                </div>
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control" readonly="readonly" id="des_coad_frealizacion_1" name="des[Coadyuvantes][0][frealizacion]" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                    <div class="input-group">
                        <select id="des_coad_etapa_fenologica_1" class="form-control input-sm" name="des[Coadyuvantes][0][etapa_fenologica]"style="color:gray;">
                            <option value="0">Seleccione una opción</option>
                        </select>
                    </div>
                </td>
            <td>
                <div class="input-group">
                    <input type="text" id="des_coad_innovacion_1" class="form-control numeric required" value="" name="des[Coadyuvantes][0][innovacion]"/>
                </div>
            </td>
            <td>
            </td>
        </tr>
        <!-- ################### FILA PARA APLICACION ############### -->
        <tr id="des-apli_1" class="des">
            <th scope="row">
                <label>Selecciona la aplicación:</label>
                <select id="des_tipo_apli"  class="form-control input-sm" style="color:gray;" name="des[aplicacion][0][aplicacion]" onChange="evaluaCambioAplicacionFrm12('des-apli_1', 'des_tipo_apli')">
                    <option value="0">Seleccione una opción</option>
                    <option value="1">Mecanizada</option>
                    <option value="2" selected>Manual</option>
                    <option value="3">Aerea</option>
                </select>
            </th>
            <td  colspan="7" >
                <div style="width:100%;">
                    <div id="manual_div" class="input-group">
                        <label>Número de jornales:</label></br>
                        <input type="text" id="manual_div_no_jornales" placeholder="No. Jornales" name="des[aplicacion][0][numero_jornales]" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        <label>Costo por jornal:</label></br>
                        <input type="text" id="manual_div_costo_jornal" placeholder="Costo por jornal"name="des[aplicacion][0][costo_jornal]" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);" />
                    </div>
                    <div id="mecanizada_div" class="hide input-group">
                        <label>Selecciona el tipo de mecanización:</label>
                        <select id="mecanizada_div_select"  class="form-control input-sm" style="color:gray;" name="des[aplicacion][0][tipo_mecanizacion]" onChange="evaluaCambioAplicacion2Frm12('des-apli_1','')">
                            <option value="1" selected>Propia</option>
                            <option value="2">Rentada</option>
                        </select>
                        <div id="mecanizada_div_select_div_propia">
                            <label>Costo del combustible:</label></br>
                            <input type="text" id="mecanizada_div_select_div_propia_combustible" placeholder="Costo del combustible" name="des[aplicacion][0][costo_combustible]"class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                            <label>Costo del operador:</label></br>
                            <input type="text" id="mecanizada_div_select_div_propia_operador" placeholder="Costo del operador" name="des[aplicacion][0][costo_operador]" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        </div>
                        <div id="mecanizada_div_select_div_rentada" class="hide">
                            <label>Monto de renta:</label></br>
                            <input type="text" id="mecanizada_div_select_div_rentada_costo" placeholder="Costo de la renta" name="des[aplicacion][0][monto_renta]"class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        </div>
                    </div>
                    <div id="aerea_div" class="hide input-group">
                        <label>Selecciona el tipo de mecanización:</label>
                        <select id="aerea_div_select"  class="form-control input-sm" style="color:gray;"  <?php /*?>name="des[aplicacion][0][aerea_tipo]"<?php */?> onChange="evaluaCambioAplicacion('aerea_div_select_des_1', 'des', 1)" >
                            <option value="1" selected>Propia</option>
                            <option value="2">Rentada</option>
                        </select>
                        <div id="aerea_div_select_div_propia">
                            <label>Costo del combustible:</label></br>
                            <input type="text" id="aerea_div_select_div_propia_combustible" placeholder="Costo del combustible" <?php /*?>name="des[aplicacion][0][aerea_combustible]"<?php */?> class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                            <label>Costo del operador:</label></br>
                            <input type="text" id="aerea_div_select_div_propia_operador" placeholder="Costo del operador"<?php /*?> name="des[aplicacion][0][aerea_operador]"<?php */?>class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);" />
                        </div>
                        <div id="aerea_div_select_div_rentada" class="hide">
                            <label>Monto de renta:</label></br>
                            <input type="text" id="aerea_div_select_div_rentada_costo" placeholder="Costo de la renta" <?php /*?>name="des[aplicacion][0][aerea_monto_renta]"<?php */?>class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <!-- ################### FILA PARA ACIDIFICACION ############### -->
        <tr class="des" id="des_acidificacion_1">
            <th scope="row">
                ACIDIFICACIÓN DEL AGUA
            </th>
            <td>
                <div class="input-group">
                    <select id="des_acidificacion_unidad"  class="form-control input-sm" name="des[acidificacion][0][unidad]" style="color:gray;">
                        <option value="0" selected="selected">Seleccione una unidad</option>
                    </select>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="des_acidificacion_cantidad" class="form-control numeric required" value="" name="des[acidificacion][0][cantidad]" onkeyup="calculaImporteFrm12('des_acidificacion_cantidad','des_acidificacion_precio','des_acidificacion_importe')" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="des_acidificacion_precio" class="form-control numeric required" value="" name="des[acidificacion][0][precio]" onkeyup="calculaImporteFrm12('des_acidificacion_precio','des_acidificacion_cantidad','des_acidificacion_importe')" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="des_acidificacion_importe" readonly="readonly" name="des[acidificacion][0][importe]" class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control" readonly="readonly" id="des_acidificacion_frealizacion" name="des[acidificacion][0][frealizacion]" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                    <div class="input-group">
                        <select  id="des_acidificacion_etapa_fenologica" class="form-control input-sm" style="color:gray;" name="des[acidificacion][0][etapa_fenologica]">
                            <option value="0">Seleccione una opción</option>
                        </select>
                    </div>
                </td>
            <td>
                <div class="input-group">
                    <input type="text" id="des_acidificacion_innovacion" class="form-control numeric required" value=""name="des[acidificacion][0][innovacion]" />
                </div>
            </td>
            <td>
            </td>
        </tr>
        <!-- ################### OTROS ############### -->
        <tr>
            <th align="center" colspan="1" style="font-size: 18px;text-align:center; background-color:#a1c1d3;">
                ¿Se realizaron labores culturales?<br />
            </th>
            <td c colspan="8" style="padding-top:18px;">
            	<select style="color:grey;" id="realizo_otro" name="realizo_otro" class="form-control realizo" onchange="realizo_cm('otro')">
               		<option value="1" class="realizo">Sí</option>
               		<option value="2" selected class="realizo">No</option>
            	</select>
            </td>
        </tr>
        <tr class="otro">
            <th scope="row">
    	       1ª labor
            </th>
            <td>
                <div class="input-group">
                    <select id="otro_unidad"  class="form-control input-sm"  name="otro[limpia][0][unidad]" style="color:gray;">
                        <option value="0" selected="selected">Seleccione una unidad</option>
                    </select>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="otro_cantidad" class="form-control numeric required" name="otro[limpia][0][cantidad]" value="" onkeyup="calculaImporteFrm12('otro_cantidad','otro_precio','otro_importe')" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="otro_precio" class="form-control numeric required" value="" name="otro[limpia][0][precio]" onkeyup="calculaImporteFrm12('otro_precio','otro_cantidad','otro_importe')" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="otro_importe" readonly="readonly" name="otro[limpia][0][importe]" class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control" readonly="readonly" name="otro[limpia][0][frealizacion]" id="otro_frealizacion"/>
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                    <div class="input-group">
                        <select  id="otro_etapa_fenologica" class="form-control input-sm" name="otro[limpia][0][etapa_fenologica]" style="color:gray;">
                            <option value="0">Seleccione una opción</option>
                        </select>
                    </div>
                </td>
            <td>
                <div class="input-group">
                    <input type="text" id="otro_innovacion" class="form-control numeric required" name="otro[limpia][0][innovacion]" value="" />
                </div>
            </td>
            <td>
            </td>
        </tr>
        <!--<tr  class="otro">
            <th scope="row">
                <label>Selecciona la aplicación:</label>
                <select id="otro_tipo_ap"  class="form-control input-sm" style="color:gray;"  name="otro[aplicacion][0][aplicacion]" onChange="evaluaCambioAplicacionFrm12('otro_tipo_ap', 'otro')">
                    <option value="1">Mecanizada</option>
                    <option value="2" selected>Manual</option>
                </select>
            </th>
            <td  colspan="7" >
                <div style="width:100%;">
                    <div id="manual_div_otro" class="input-group">
                        <label>Número de jornales:</label></br>
                        <input type="text" id="manual_div_no_jornales_otro" name="otro[aplicacion][0][numero_jornales]" placeholder="No. Jornales" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        <label>Costo por jornal:</label></br>
                        <input type="text" id="manual_div_costo_jornal_otro" name="otro[aplicacion][0][costo_jornal]" placeholder="Costo por jornal" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                    </div>
                    <div id="mecanizada_div_otro" class="hide input-group">
                        <label>Selecciona el tipo de mecanización:</label>
                        <select id="mecanizada_div_select_otro"  class="form-control input-sm" name="otro[aplicacion][0][tipo_mecanizacion]"style="color:gray;" onChange="evaluaCambioAplicacion2Frm12('otro','otro')">
                            <option value="1" selected>Propia</option>
                            <option value="2">Rentada</option>
                        </select>
                        <div id="mecanizada_div_select_div_propia_otro">
                            <label>Costo del combustible:</label></br>
                            <input type="text" id="mecanizada_div_select_div_propia_combustible_otro" name="otro[aplicacion][0][costo_combustible]" placeholder="Costo del combustible" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                            <label>Costo del operador:</label></br>
                            <input type="text" id="mecanizada_div_select_div_propia_operador_otro" placeholder="Costo del operador" name="otro[aplicacion][0][costo_operador]" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        </div>
                        <div id="mecanizada_div_select_div_rentada_otro" class="hide">
                            <label>Monto de renta:</label></br>
                            <input type="text" id="mecanizada_div_select_div_rentada_costo_otro" placeholder="Costo de la renta" name="otro[aplicacion][0][monto_renta]"class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        </div>
                    </div>
                </div>
            </td>
        </tr>-->
        <tr  class="otro">
            <th scope="row">
            	2ª labor
            </th>
            <td>
                <div class="input-group">
                    <select id="otro_escarda_unidad"  class="form-control input-sm" name="otro[escarda][0][unidad]" style="color:gray;">
                        <?php echo $this->unidades_escarda;?>
                    </select>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="otro_escarda_cantidad" class="form-control numeric required" name="otro[escarda][0][cantidad]"value="" onkeyup="calculaImporteFrm12('otro_escarda_cantidad','otro_escarda_precio','otro_escarda_importe')" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="otro_escarda_precio" class="form-control numeric required" name="otro[escarda][0][precio]"value="" onkeyup="calculaImporteFrm12('otro_escarda_precio','otro_escarda_cantidad','otro_escarda_importe')" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="otro_escarda_importe" readonly="readonly" name="otro[escarda][0][importe]" class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control" readonly="readonly" id="otro_escarda_frealizacion" name="otro[escarda][0][frealizacion]"/>
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                    <div class="input-group">
                        <select id="otro_escarda_etapa_fenologica" class="form-control input-sm" name="otro[escarda][0][etapa_fenologica]" style="color:gray;">
                            <option value="0">Seleccione una opción</option>
                        </select>
                    </div>
                </td>
            <td>
                <div class="input-group">
                    <input type="text" id="otro_escarda_innovacion" class="form-control numeric required" name="otro[escarda][0][innovacion]" value="" />
                </div>
            </td>
            <td>
            </td>
        </tr>
        <!--<tr  class="otro">
            <th scope="row">
                <label>Selecciona la aplicación:</label>																					
                <select id="otro_escarda_tipo_ap"  class="form-control input-sm" style="color:gray;"  name="otro[escarda][0][aplicacion]" onChange="evaluaCambioAplicacionFrm12('otro_escarda_tipo_ap', 'escarda')">
                    <option value="1">Mecanizada</option>
                    <option value="2" selected>Manual</option>
                </select>
            </th>
            <td  colspan="7" >
                <div style="width:100%;">
                    <div id="manual_div_otro_escarda" class="input-group">
                        <label>Número de jornales:</label></br>
                        <input type="text" id="manual_div_no_jornales_otro_escarda" placeholder="No. Jornales" name="otro[escarda][0][numero_jornales]" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        <label>Costo por jornal:</label></br>
                        <input type="text" id="manual_div_costo_jornal_otro_escarda" placeholder="Costo por jornal" name="otro[escarda][0][costo_jornal]" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                    </div>
                    <div id="mecanizada_div_otro_escarda" class="hide input-group">
                        <label>Selecciona el tipo de mecanización:</label>
                        <select id="mecanizada_div_select_otro_escarda"  class="form-control input-sm" style="color:gray;" name="otro[escarda][0][tipo_mecanizacion]"onChange="evaluaCambioAplicacion2Frm12('otro','escarda')">
                            <option value="1" selected>Propia</option>
                            <option value="2">Rentada</option>
                        </select>
                        <div id="mecanizada_div_select_div_propia_otro_escarda">
                            <label>Costo del combustible:</label></br>
                            <input type="text" id="mecanizada_div_select_div_propia_combustible_otro_escarda" name="otro[escarda][0][costo_combustible]" placeholder="Costo del combustible" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);" />
                            <label>Costo del operador:</label></br>
                            <input type="text" id="mecanizada_div_select_div_propia_operador_otro_escarda" name="otro[escarda][0][costo_operador]" placeholder="Costo del operador" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        </div>
                        <div id="mecanizada_div_select_div_rentada_otro_escarda" class="hide">
                            <label>Monto de renta:</label></br>
                            <input type="text" id="mecanizada_div_select_div_rentada_costo_otro_escarda"  name="otro[escarda][0][monto_renta]" placeholder="Costo de la renta" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        </div>
                    </div>
                </div>
            </td>
        </tr>-->
    </table>

    <div class="row center-block">
    	<div class="col-xs-2 pull-left" id="btn-clean-maleza">
            <a class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Borrar</a>
        </div>
        <div class="col-xs-2 pull-left" id="btn-save-maleza">
            <a class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
        </div>
        <!---
    	<div class="col-xs-3 pull-left" id="btn-congelar-maleza">
            <a  class="btn btn-block btn-success"><i class="fa fa-minus-circle">&nbsp;</i>Finalizar captura</a>
        </div>
        ---->
    </div>
</form>