<form id="frm-14" name="frm-14" class="form-horizontal" method="post" action="/backend/diagnosticos/guardar-control-plagas-foliares" role="form">
    <input type="hidden" name="id_dato_general" id="id_dato_general_plagas_foliares" value="<?php echo $this->id; ?>" />
    <input type="hidden" name="congelado" id="congelado" value="<?php echo $this->control_plagas_foliares[0]["congelado"]; ?>" />
    <input type="hidden" name="tipo" id="tipo_control_plagas_foliares" value="<?php echo $this->tipo; ?>" />

        <!-- ##########################################################################################
         ################################### GENERICO TABLA #######################################
         ########################################################################################## -->
        <!-- ################### QUIMICO ############### -->
          <?php 
        $i=0;
		//print_r($this->control_plagas_foliares);
        do 
        {
            $plaga=$this->control_plagas_foliares[$i];
			
        ?>
        
        <table id="tabla-generica-fol<?php echo($i!=0)?$i:"" ?>" class="hide table table-bordered" width="100%" border="0" style="font-size: 12px">
        <tr>
            <th scope="col" class="col-xs-2 text-center">Actividad/insumo</th>
            <th scope="col" class="col-xs-1 text-center">Unidad</th>
            <th scope="col" class="col-xs-1 text-center">Cantidad</th>
            <th scope="col" class="col-xs-1 text-center">Costo unitario</th>
            <th scope="col" class="col-xs-2 text-center">Costo total</th>
            <th scope="col" class="col-xs-2 text-center text-center">F. Realización</th>
            <th scope="col" class="col-xs-2 text-center">Etapa fenologica</th>
            <th scope="col" class="col-xs-1 text-center">Innovación</th>
            <th scope="col" class="col-xs-2 text-center">Agregar</th>
        </tr>
        <tr>
            <th align="center" colspan="8" style="text-align:center; background-color:#a1c1d3;">
               Sustancia utilizada
            </th>
            <th>
                <div class="input-group">
                    <i id="eliminarFila" style="width:40px;" 
                    class="btn btn-block btn-danger fa fa-times-circle">&nbsp;</i>
                </div>
            </th>
        </tr>
        <tr id="despues_fol_marca_" >
            <th scope="row">
                <div class="input-group">
                <input type="hidden" name="id_clon[]" id="ids_plagas_foliares[]" value="" />
                	
                  	<label>Clasificación:</label>
                    <select class="form-control required" name="marca_empresa_clon[][]" id="empresa" style="color:gray;" onchange="cargarSubcatalogo(this)" >
                        <option value="0" selected="selected">Seleccione una fuente</option>
                        <?php foreach($this->cat_fuente_manejo_sanitario as $valor){?>
                             <option value="<?php echo $valor->id?>"><?php echo $valor->valor?></option>
                        <?php }?>
                    </select><br/>
                
                     <label>Tipo:</label>
                    <select class="form-control input-sm required" name="marca_marca_clon[][]" id="marcaXY" style="color:gray;">
                        <option value="0" selected="selected">Seleccione un tipo</option>
                    </select><br/>
                    
                    
					<?php /*?>  <label>Activo:</label>
                    <select name="marca_activo_clon[][]" id="activo" class="form-control input-sm required" style="color:gray;">
                        <option value="0" selected="selected">Seleccione un activo</option>
                        <?php foreach($this->activos as $activo){?>
                            <option value="<?php echo $activo->id?>" <?php if($activo->id==$insecticida_granulado->fuente_id) echo "selected";?>><?php echo $activo->nombre?></option>
                        <?php }?>
                    </select><?php */?>
                </div>
            </th>
            <td>
                <div class="input-group">
                   <select name="marca_unidad_clon[][]" id="unidad" class="form-control input-sm required" style="color:gray;">
                        <option value="0" selected="selected">Seleccione una unidad</option>
                        <?php foreach($this->unidad["qob"] as $unidad){?>
                        	<option value="<?php echo $unidad->id?>" <?php if($unidad->id==$insecticida_granulado->unidad_id) echo "selected";?>><?php echo $unidad->nombre?></option>
                    	<?php }?>
                    </select>
                </div>
            </td>
            <td>
                <div class="input-group">
                     <input type="text" id="cantidad" name="marca_cantidad_clon[][]" onkeyup="calculaImporteFrm14(this)" onkeypress="return permiteNumerosConDecimal(event,this);"class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group">
                     <input type="text" id="precio" name="marca_precio_clon[][]" onkeyup="calculaImporteFrm14(this)" onkeypress="return permiteNumerosConDecimal(event,this);" class="form-control numeric required" value="" />
                 </div>
            </td>
            <td>
                <div class="input-group">
                     <input type="text" id="importe"  name="marca_importe_clon[][]" readonly="readonly" onkeypress="return permiteNumerosConDecimal(event,this);" class="form-control numeric required" value="" />
                 </div>
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control required" readonly="readonly" id="frealizacion" name="marca_frealizacion_clon[][]" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                 </div>
            </td>
            <td>
                    <div class="input-group">
                        <select id="etapa_fenologica" name="marca_etapa_fenologica_clon[][]" style="color:gray;" class="form-control input-sm required">
                            <option value="0">Seleccione una opción</option>
                            <?php foreach($this->etapas_fenologicas as $etapa){?>
                        		<option value="<?php echo $etapa->id?>"><?php echo $etapa->nombre?></option>
                    		<?php }?>
                        </select>
                    </div>
                </td>
            <td>
                <div class="input-group">
                     <input type="text" id="innovacion" name="marca_innovacion_clon[][]" class="form-control numeric required" value="" />
                 </div>
            </td>
            <td>
                <div class="input-group">
                    <i  id="agre" class="btn btn-block btn-warning fa fa-plus-circle" style="width:40px; background:green; border-color:green;">
                    </i>
                </div>
            </td>
        </tr>
        <tr id="despues_fol_coad_">
           <th>
                Coadyudantes
           </th>
            <td>
                <select name="coadyudante_unidad_clon[][]" id="unidad" class="form-control input-sm required" style="color:gray;">
                    <option value="0" selected="selected">Seleccione una unidad</option>
                    <?php foreach($this->unidad["qob"] as $unidad){?>
                        <option value="<?php echo $unidad->id?>" <?php if($unidad->id==$insecticida_granulado->unidad_id) echo "selected";?>><?php echo $unidad->nombre?></option>
                    <?php }?>
                </select>
            </td>
            <td>
                    <div class="input-group">
                         <input type="text" id="cantidad" name="coadyudante_cantidad_clon[][]" onkeyup="calculaImporteFrm14(this)" onkeypress="return permiteNumerosConDecimal(event,this);"  class="form-control numeric required" value="" />
                     </div>
            </td>
            <td>
                    <div class="input-group">
                         <input type="text" id="precio" name="coadyudante_precio_clon[][]" onkeyup="calculaImporteFrm14(this)" onkeypress="return permiteNumerosConDecimal(event,this);" class="form-control numeric required" value="" />
                     </div>
            </td>
            <td>
                    <div class="input-group">
                         <input type="text" id="importe" name="coadyudante_importe_clon[][]" readonly="readonly" onkeypress="return permiteNumerosConDecimal(event,this);"  class="form-control numeric required" value="" />
                     </div>
            </td>
            <td>
                    <div class="input-group date">
                        <input type='text' class="form-control required" readonly="readonly" id="frealizacion" name="coadyudantes_frealizacion_clon[][]" />
                            <span class="input-group-addon" style="cursor:pointer">
                                <span class="fa fa-calendar"></span>
                            </span>
                     </div>
            </td>
            <td>
                    
                    <div class="input-group">
                        <select id="etapa_fenologica" name="coadyudante_etapa_fenologica_clon[][]" style="color:gray;" class="form-control input-sm required">
                            <option value="0">Seleccione una opción</option>
                            <?php foreach($this->etapas_fenologicas as $etapa){?>
                        		<option value="<?php echo $etapa->id?>" <?php echo ($etapa->id==$insecticida_granulado->etapa_fenologica)?"selected":""?>><?php echo $etapa->nombre?></option>
                    		<?php }?>
                        </select>
                    </div>
                </td>
            <td>
                    <div class="input-group">
                         <input type="text" id="innovacion" name="coadyudante_innovacion_clon[]" class="form-control numeric required" value="" />
                     </div>
            </td>
            <td>

            </td>
            </tr>
        <tr>
        <tr id="despues_fol_apli_">
            <th scope="row">
                <label>Selecciona la aplicacion:</label>
                <select id="tipo_ap_select_gen" name="aplicacion_clon[]" class="form-control input-sm required" style="color:gray;">
                    <option value="1">Mecanizada</option>
                    <option value="2" selected>Manual</option>
                    <option value="3">Aerea</option>
                </select>
            </th>
            <td  colspan="7" >
                <div style="width:100%;">
                    <div id="manual_div_gen" class="input-group">
                        <label>Numero de jornales:</label></br>
                        <input type="text" id="manual_div_no_jornales_gen" name="numero_jornales_clon[]" onkeypress="return permiteNumerosConDecimal(event,this);" placeholder="No. Jornales" class="form-control numeric " value="" />
                        <label>Costo por jornal:</label></br>
                        <input type="text" id="manual_div_costo_jornal_gen" name="costo_jornal_clon[]" onkeypress="return permiteNumerosConDecimal(event,this);" placeholder="Costo por jornal" class="form-control numeric " value="" />
                    </div>
                    <div id="mecanizada_div_gen" class="hide input-group">
                        <label>Selecciona el tipo de mecanización:</label>
                        <select id="mecanizada_div_select_gen" name="tipo_mecanizacion_clon[]" class="form-control input-sm" style="color:gray;">
                            <option value="1" selected>Propia</option>
                            <option value="2">Rentada</option>
                        </select>
                        <div id="mecanizada_div_select_div_propia_gen">
                            <label>Costo del combustible:</label></br>
                            <input type="text" id="mecanizada_div_select_div_propia_combustible_gen" name="costo_combustible_clon[]" onkeypress="return permiteNumerosConDecimal(event,this);"placeholder="Costo del combustible" class="form-control numeric " value="" />
                            <label>Costo del operador:</label></br>
                            <input type="text" id="mecanizada_div_select_div_propia_operador_gen" name="costo_operador_clon[]" onkeypress="return permiteNumerosConDecimal(event,this);"placeholder="Costo del operador" class="form-control numeric " value="" />
                        </div>
                        <div id="mecanizada_div_select_div_rentada_gen" class="hide">
                            <label>Monto de renta:</label></br>
                            <input type="text" id="mecanizada_div_select_div_rentada_costo_gen"name="monto_renta_clon[]" onkeypress="return permiteNumerosConDecimal(event,this);"placeholder="Costo de la renta" class="form-control numeric " value="" />
                        </div>
                    </div>
                    <div id="aerea_div_gen" class="hide input-group">
                        <label>Selecciona el tipo de mecanización:</label>
                        <select id="aerea_div_select_gen" class="form-control input-sm" name="tipo_mecanizacion_aerea_clon[]" style="color:gray;">
                            <option value="1" selected>Propia</option>
                            <option value="2">Rentada</option>
                        </select>
                        <div id="aerea_div_select_div_propia_gen">
                            <label>Costo del combustible:</label></br>
                            <input type="text" id="aerea_div_select_div_propia_combustible_gen" name="costo_combustible_aerea_clon[]" onkeypress="return permiteNumerosConDecimal(event,this);"placeholder="Costo del combustible" class="form-control numeric " value="" />
                            <label>Costo del operador:</label></br>
                            <input type="text" id="aerea_div_select_div_propia_operador_gen" name="costo_operador_aerea_clon[]" onkeypress="return permiteNumerosConDecimal(event,this);"placeholder="Costo del operador" class="form-control numeric " value="" />
                        </div>
                        <div id="aerea_div_select_div_rentada_gen" class="hide">
                            <label>Monto de renta:</label></br>
                            <input type="text" id="aerea_div_select_div_rentada_costo_gen" name="monto_renta_aerea_clon[]" onkeypress="return permiteNumerosConDecimal(event,this);"placeholder="Costo de la renta" class="form-control numeric " value="" />
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>


<table width="100%" border="0" id="tablafol_<?php echo ($i+1)?>" class="table table-bordered tabfol" style="font-size: 12px">
    <tr>
        <th scope="col" class="col-xs-2 text-center">Actividad/Insumo</th>
            <th scope="col" class="col-xs-1 text-center">Unidad</th>
            <th scope="col" class="col-xs-1 text-center">Cantidad</th>
            <th scope="col" class="col-xs-1 text-center">Costo unitario</th>
            <th scope="col" class="col-xs-2 text-center">Costo total</th>
            <th scope="col" class="col-xs-2 text-center text-center">F. Realización</th>
            <th scope="col" class="col-xs-2 text-center">Etapa fenologica</th>
            <th scope="col" class="col-xs-1 text-center">Innovación</th>
            <th scope="col" class="col-xs-2 text-center">Agregar</th>
    </tr>
    <!-- ############# FILA GENERICA QUIMICO ############ -->
    <tr id="fila_generica_marca" class="hide">
        <th scope="row">
    		<div class="input-group">
            	
                <label>Fuente:</label>
              	<select class="form-control required" name="marca_empresa_clon[][]" id="empresa" style="color:gray;" onchange="cargarSubcatalogo(this)" >
                    <option value="0" selected="selected">Seleccione una fuente</option>
                    <?php foreach($this->cat_fuente_manejo_sanitario as $valor){?>
                         <option value="<?php echo $valor->id?>"><?php echo $valor->valor?></option>
                    <?php }?>
               	</select><br />
             
           		<label>Tipo:</label>
                <select class="form-control required" name="marca_marca_clon[][]" id="marca" style="color:gray;">
                    <option value="0" selected="selected">Seleccione un tipo</option>
                </select>
            
               <?php /*?> <label>Presentación:</label>
                <select name="marca_marca_clon[][]" id="marca" class="form-control input-sm required" style="color:gray;">
                    <option value="0" selected="selected">Seleccione una marca</option>
                    <?php foreach($this->marcas as $marca){?>
                        	<option value="<?php echo $marca->id?>"><?php echo $marca->nombre?></option>
                    <?php }?>
                </select><?php */?>
              
              
               <?php /*?> <label>Activo:</label>
                <select name="marca_activo_clon[][]" id="activo" class="form-control input-sm required" style="color:gray;">
                    <option value="0" selected="selected">Seleccione un activo</option>
                    <?php foreach($this->activos as $activo){?>
                            <option value="<?php echo $activo->id?>" <?php if($activo->id==$insecticida_granulado->fuente_id) echo "selected";?>><?php echo $activo->nombre?></option>
                    <?php }?>
                </select><?php */?>
            </div>
        </th>
        <td>	
    		<div class="input-group">
                <select name="marca_unidad_clon[][]" id="unidad" class="form-control input-sm required" style="color:gray;">
                    <option value="0" selected="selected">Seleccione una unidad</option>
                    <?php foreach($this->unidad["qob"] as $unidad){?>
                        <option value="<?php echo $unidad->id?>" <?php if($unidad->id==$insecticida_granulado->unidad_id) echo "selected";?>><?php echo $unidad->nombre?></option>
                    <?php }?>
                </select>
            </div>
        </td>
        <td>
    		<div class="input-group">
                 <input type="text" id="cantidad" name="marca_cantidad_clon[][]" onkeyup="calculaImporteFrm14(this)" onkeypress="return permiteNumerosConDecimal(event,this);"class="form-control numeric required" value="" />
            </div>
        </td>
        <td>
    		<div class="input-group">
                 <input type="text" id="precio" name="marca_precio_clon[][]" onkeyup="calculaImporteFrm14(this)" onkeypress="return permiteNumerosConDecimal(event,this);"class="form-control numeric required" value="" />
            </div>
        </td>
        <td>
    		<div class="input-group">
                 <input type="text" id="importe" name="marca_importe_clon[][]" readonly="readonly" onkeypress="return permiteNumerosConDecimal(event,this);" class="form-control numeric required" value="" />
            </div>
        </td>
        <td>
    		<div class="input-group date">
                <input type='text' class="form-control required" readonly="readonly" id="frealizacion" name="marca_frealizacion_clon[][]" />
                <span class="input-group-addon" style="cursor:pointer">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </td>
        <td>
                   
                    <div class="input-group">
                        <select id="etapa_fenologica" name="marca_etapa_fenologica_clon[][]" style="color:gray;" class="form-control input-sm required">
                            <option value="0">Seleccione una opción</option>
                            <?php foreach($this->etapas_fenologicas as $etapa){?>
                                <option value="<?php echo $etapa->id?>" <?php echo ($etapa->id==$insecticida_granulado->etapa_fenologica)?"selected":""?>><?php echo $etapa->nombre?></option>
                            <?php }?>
                        </select>
                    </div>
                
                </td>
        <td>
    		<div class="input-group">
                 <input type="text" id="innovacion" name="marca_innovacion_clon[][]" class="form-control numeric required" value="" />
            </div>
        </td>
        <td>
    		<div class="input-group">
        		<i id="eliminarFila" style="width:40px;" 
                class="btn btn-block btn-danger fa fa-times-circle">&nbsp;</i>
            </div>
        </td>
    </tr>
    <!-- ################### FILA GENERICA PARA COADYUDANTES ############### -->
        <tr id="fila_generica_coad" class="hide">
            <th>
                Coadyudantes
            </th>
            <td>
                <div class="input-group">
                    <select name="coadyudante_unidad_clon[][]" id="unidad" class="form-control input-sm required" style="color:gray;">
                        <option value="0" selected="selected">Seleccione una unidad</option>
                        <?php foreach($this->unidad["qob"] as $unidad){?>
                        	<option value="<?php echo $unidad->id?>" <?php if($unidad->id==$insecticida_granulado->unidad_id) echo "selected";?>><?php echo $unidad->nombre?></option>
                    	<?php }?>
                    </select>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="cantidad" name="coadyudante_cantidad_clon[][]" onkeyup="calculaImporteFrm14(this)" onkeypress="return permiteNumerosConDecimal(event,this);"class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="precio" name="coadyudante_precio_clon[][]" onkeyup="calculaImporteFrm14(this)" onkeypress="return permiteNumerosConDecimal(event,this);"class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="importe" name="coadyudante_importe_clon[][]" readonly="readonly" onkeypress="return permiteNumerosConDecimal(event,this);" class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control required" readonly="readonly" id="frealizacion" name="coadyudante_frealizacion_clon[][]" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                   
                    <div class="input-group"> 
                        <select id="etapa_fenologica" name="coadyudante_etapa_fenologica_clon[][]" style="color:gray;" class="form-control input-sm required">
                            <option value="0">Seleccione una opción</option>
                            <?php foreach($this->etapas_fenologicas as $etapa){?>
                                <option value="<?php echo $etapa->id?>" <?php echo ($etapa->id==$insecticida_granulado->etapa_fenologica)?"selected":""?>><?php echo $etapa->nombre?></option>
                            <?php }?>
                        </select>
                    </div>
                </td>
            <td>
                <div class="input-group">
                    <input type="text" id="innovacion" name="coadyudante_innovacion_clon[][]" class="form-control numeric required" value="" />
                </div>
            </td>
            <td>
            </td>
        </tr>
        
        <!-- ##########################################################################################
             ############################################ TABLA #######################################
             ########################################################################################## -->
        <!-- ################### QUIMICO ############### -->
       
        <tr>
            <th align="center" colspan="8" style="text-align:center; background-color:#a1c1d3;">
    	       Sustancia utilizada
            </th>
            <th>
                <!---
                <div class="input-group">
                    
                    
                    <?php if($i==0){?>
                    	<i class="btn btn-block btn-warning fa fa-plus-circle" style="width:40px; background:green; border-color:green;" onclick="agregarTabla3(1)">
                    </i>
                    <?php }else{ ?>
                    	<i  id="agre" class="btn btn-block btn-danger fa fa-times-circle" style="width:40px;" onclick="eliminarExtra3('tablafol_<?php echo ($i+1)."*".$plaga["idTabla"];?>', null)">
                    	</i>
                    <?php } ?>
                </div>
                ---->
            </th>
        </tr>
         <?php 
        $j=0;
		//print_r($plaga);
        do 
        {
            $catTipo=CatalogoDetalle::obtenerHtml($plaga["dinamicos"][$j]["empresa_id"],$plaga["dinamicos"][$j]["marca_marca"]);
        ?>
        <tr id="despues_fol_marca_<?php echo ($i+1)?>_<?php echo ($j+1)?>" class="fol-1">
            <th scope="row">
        		<div class="input-group">
                <input type="hidden" name="idTabla[<?php echo ($i+1)?>]" id="ids_plagas_foliares[<?php echo ($i+1)?>]" value="<?php echo""; ?>" />
                    
                 	<label>Fuente:</label>
              		<select class="form-control required" name="marca_empresa[<?php echo ($i+1)?>][]" id="empresa" style="color:gray;" onchange="cargarSubcatalogo(this)" >
                        <option value="0" selected="selected">Seleccione una fuente</option>
                        <?php foreach($this->cat_fuente_manejo_sanitario as $valor){?>
                             <option value="<?php echo $valor->id?>" <?php echo($plaga["dinamicos"][$j]["empresa_id"]==$valor->id ?'selected="selected"':'') ?>><?php echo $valor->valor?></option>
                        <?php }?>
               		</select><br />  
                    
                    <label>Presentación:</label>
                    <select name="marca_marca[<?php echo ($i+1)?>][]" id="marca" class="form-control input-sm required" style="color:gray;">
                        <?php echo $catTipo;?>
                    </select><br/>
                    
					
					<?php /*?><label>Activo:</label>
                    <select name="marca_activo[<?php echo ($i+1)?>][]" id="activo" class="form-control input-sm required" style="color:gray; ">
                        <option value="0" selected="selected">Seleccione un activo</option>
                        <?php foreach($this->activos as $activo){?>
                            <option value="<?php echo $activo->id?>" <?php echo($plaga["dinamicos"][$j]["marca_activo"]==$activo->id ?'selected="selected"':'') ?>><?php echo $activo->nombre?></option>
                        <?php }?>
                    </select><?php */?>
                </div>
            </th>
            <td>
                <div class="input-group">
                   <select name="marca_unidad[<?php echo ($i+1)?>][]" id="unidad" class="form-control input-sm required" style="color:gray;">
                        <option value="0" selected="selected">Seleccione una unidad</option>
                        <?php foreach($this->unidad["qob"] as $unidad){?>
                        	<option value="<?php echo $unidad->id?>" <?php echo($plaga["dinamicos"][$j]["marca_unidad"]==$unidad->id)?'selected="selected"':'' ?>><?php echo $unidad->nombre?></option>
                    	<?php }?>
                    </select>
                </div>
            </td>
            <td>
        		<div class="input-group">
                     <input type="text" id="cantidad" name="marca_cantidad[<?php echo ($i+1)?>][]" onkeyup="calculaImporteFrm14(this)" onkeypress="return permiteNumerosConDecimal(event,this);" class="form-control numeric required" value="<?php echo $plaga["dinamicos"][$j]["marca_cantidad"]?>" />
                </div>
            </td>
            <td>
        		<div class="input-group">
                     <input type="text" id="precio" name="marca_precio[<?php echo ($i+1)?>][]" onkeyup="calculaImporteFrm14(this)" onkeypress="return permiteNumerosConDecimal(event,this);"class="form-control numeric required" value="<?php echo $plaga["dinamicos"][$j]["marca_precio"]?>" />
                 </div>
            </td>
            <td>
        		<div class="input-group">
                     <input type="text" id="importe" name="marca_importe[<?php echo ($i+1)?>][]" readonly="readonly" onkeypress="return permiteNumerosConDecimal(event,this);" class="form-control numeric required" value="<?php echo $plaga["dinamicos"][$j]["marca_importe"]?>" />
                 </div>
            </td>
            <td>
        		<div class="input-group date">
                    <input type='text' class="form-control" readonly="readonly" id="frealizacion" name="marca_frealizacion[<?php echo ($i+1)?>][]" value="<?php echo $plaga["dinamicos"][$j]["marca_frealizacion"]?>" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                 </div>
            </td>
            <td>
                   
                    <div class="input-group">
                        <select id="etapa_fenologica" name="marca_etapa_fenologica[<?php echo ($i+1)?>][]" style="color:gray;" class="form-control input-sm required">
                            <option value="0">Seleccione una opción</option>
                            <?php foreach($this->etapas_fenologicas as $etapa){?>
                                <option value="<?php echo $etapa->id?>" <?php echo ($plaga["dinamicos"][$j]["marca_etapa_fenologica"]==$etapa->id)?'selected="selected"':'' ?>><?php echo $etapa->nombre?></option>
                            <?php }?>
                        </select>
                    </div>
                </td>
            <td>
        		<div class="input-group">
                     <input type="text" id="innovacion" name="marca_innovacion[<?php echo ($i+1)?>][]" class="form-control numeric required" value="<?php echo $plaga["dinamicos"][$j]["marca_innovacion"]?>" />
                 </div>
            </td>
            <td>
        		<div class="input-group">
                	<?php if($j==0){?>
                    	<i class="btn btn-block btn-warning fa fa-plus-circle" style="width:40px; background:green; border-color:green;" onclick="agregarFila3(1, 1)">
                    	</i>
                    <?php }else{ ?>
                    	<i id="elimina_<?php echo ($i+1)?>_<?php echo ($j+1)?>" class="btn btn-block btn-danger fa fa-times-circle" style="width:40px;" onclick="eliminarExtra3('despues_fol_marca_<?php echo ($i+1)?>_<?php echo ($j+1)."|".$plaga["dinamicos"][$j]["idHijo"];?>', 'despues_fol_coad_<?php echo ($i+1)?>_<?php echo ($j+1)?>')"> </i>
                    <?php } ?>
            		
                </div> 
                
                
            </td>
        </tr>
        <tr id="despues_fol_coad_<?php echo ($i+1)?>_<?php echo ($j+1)?>">
           <th>
                Coadyudantes
           </th>
            <td>
            	<select name="coadyudante_unidad[<?php echo ($i+1)?>][]" id="unidad"class="form-control input-sm required"  style="color:gray;">
                    <option value="0" selected="selected">Seleccione una unidad</option>
                    <?php foreach($this->unidad["qob"] as $unidad){?>
                        <option value="<?php echo $unidad->id?>" <?php echo($plaga["dinamicos"][$j]["coadyudante_unidad"]==$unidad->id)?'selected="selected"':'' ?>><?php echo $unidad->nombre?></option>
                    <?php }?>
                </select>
            </td>
            <td>
            		<div class="input-group">
                         <input type="text" id="cantidad" name="coadyudante_cantidad[<?php echo ($i+1)?>][]" onkeyup="calculaImporteFrm14(this)" onkeypress="return permiteNumerosConDecimal(event,this);" class="form-control numeric required" value="<?php echo $plaga["dinamicos"][$j]["coadyudante_cantidad"]?>" />
                     </div>
            </td>
            <td>
            		<div class="input-group">
                         <input type="text" id="precio" name="coadyudante_precio[<?php echo ($i+1)?>][]" onkeyup="calculaImporteFrm14(this)" onkeypress="return permiteNumerosConDecimal(event,this);" class="form-control numeric required" value="<?php echo $plaga["dinamicos"][$j]["coadyudante_precio"]?>" />
                     </div>
            </td>
            <td>
            		<div class="input-group">
                         <input type="text" id="importe" name="coadyudante_importe[<?php echo ($i+1)?>][]" readonly="readonly" onkeypress="return permiteNumerosConDecimal(event,this);" class="form-control numeric required" value="<?php echo $plaga["dinamicos"][$j]["coadyudante_importe"]?>" />
                     </div>
            </td>
            <td>
            		<div class="input-group date">
                        <input type='text' class="form-control required" readonly="readonly" id="frealizacion" name="coadyudante_frealizacion[<?php echo ($i+1)?>][]" value="<?php echo $plaga["dinamicos"][$j]["coadyudante_frealizacion"]?>" />
                            <span class="input-group-addon" style="cursor:pointer">
                                <span class="fa fa-calendar"></span>
                            </span>
                     </div>
            </td>
            <td>
                    <div class="input-group">
                        <select id="etapa_fenologica" name="coadyudante_etapa_fenologica[<?php echo ($i+1)?>][]" style="color:gray;" class="form-control input-sm required">
                            <option value="0">Seleccione una opción</option>
                            <?php foreach($this->etapas_fenologicas as $etapa){?>
                                <option value="<?php echo $etapa->id?>" <?php echo($plaga["dinamicos"][$j]["coadyudante_etapa_fenologica"]==$etapa->id)?'selected="selected"':'' ?>><?php echo $etapa->nombre?></option>
                            <?php }?>
                        </select>
                    </div>
                  
                </td>
            <td>
            		<div class="input-group">
                         <input type="text" id="innovacion" name="coadyudante_innovacion[<?php echo ($i+1)?>][]" class="form-control numeric required" value="<?php echo $plaga["dinamicos"][$j]["coadyudante_innovacion"]?>" />
                     </div> 
            </td>
            <td>

            </td>
        	</tr>
            
            <?php  $j++; } while($j<count($plaga["dinamicos"]) );?>
            
            
             
        <tr>
        <tr id="despues_fol_apli_1">
            <th scope="row">
                <label>Selecciona la aplicacion:</label>
                <select id="tipo_ap_select_fol_1" name="aplicacion[]" class="form-control input-sm" style="color:gray;" onChange="evaluaCambio('tipo_ap_select_fol_1', 'fol', 1)">
                    <option value="1" <?php echo ($plaga["aplicacion"]==1?'selected="selected"':'')?>>Mecanizada</option>
                    <option value="2" <?php echo ($plaga["aplicacion"]==2||($plaga["aplicacion"]!=1 && $plaga["aplicacion"]!=3)?'selected="selected"':'')?>>Manual</option>
                    <option value="3" <?php echo ($plaga["aplicacion"]==3?'selected="selected"':'')?>>Aerea</option>
                </select>
            </th>
            <td  colspan="7" >
                <div style="width:100%;">
                    <div id="manual_div_fol_1" class="input-group <?php echo ($plaga["aplicacion"]==2 || ($plaga["aplicacion"]!=1 && $plaga["aplicacion"]!=3))?'':"hide"?>">
                        <label>Numero de jornales:</label></br>
                        <input type="text" id="manual_div_no_jornales_fol_1" name="numero_jornales[]" onkeypress="return permiteNumerosConDecimal(event,this);" placeholder="No. Jornales" class="form-control numeric <?php echo ($plaga["aplicacion"]==2 || !isset($plaga["aplicacion"]))?'required':''?>" value="<?php echo $plaga["numero_jornales"]?>" />
                        <label>Costo por jornal:</label></br>
                        <input type="text" id="manual_div_costo_jornal_fol_1" name="costo_jornal[]" onkeypress="return permiteNumerosConDecimal(event,this);" placeholder="Costo por jornal" class="form-control numeric <?php echo ($plaga["aplicacion"]==2 || !isset($plaga["aplicacion"]))?'required':''?>" value="<?php echo $plaga["costo_jornal"]?>" />
                    </div>
                    <div id="mecanizada_div_fol_1" class="input-group <?php echo ($plaga["aplicacion"]==1)?'':"hide"?>">
                        <label>Selecciona el tipo de mecanización:</label>
                        <select id="mecanizada_div_select_fol_1" name="tipo_mecanizacion[]" class="form-control input-sm" style="color:gray;" onChange="evaluaCambioAplicacion('mecanizada_div_select_fol_1', 'fol', 1)">
                            <option value="1" <?php echo ($plaga["tipo_mecanizacion"]==1?'selected="selected"':'')?>>Propia</option>
                            <option value="2" <?php echo ($plaga["tipo_mecanizacion"]==2?'selected="selected"':'')?>>Rentada</option>
                        </select>
                        <div id="mecanizada_div_select_div_propia_fol_1" class="<?php echo ($plaga["tipo_mecanizacion"]==1)?'':"hide"?>">
                            <label>Costo del combustible:</label></br>
                            <input type="text" id="mecanizada_div_select_div_propia_combustible_fol_1" name="costo_combustible[]" onkeypress="return permiteNumerosConDecimal(event,this);"placeholder="Costo del combustible" class="form-control numeric <?php echo ($plaga["aplicacion"]==1 && $plaga["tipo_mecanizacion"]==1)?'required':''?>" value="<?php echo $plaga["costo_combustible"]?>" />
                            <label>Costo del operador:</label></br>
                            <input type="text" id="mecanizada_div_select_div_propia_operador_fol_1" name="costo_operador[]" onkeypress="return permiteNumerosConDecimal(event,this);" placeholder="Costo del operador" class="form-control numeric <?php echo ($plaga["aplicacion"]==1 && $plaga["tipo_mecanizacion"]==1)?'required':''?>" value="<?php echo $plaga["costo_operador"]?>" />
                        </div>
                        <div id="mecanizada_div_select_div_rentada_fol_1" class="<?php echo ($plaga["tipo_mecanizacion"]==2)?'':"hide"?>">
                            <label>Monto de renta:</label></br>
                            <input type="text" id="mecanizada_div_select_div_rentada_costo_fol_1" name="monto_renta[]" onkeypress="return permiteNumerosConDecimal(event,this);"  placeholder="Costo de la renta" class="form-control numeric <?php echo ($plaga["aplicacion"]==1 && $plaga["tipo_mecanizacion"]==2)?'required':''?>" value="<?php echo $plaga["monto_renta"]?>" />
                        </div>
                    </div>
                    <div id="aerea_div_fol_1" class="input-group <?php echo ($plaga["aplicacion"]==3)?'':"hide"?>">
                        <label>Selecciona el tipo de mecanización:</label>
                        <select id="aerea_div_select_fol_1" class="form-control input-sm" style="color:gray;" name="tipo_mecanizacion_aerea[]"onChange="evaluaCambioAplicacion('aerea_div_select_fol_1', 'fol', 1)">
                            <option value="1" <?php echo ($plaga["tipo_mecanizacion_aerea"]==1?'selected="selected"':'')?>>Propia</option>
                            <option value="2" <?php echo ($plaga["tipo_mecanizacion_aerea"]==2?'selected="selected"':'')?>>Rentada</option>
                        </select>
                        <div id="aerea_div_select_div_propia_fol_1" class="<?php echo ($plaga["tipo_mecanizacion_aerea"]==1)?'':"hide"?>">
                            <label>Costo del combustible:</label></br>
                            <input type="text" id="aerea_div_select_div_propia_combustible_fol_1" name="costo_combustible_aerea[]" onkeypress="return permiteNumerosConDecimal(event,this);" placeholder="Costo del combustible" class="form-control numeric <?php echo ($plaga["aplicacion"]==3 && $plaga["tipo_mecanizacion_aerea"]==1)?'required':''?>" value="<?php echo $plaga["costo_combustible_aerea"]?>" />
                            <label>Costo del operador:</label></br>
                            <input type="text" id="aerea_div_select_div_propia_operador_fol_1" name="costo_operador_aerea[]" onkeypress="return permiteNumerosConDecimal(event,this);" placeholder="Costo del operador" class="form-control numeric <?php echo ($plaga["aplicacion"]==3 && $plaga["tipo_mecanizacion_aerea"]==1)?'required':''?>" value="<?php echo $plaga["costo_operador_aerea"]?>" /> 
                        </div>
                        <div id="aerea_div_select_div_rentada_fol_1" class="<?php echo ($plaga["tipo_mecanizacion_aerea"]==2)?'':"hide"?>">
                            <label>Monto de renta:</label></br>
                            <input type="text" id="aerea_div_select_div_rentada_costo_fol_1" name="monto_renta_aerea[]" onkeypress="return permiteNumerosConDecimal(event,this);" placeholder="Costo de la renta" class="form-control numeric <?php echo ($plaga["aplicacion"]==3 && $plaga["tipo_mecanizacion_aerea"]==2)?'required':''?>" value="<?php echo $plaga["monto_renta_aerea"]?>" />
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <?php  $i++; } while($i<count($this->control_plagas_foliares));?>
  
</table>

<div class="row center-block">
	<div class="col-xs-2 pull-left" id="btnLimpiarControlPlagasFoliares">
        <a href="#" class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Borrar</a>
    </div>
    <div class="col-xs-2 pull-left" id="btnGuardarControlPlagasFoliares">
        <a href="#" class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
    </div>
    <!---
	<div class="col-xs-3 pull-left" id="btnCongelarControlPlagasFoliares">
   		<a class="btn btn-block btn-success"><i class="fa fa-minus-circle">&nbsp;</i>Finalizar captura</a>
   	</div>
        ---->

	
    
</div>


</form>