<h3>COSECHA</h3>
<br>
<form id="frmCaracterizacionCosecha" name="frmCaracterizacionCosecha" method="post">
	<div class="form-group col-md-12" style="overflow-x: auto;">
		<table class="table table-bordered" id="tblCosecha">
			<tr>
				<th>Cultivo</th>
				<th>Fuerza de trabajo</th>
				<th>Mano de obra</th>
				<th>Acarreo</th>
				<th>Almacenamiento</th>
				<th>Destino</th>
				<th>¿A quién le vende?</th>
				<th>Forma de almacenamiento (costales, silos, botes herméticos)</th>
				<th>Tratamiento para conservación de la semilla (pastillas, plantas aromáticas, semillas)</th>
				<th>Aprovechamiento del cultivo (grano, hoja, forraje)</th>
				<th>Transformación y valor agregado (tortilla, masa, tlacoyos, grano molido)</th>
			</tr>
			<?php foreach($this->datos_cultivos as $cultivo){?>
			<tr>
				<td><?php echo $cultivo->Cultivo->nombre?></td>
				<td>
					<select name="campo[<?php echo $cultivo->id?>][fuerza_trabajo]" id="fuerza_trabajo_<?php echo $cultivo->fuerza_trabajo?>">
						<option value="">Elija una opción</option>
						<?php foreach($this->catalogo_cosecha_fuerza_trabajo as $fuerza){?>
						<option <?php if($fuerza->id==$cultivo->fuerza_trabajo) echo "selected";?> value="<?php echo $fuerza->id?>"><?php echo $fuerza->valor?></option>
						<?php }?>
					</select>
				</td>
				<td>
					<select name="campo[<?php echo $cultivo->id?>][mano_obra]" id="mano_obra_<?php echo $cultivo->mano_obra?>">
						<option value="">Elija una opción</option>
						<?php foreach($this->catalogo_cosecha_mano_obra as $mano){?>
						<option <?php if($mano->id==$cultivo->mano_obra) echo "selected";?> value="<?php echo $mano->id?>"><?php echo $mano->valor?></option>
						<?php }?>
					</select>
				</td>
				<td>
					<select name="campo[<?php echo $cultivo->id?>][acarreo]" id="acarreo_<?php echo $cultivo->acarreo?>">
						<option value="">Elija una opción</option>
						<?php foreach($this->catalogo_cosecha_acarreo as $acarreo){?>
						<option <?php if($acarreo->id==$cultivo->acarreo) echo "selected";?> value="<?php echo $acarreo->id?>"><?php echo $acarreo->valor?></option>
						<?php }?>
					</select>
				</td>
				<td>
					<select name="campo[<?php echo $cultivo->id?>][almacenamiento]" id="almacenamiento_<?php echo $cultivo->almacenamiento?>">
						<option value="">Elija una opción</option>
						<?php foreach($this->catalogo_cosecha_almacenamiento as $almacenamiento){?>
						<option <?php if($almacenamiento->id==$cultivo->almacenamiento) echo "selected";?> value="<?php echo $almacenamiento->id?>"><?php echo $almacenamiento->valor?></option>
						<?php }?>
					</select>
				</td>
				<td>
					<select name="campo[<?php echo $cultivo->id?>][destino]" id="destino_<?php echo $cultivo->destino?>">
						<option value="">Elija una opción</option>
						<?php foreach($this->catalogo_cosecha_destino as $destino){?>
						<option <?php if($destino->id==$cultivo->destino) echo "selected";?> value="<?php echo $destino->id?>"><?php echo $destino->valor?></option>
						<?php }?>
					</select>
				</td>
				<td><input type="text" class="form-control" name="campo[<?php echo $cultivo->id?>][vende]" value="<?php echo $cultivo->vende?>"></td>
				<td><input type="text" class="form-control" name="campo[<?php echo $cultivo->id?>][formato_almacenamiento]" value="<?php echo $cultivo->formato_almacenamiento?>"></td>
				<td><input type="text" class="form-control" name="campo[<?php echo $cultivo->id?>][tratamiento_conservacion]" value="<?php echo $cultivo->tratamiento_conservacion?>"></td>
				<td><input type="text" class="form-control" name="campo[<?php echo $cultivo->id?>][aprovechamiento]" value="<?php echo $cultivo->aprovechamiento?>"></td>
				<td><input type="text" class="form-control" name="campo[<?php echo $cultivo->id?>][transformacion]" value="<?php echo $cultivo->transformacion?>"></td>
			</tr>
			<?php }?>
		</table>
	</div>
	
	<div class="form-group col-md-12">
		<button type="button" class="btn btn-default" onclick="guardarCaracterizacionCosecha();">Guardar</button>
	</div>
</form>