<form id="frm-17" name="frm-17" class="form-horizontal" method="post" action="/backend/diagnosticos/guardar-renta" role="form">
<table id="tabla-costos-indirectos" width="100%" border="0" class="table table-bordered" style="font-size: 12px">
  <tr>
    <th scope="col" colspan="3" class="col-xs-2 text-center">Concepto</th>
    <th scope="col" colspan="3" class="col-xs-2 text-center">Aplica</th>
    <th scope="col" colspan="6" class="col-xs-2 text-center">Costo</th>
    
  </tr>
  <tr>
    <td align="center" colspan="3">
    	<label>Trilla o corte</label>
    </td>
    <td align="center" colspan="3">
        <label>Si<input value="1" type="radio" name="trilla_corte" id="trilla_corte-Si" onclick="habilitaCI(this)" /></label> &nbsp;
        <label>No<input value="0" type="radio" name="trilla_corte" id="trilla_corte-No" onclick="habilitaCI(this)"/></label>
    </td>
    <td colspan="6">
        <input type="text" class="form-control required" readonly="readonly" id="trilla_corte" name="trilla_corte" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
  </tr>
  <tr>
    <td align="center" colspan="3">
        <label>Flete</label>
    </td>
    <td align="center" colspan="3">
        <label>Si<input value="1" type="radio" name="flete" id="flete-Si" onclick="habilitaCI(this)"/></label> &nbsp;
        <label>No<input value="0" type="radio" name="flete" id="flete-No" onclick="habilitaCI(this)"/></label>
    </td>
    <td colspan="6">
        <input type="text" class="form-control required" readonly="readonly" id="flete" name="flete" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
  </tr>
  <tr>
    <td align="center" colspan="3">
        <label>Seguro agrícola</label>
    </td>
    <td align="center" colspan="3">
        <label>Si<input value="1" type="radio" name="seguro_agricola" id="seguro_agricola_input-Si" onclick="habilitaCI(this)"/></label> &nbsp;
        <label>No<input value="0" type="radio" name="seguro_agricola" id="seguro_agricola_input-No" onclick="habilitaCI(this)"/></label>
    </td>
    <td colspan="6">
        <input type="text" class="form-control required" readonly="readonly" id="seguro_agricola_input" name="seguro_agricola" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
  </tr>
  <tr>
    <td align="center" colspan="3">
        <label>Asistencia técnica</label>
    </td>
    <td align="center" colspan="3">
        <label>Si<input value="1" type="radio" name="asistencia_tecnica" id="asistencia_tecnica-Si" onclick="habilitaCI(this)"/></label> &nbsp;
        <label>No<input value="0" type="radio" name="asistencia_tecnica" id="asistencia_tecnica-No" onclick="habilitaCI(this)"/></label>
    </td>
    <td colspan="6">
        <input type="text" class="form-control required" readonly="readonly" id="asistencia_tecnica" name="asistencia_tecnica" placeholder="Monto" value=""onkeypress="return permiteNumerosConDecimal(event,this);" />
    </td>
  </tr>
  <tr>
    <td align="center" colspan="3">
        <label>Gastos de almacén</label>
    </td>
    <td align="center" colspan="3">
        <label>Si<input value="1" type="radio" name="gasto_almacen" id="gasto_almacen-Si" onclick="habilitaCI(this)"/></label> &nbsp;
        <label>No<input value="0" type="radio" name="gasto_almacen" id="gasto_almacen-No" onclick="habilitaCI(this)"/></label>
    </td>
    <td colspan="6">
        <input type="text" class="form-control required" readonly="readonly" id="gasto_almacen" name="gasto_almacen" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
  </tr>
  <tr>
    <td align="center" colspan="3">
        <label>Cobertura de precios</label>
    </td>
    <td align="center" colspan="3">
        <label>Si<input value="1" type="radio" name="cobertura_precio" id="cobertura_precio-Si" onclick="habilitaCI(this)"/></label> &nbsp;
        <label>No<input value="0" type="radio" name="cobertura_precio" id="cobertura_precio-No" onclick="habilitaCI(this)"/></label>
    </td>
    <td colspan="6">
        <input type="text" class="form-control required" readonly="readonly" id="cobertura_precio" name="cobertura_precio" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
  </tr>
  <tr>
    <td align="center" colspan="3">
        <label>Intereses financieros</label>
    </td>
    <td align="center" colspan="3">
        <label>Si<input value="1" type="radio" name="garantia_liquida" id="garantia_liquida-Si" onclick="habilitaCI(this)"/></label> &nbsp;
        <label>No<input value="0" type="radio" name="garantia_liquida" id="garantia_liquida-No" onclick="habilitaCI(this)"/></label>
    </td>
    <td colspan="6">
        <input type="text" class="form-control required" readonly="readonly" id="garantia_liquida" name="garantia_liquida" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
  </tr>
</table>

<div class="row center-block">
	<div class="col-xs-2 pull-left" id="btn-clean-ci">
        <a class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Borrar</a>
    </div>
    <div class="col-xs-2 pull-left" id="btn-save-ci">
        <a class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
    </div>
    <!---
	<div class="col-xs-3 pull-left" id="btn-congelar-ci">
   		<a class="btn btn-block btn-success"><i class="fa fa-minus-circle">&nbsp;</i>Finalizar captura</a>
  	</div>
        ---->
	
    
</div>


</form>