<?php
if($this->tipo==2)
	$tipo=1;
else
	$tipo='';
?>
<div class="form-group col-md-12" style="overflow-x: scroll">
	<h4>3.3 RELACIÓN DE CULTIVOS</h4>
	<table class="table table-bordered" style="width: 1500px" id="tbl_relacion_cultivos<?php echo $tipo?>">
		<caption>Enliste los principales cultivos en el predio durante el año</caption>
		<tr>
			<th>Cultivo</th>
			<th>Ciclo</th>
			<th>Otro ciclo</th>
			<th>Superficie</th>
			<th>Disposición</th>
			<th>¿Cómo obtiene la semilla?</th>
			<th>Material genético</th>
			<th>Nombre o variedad de semilla</th>
			<th>En caso de utilizar su propia semilla, ¿cómo la selecciona?</th>
			<th>Número de semillas en cada hoyo</th>
			<th>Plantas a la cosecha</th>
			<th>Fecha de cosecha</th>
			<th></th>
		</tr>
		<tr>
			<td>
				<select class="form-control" name="cultivo_relacion_cultivos" id="cultivo_relacion_cultivos<?php echo $tipo?>">
					<?php echo $this->cultivos;?>
				</select>
			</td>
			<td>
				<select name="ciclo_relacion_cultivos" id="ciclo_relacion_cultivos<?php echo $tipo?>" onchange="habilitaOtroCiclo(this.value);" class="form-control" name="ciclo_relacion_cultivos" id="ciclo_relacion_cultivos<?php echo $tipo?>" >
					<option value="">Elija una opción</option>
					<option value="1">Primavera-Verano</option>
					<option value="2">Otoño-Invierno</option>
					<option value="3">Perene</option>
					<option value="4">Otro ciclo</option>
				</select>
			</td>
			<td><input type="text" disabled="disabled" name="otro_ciclo_relacion_cultivos" id="otro_ciclo_relacion_cultivos<?php echo $tipo?>" class="form-control"></td>
			<td><input type="text" name="superficie_relacion_cultivos" id="superficie_relacion_cultivos<?php echo $tipo?>" class="form-control"></td>
			<td>
				<select name="disposicion_relacion_cultivos" id="disposicion_relacion_cultivos<?php echo $tipo?>" class="form-control">
					<option value="">Elija una opción</option>
					<?php foreach($this->cat_disposicion_cultivo as $r){?>
						<option value="<?php echo $r->id?>"><?php echo $r->valor;?></option>
					<?php }?>
				</select>
			</td>
			<td>
				<select name="obtiene_semilla_relacion_cultivos" id="obtiene_semilla_relacion_cultivos<?php echo $tipo?>" class="form-control">
					<option value="">Elija una opción</option>
					<?php foreach($this->cat_obtiene_semilla as $r){?>
						<option value="<?php echo $r->id?>"><?php echo $r->valor;?></option>
					<?php }?>
				</select>
			</td>
			<td>
				<select name="genetico_relacion_cultivos" id="genetico_relacion_cultivos<?php echo $tipo?>" class="form-control">
					<option value="">Elija una opción</option>
					<?php foreach($this->cat_material_genetico as $r){?>
						<option value="<?php echo $r->id?>"><?php echo $r->valor;?></option>
					<?php }?>
				</select>
			</td>
			<td><input type="text" name="variedad_relacion_cultivos" id="variedad_relacion_cultivos<?php echo $tipo?>" class="form-control"></td>
			<td>
				<select name="seleccion_relacion_cultivos" id="seleccion_relacion_cultivos<?php echo $tipo?>" class="form-control">
					<option value="">Elija una opción</option>
					<?php foreach($this->cat_propia_semilla as $r){?>
						<option value="<?php echo $r->id?>"><?php echo $r->valor;?></option>
					<?php }?>
				</select>
			</td>
			<td><input type="number" name="numero_relacion_cultivos" id="numero_relacion_cultivos<?php echo $tipo?>" class="form-control"></td>
			<td><input type="number" name="cosecha_relacion_cultivos" id="cosecha_relacion_cultivos<?php echo $tipo?>" class="form-control"></td>
			<td><input type="text"  name="fecha_relacion_cultivos" id="fecha_relacion_cultivos<?php echo $tipo?>" class="form-control date"></td>
			<td><input type="button" class="btn btn-success" value="+" onclick="agregarCultivoSistemaProduccion(<?php echo $tipo?>);"></td>
		</tr>
		<?php foreach($this->datos_cultivos as $cultivo){?>
		<tr id="fila_relacion_cultivos_<?php echo $cultivo->id?>">
			<td>
				<?php echo $cultivo->Cultivo->nombre?>
			</td>
			<td>
				<?php 
				switch($cultivo->ciclo)
				{
					case 1: $ciclo='Primavera-Verano'; break;
					case 2: $ciclo='Otoño-Invierno'; break;
					case 3: $ciclo='Perene'; break;
					case 4: $ciclo='Otro ciclo'; break;
				}
				echo $ciclo;

				?>
			</td>
			<td><?php echo $cultivo->otro_ciclo?></td>
			<td><?php echo $cultivo->numero_hectareas?></td>
			<td><?php echo $cultivo->Disposicion->valor?></td>
			<td><?php echo $cultivo->ObtieneSemilla->valor?></td>
			<td><?php echo $cultivo->MaterialGenetico->valor?></td>
			<td><?php echo $cultivo->variedad_semilla?></td>
			<td><?php echo $cultivo->SeleccionSemilla->valor?></td>
			<td><?php echo $cultivo->numero_semillas?></td>
			<td><?php echo $cultivo->cosecha?></td>
			<td><?php echo $cultivo->fecha_cosecha?></td>
			<td><input type="button" class="btn btn-danger" value="-" onclick="eliminarCultivoSistemaProduccion(<?php echo $cultivo->id?>);"></td>
		</tr>
		<?php }?>
	</table>
</div>