<div id="frm-1-div">
	<form id="frm-predio" name="frm-predio" class="form-horizontal" method="post" action="/backend/diagnosticos/guardar" role="form">
    <input  type="hidden" id="id_productor" name="id_productor" value="" />
    <input  type="hidden" id="predio_id" name="predio_id" value="<?php echo $this->predio_id; ?>" />
    <input  type="hidden" id="tipo" name="tipo" value="<?php echo $this->tipo; ?>" />    
    <input  type="hidden" id="agroconsultor" name="agroconsultor" value="<?php echo Zend_Auth::getInstance()->getIdentity()->id; ?>" />
    
    <div class="row">
      
      <!--<div class="form-group col-xs-3" id="filtro-avanzado">
          <a class="btn btn-block btn-success">
            <i class="fa fa-plus"> Filtros avanzados</i>
          </a>
      </div>-->
        
    <div class="form-group col-xs-12">
        <div class="col-xs-12">
          <h3> Datos del Predio </h3>
        </div>
        <div class="form-group col-xs-12">          
          <label for="nombre" class="col-xs-2 control-label">*Estado:</label>
          <div class="col-xs-4">          
            <select name="predio_estado_id" id="predio_estado_id" class="form-control input-sm SelectEstado">
                <?php echo $this->estado; ?>
              </select>          
          </div>
          <label for="nombre" class="col-xs-2 control-label">*Municipio:</label>
          <div class="col-xs-4">          
            <select name="municipio" id="municipio" class="form-control input-sm SelectMunicipio">
            </select>          
          </div>
        </div>
        <div class="form-group col-xs-12">
          <label for="nombre" class="col-xs-2 control-label">*Localidad:</label>
          <div class="col-xs-4">          
            <select name="localidad" id="localidad" class="form-control input-sm SelectLocalidad required">
            </select>
          </div>
          <label for="nombre" class="col-xs-2 control-label">*N&uacute;mero de Regi&oacute;n Territorial:</label>
          <div class="col-xs-4">
            <select name="region" id="region" class="form-control input-sm required">
              <option value="">Elija una opción</option>
              <?php for($i=1;$i<=16;$i++ ){?>
                <option value="<?php echo $i;?>"><?php echo $i;?></option>
              <?php }?>
            </select>
          </div>
        </div>
        <div class="form-group col-xs-12">
          <label for="nombre" class="col-xs-2 control-label">*N&uacute;mero de módulo:</label>
          <div class="col-xs-4">
            <select name="numero_modulo" id="numero_modulo" class="form-control input-sm required">
              <option value="">Elija una opción</option>
              <?php for($i=1;$i<=44;$i++ ){?>
                <option value="<?php echo $i;?>"><?php echo $i;?></option>
              <?php }?>
            </select>
          </div>
        </div>
         <div class="form-group col-xs-12 mt-2">
          <label for="nombre" class="col-xs-2 control-label">*Tipo de predio :</label>
          <div class="col-xs-4">
            <select onchange="listaTipoPredio(this.value);" name="tipo_predio" id="tipo_predio" class="form-control input-sm required">
              <option value="">Seleccione</option>
              <option value="PREDIO NORMAL">PREDIO NORMAL</option>
              <option value="ECA">ECA</option>
            </select>          
          </div>
          <label for="nombre" class="col-xs-2 control-label">*Clave de la Escuela de Campo o Predio Normal:</label>
          <div class="col-xs-4">
            <select name="clave" id="clave" class="form-control input-sm required">
              <option value="">Elija primero un tipo de predio</option>
            </select> 
          </div>
        </div>
        <div class="form-group col-xs-12">
          <label for="nombre" class="col-xs-2 control-label">*Folio del predio (antes PROCAMPO/PROAGRO):</label>
          <div class="col-xs-4">          
          <input type="text" id="folio_predio" name="folio_predio"  class="form-control input-sm required" value=""  maxlength="30 " placeholder="Folio del predio" <?php // echo ($this->tipo=='1' && $this->id<='0')?'':'disabled="disabled"'?>/>          
          </div>
          <label for="nombre" class="col-xs-2 control-label">*Nombre del predio:</label>
          <div class="col-xs-4">
            <input type="text" id="nombre_predio" name="nombre_predio" class="form-control input-sm required" value=""  maxlength="100" placeholder="Nombre del predio" <?php // echo ($this->tipo=='1' && $this->id<='0')?'':'disabled="disabled"'?>/>
          </div>
        </div>
        <div class="form-group col-xs-12">
          <label for="nombre" class="col-xs-2 control-label">*N&uacute;mero de ciclos de cultivo al a&ntilde;o:</label>
          <div class="col-xs-4">
            <select name="numero_ciclos" id="numero_ciclos" class="form-control input-sm required">
                <option value="">Elija una opción</option>
                <?php for($i=1;$i<=5;$i++ ){?>
                  <option value="<?php echo $i;?>"><?php echo $i;?></option>
                <?php }?>
            </select>
          </div>
          <label for="nombre" class="col-xs-2 control-label">*Tipo de manejo actual:</label>
          <div class="col-xs-4">
            <select name="manejo_actual" id="manejo_actual" class="form-control input-sm required">
                <option value="">Elija una opción</option>
                <?php foreach($this->tipo_manejo_actual as $manejo){?>
                  <option value="<?php echo $manejo->id;?>"><?php echo $manejo->valor;?></option>
                <?php }?>
            </select>
            
          </div>
        </div>
        <div class="form-group col-xs-12">
          <label for="nombre" class="col-xs-2 control-label">*Superficie (has):</label>
          <div class="col-xs-4">          
          <input type="text" id="superficie" name="superficie"  class="form-control input-sm required" value=""  maxlength="30" placeholder="Superficie" <?php // echo ($this->tipo=='1' && $this->id<='0')?'':'disabled="disabled"'?>/>          
          </div>
          <label for="nombre" class="col-xs-2 control-label">*Altitud (msnm):</label>
          <div class="col-xs-4">
            <input type="text" id="altitud" name="altitud" class="form-control input-sm " value=""  maxlength="200" placeholder="Altitud" <?php //echo ($this->tipo=='1' && $this->id<='0')?'':'disabled="disabled"'?>/>
          </div>
        </div>
        <div class="form-group col-xs-12">
          <label for="nombre" class="col-xs-2 control-label">*R&eacute;gimen de propiedad:</label>
          <div class="col-xs-4">
            <select name="regimen_propiedad" id="regimen_propiedad" class="form-control input-sm required">
                <option value="">Elija una opción</option>
                <?php foreach($this->tipo_regimen_propiedad as $d){?>
                  <option value="<?php echo $d->id;?>"><?php echo $d->valor;?></option>
                <?php }?>
            </select>
          </div>
          <label for="nombre" class="col-xs-2 control-label">*R&eacute;gimen agrario:</label>
          <div class="col-xs-4">
            <select name="regimen_agrario" id="regimen_agrario" class="form-control input-sm required">
                <option value="">Elija una opción</option>
                <?php foreach($this->tipo_regimen_agrario as $d){?>
                  <option value="<?php echo $d->id;?>"><?php echo $d->valor;?></option>
                <?php }?>
            </select>
          </div>
        </div>
        <div class="form-group col-xs-12 mb-3" style="margin-bottom: 30px;">
          <label for="nombre" class="col-xs-2 control-label">*R&eacute;gimen h&iacute;drico:</label>
          <div class="col-xs-4">
            <select name="regimen_hidrico" id="regimen_hidrico" class="form-control input-sm required">
                <option value="">Elija una opción</option>
                <?php foreach($this->tipo_regimen_hidrico as $d){?>
                  <option value="<?php echo $d->id;?>"><?php echo $d->valor;?></option>
                <?php }?>
            </select>
          </div>
          <!--<label for="nombre" class="col-xs-2 control-label">*Nombre del T&eacute;cnico Agroecol&oacute;gico:</label>
          <div class="col-xs-4">
            <input type="text" id="nombre_tecnico" name="nombre_tecnico" class="form-control input-sm required" value=""  maxlength="200" placeholder="*Nombre del T&eacute;cnico Agroecol&oacute;gico" <?php // ($this->tipo=='1' && $this->id<='0')?'':'disabled="disabled"'?>/>
          </div>->
        </div>       
        <div class="form-group col-xs-12 mb-3">
          <label for="nombre" class="col-xs-2 control-label">*N&uacute;mero de m&oacute;dulo:</label>
          <div class="col-xs-4">          
            <input type="text" id="numero_modulo" name="numero_modulo"  class="form-control input-sm required" value=""  maxlength="30" placeholder="N&uacute;mero de m&oacute;dulo" <?php //echo ($this->tipo=='1' && $this->id<='0')?'':'disabled="disabled"'?>/> 
          </div>          
        </div>       
        <div class="col-xs-6">          
          <label>*Cultivo:</label>
          <table width="100%" border="0" id="tabla_cultivo" class="table table-bordered" style="font-size: 12px">
            <tr>
              <th scope="col" class="col-xs-6 text-center">Cultivo</th>
              <th scope="col" class="col-xs-4 text-center">Num. de hectáreas</th>
              <th scope="col" class="col-xs-2 text-center">
                <div class="input-group pull-left">  
                  <i id="tablaAgregarCultivo"class="fa fa-plus-circle" style="width:40px; border-color:green;" onclick="agregarFilaFrm1Cultivo()">
                  </i>
                </div>
              </th>
            </tr>
            <tr id="fila_generica_dgCultivo" class="hide">
              <th scope="row">
                <div class="input-group">
                  <select style="color:grey;" id="select_cultivo_dg_" class="form-control input-sm">
                    <option value="" selected>Seleccione un cultivo</option>                   
                  </select>
                </div>
              </th>
              <td>
               <div class="input-group">
                  <input type="text" id="hect_cultivo_dg_" class="form-control numeric required" onkeypress="return numeros(event)" value="" />
               </div>
              </td>
              <td>
                <div class="input-group pull-left">  
                  <i id="eliminarFila_dg_" style="width:40px;" class="btn btn-block btn-danger fa fa-times-circle">&nbsp;
                  </i>
                </div>
              </td>
              <input type="hidden" id="cultivos_id_" value="0" />
            </tr>
            <tr id="dgCultivo_despues_1" class="dgCultivo">
              <th scope="row">
                  <div class="input-group">
                    <select style="color:grey;" id="select_cultivo_dg_1" name="cultivos[0][id_cultivo]" class="form-control input-sm">
                      <option value="" selected>Seleccione un cultivo</option>                   
                    </select>
                  </div>
              </th>
              <td>
               <div class="input-group">
                   <input type="text" id="hectareas_cultivo_dg_1" name="cultivos[0][hectareas]" 
                   class="form-control numeric required" value="" onkeypress="return numeros(event)" />
               </div>
              </td>
              <td>
                
              </td>
              <input type="hidden" name="cultivos[0][id]" id="cultivos_id_1" value="0" />
            </tr>
          </table>-->
          <input type="hidden" name="cultivos[0][id]" id="cultivos_id_1" value="0" />
        </div>
        <br><br>
        <h3>Ubicación del predio</h3>
        <div class="form-group col-xs-12 mb-3">
          <div class="col-xs-6 form-group ">
            <label for="nombre" class="control-label">*Cargar archivo KML:</label>
            <input type="file" class="form-control input-sm" name="kml_predio" id="kml_predio" />          
            <a class="btn btn-primary" href="" id="archivo_kml_descargar" target="_blank" style="display: none;">Descargar KML</a>
          </div>
        </div>
        <div class="form-group col-xs-12 mb-3">
          <div class="col-xs-6 form-group ">
            <?php if(is_object($this->vertices)){?>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Latitud</th>
                  <th>Longitud</th>
                </tr>
              </thead>
              <tbody>
                <?php foreach($this->vertices as $vertice){?>
                <tr>
                  <td><?php echo $vertice->latitud;?></td>
                  <td><?php echo $vertice->longitud;?></td>
                </tr>
                <?php }?>
              </tbody>
            </table>
            <?php }?>
            <input type="button" class="btn" value="Trazar polígono" onclick="location.href='/backend/index/index/predio/<?php echo $this->predio_id; ?>';">
          </div>
        </div>

    </div>
   
    </div>
  <div class="height-5" style="margin-top:50px"></div>
  <div class="row center-block" style="">
  <div class="height-5"></div>
    <div class="row center-block" id="contenedor_terminar_proceso">
        <?php /*?><div class="col-xs-2 pull-left" id="btn-congelar-dg">
          <a  class="btn btn-block btn-success frmbtn"><i class="fa fa-minus-circle">&nbsp;</i>Congelar</a>
        </div>
        <div class="col-xs-2 pull-left" id="btn-save-dg">
          <a  class="btn btn-block btn-success frmbtn"><i class="fa fa-save">&nbsp;</i>Guardar</a>
        </div>
        <div class="col-xs-2 pull-left">
          <a  class="btn btn-block btn-success frmbtn" id="btn-clean-dg"><i class="fa fa-eraser">&nbsp;</i>Limpiar</a>
        </div><?php */?>
        <div class="col-xs-3 pull-left" id="btn-save-dg">
          <a  class="btn btn-block btn-success frmbtn"><i class="fa fa-save">&nbsp;</i>Terminar captura</a>
        </div>
      </div>
  </div>
	</form>
  <div id="dialog-form" class="dialog-form" title="">
  </div>
</div>
<div id="frm-1-filtro" style="display:none;">
  <!-- CONTENIDO -->
    <section class="content">
      <div class="box">
        <!-- REGRESAR -->
        <div class="box-header">
          <div class="box-tools pull-right" id="filtro-regresar">
            <a class="btn btn-block btn-success">
              <i class="fa fa-plus"> Regresar</i>
            </a>
          </div>
        </div>
        <!-- /REGRESAR -->
        <!-- FILTROS -->
        <div style="margin-top:30px;"></div>
          <div class="box-body">
            <div class="box box-danger">
              <div class="box-header">
                <div class="row">
                  <div class="col-xs-8">
                    <h3 class="box-title">Filtros de b&uacute;squeda</h3>
                  </div>
                <div class="col-xs-4">
                  <button name="reset" class="btn btn-info fa fa-eraser pull-right" onclick="javascript:limpiarFiltroAvanzado();">
                    Limpiar
                  </button> &nbsp;
                  <button name="filtrar" class="btn btn-info fa fa-search pull-right" onclick="javascript:filtrargrigAvanzado();">
                    Filtrar
                  </button>
                </div>
              </div><br/>
              <!-- CAMPOS DE FILTROS -->
              <div class="form-group col-xs-4">
                <div class="col-xs-6">
                  <label>Nombre:</label>
                  <input type="text" class="form-control input-sm" name="filtro_nombre" id="filtro_nombre" placeholder="Nombre"  />
                </div>
                <div class="col-xs-6">
                  <label>CURP:</label>
                  <input type="text" class="form-control input-sm" name="filtro_curp" id="filtro_curp" placeholder="CURP"  />
                </div>
              </div>       
              <div class="form-group col-xs-4">
                <div class="col-xs-6">
                  <label>RFC:</label>
                  <input type="text" class="form-control input-sm" name="filtro_rfc" id="filtro_rfc" placeholder="RFC"  />
                </div>
                <div class="col-xs-6">
                  <label>Domicilio:</label>
                  <input type="text" class="form-control input-sm" name="filtro_domicilio" id="filtro_domicilio" placeholder="Domicilio"  />
                </div>
              </div>                   
              <!-- /CAMPOS DE FILTROS -->
            </div>
          </div>
        </div>
        <!-- /FILTROS -->
        <!-- GRID -->
        <div class="box-body">
          <?php echo $this->grid; ?>
          <div id="flexigrid-filtro" class="col-xs-12" style="padding:0px">
          </div>
        </div>
        <!-- /GRID -->     
      </div>
    </section>
  <!-- /CONTENIDO -->
</div>