<div id="frm-1-div">
	<form id="frm-1" name="frm-1" class="form-horizontal" method="post" action="/backend/diagnosticos/guardar" role="form">
    <input  type="hidden" id="id_productor" name="id_productor" value="" />
    <input  type="hidden" id="predio_id" name="predio_id" value="<?php echo $this->predio_id; ?>" />
    <input  type="hidden" id="tipo" name="tipo" value="<?php echo $this->tipo; ?>" />    
    <input  type="hidden" id="agroconsultor" name="agroconsultor" value="<?php echo Zend_Auth::getInstance()->getIdentity()->id; ?>" />
    
    <div class="row">
      
      <!--<div class="form-group col-xs-3" id="filtro-avanzado">
          <a class="btn btn-block btn-success">
            <i class="fa fa-plus"> Filtros avanzados</i>
          </a>
      </div>-->
      <h3> Datos del Productor </h3>
      <div class="form-group col-xs-12">
        <label for="curp_productor" class="col-xs-2 control-label">*CURP del productor:</label>
        <div class="col-xs-4">
          <input type="text" id="curp_productor" name="curp_productor" class="form-control input-sm" value=""  maxlength="20" placeholder="CURP del productor" disabled="disabled"/>
        </div>
        <label for="nombre" class="col-xs-2 control-label">Nombres:</label>
        <div class="col-xs-4">
          <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombres" required>
        </div>
      </div>

      <div class="form-group col-xs-12">
        <label for="id_predio" class="col-xs-2 control-label">*Apellido paterno:</label>
        <div class="col-xs-4">         
        	<input type="text" class="form-control" id="apellido_paterno" name="apellido_paterno" placeholder="Apellido paterno" required>
       </div>
       <label for="id_predio" class="col-xs-2 control-label">*Apellido materno:</label>
        <div class="col-xs-4">         
          <input type="text" class="form-control" id="apellido_materno" name="apellido_materno" placeholder="Apellido materno" required>
       </div>
      </div>     
      <div class="form-group col-xs-12">
        <label for="nombre" class="col-xs-2 control-label">G&eacute;nero:</label>
        <div class="col-xs-4">
          <select class="form-control" name="genero" id="genero" required>
              <option value="">Elija una opci&oacute;n</option>
              <option value="1">Femenino</option>
              <option value="2">Masculino</option>
           </select>
        </div>
        <label for="nombre" class="col-xs-2 control-label">*Estado:</label>
        <div class="col-xs-4">
        	<select class="form-control" name="estado_id" id="estado_id" required>
            	<?php echo $this->estado; ?>
          	</select>        
        </div>
      </div>

      <div class="form-group col-xs-12">  
        <label for="nombre" class="col-xs-2 control-label">*Municipio:</label>
        <div class="col-xs-4">
          <select class="form-control" name="municipio_id" id="municipio_id" required>
              <option value="">Elija una opci&oacute;n</option>
          </select>
        </div>
        <label for="nombre" class="col-xs-2 control-label">*Localidad:</label>
        <div class="col-xs-4">
          <select class="form-control" name="localidad_id" id="localidad_id" required>
              <option value="">Elija una opci&oacute;n</option>
          </select>
        </div>
      </div>

      <div class="form-group col-xs-12">
        <label for="nombre" class="col-xs-2 control-label">&iquest;Pertenece a una etnia ind&iacute;gena?</label>
        <div class="col-xs-4">
          <select class="form-control" name="pertenece_etnia" id="pertenece_etnia" required>
              <option value="">Elija una opci&oacute;n</option>
              <option value="1">Si</option>
              <option value="2">No</option>
            </select>
        </div>
        <div id="campo_etnia">
          <label id="labelIndigena" for="nombre" class="col-xs-2 control-label">Especifique a cual</label>
          <div class="col-xs-4">
              <select class="form-control" name="etnia_id" id="etnia_id">
                  <option value="">Elija una opci&oacute;n</option>
                  <option value="1">Nahuas</option>
                  <option value="2">Mayas</option>
                  <option value="3">Zapotecas</option>
                  <option value="4">Mixtecas</option>
                  <option value="5">Otom&iacute;es</option>
                  <option value="6">Totonacas</option>
                  <option value="7">Tzotziles</option>
                  <option value="8">Tzeltales</option>
                  <option value="9">Mazahuas</option>
                  <option value="10">Mazatecos</option>
                  <option value="11">Huastecos</option>
                  <option value="12">Choles</option>
                  <option value="13">Pur&eacute;pechas</option>
                  <option value="14">Chinantecas</option>
                  <option value="15">Mixes</option>
                  <option value="16">Tlapanecos</option>
                  <option value="17">Tarahumaras</option>
                  <option value="18">Mayos</option>
                  <option value="19">Zoques</option>
                  <option value="20">Chontales de Tabasco</option>
                  <option value="21">Otros</option>
                </select>
           </div>
        </div>
      </div>
      <div class="form-group col-xs-12">
        <label for="innovador" class="col-xs-2 control-label">¿Es innovador?</label>
        <div class="col-xs-4">
            <select class="form-control" name="innovador" id="innovador">
                <option value="">Elija una opci&oacute;n</option>
                <option value="1">Si</option>
                <option value="2">No</option>
              </select>
         </div>
      </div>
      <div class="form-group col-xs-12">
        <label for="nombre" class="col-xs-2 control-label">&iquest;Pertenece a una organizaci&oacute;n de tipo?</label>
        <div class="col-xs-4" style="float: left !important">
          <table class="table table-bordered">
              <tr>
                <td><input onclick="activaSociedad(this);" type="checkbox" class="tipo"
                  name="sociedad_agricola" id="sociedad_agricola" value='1'><label>&nbsp;Agr&iacute;cola  </label></td>
                <td><input type="checkbox" class="tipo"
                  name="sociedad_social" id="sociedad_social" value='1'><label>&nbsp;Social  </label></td>
                <td><input type="checkbox" class="tipo"
                  name="sociedad_religiosa" id="sociedad_religiosa" value='1'><label>&nbsp;Religiosa  </label></td>
              </tr>
            </table>
        </div>
        <div id="ocultaragro-2">
           <label for="nombre" class="col-xs-2 control-label">Seleccione la persona jur&iacute;dica de la organizaci&oacute;n:</label>
           <div class="col-xs-4">
              <select class="form-control" name="persona_juridica_id" id="persona_juridica_id">
              <option value="">Elija una opci&oacute;n</option>
              <option value="1">Ejido</option>
              <option value="2">SPR</option>
              <option value="3">Cooperativa</option>
              <option value="4">USPR</option>
              <option value="5">SSS</option>
              <option value="6">Sociedad an&oacute;nima</option>
              <option value="7">OTRA</option>
            </select>
            </div>
        </div>
      </div>    
    
   
    </div>
  <div class="height-5" style="margin-top:50px"></div>
  <div class="row center-block" style="">
  <div class="height-5"></div>
    <div class="row center-block" id="contenedor_terminar_proceso">
        <?php /*?><div class="col-xs-2 pull-left" id="btn-congelar-dg">
          <a  class="btn btn-block btn-success frmbtn"><i class="fa fa-minus-circle">&nbsp;</i>Congelar</a>
        </div>*/?>
        <div class="col-xs-2 pull-left" onclick="guardarProductorGeneral();">
          <a  class="btn btn-block btn-success frmbtn"><i class="fa fa-save">&nbsp;</i>Guardar</a>
        </div>
        <?php /*<div class="col-xs-2 pull-left">
          <a  class="btn btn-block btn-success frmbtn" id="btn-clean-dg"><i class="fa fa-eraser">&nbsp;</i>Limpiar</a>
        </div><?php */?>
        <!--<div class="col-xs-3 pull-left" id="btn-save-dg">
          <a  class="btn btn-block btn-success frmbtn"><i class="fa fa-save">&nbsp;</i>Terminar captura</a>
        </div>-->
      </div>
  </div>
	</form>
  <div id="dialog-form" class="dialog-form" title="">
  </div>
</div>
<div id="frm-1-filtro" style="display:none;">
  <!-- CONTENIDO -->
    <section class="content">
      <div class="box">
        <!-- REGRESAR -->
        <div class="box-header">
          <div class="box-tools pull-right" id="filtro-regresar">
            <a class="btn btn-block btn-success">
              <i class="fa fa-plus"> Regresar</i>
            </a>
          </div>
        </div>
        <!-- /REGRESAR -->
        <!-- FILTROS -->
        <div style="margin-top:30px;"></div>
          <div class="box-body">
            <div class="box box-danger">
              <div class="box-header">
                <div class="row">
                  <div class="col-xs-8">
                    <h3 class="box-title">Filtros de b&uacute;squeda</h3>
                  </div>
                <div class="col-xs-4">
                  <button name="reset" class="btn btn-info fa fa-eraser pull-right" onclick="javascript:limpiarFiltroAvanzado();">
                    Limpiar
                  </button> &nbsp;
                  <button name="filtrar" class="btn btn-info fa fa-search pull-right" onclick="javascript:filtrargrigAvanzado();">
                    Filtrar
                  </button>
                </div>
              </div><br/>
              <!-- CAMPOS DE FILTROS -->
              <div class="form-group col-xs-4">
                <div class="col-xs-6">
                  <label>Nombre:</label>
                  <input type="text" class="form-control input-sm" name="filtro_nombre" id="filtro_nombre" placeholder="Nombre"  />
                </div>
                <div class="col-xs-6">
                  <label>CURP:</label>
                  <input type="text" class="form-control input-sm" name="filtro_curp" id="filtro_curp" placeholder="CURP"  />
                </div>
              </div>       
              <div class="form-group col-xs-4">
                <div class="col-xs-6">
                  <label>RFC:</label>
                  <input type="text" class="form-control input-sm" name="filtro_rfc" id="filtro_rfc" placeholder="RFC"  />
                </div>
                <div class="col-xs-6">
                  <label>Domicilio:</label>
                  <input type="text" class="form-control input-sm" name="filtro_domicilio" id="filtro_domicilio" placeholder="Domicilio"  />
                </div>
              </div>                   
              <!-- /CAMPOS DE FILTROS -->
            </div>
          </div>
        </div>
        <!-- /FILTROS -->
        <!-- GRID -->
        <div class="box-body">
          <?php echo $this->grid; ?>
          <div id="flexigrid-filtro" class="col-xs-12" style="padding:0px">
          </div>
        </div>
        <!-- /GRID -->     
      </div>
    </section>
  <!-- /CONTENIDO -->
</div>