<h3>FINANCIAMIENTO</h3>

<br>
<form id="frmCaracterizacionFinanciamiento" name="frmCaracterizacionFinanciamiento" method="post">
	<div class="form-group col-md-12" style="overflow-x: auto;">
		<div class="form-group col-md-6">
			<label for="exampleInputEmail1">¿Cuenta con acceso al financiamiento?</label>
			<select name="acceso_financiamiento" id="acceso_financiamiento" class="form-control">
				<option value="">Elija un opción</option>
				<option <?php echo ($this->caracterizacion_financiamiento->acceso_financiamiento==1)?"selected":""?> value="1">Si</option>
				<option <?php echo ($this->caracterizacion_financiamiento->acceso_financiamiento==2)?"selected":""?> value="2">No</option>
			</select>
		</div>
		<div class="form-group col-md-6">
			<label for="exampleInputEmail1">¿Es formal o informal?</label>
			<select name="formal_informal" id="formal_informal" class="form-control" onchange="cargarTipoFinanciamiento();">
				<option value="">Elija un opción</option>
				<option value="1" <?php echo ($this->caracterizacion_financiamiento->formal_informal==1)?"selected":""?>>Formal</option>
				<option value="2" <?php echo ($this->caracterizacion_financiamiento->formal_informal==2)?"selected":""?>>Informal</option>
			</select>
		</div>
		<div class="form-group col-md-6">
			<label for="exampleInputEmail1">Tipo de financiamiento</label>
			<select name="tipo_financiamiento" id="tipo_financiamiento" class="form-control">
				<option value="">Elija un opción</option>
			</select>
		</div>
		<div class="form-group col-md-6">
			<label for="exampleInputEmail1">¿Se encuentra en cartera vencida?</label>
			<select name="cartera_vencida" id="cartera_vencida" class="form-control">
				<option value="">Elija un opción</option>
				<option value="1" <?php echo ($this->caracterizacion_financiamiento->cartera_vencida==1)?"selected":""?>>Si</option>
				<option value="2" <?php echo ($this->caracterizacion_financiamiento->cartera_vencida==2)?"selected":""?>>No</option>
			</select>
		</div>
		<div class="form-group col-md-6">
			<label for="exampleInputEmail1">¿Desde cuándo?</label>
			<input type="text" name="desde_cuando" id="desde_cuando" class="form-control" value="<?php echo $this->caracterizacion_financiamiento->desde_cuando?>">
		</div>
		<div class="form-group col-md-6">
			<label for="exampleInputEmail1">¿Cuenta con seguro agrícola?</label>
			<select name="seguro_agricola" id="seguro_agricola" class="form-control">
				<option value="">Elija un opción</option>
				<option value="1" <?php echo ($this->caracterizacion_financiamiento->seguro_agricola==1)?"selected":""?>>Si</option>
				<option value="2" <?php echo ($this->caracterizacion_financiamiento->seguro_agricola==2)?"selected":""?>>No</option>
			</select>
		</div>
		<div class="form-group col-md-6">
			<label for="exampleInputEmail1">¿Quién es la aseguradora?</label>
			<input name="aseguradora" id="aseguradora" type="text" class="form-control" value="<?php echo $this->caracterizacion_financiamiento->aseguradora?>">
		</div>
	</div>
	
	<div class="form-group col-md-12">
		<button type="button" class="btn btn-default" onclick="guardarCaracterizacionFinanciamiento();">Guardar</button>
	</div>
	<input type="hidden" name="tipo_financiamiento_temporal" id="tipo_financiamiento_temporal" value="<?php echo $this->caracterizacion_financiamiento->tipo_financiamiento?>">
</form>
