<form id="frm-19" name="frm-19" class="form-horizontal" method="post" action="/backend/diagnosticos/guardar-renta" role="form">
<table id="tabla-rentabilidad" width="100%" border="0" class="table table-bordered" style="font-size: 12px">
  <tr>
    <th scope="col" colspan="6" class="col-xs-2 text-center">Concepto</th>
    <th scope="col" colspan="6" class="col-xs-2 text-center">Costo</th>
  </tr>
  <tr>
    <td align="center" colspan="6">
    	<label>Ingresos I</label>
    </td>
    <td colspan="6">
        <input type="text" id="ingreso_1" class="form-control required" placeholder="Monto" value="" />
    </td>
  </tr>
  <tr>
    <td align="center" colspan="6">
        <label>Ingresos II</label>
    </td>
    <td colspan="6">
        <input type="text" id="ingreso_2" class="form-control required" placeholder="Monto" value="" />
    </td>
  </tr>
</table>
</form>