<form id="frm-18" name="frm-18" class="form-horizontal" method="post" action="/backend/diagnosticos/guardar-renta" role="form">

<?php /*?><div class="form-group col-xs-24">
  <label for="nombre_productor" class="col-xs-4 control-label">*Toneladas por hectárea:</label>
  <div class="col-xs-4">
    <input type="text" id="toneladas_por_hectarea" name="toneladas_por_hectarea" class="form-control input-sm" value=""  maxlength="100" placeholder="Toneladas por hectárea" onkeypress="return permiteNumerosConDecimal(event,this);"/>
  </div>
</div><?php */?>


<table id="tabla-ingresos-esperados" width="100%" border="0" class="table table-bordered" style="font-size: 12px">
  <tr>
    <th scope="col" colspan="3" class="col-xs-2 text-center">Concepto</th>
    <th scope="col" colspan="1" class="col-xs-2 text-center">Aplica</th>
    <th scope="col" colspan="2" class="col-xs-2 text-center">Unidad</th>
    <th scope="col" colspan="3" class="col-xs-2 text-center">Ingreso por unidad</th>
    <th scope="col" colspan="3" class="col-xs-2 text-center">Ingreso total</th>
  </tr>
	<?php 
		foreach($this->usos as $uso){
			echo '
				<tr>
					<td align="center" colspan="3">
						<label>'.$uso->nombre.'</label>
					</td>
					<td align="center" colspan="1">
						<label>Si<input value="1" type="radio" name="'.$uso->nombre.'" id="'.$uso->nombre.'-Si" onclick="habilitaIE(this)"/></label> &nbsp;
						<label>No<input value="0" type="radio" name="'.$uso->nombre.'" id="'.$uso->nombre.'-No" onclick="habilitaIE(this)"/></label>
					</td>
					<td colspan="2" >
						<input type="text" id="'.$uso->nombre.'-tonelada" onkeyup="calculaIngresoFrm18(this)" readonly="readonly" name="'.$uso->nombre.'-tonelada" class="form-control required" placeholder="Cantidad" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
					</td>
					<td colspan="3" >
						<input type="text" id="'.$uso->nombre.'-ingreso_tonelada" onkeyup="calculaIngresoFrm18(this)" readonly="readonly" name="'.$uso->nombre.'-ingreso_tonelada" class="form-control required" placeholder="Ingreso" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
					</td>
					<td colspan="3">
						<input type="text" id="'.$uso->nombre.'" name="'.$uso->nombre.'"  readonly="readonly" class="form-control required" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
					</td>
				 </tr>							
			';
		}
	?>
  <tr>
    <td align="center" colspan="3">
        <label>Indemnización del seguro</label>
    </td>
    <td align="center" colspan="1">
        <label>Si<input value="1" type="radio" name="indemnizacion_seguro" id="indemnizacion_seguro-Si" onclick="habilitaIE(this)"/></label> &nbsp;
        <label>No<input value="0" type="radio" name="indemnizacion_seguro" id="indemnizacion_seguro-No" onclick="habilitaIE(this)"/></label>
    </td>
    <td colspan="2" >
        <input type="text" id="indemnizacion_seguro-tonelada" readonly="readonly" onkeyup="calculaIngresoFrm18(this)" name="indemnizacion_seguro-tonelada" class="form-control required" placeholder="Cantidad" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
    <td colspan="3" >
        <input type="text" id="indemnizacion_seguro-ingreso_tonelada" readonly="readonly" onkeyup="calculaIngresoFrm18(this)" name="indemnizacion_seguro-ingreso_tonelada" class="form-control required" placeholder="Ingreso" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
    <td colspan="3">
        <input type="text" id="indemnizacion_seguro" name="indemnizacion_seguro"  readonly="readonly" class="form-control required" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
  </tr>
  <tr>
    <td align="center" colspan="3">
        <label>Producción para el bienestar</label>
    </td>
    <td align="center" colspan="1">
        <label>Si<input value="1" type="radio" name="proagroproductivo" id="proagroproductivo-Si" onclick="habilitaIE(this)"/></label> &nbsp;
        <label>No<input value="0" type="radio" name="proagroproductivo" id="proagroproductivo-No" onclick="habilitaIE(this)"/></label>
    </td>
    <td colspan="2" >
        <input type="text" id="proagroproductivo-tonelada" readonly="readonly" onkeyup="calculaIngresoFrm18(this)" name="proagroproductivo-tonelada" class="form-control required" placeholder="Cantidad" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
    <td colspan="3" >
        <input type="text" id="proagroproductivo-ingreso_tonelada" readonly="readonly" onkeyup="calculaIngresoFrm18(this)" name="proagroproductivo-ingreso_tonelada" class="form-control required" placeholder="Ingreso" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
    <td colspan="3">
        <input type="text" id="proagroproductivo" name="procampo" readonly="readonly" class="form-control required" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
  </tr>
  <tr>
    <td align="center" colspan="3">
        <label>Otros Incentivos</label>
    </td>
    <td align="center" colspan="1">
        <label>Si<input value="1" type="radio" name="OtrosIncentivos" id="OtrosIncentivos-Si" onclick="habilitaIE(this)"/></label> &nbsp;
        <label>No<input value="0" type="radio" name="OtrosIncentivos" id="OtrosIncentivos-No" onclick="habilitaIE(this)"/></label>
    </td>
    <td colspan="2" >
        <input type="text" id="OtrosIncentivos-tonelada" readonly="readonly" onkeyup="calculaIngresoFrm18(this)" name="OtrosIncentivos-tonelada" class="form-control required" placeholder="Cantidad" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
    <td colspan="3" >
        <input type="text" id="OtrosIncentivos-ingreso_tonelada" readonly="readonly" onkeyup="calculaIngresoFrm18(this)" name="OtrosIncentivos-ingreso_tonelada" class="form-control required" placeholder="Ingreso" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>    
    <td colspan="3">
        <input type="text" id="OtrosIncentivos" name="OtrosIncentivos" readonly="readonly" class="form-control required" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
  </tr>
  <tr>
    <td align="center" colspan="3">
        <label>Otros</label>
    </td>
    <td align="center" colspan="1">
        <label>Si<input value="1" type="radio" name="Otros" id="Otros-Si" onclick="habilitaIE(this)"/></label> &nbsp;
        <label>No<input value="0" type="radio" name="Otros" id="Otros-No" onclick="habilitaIE(this)"/></label>
    </td>
    <td colspan="2" >
        <input type="text" id="Otros-tonelada" readonly="readonly" onkeyup="calculaIngresoFrm18(this)" name="Otros-tonelada" class="form-control required" placeholder="Cantidad" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
    <td colspan="3" >
        <input type="text" id="Otros-ingreso_tonelada" readonly="readonly" onkeyup="calculaIngresoFrm18(this)" name="Otros-ingreso_tonelada" class="form-control required" placeholder="Ingreso" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>    
    <td colspan="3">
        <input type="text" id="Otros" name="OtrosIncentivos" readonly="readonly" class="form-control required" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
  </tr>
</table>


<?php /*?><table id="tabla-ingresos-esperados-por-tonelada" width="50%" border="0" class="table table-bordered" style="font-size: 12px">
  <tr>
    <td align="center" colspan="3" style="font-size: 16px; font-weight:bold">
        Ingreso por hectárea
    </td>
    <td colspan="6" id="valor_ingreso_por_tonelada" style="font-size: 16px; font-weight:bold">
    </td>
  </tr><?php */?>

</table>

<div class="row center-block">
	<div class="col-xs-2 pull-left" id="btn-clean-ies">
      <a class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Borrar</a>
  	</div>
    <div class="col-xs-2 pull-left" id="btn-save-ies">
      <a class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
  	</div>
    <!---
	<div class="col-xs-3 pull-left" id="btn-congelar-ies">
  	<a  class="btn btn-block btn-success"><i class="fa fa-minus-circle">&nbsp;</i>Finalizar captura</a>
 	</div>
        ---->
	
  
</div>


</form>