<form id="frm-4" name="frm-4" class="form-horizontal" method="post" action="/backend/diagnosticos/guardar-preparacion" role="form">
<table id="tb_preparacion" width="100%" border="0" class="table table-bordered mejoramiento" style="font-size: 12px">
  <tr>
    <th scope="col" class="col-xs-2 text-center">Concepto</th>
    <th scope="col" class="col-xs-2 text-center">¿Fue realizado?</th>
<?php /*?>    <th scope="col" class="col-xs-1 text-center">Unidad</th>
    <th scope="col" class="col-xs-1 text-center">Cantidad</th>
<?php */?>    
	<th scope="col" class="col-xs-2 text-center">Costo unitario</th>
    <th scope="col" class="col-xs-2 text-center">Costo total</th>
    <th scope="col" class="col-xs-2 text-center text-center" colspan="2">F. Realización</th>
    <th scope="col" class="col-xs-2 text-center" colspan="2">Innovación</th>
  </tr>
  <tr>
    <th scope="row">Muestreo del suelo</th>
    <td align="center">
      <label>Si<input type="radio" value="1" name="muestreo_suelo_realizado" id="muestreo_suelo_Si" /></label> &nbsp;
      <label>No<input type="radio" value="2" name="muestreo_suelo_realizado" id="muestreo_suelo_No" /></label>
    </td>
    <?php /*?><td align="center" valign="middle">	
        <select id="muestreo_suelo_id_unidad" name="muestreo_suelo_id_unidad" style="width:80%; color:gray;">
            <option value="0">Seleccione una unidad</option>
        </select>
    </td>
    <td>
    		<div class="input-group">
            <input type="text" id="muestreo_suelo_cantidad" name="muestreo_suelo_cantidad" class="form-control numeric required" value="" />
        </div>
    </td><?php */?>
    <td>
    		<div class="input-group">
            <input type="text" id="muestreo_suelo_precio" name="muestreo_suelo_precio" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);" />
        </div>
    </td>
    <td>
    		<div class="input-group">
            <input type="text" id="muestreo_suelo_importe" name="muestreo_suelo_importe" class="form-control numeric required import" value="" />
        </div>
    </td>
    <td colspan="2">
    		<div class="input-group date">
            <input type='text' class="form-control" disabled id="muestreo_suelo_fecha" name="muestreo_suelo_fecha" />
            <span class="input-group-addon" style="cursor:pointer">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </td>
    <td colspan="2">
    		<div class="input-group">
            <select name="muestreo_suelo_innovacion" id="muestreo_suelo_innovacion" class="form-control numeric required">
            	<option value="">Seleccione una opción</option>
                <option value="1">Sí</option>
                <option value="0">No</option>
            </select>
<?php /*?>            <input type="text" id="muestreo_suelo_innovacion" name="muestreo_suelo_innovacion" class="form-control numeric required inno" value="" />
<?php */?>        </div>
    </td>
  </tr>
  <tr id="analisis_suelo_mdfds" style="display:none">
    <th scope="row">Análisis del suelo</th>
    <td align="center">
      <label>Si<input type="radio" value="1" name="analisis_suelo_realizado" id="analisis_suelo_Si" /></label> &nbsp;
      <label>No<input type="radio" value="2" name="analisis_suelo_realizado" id="analisis_suelo_No" /></label>
    </td>
<?php /*?>    <td align="center" valign="middle"> 
        <select id="analisis_suelo_id_unidad" name="analisis_suelo_id_unidad" style="width:80%; color:gray;">
            <option value="0">Seleccione una unidad</option>
        </select>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="analisis_suelo_cantidad" name="analisis_suelo_cantidad" class="form-control numeric required" value="" />
        </div>
    </td>
<?php */?>    <td>
        <div class="input-group">
            <input type="text" id="analisis_suelo_precio" onkeypress="return permiteNumerosConDecimal(event,this);" name="analisis_suelo_precio" class="form-control numeric required" value="" />
        </div>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="analisis_suelo_importe" name="analisis_suelo_importe" class="form-control numeric required import" value="" />
        </div>
    </td>
    <td colspan="2">
        <div class="input-group date">
            <input type='text' class="form-control" disabled id="analisis_suelo_fecha" name="analisis_suelo_fecha" />
            <span class="input-group-addon" style="cursor:pointer">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </td>
    <td colspan="2">
        <div class="input-group">
        	<select name="analisis_suelo_innovacion" id="analisis_suelo_innovacion" class="form-control numeric required ">
            	<option value="">Seleccione una opción</option>
                <option value="1">Sí</option>
                <option value="0">No</option>
            </select>
<?php /*?>            <input type="text" id="analisis_suelo_innovacion" name="analisis_suelo_innovacion" class="form-control numeric required inno" value="" />
<?php */?>        </div>
    </td>
  </tr>
  <tr id="matriz_mdfds" style="display:none">
  	<td colspan="8" align="center">
    <div class="col-xs-12 pull-right" style="padding:0px; height: 40px; margin: 10px 0px">
    	<div class="col-xs-5" id="div_tecnica">
        	<select name="tecnica" id="analisis_tecnica" class="form-control input-sm">
                <option value="">Seleccione la Técnica utilizada</option>
                <?php foreach($this->tecnicas as $tecnica){?>
                     <option value="<?php echo $tecnica->id?>"><?php echo $tecnica->nombre?></option>
                <?php }?>
            </select>
        </div>
      	<div class="col-xs-7" id="div_up1">
            <span class="fa fa-cloud-upload file-input btn btn-block btn-success btn-file">
                <span id="span_documento">Adjuntar el análisis del suelo</span>
                <input type="file" id="analisis_doc" name="analisis_doc" accept=".doc, .docx, .pdf">
            </span>
        </div>
        <div class="col-xs-2" id="div_up2" style="display:none;">
            <span class="fa fa-download file-input btn btn-block btn-primary"></span>
        </div>
        <div class="col-xs-2" id="div_up3" style="display:none;">
            <span class="fa fa-close file-input btn btn-block btn-danger"></span>
        </div>
    </div>
    <table width="100%" border="0" class="table table-bordered" id="DatosAnalisisDelSuelo" style="font-size: 12px">
          <tr>
            <th colspan="2" scope="col" class="col-xs-5 text-center">Características físicas</th>
            <td rowspan="8" scope="col" class="col-xs-1 text-center"></td>
            <th colspan="2" scope="col"class="col-xs-5 text-center">Características Químico Biológicas</th>
            </tr>
          <tr>
            <td>ARCILLA:</td>
            <td><input type="text" id="analisis_suelo_fisica_arcilla" name="analisis_suelo_fisica_arcilla" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimalN(event,this);" /></td>
            <td>CIC:</td>
            <td><input type="text" id="analisis_suelo_quimica_cic" name="analisis_suelo_quimica_cic" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimalN(event,this);"/></td>
          </tr>
          <tr>
            <td>ARENA:</td>
            <td><input type="text" id="analisis_suelo_fisica_arena" name="analisis_suelo_fisica_arena" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimalN(event,this);"/></td>
            <td>MO:</td>
            <td><input type="text" id="analisis_suelo_quimica_mo" name="analisis_suelo_quimica_mo" class="form-control numeric required" value=""onkeypress="return permiteNumerosConDecimalN(event,this);" /></td>
          </tr>
          <tr>
            <td>PROFUNDIDAD:</td>
            <td><input type="text" id="analisis_suelo_fisica_profundidad" name="analisis_suelo_fisica_profundidad" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimalN(event,this);"/></td>
            <td>PH:</td>
            <td><input type="text" id="analisis_suelo_quimica_ph" name="analisis_suelo_quimica_ph" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimalN(event,this);"/></td>
          </tr>
          <tr>
            <td>TEXTURA:</td>
            <td><input type="text" id="analisis_suelo_fisica_textura" name="analisis_suelo_fisica_textura" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimalN(event,this);"/></td>
            <td>SB:</td>
            <td><input type="text" id="analisis_suelo_quimica_sb" name="analisis_suelo_quimica_sb" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimalN(event,this);"/></td>
          </tr>
          <tr>
            <td>LIMO:</td>
            <td><input type="text" id="analisis_suelo_fisica_limo" name="analisis_suelo_fisica_limo" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimalN(event,this);"/></td>
            
          </tr>
          <tr>
          	<td>CAH:</td>
            <td><input type="text" id="analisis_suelo_quimica_cah" name="analisis_suelo_quimica_cah" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimalN(event,this);"/></td>
          </tr>
          <tr>
          	<td>IHT:</td>
            <td><input type="text" id="analisis_suelo_quimica_iht" name="analisis_suelo_quimica_iht" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimalN(event,this);"/></td>
          </tr>
    </table>               
    </td>
  </tr>
  <tr>
    <th scope="col" class="col-xs-2 text-center">Concepto</th>
    <th scope="col" class="col-xs-2 text-center">¿Fue realizado?</th>
    <th scope="col" class="col-xs-1 text-center">Unidad</th>
    <th scope="col" class="col-xs-1 text-center">Cantidad</th>
	<th scope="col" class="col-xs-2 text-center">Costo unitario</th>
    <th scope="col" class="col-xs-2 text-center">Costo total</th>
    <th scope="col" class="col-xs-2 text-center text-center">F. Realización</th>
    <th scope="col" class="col-xs-2 text-center">Innovación</th>
  </tr>
  <tr>
    <th scope="row">Incorporación de rastrojo</th>
    <td align="center">
      <label>Si<input type="radio" value="1" name="incorporacion_rastrojo_realizado" id="incorporacion_rastrojo_Si" /></label> &nbsp;
      <label>No<input type="radio" value="2" name="incorporacion_rastrojo_realizado" id="incorporacion_rastrojo_No" /></label>
    </td>
    <td align="center" valign="middle"> 
        <select id="incorporacion_rastrojo_id_unidad" name="incorporacion_rastrojo_id_unidad" class="form-control input-sm" style="color:gray;">
            <option value="0">Seleccione una unidad</option>
        </select>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="incorporacion_rastrojo_cantidad" name="incorporacion_rastrojo_cantidad" class="form-control numeric required" value=""onkeypress="return permiteNumerosConDecimal(event,this);" />
        </div>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="incorporacion_rastrojo_precio" name="incorporacion_rastrojo_precio" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
        </div>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="incorporacion_rastrojo_importe" name="incorporacion_rastrojo_importe" class="form-control numeric required import" value="" />
        </div>
    </td>
    <td>
        <div class="input-group date">
            <input type='text' class="form-control" disabled id="incorporacion_rastrojo_fecha" name="incorporacion_rastrojo_fecha" />
            <span class="input-group-addon" style="cursor:pointer">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </td>
    <td>
        <div class="input-group">
        	<select name="incorporacion_rastrojo_innovacion" id="incorporacion_rastrojo_innovacion" class="form-control numeric required ">
            	<option value="">Seleccione una opción</option>
                <option value="1">Sí</option>
                <option value="0">No</option>
            </select>
<?php /*?>            <input type="text" id="incorporacion_rastrojo_innovacion" name="incorporacion_rastrojo_innovacion" class="form-control numeric required inno" value="" />
<?php */?>        </div>
    </td>
  </tr>

  <tr>
    <th scope="row">Abonos verdes</th>
    <td align="center">
      <label>Si<input type="radio" value="1" name="abonos_verdes_realizado" id="abonos_verdes_Si" /></label> &nbsp;
      <label>No<input type="radio" value="2" name="abonos_verdes_realizado" id="abonos_verdes_No" /></label>
    </td>
    <td align="center" valign="middle"> 
        <select id="abonos_verdes_id_unidad" name="abonos_verdes_id_unidad" class="form-control input-sm" style="color:gray;">
            <option value="0">Seleccione una unidad</option>
        </select>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="abonos_verdes_cantidad" name="abonos_verdes_cantidad" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
        </div>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="abonos_verdes_precio" name="abonos_verdes_precio" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
        </div>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="abonos_verdes_importe" name="abonos_verdes_importe" class="form-control numeric required import" value="" />
        </div>
    </td>
    <td>
        <div class="input-group date">
            <input type='text' class="form-control" disabled id="abonos_verdes_fecha" name="abonos_verdes_fecha" />
            <span class="input-group-addon" style="cursor:pointer">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </td>
    <td>
        <div class="input-group">
        	<select name="abonos_verdes_innovacion" id="abonos_verdes_innovacion" class="form-control numeric required ">
            	<option value="">Seleccione una opción</option>
                <option value="1">Sí</option>
                <option value="0">No</option>
            </select>
<?php /*?>            <input type="text" id="abonos_verdes_innovacion" name="abonos_verdes_innovacion" class="form-control numeric required inno" value="" />
<?php */?>        </div>
    </td>
  </tr>

  <tr>
    <th scope="row">Composta</th>
    <td align="center">
      <label>Si<input type="radio" value="1" name="composta_realizado" id="composta_Si" /></label> &nbsp;
      <label>No<input type="radio" value="2" name="composta_realizado" id="composta_No" /></label>
    </td>
    <td align="center" valign="middle"> 
        <select id="composta_id_unidad" name="composta_id_unidad" class="form-control input-sm" style="color:gray;">
            <option value="0">Seleccione una unidad</option>
        </select>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="composta_cantidad" name="composta_cantidad" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
        </div>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="composta_precio" name="composta_precio" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
        </div>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="composta_importe" name="composta_importe" class="form-control numeric required import" value="" />
        </div>
    </td>
    <td>
        <div class="input-group date">
            <input type='text' class="form-control" disabled id="composta_fecha" name="composta_fecha" />
            <span class="input-group-addon" style="cursor:pointer">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </td>
    <td>
        <div class="input-group">
        	<select name="composta_innovacion" id="composta_innovacion" class="form-control numeric required ">
            	<option value="">Seleccione una opción</option>
                <option value="1">Sí</option>
                <option value="0">No</option>
            </select>
<?php /*?>            <input type="text" id="composta_innovacion" name="composta_innovacion" class="form-control numeric required inno" value="" />
<?php */?>        </div>
    </td>
  </tr>

  <tr>
    <th scope="row">Lombricomposta</th>
    <td align="center">
      <label>Si<input type="radio" value="1" name="lombricomposta_realizado" id="lombricomposta_Si" /></label> &nbsp;
      <label>No<input type="radio" value="2" name="lombricomposta_realizado" id="lombricomposta_No" /></label>
    </td>
    <td align="center" valign="middle"> 
        <select id="lombricomposta_id_unidad" name="lombricomposta_id_unidad" class="form-control input-sm" style="color:gray;">
            <option value="0">Seleccione una unidad</option>
        </select>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="lombricomposta_cantidad" name="lombricomposta_cantidad" class="form-control numeric required" value=""onkeypress="return permiteNumerosConDecimal(event,this);" />
        </div>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="lombricomposta_precio" name="lombricomposta_precio" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);" />
        </div>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="lombricomposta_importe" name="lombricomposta_importe" class="form-control numeric required import" value="" />
        </div>
    </td>
    <td>
        <div class="input-group date">
            <input type='text' class="form-control" disabled id="lombricomposta_fecha" name="lombricomposta_fecha" />
            <span class="input-group-addon" style="cursor:pointer">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </td>
    <td>
        <div class="input-group">
        	<select name="lombricomposta_innovacion" id="lombricomposta_innovacion" class="form-control numeric required ">
            	<option value="">Seleccione una opción</option>
                <option value="1">Sí</option>
                <option value="0">No</option>
            </select>
<?php /*?>            <input type="text" id="lombricomposta_innovacion" name="lombricomposta_innovacion" class="form-control numeric required inno" value="" />
<?php */?>        </div>
    </td>
  </tr>

  <tr>
    <th scope="row">Lixiviados</th>
    <td align="center">
      <label>Si<input type="radio" value="1" name="lixiviados_realizado" id="lixiviados_Si" /></label> &nbsp;
      <label>No<input type="radio" value="2" name="lixiviados_realizado" id="lixiviados_No" /></label>
    </td>
    <td align="center" valign="middle"> 
        <select id="lixiviados_id_unidad" name="lixiviados_id_unidad" class="form-control input-sm" style="color:gray;">
            <option value="0">Seleccione una unidad</option>
        </select>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="lixiviados_cantidad" name="lixiviados_cantidad" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
        </div>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="lixiviados_precio" name="lixiviados_precio" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
        </div>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="lixiviados_importe" name="lixiviados_importe" class="form-control numeric required import" value="" />
        </div>
    </td>
    <td>
        <div class="input-group date">
            <input type='text' class="form-control" disabled id="lixiviados_fecha" name="lixiviados_fecha" />
            <span class="input-group-addon" style="cursor:pointer">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </td>
    <td>
        <div class="input-group">
        	<select name="lixiviados_innovacion" id="lixiviados_innovacion" class="form-control numeric required ">
            	<option value="">Seleccione una opción</option>
                <option value="1">Sí</option>
                <option value="0">No</option>
            </select>
<?php /*?>            <input type="text" id="lixiviados_innovacion" name="lixiviados_innovacion" class="form-control numeric required inno" value="" />
<?php */?>        </div>
    </td>
  </tr>

  <tr>
    <th scope="row">Remineralización</th>
    <td align="center">
      <label>Si<input type="radio" value="1" name="remineralizacion_realizado" id="remineralizacion_Si" /></label> &nbsp;
      <label>No<input type="radio" value="2" name="remineralizacion_realizado" id="remineralizacion_No" /></label>
    </td>
    <td align="center" valign="middle"> 
        <select id="remineralizacion_id_unidad" name="remineralizacion_id_unidad" class="form-control input-sm" style="color:gray;">
            <option value="0">Seleccione una unidad</option>
        </select>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="remineralizacion_cantidad" name="remineralizacion_cantidad" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
        </div>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="remineralizacion_precio" name="remineralizacion_precio" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
        </div>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="remineralizacion_importe" name="remineralizacion_importe" class="form-control numeric required import" value="" />
        </div>
    </td>
    <td>
        <div class="input-group date">
            <input type='text' class="form-control" disabled id="remineralizacion_fecha" name="remineralizacion_fecha" />
            <span class="input-group-addon" style="cursor:pointer">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </td>
    <td>
        <div class="input-group">
        	<select name="remineralizacion_innovacion" id="remineralizacion_innovacion" class="form-control numeric required ">
            	<option value="">Seleccione una opción</option>
                <option value="1">Sí</option>
                <option value="0">No</option>
            </select>
<?php /*?>            <input type="text" id="remineralizacion_innovacion" name="remineralizacion_innovacion" class="form-control numeric required inno" value="" />
<?php */?>        </div>
    </td>
  </tr>

  <tr>
    <th scope="row">Descompactadores</th>
    <td align="center">
      <label>Si<input type="radio" value="1" name="descompactadores_realizado" id="descompactadores_Si" /></label> &nbsp;
      <label>No<input type="radio" value="2" name="descompactadores_realizado" id="descompactadores_No" /></label>
    </td>
    <td align="center" valign="middle"> 
        <select id="descompactadores_id_unidad" name="descompactadores_id_unidad" class="form-control input-sm" style="color:gray;">
            <option value="0">Seleccione una unidad</option>
        </select>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="descompactadores_cantidad" name="descompactadores_cantidad" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
        </div>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="descompactadores_precio" name="descompactadores_precio" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
        </div>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="descompactadores_importe" name="descompactadores_importe" class="form-control numeric required import" value="" />
        </div>
    </td>
    <td>
        <div class="input-group date">
            <input type='text' class="form-control" disabled id="descompactadores_fecha" name="descompactadores_fecha" />
            <span class="input-group-addon" style="cursor:pointer">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </td>
    <td>
        <div class="input-group">
        	<select name="descompactadores_innovacion" id="descompactadores_innovacion" class="form-control numeric required ">
            	<option value="">Seleccione una opción</option>
                <option value="1">Sí</option>
                <option value="0">No</option>
            </select>
<?php /*?>            <input type="text" id="descompactadores_innovacion" name="descompactadores_innovacion" class="form-control numeric required inno" value="" />
<?php */?>        </div>
    </td>
  </tr>

  <tr>
    <th scope="row">Microorganismos</th>
    <td align="center">
      <label>Si<input type="radio" value="1" name="microorganismos_realizado" id="microorganismos_Si" /></label> &nbsp;
      <label>No<input type="radio" value="2" name="microorganismos_realizado" id="microorganismos_No" /></label>
    </td>
    <td align="center" valign="middle"> 
        <select id="microorganismos_id_unidad" name="microorganismos_id_unidad" class="form-control input-sm" style="color:gray;">
            <option value="0">Seleccione una unidad</option>
        </select>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="microorganismos_cantidad" name="microorganismos_cantidad" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
        </div>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="microorganismos_precio" name="microorganismos_precio" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
        </div>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="microorganismos_importe" name="microorganismos_importe" class="form-control numeric required import" value="" />
        </div>
    </td>
    <td>
        <div class="input-group date">
            <input type='text' class="form-control" disabled id="microorganismos_fecha" name="microorganismos_fecha" />
            <span class="input-group-addon" style="cursor:pointer">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </td>
    <td>
        <div class="input-group">
        	<select name="microorganismos_innovacion" id="microorganismos_innovacion" class="form-control numeric required ">
            	<option value="">Seleccione una opción</option>
                <option value="1">Sí</option>
                <option value="0">No</option>
            </select>
<?php /*?>            <input type="text" id="microorganismos_innovacion" name="microorganismos_innovacion" class="form-control numeric required inno" value="" />
<?php */?>        </div>
    </td>
  </tr>

  <tr>
    <th scope="row">Cal agricola</th>
    <td align="center">
      <label>Si<input type="radio" value="1" name="cal_realizado" id="cal_Si" /></label> &nbsp;
      <label>No<input type="radio" value="2" name="cal_realizado" id="cal_No" /></label>
    </td>
    <td align="center" valign="middle"> 
        <select id="cal_id_unidad" name="cal_id_unidad" class="form-control input-sm" style="color:gray;">
            <option value="0">Seleccione una unidad</option>
        </select>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="cal_cantidad" name="cal_cantidad" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
        </div>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="cal_precio" name="cal_precio" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
        </div>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="cal_importe" name="cal_importe" class="form-control numeric required import" value="" />
        </div>
    </td>
    <td>
        <div class="input-group date">
            <input type='text' class="form-control" disabled id="cal_fecha" name="cal_fecha" />
            <span class="input-group-addon" style="cursor:pointer">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </td>
    <td>
        <div class="input-group">
        	<select name="cal_innovacion" id="cal_innovacion" class="form-control numeric required ">
            	<option value="">Seleccione una opción</option>
                <option value="1">Sí</option>
                <option value="0">No</option>
            </select>
<?php /*?>            <input type="text" id="cal_innovacion" name="cal_innovacion" class="form-control numeric required inno" value="" />
<?php */?>        </div>
    </td>
  </tr>

  <tr>
    <th scope="row">Dolomita</th>
    <td align="center">
      <label>Si<input type="radio" value="1" name="dolomita_realizado" id="dolomita_Si" /></label> &nbsp;
      <label>No<input type="radio" value="2" name="dolomita_realizado" id="dolomita_No" /></label>
    </td>
    <td align="center" valign="middle"> 
        <select id="dolomita_id_unidad" name="dolomita_id_unidad" class="form-control input-sm" style="color:gray;">
            <option value="0">Seleccione una unidad</option>
        </select>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="dolomita_cantidad" name="dolomita_cantidad" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
        </div>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="dolomita_precio" name="dolomita_precio" class="form-control numeric required" value=""onkeypress="return permiteNumerosConDecimal(event,this);" />
        </div>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="dolomita_importe" name="dolomita_importe" class="form-control numeric required import" value="" />
        </div>
    </td>
    <td>
        <div class="input-group date">
            <input type='text' class="form-control" disabled id="dolomita_fecha" name="dolomita_fecha" />
            <span class="input-group-addon" style="cursor:pointer">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </td>
    <td>
        <div class="input-group">
        	<select name="dolomita_innovacion" id="dolomita_innovacion" class="form-control numeric required ">
            	<option value="">Seleccione una opción</option>
                <option value="1">Sí</option>
                <option value="0">No</option>
            </select>
<?php /*?>            <input type="text" id="dolomita_innovacion" name="dolomita_innovacion" class="form-control numeric required inno" value="" />
<?php */?>        </div>
    </td>
  </tr>

  <tr>
    <th scope="row">Yeso agricola</th>
    <td align="center">
      <label>Si<input type="radio" value="1" name="yeso_realizado" id="yeso_Si" /></label> &nbsp;
      <label>No<input type="radio" value="2" name="yeso_realizado" id="yeso_No" /></label>
    </td>
    <td align="center" valign="middle"> 
        <select id="yeso_id_unidad" name="yeso_id_unidad" class="form-control input-sm" style="color:gray;">
            <option value="0">Seleccione una unidad</option>
        </select>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="yeso_cantidad" name="yeso_cantidad" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
        </div>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="yeso_precio" name="yeso_precio" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
        </div>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="yeso_importe" name="yeso_importe" class="form-control numeric required import" value="" />
        </div>
    </td>
    <td>
        <div class="input-group date">
            <input type='text' class="form-control" disabled id="yeso_fecha" name="yeso_fecha" />
            <span class="input-group-addon" style="cursor:pointer">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </td>
    <td>
        <div class="input-group">
        	<select name="yeso_innovacion" id="yeso_innovacion" class="form-control numeric required ">
            	<option value="">Seleccione una opción</option>
                <option value="1">Sí</option>
                <option value="0">No</option>
            </select>
<?php /*?>            <input type="text" id="yeso_innovacion" name="yeso_innovacion" class="form-control numeric required inno" value="" />
<?php */?>        </div>
    </td>
  </tr>
  <tr>
    <th scope="row">Estiércol</th>
    <td align="center">
      <label>Si<input type="radio" value="1" name="estiercol_realizado" id="estiercol_Si" /></label> &nbsp;
      <label>No<input type="radio" value="2" name="estiercol_realizado" id="estiercol_No" /></label>
    </td>
    <td align="center" valign="middle"> 
        <select id="estiercol_id_unidad" name="estiercol_id_unidad" class="form-control input-sm" style="color:gray;">
            <option value="0">Seleccione una unidad</option>
        </select>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="estiercol_cantidad" name="estiercol_cantidad" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
        </div>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="estiercol_precio" name="estiercol_precio" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
        </div>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="estiercol_importe" name="estiercol_importe" class="form-control numeric required import" value="" />
        </div>
    </td>
    <td>
        <div class="input-group date">
            <input type='text' class="form-control" disabled id="estiercol_fecha" name="estiercol_fecha" />
            <span class="input-group-addon" style="cursor:pointer">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </td>
    <td>
        <div class="input-group">
            <select name="estiercol_innovacion" id="estiercol_innovacion" class="form-control numeric required ">
                <option value="">Seleccione una opción</option>
                <option value="1">Sí</option>
                <option value="0">No</option>
            </select>
<?php /*?>            <input type="text" id="lixiviados_innovacion" name="lixiviados_innovacion" class="form-control numeric required inno" value="" />
<?php */?>        </div>
    </td>
  </tr>

  <tr>
    <th scope="row">Otro</th>
    <td align="center">
      <label>Si<input type="radio" value="1" name="otro_realizado" id="otro_Si" /></label> &nbsp;
      <label>No<input type="radio" value="2" name="otro_realizado" id="otro_No" /></label>
    </td>
    <td align="center" valign="middle"> 
        <select id="otro_id_unidad" name="otro_id_unidad" class="form-control input-sm" style="color:gray;">
            <option value="0">Seleccione una unidad</option>
        </select>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="otro_cantidad" name="otro_cantidad" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
        </div>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="otro_precio" name="otro_precio" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
        </div>
    </td>
    <td>
        <div class="input-group">
            <input type="text" id="otro_importe" name="otro_importe" class="form-control numeric required import" value="" />
        </div>
    </td>
    <td>
        <div class="input-group date">
            <input type='text' class="form-control" disabled id="otro_fecha" name="otro_fecha" />
            <span class="input-group-addon" style="cursor:pointer">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </td>
    <td>
        <div class="input-group">
        	<select name="otro_innovacion" id="otro_innovacion" class="form-control numeric required ">
            	<option value="">Seleccione una opción</option>
                <option value="1">Sí</option>
                <option value="0">No</option>
            </select>
<?php /*?>            <input type="text" id="otro_innovacion" name="otro_innovacion" class="form-control numeric required inno" value="" />
<?php */?>        </div>
    </td>
  </tr>

</table>

<div class="row center-block">
	<div class="col-xs-2 pull-left" id="btn-clean-mdfds">
        <a class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Borrar</a>
    </div>
    <div class="col-xs-2 pull-left" id="btn-save-mdfds">
        <a class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
    </div>
    <!---
	<div class="col-xs-3 pull-left" id="btn-congelar-mdfds">
   		<a class="btn btn-block btn-success"><i class="fa fa-minus-circle">&nbsp;</i>Finalizar captura</a>
   	</div>
        ---->

	
    
</div>


</form>