<form id="frm-12" name="frm-12" class="form-horizontal" method="post" action="/backend/diagnosticos/guardar-nutricion-foliar" role="form">
<table width="100%" border="0" id="tabla" class="table table-bordered" style="font-size: 12px">
  <tr>
    <th scope="col" class="col-xs-2 text-center">Concepto</th>
    <th scope="col" class="col-xs-1 text-center">Unidad</th>
    <th scope="col" class="col-xs-1 text-center">Cantidad</th>
    <th scope="col" class="col-xs-2 text-center">P.U.</th>
    <th scope="col" class="col-xs-2 text-center">Importe/ha</th>
    <th scope="col" class="col-xs-2 text-center text-center">F. Realización</th>
    <th scope="col" class="col-xs-2 text-center">Innovación</th>
  </tr>
  <tr>
    <th align="center" colspan="7" style="text-align:center; background-color:#a1c1d3;">
    	PRIMERA Nutrición
    </th> 
</tr>
  <tr>
    <th scope="row">QUIMICA</th>
    <td class="vcenter">
            <div class="input-group">
              <select name="quimica_unidad5" id="quimica_unidad" style="width:100%; color:gray;">
                <option value="1" selected="selected">KG</option>
                <option value="2">L</option>
              </select>
            </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="primera_quimica_cantidad" name="primera_quimica_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="primera_quimica_pu" name="primera_quimica_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="primera_quimica_importe" name="primera_quimica_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group date">
                <input type='text' class="form-control" disabled id="primera_quimica_frealizacion"
                 name="primera_quimica_frealizacion" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="primera_quimica_innovacion" name="primera_quimica_innovacion" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
  </tr>
    <tr>
    <th scope="row">ORGANICA</th>
    <td class="vcenter">
            <div class="input-group">
              <select name="organica_unidad" id="organica_unidad" style="width:100%; color:gray;">
                <option value="1" selected="selected">KG</option>
                <option value="2">L</option>
              </select>
            </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="segunda_quimica_cantidad" name="segunda_quimica_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="segunda_quimica_pu" name="segunda_quimica_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="segunda_quimica_importe" name="segunda_quimica_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group date">
                <input type='text' class="form-control" disabled id="segunda_quimica_frealizacion"
                 name="segunda_quimica_frealizacion" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="segunda_quimica_innovacion" name="segunda_quimica_innovacion" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
  </tr>
    <tr>
    <th scope="row">ORGANO MINERAL</th>
    <td class="vcenter">
            <div class="input-group">
              <select name="organo_unidad" id="organo_unidad" style="width:100%; color:gray;">
                <option value="1" selected="selected">KG</option>
                <option value="2">L</option>
              </select>
            </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="tercera_quimica_cantidad" name="tercera_quimica_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="tercera_quimica_pu" name="tercera_quimica_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="tercera_quimica_importe" name="tercera_quimica_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group date">
                <input type='text' class="form-control" disabled id="tercera_quimica_frealizacion"
                 name="tercera_quimica_frealizacion" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="tercera_quimica_innovacion" name="tercera_quimica_innovacion" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
  </tr>
         <tr>
    <th scope="row">ACIDIFICACION</th>
    <td>
            <div class="input-group">
              <select name="acidificacion1_unidad" id="acidificacion1_unidad" style="width:100%; color:gray;">
                <option value="1" selected="selected">KG</option>
                <option value="2">L</option>
              </select>
            </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="primera_acidificacion_cantidad" 
                 name="primera_acidificacion_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="primera_acidificacion_pu" name="primera_acidificacion_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="primera_acidificacion_importe" 
                 name="primera_acidificacion_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group date">
                <input type='text' class="form-control" disabled id="primera_acidificacion_frealizacion"
                 name="primera_acidificacion_frealizacion" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="primera_acidificacion_innovacion" 
                 name="primera_acidificacion_innovacion" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
  </tr>
  
  
  
    <tr>
    <th align="center" colspan="7" style="text-align:center; background-color:#a1c1d3;">
    	SEGUNDA Nutrición
    </th> 
</tr>
  <tr>
    <th scope="row">QUIMICA</th>
    <td class="vcenter">
            <div class="input-group">
              <select name="quimica2_unidad" id="quimica2_unidad" style="width:100%; color:gray;">
                <option value="1" selected="selected">KG</option>
                <option value="2">L</option>
              </select>
            </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="segunda_quimica_cantidad" name="segunda_quimica_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="segunda_quimica_pu" name="segunda_quimica_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="segunda_quimica_importe" name="segunda_quimica_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group date">
                <input type='text' class="form-control" disabled id="segunda_quimica_frealizacion"
                 name="segunda_quimica_frealizacion" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="segunda_quimica_innovacion" name="segunda_quimica_innovacion" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
  </tr>
    <tr>
    <th scope="row">ORGANICA</th>
    <td class="vcenter">
            <div class="input-group">
              <select name="organica2_unidad" id="organica2_unidad" style="width:100%; color:gray;">
                <option value="1" selected="selected">KG</option>
                <option value="2">L</option>
              </select>
            </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="segunda_quimica_cantidad" name="segunda_quimica_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="segunda_quimica_pu" name="segunda_quimica_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="segunda_quimica_importe" name="segunda_quimica_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group date">
                <input type='text' class="form-control" disabled id="segunda_quimica_frealizacion"
                 name="segunda_quimica_frealizacion" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="segunda_quimica_innovacion" name="segunda_quimica_innovacion" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
  </tr>
    <tr>
    <th scope="row">ORGANO MINERAL</th>
    <td class="vcenter">
            <div class="input-group">
              <select name="organo2_unidad" id="organo2_unidad" style="width:100%; color:gray;">
                <option value="1" selected="selected">KG</option>
                <option value="2">L</option>
              </select>
            </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="tercera_quimica_cantidad" name="tercera_quimica_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="tercera_quimica_pu" name="tercera_quimica_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="tercera_quimica_importe" name="tercera_quimica_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group date">
                <input type='text' class="form-control" disabled id="tercera_quimica_frealizacion"
                 name="tercera_quimica_frealizacion" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="tercera_quimica_innovacion" name="tercera_quimica_innovacion" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
  </tr>
      <tr>
    <th scope="row">ACIDIFICACION</th>
    <td>
            <div class="input-group">
              <select name="acidificacion2_unidad" id="acidificacion2_unidad" style="width:100%; color:gray;">
                <option value="1" selected="selected">KG</option>
                <option value="2">L</option>
              </select>
            </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="segunda_acidificacion_cantidad" 
                 name="segunda_acidificacion_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="segunda_acidificacion_pu" name="segunda_acidificacion_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="segunda_acidificacion_importe" 
                 name="segunda_acidificacion_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group date">
                <input type='text' class="form-control" disabled id="segunda_acidificacion_frealizacion"
                 name="segunda_acidificacion_frealizacion" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="segunda_acidificacion_innovacion" 
                 name="segunda_acidificacion_innovacion" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
  </tr>

  
  
    <tr>
    <th align="center" colspan="7" style="text-align:center; background-color:#a1c1d3;">
    	TERCERA Nutrición
    </th> 
</tr>
  <tr>
    <th scope="row">QUIMICA</th>
    <td class="vcenter">
            <div class="input-group">
              <select name="quimica3_unidad" id="quimica3_unidad" style="width:100%; color:gray;">
                <option value="1" selected="selected">KG</option>
                <option value="2">L</option>
              </select>
            </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="tercera_quimica_cantidad" name="tercera_quimica_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="tercera_quimica_pu" name="tercera_quimica_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="tercera_quimica_importe" name="tercera_quimica_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group date">
                <input type='text' class="form-control" disabled id="tercera_quimica_frealizacion"
                 name="tercera_quimica_frealizacion" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="tercera_quimica_innovacion" name="tercera_quimica_innovacion" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
  </tr>
    <tr>
    <th scope="row">ORGANICA</th>
    <td class="vcenter">
            <div class="input-group">
              <select name="organica3_unidad" id="organica3_unidad" style="width:100%; color:gray;">
                <option value="1" selected="selected">KG</option>
                <option value="2">L</option>
              </select>
            </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="segunda_quimica_cantidad" name="segunda_quimica_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="segunda_quimica_pu" name="segunda_quimica_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="segunda_quimica_importe" name="segunda_quimica_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group date">
                <input type='text' class="form-control" disabled id="segunda_quimica_frealizacion"
                 name="segunda_quimica_frealizacion" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="segunda_quimica_innovacion" name="segunda_quimica_innovacion" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
  </tr>
    <tr>
    <th scope="row">ORGANO MINERAL</th>
    <td class="vcenter">
            <div class="input-group">
              <select name="organo3_unidad" id="organo3_unidad" style="width:100%; color:gray;">
                <option value="1" selected="selected">KG</option>
                <option value="2">L</option>
              </select>
            </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="tercera_quimica_cantidad" name="tercera_quimica_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="tercera_quimica_pu" name="tercera_quimica_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="tercera_quimica_importe" name="tercera_quimica_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group date">
                <input type='text' class="form-control" disabled id="tercera_quimica_frealizacion"
                 name="tercera_quimica_frealizacion" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="tercera_quimica_innovacion" name="tercera_quimica_innovacion" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
  </tr>
  <tr>
    <th scope="row">ACIDIFICACION</th>
    <td>
            <div class="input-group">
              <select name="acidificacion3_unidad" id="acidificacion3_unidad" style="width:100%; color:gray;">
                <option value="1" selected="selected">KG</option>
                <option value="2">L</option>
              </select>
            </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="tercera_acidificacion_cantidad" 
                 name="tercera_acidificacion_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="tercera_acidificacion_pu" name="tercera_acidificacion_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="tercera_acidificacion_importe"
                  name="tercera_acidificacion_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group date">
                <input type='text' class="form-control" disabled id="tercera_acidificacion_frealizacion"
                 name="tercera_acidificacion_frealizacion" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="tercera_acidificacion_innovacion" 
                 name="tercera_acidificacion_innovacion" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
  </tr>
    <tr>
    <th scope="row">
    	Aplicación<br /><br />
        <label>Mecanizada<input type="radio" name="aplicacionB" checked="checked" /></label><br />
        <label>Manual<input type="radio" name="aplicacionB" /></label><br />
        <label>Aérea<input type="radio" name="aplicacionB" /></label>
    </th>
    <td>
        <select id="tipo_unidad_" style="width:80%; color:gray;">
            <option value="1">HA</option>
        </select>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="aplicacion_cantidad" name="aplicacion_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="aplicacion_pu" name="aplicacion_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="aplicacion_importe" name="aplicacion_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group date">
                <input type='text' class="form-control" disabled id="aplicacion_frealizacion"
                 name="aplicacion_frealizacion" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="aplicacion_innovacion" name="aplicacion_innovacion" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
  </tr>

</table>

<div class="row center-block">
	<div class="col-xs-2 pull-left" id="btn-save-rdlt">
    	<a  class="btn btn-block btn-success"><i class="fa fa-minus-circle">&nbsp;</i>Congelar</a>
   	</div>

	<div class="col-xs-2 pull-left">
        <a href="#" class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
    </div>
    <div class="col-xs-2 pull-left">
        <a href="#" class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Limpiar</a>
    </div>
</div>


</form>