<form id="frm-10" name="frm-10" class="form-horizontal" method="post" action="/backend/diagnosticos/guardar-practica-resiembra" role="form">

<div id="tabla_precision" style="display:block;">
    <table width="100%" border="0" id="tabla" class="table table-bordered" style="font-size: 12px">
      <tr>
        <th scope="col" class="col-xs-2 text-center"><label>Selecciona la aplicación:</label></th>
        <th scope="col" class="col-xs-10 text-center"></th>
      </tr>
      <tr>
        <th scope="row">
            <select id="tipo_ap_select_praresie_1" name="aplicacion_tipo" class="form-control input-sm" style="color:gray;" onChange="evaluaCambio('tipo_ap_select_praresie_1', 'praresie', 1)">
                <option value="1">Mecanizada</option>
                <option value="2" selected="selected">Manual</option>
            </select>
        </th>
        <td  colspan="7" >
            <div style="width:100%;">
                <div id="manual_div_praresie_1" class="input-group">
                    <label>Numero de jornales:</label></br>
                    <input type="text" id="manual_div_no_jornales_praresie_1" name="manual_no_jornales" placeholder="No. Jornales" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                    <label>Costo por jornal:</label></br>
                    <input type="text" id="manual_div_costo_jornal_praresie_1" name="manual_costo_jornal" placeholder="Costo por jornal" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);" />
                </div>
                <div id="mecanizada_div_praresie_1" class="hide input-group">
                    <label>Selecciona el tipo de mecanización:</label>
                    <select id="mecanizada_div_select_praresie_1" name="mecanizada_tipo" class="form-control input-sm" style="color:gray;" onChange="evaluaCambioAplicacion('mecanizada_div_select_praresie_1', 'praresie', 1)">
                        <option value="1" selected="selected">Propia</option>
                        <option value="2">Rentada</option>
                    </select>
                    <div id="mecanizada_div_select_div_propia_praresie_1">
                        <label>Costo del combustible:</label></br>
                        <input type="text" id="mecanizada_div_select_div_propia_combustible_praresie_1" name="mecanizada_propia_costo_combustible" placeholder="Costo del combustible" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        <label>Costo del operador:</label></br>
                        <input type="text" id="mecanizada_div_select_div_propia_operador_praresie_1" name="mecanizada_propia_costo_operador" placeholder="Costo del operador" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);" />
                    </div>
                    <div id="mecanizada_div_select_div_rentada_praresie_1" class="hide">
                        <label>Monto de renta:</label></br>
                        <input type="text" id="mecanizada_div_select_div_rentada_costo_praresie_1" name="mecanizada_rentada_monto" placeholder="Costo de la renta" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                    </div>
                </div>
            </div>
        </td>
      </tr>
    </table>
</div>

<div class="row center-block">
		<div class="col-xs-2 pull-left">
            <a  class="btn btn-block btn-success" id="btn-clean-rdlt"><i class="fa fa-eraser">&nbsp;</i>Borrar</a>
        </div>
        <div class="col-xs-2 pull-left" id="btn-save-rdlt">
            <a  class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
        </div>
        <!---
        <div class="col-xs-3 pull-left" id="btn-congelar-prs">
          <a  class="btn btn-block btn-success frmbtn"><i class="fa fa-minus-circle">&nbsp;</i>Finalizar captura</a>
        </div>
        ---->


      
        
    </div>


</form>