<form id="frm-5" name="frm-5" class="form-horizontal" method="post" action="/backend/diagnosticos/guardar-preparacion" role="form">
  <table id="tb_preparacion" width="100%" border="0" class="table table-bordered preparacion" style="font-size: 12px">
    <tr>
      <th scope="col" class="col-xs-2 text-center">Concepto</th>
      <th scope="col" class="col-xs-2 text-center">¿Fue realizado?</th>
      <th scope="col" class="col-xs-1 text-center">Unidad</th>
      <th scope="col" class="col-xs-1 text-center">Cantidad</th>
      <th scope="col" class="col-xs-2 text-center">Costo unitario</th>
      <th scope="col" class="col-xs-2 text-center">Costo total</th>
      <th scope="col" class="col-xs-2 text-center text-center">F. Realización</th>
      <th scope="col" class="col-xs-2 text-center">Innovación</th>
    </tr>
    <tr>
      <th scope="row">Yunta</th>
      <td align="center">
        <label>Si<input type="radio" value="1" id="yunta_Si" name="yunta_realizado" /></label> &nbsp;
        <label>No<input type="radio" value="2" id="yunta_No" name="yunta_realizado" /></label>
      </td>
      <td align="center" valign="middle"> 
          <select id="yunta_id_unidad" name="yunta_id_unidad" class="form-control" style="color:gray;">
          </select>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="yunta_cantidad" name="yunta_cantidad" class="form-control numeric required" onkeypress="return numeros(event)" value="" />
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="yunta_precio" name="yunta_precio" class="form-control numeric required" onkeypress="return numeros(event)" value="" />
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="yunta_importe" name="yunta_importe" class="form-control numeric required import" onkeypress="return numeros(event)" value="" />
        </div>
      </td>
      <td>
        <div class="input-group date" id="div_fecha">
          <input type='text' class="form-control" disabled id="yunta_fecha" name="yunta_fecha" />
          <span class="input-group-addon" style="cursor:pointer">
            <span class="fa fa-calendar"></span>
          </span>
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="yunta_innovacion" name="yunta_innovacion" class="form-control numeric required inno" value="" />
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">Preparación manual</th>
      <td align="center">
        <label>Si<input type="radio" value="1" id="preparacion_manual_Si" name="preparacion_manual_realizado" /></label> &nbsp;
        <label>No<input type="radio" value="2" id="preparacion_manual_No" name="preparacion_manual_realizado" /></label>
      </td>
      <td align="center" valign="middle"> 
          <select id="preparacion_manual_id_unidad" name="preparacion_manual_id_unidad" class="form-control" style="color:gray;">
          </select>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="preparacion_manual_cantidad" name="preparacion_manual_cantidad" class="form-control numeric required" onkeypress="return numeros(event)" value="" />
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="preparacion_manual_precio" name="preparacion_manual_precio" class="form-control numeric required" onkeypress="return numeros(event)" value="" />
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="preparacion_manual_importe" name="preparacion_manual_importe" class="form-control numeric required import" onkeypress="return numeros(event)" value="" />
        </div>
      </td>
      <td>
        <div class="input-group date" id="div_fecha">
          <input type='text' class="form-control" disabled id="preparacion_manual_fecha" name="preparacion_manual_fecha" />
          <span class="input-group-addon" style="cursor:pointer">
            <span class="fa fa-calendar"></span>
          </span>
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="preparacion_manual_innovacion" name="preparacion_manual_innovacion" class="form-control numeric required inno" value="" />
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">Subsoleo</th>
      <td align="center">
        <label>Si<input type="radio" value="1" id="subsoleo_Si" name="subsoleo_realizado" /></label> &nbsp;
        <label>No<input type="radio" value="2" id="subsoleo_No" name="subsoleo_realizado" /></label>
      </td>
      <td align="center" valign="middle"> 
          <select id="subsoleo_id_unidad" name="subsoleo_id_unidad" class="form-control" style="color:gray;">
          </select>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="subsoleo_cantidad" name="subsoleo_cantidad" class="form-control numeric required" onkeypress="return numeros(event)" value="" />
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="subsoleo_precio" name="subsoleo_precio" class="form-control numeric required" onkeypress="return numeros(event)" value="" />
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="subsoleo_importe" name="subsoleo_importe" class="form-control numeric required import" onkeypress="return numeros(event)" value="" />
        </div>
      </td>
      <td>
        <div class="input-group date" id="div_fecha">
          <input type='text' class="form-control" disabled id="subsoleo_fecha" name="subsoleo_fecha" />
          <span class="input-group-addon" style="cursor:pointer">
            <span class="fa fa-calendar"></span>
          </span>
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="subsoleo_innovacion" name="subsoleo_innovacion" class="form-control numeric required inno" value="" />
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">Cinceleo</th>
      <td align="center">
        <label>Si<input type="radio" value="1" id="cinceleo_Si" name="cinceleo_realizado" /></label> &nbsp;
        <label>No<input type="radio" value="2" id="cinceleo_No" name="cinceleo_realizado" /></label>
      </td>
      <td align="center" valign="middle"> 
          <select id="cinceleo_id_unidad" name="cinceleo_id_unidad" class="form-control" style="color:gray;">
          </select>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="cinceleo_cantidad" name="cinceleo_cantidad" onkeypress="return numeros(event)" class="form-control numeric required" value="" />
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="cinceleo_precio" name="cinceleo_precio" onkeypress="return numeros(event)" class="form-control numeric required" value="" />
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="cinceleo_importe" name="cinceleo_importe" onkeypress="return numeros(event)" class="form-control numeric required import" value="" />
        </div>
      </td>
      <td>
        <div class="input-group date" id="div_fecha">
          <input type='text' class="form-control" disabled id="cinceleo_fecha" name="cinceleo_fecha" />
          <span class="input-group-addon" style="cursor:pointer">
            <span class="fa fa-calendar"></span>
          </span>
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="cinceleo_innovacion" name="cinceleo_innovacion" class="form-control numeric required inno" value="" />
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">Barbecho con arado de discos</th>
      <td align="center">
        <label>Si<input type="radio" value="1" id="barbecho_Si" name="barbecho_realizado" /></label> &nbsp;
        <label>No<input type="radio" value="2" id="barbecho_No" name="barbecho_realizado" /></label>
      </td>
      <td align="center" valign="middle"> 
          <select id="barbecho_id_unidad" name="barbecho_id_unidad" class="form-control" style="color:gray;">
          </select>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="barbecho_cantidad" name="barbecho_cantidad" onkeypress="return numeros(event)" class="form-control numeric required" value="" />
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="barbecho_precio" name="barbecho_precio" onkeypress="return numeros(event)" class="form-control numeric required" value="" />
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="barbecho_importe" name="barbecho_importe" onkeypress="return numeros(event)" class="form-control numeric required import" value="" />
        </div>
      </td>
      <td>
        <div class="input-group date" id="div_fecha">
          <input type='text' class="form-control" disabled id="barbecho_fecha" name="barbecho_fecha" />
          <span class="input-group-addon" style="cursor:pointer">
            <span class="fa fa-calendar"></span>
          </span>
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="barbecho_innovacion" name="barbecho_innovacion" class="form-control numeric required inno" value="" />
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">Rastra</th>
      <td align="center">
        <label>Si<input type="radio" value="1" id="rastra_Si" name="rastra_realizado" /></label> &nbsp;
        <label>No<input type="radio" value="2" id="rastra_No" name="rastra_realizado" /></label>
      </td>
      <td align="center" valign="middle"> 
          <select id="rastra_id_unidad" name="rastra_id_unidad" class="form-control" style="color:gray;">
          </select>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="rastra_cantidad" name="rastra_cantidad" onkeypress="return numeros(event)" class="form-control numeric required" value="" />
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="rastra_precio" name="rastra_precio" onkeypress="return numeros(event)" class="form-control numeric required" value="" />
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="rastra_importe" name="rastra_importe" onkeypress="return numeros(event)" class="form-control numeric required import" value="" />
        </div>
      </td>
      <td>
        <div class="input-group date" id="div_fecha">
          <input type='text' class="form-control" disabled id="rastra_fecha" name="rastra_fecha" />
          <span class="input-group-addon" style="cursor:pointer">
            <span class="fa fa-calendar"></span>
          </span>
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="rastra_innovacion" name="rastra_innovacion" class="form-control numeric required inno" value="" />
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">Rastra (cruza)</th>
      <td align="center">
        <label>Si<input type="radio" value="1" id="cruza_Si" name="cruza_realizado" /></label> &nbsp;
        <label>No<input type="radio" value="2" id="cruza_No" name="cruza_realizado" /></label>
      </td>
      <td align="center" valign="middle"> 
          <select id="cruza_id_unidad" name="cruza_id_unidad" class="form-control" style="color:gray;">
          </select>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="cruza_cantidad" name="cruza_cantidad" onkeypress="return numeros(event)" class="form-control numeric required" value="" />
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="cruza_precio" name="cruza_precio" onkeypress="return numeros(event)" class="form-control numeric required" value="" />
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="cruza_importe" name="cruza_importe" onkeypress="return numeros(event)" class="form-control numeric required import" value="" />
        </div>
      </td>
      <td>
        <div class="input-group date" id="div_fecha">
          <input type='text' class="form-control" disabled id="cruza_fecha" name="cruza_fecha" />
          <span class="input-group-addon" style="cursor:pointer">
            <span class="fa fa-calendar"></span>
          </span>
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="cruza_innovacion" name="cruza_innovacion" class="form-control numeric required inno" value="" />
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">Nivelación con equipo láser</th>
      <td align="center">
        <label>Si<input type="radio" value="1" id="laser_Si" name="laser_realizado" /></label> &nbsp;
        <label>No<input type="radio" value="2" id="laser_No" name="laser_realizado" /></label>
      </td>
      <td align="center" valign="middle"> 
          <select id="laser_id_unidad" name="laser_id_unidad" class="form-control" style="color:gray;">
          </select>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="laser_cantidad" name="laser_cantidad" onkeypress="return numeros(event)" class="form-control numeric required" value="" />
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="laser_precio" name="laser_precio" onkeypress="return numeros(event)" class="form-control numeric required" value="" />
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="laser_importe" name="laser_importe" onkeypress="return numeros(event)" class="form-control numeric required import" value="" />
        </div>
      </td>
      <td>
        <div class="input-group date" id="div_fecha">
          <input type='text' class="form-control" disabled id="laser_fecha" name="laser_fecha" />
          <span class="input-group-addon" style="cursor:pointer">
            <span class="fa fa-calendar"></span>
          </span>
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="laser_innovacion" name="laser_innovacion" class="form-control numeric required inno" value="" />
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">Nivelación con landplane u otro</th>
      <td align="center">
        <label>Si<input type="radio" value="1" id="landplane_Si" name="landplane_realizado" /></label> &nbsp;
        <label>No<input type="radio" value="2" id="landplane_No" name="landplane_realizado" /></label>
      </td>
      <td align="center" valign="middle"> 
          <select id="landplane_id_unidad" name="landplane_id_unidad" class="form-control" style="color:gray;">
          </select>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="landplane_cantidad" name="landplane_cantidad" onkeypress="return numeros(event)" class="form-control numeric required" value="" />
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="landplane_precio" name="landplane_precio" onkeypress="return numeros(event)" class="form-control numeric required" value="" />
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="landplane_importe" name="landplane_importe" onkeypress="return numeros(event)" class="form-control numeric required import" value="" />
        </div>
      </td>
      <td>
        <div class="input-group date" id="div_fecha">
          <input type='text' class="form-control" disabled id="landplane_fecha" name="landplane_fecha" />
          <span class="input-group-addon" style="cursor:pointer">
            <span class="fa fa-calendar"></span>
          </span>
        </div>
      </td>
      <td>
        <div class="input-group">
          <input type="text" id="landplane_innovacion" name="landplane_innovacion" class="form-control numeric required inno" value="" />
        </div>
      </td>
    </tr>
  </table>

  <div class="row center-block">
		<div class="col-xs-2 pull-left">
          <a  class="btn btn-block btn-success" id="btn-clean-pds"><i class="fa fa-eraser">&nbsp;</i>Borrar</a>
		</div>
        <div class="col-xs-2 pull-left" id="btn-save-pds">
          <a  class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
      	</div>
        <!---
  	  	<div class="col-xs-3 pull-left" id="btn-congelar-pds">
            <a  class="btn btn-block btn-success"><i class="fa fa-minus-circle">&nbsp;</i>Finalizar captura</a>
    	</div>
        ---->
  
      
      
  </div>
</form>