<form id="frm-9" name="frm-9" class="form-horizontal" method="post" action="/backend/diagnosticos/guardar-reaccion-suelo" role="form">

<div id="distintivo_ph">

</div>
<table width="100%" border="0" id="tabla" class="table table-bordered" style="font-size: 12px">
  <tr>
    <th scope="col" class="col-xs-2 text-center">Concepto</th>
    <th scope="col" class="col-xs-1 text-center">Unidad</th>
    <th scope="col" class="col-xs-1 text-center">Cantidad</th>
    <th scope="col" class="col-xs-2 text-center">Costo unitario</th>
    <th scope="col" class="col-xs-2 text-center">Costo total</th>
    <th scope="col" class="col-xs-2 text-center text-center">F. Realización</th>
    <th scope="col" class="col-xs-2 text-center">Innovación</th>
  </tr>
  <tr>
    <th scope="row">Cal agrícola</th>
    <td>	
    		<div class="input-group">
                 KG / HA
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="cal_cantidad" name="cal_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="cal_pu" name="cal_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="cal_importe" name="cal_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group date">
                <input type='text' class="form-control" disabled id="cal_frealizacion"
                 name="cal_frealizacion" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="cal_innovacion" name="cal_innovacion" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
  </tr>
  <tr>
    <th scope="row">Yeso agrícola</th>
		<td>	KG / HA
    		<!--<div class="input-group">
                 <input type="text" id="yeso_unidad" name="yeso_unidad" 
                 class="form-control numeric required" value="" />
             </div>-->
    	</td>
    <td>
    		<div class="input-group">
                 <input type="text" id="yeso_cantidad" name="yeso_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="yeso_pu" name="yeso_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="yeso_importe" name="yeso_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group date">
                <input type='text' class="form-control" disabled id="yeso_frealizacion"
                 name="yeso_frealizacion" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="yeso_innovacion" name="yeso_innovacion" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
  </tr>
  <tr>
    <th scope="row">Costo de aplicación</th>
		<td>	KG / HA
<!--    		<div class="input-group">
                 <input type="text" id="costo_unidad" name="costo_unidad" 
                 class="form-control numeric required" value="" />
             </div>
-->    
		</td>
    <td>
    		<div class="input-group">
                 <input type="text" id="costo_cantidad" name="costo_cantidad" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="costo_pu" name="costo_pu" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="costo_importe" name="costo_importe" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
    <td>
    		<div class="input-group date">
                <input type='text' class="form-control" disabled id="costo_frealizacion"
                 name="costo_frealizacion" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
             </div>
    </td>
    <td>
    		<div class="input-group">
                 <input type="text" id="costo_innovacion" name="costo_innovacion" 
                 class="form-control numeric required" value="" />
             </div>
    </td>
  </tr>
</table>

<div class="row center-block">
	  	<div class="col-xs-2 pull-left" id="btn-save-rdlt">
            <a  class="btn btn-block btn-success"><i class="fa fa-minus-circle">&nbsp;</i>Congelar</a>
        </div>

	<div class="col-xs-2 pull-left">
        <a href="#" class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
    </div>
    <div class="col-xs-2 pull-left">
        <a href="#" class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Limpiar</a>
    </div>
</div>


</form>