<form id="frm-2" name="frm-2" class="form-horizontal" method="post" action="/backend/diagnosticos/guardar-renta" role="form">
    <table id="tb_renta" width="100%" border="0" class="table table-bordered" style="font-size: 12px">
      <tr>
        <th scope="col" class="col-xs-2 text-center">Concepto</th>
        <th scope="col" class="col-xs-2 text-center">¿Terreno es rentado?</th>
        <th scope="col" class="col-xs-1 text-center">Unidad</th>
        <th scope="col" class="col-xs-1 text-center">Cantidad</th>
        <th scope="col" class="col-xs-2 text-center">Costo unitario</th>
        <th scope="col" class="col-xs-2 text-center">Costo total</th>
        <th scope="col" class="col-xs-2 text-center text-center">F. Realización</th>
      </tr>
      <tr>
        <th scope="row">Renta de la tierra</th>
        <td align="center">
        	<label>Si<input type="radio" value="1" id="rbSi" name="rentado" /></label> &nbsp;
          <label>No<input type="radio" value="2" id="rbNo" name="rentado" /></label>
        </td>
        <td valign="middle">
    		<select id="id_unidad" name="id_unidad" class="form-control" style="width:80%; color:gray;">
            </select>
        </td>
        <td>
        		<div class="input-group">
                     <input type="text" id="cantidad" name="cantidad" onkeypress="return numeros(event)"
                     class="form-control numeric required" value="" />
                 </div>
        </td>
        <td>
        		<div class="input-group">
                     <input type="text" id="ph" name="precio" 
                     class="form-control numeric required" value="" onkeypress="return numeros(event)" />
                 </div>
        </td>
        <td>
        		<div class="input-group">
                     <input type="text" id="importe" name="importe"  onkeypress="return numeros(event)"
                     class="form-control numeric required import" value="" />
                 </div>
        </td>
        <td>
        		<div class="input-group date">
              <input type='text' class="form-control import" readonly="readonly" id="fecha" name="fecha_realizacion" />
              <span class="input-group-addon" style="cursor:pointer">
                  <span class="fa fa-calendar"></span>
              </span>
            </div>
        </td>
      </tr>
    </table>

    <div class="row center-block">
    	<div class="col-xs-2 pull-left">
            <a  class="btn btn-block btn-success" id="btn-clean-rdlt"><i class="fa fa-eraser">&nbsp;</i>Borrar</a>
        </div>
        <div class="col-xs-2 pull-left" id="btn-save-rdlt">
            <a  class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
        </div>
        <!---
    	<div class="col-xs-3 pull-left" id="btn-congelar-rdlt">
            <a  class="btn btn-block btn-success"><i class="fa fa-minus-circle">&nbsp;</i>Finalizar captura</a>
        </div>
        ---->

    </div>
</form>