<form id="frm-20" name="frm-20" class="form-horizontal" method="post" action="javascript:void(0)" role="form">
<h3>Costo de Cultivo</h3>
<table id="tabla-reporte-costos" width="100%" border="0" class="table table-bordered" style="font-size: 12px">
  <tr>
    <th colspan="4" style="text-align: center; font-size: 14px">Concepto - Costo</th>
  </tr>
  <tr>
  	 <td colspan="1">
        <label>Renta de la tierra</label>
    </td>
    <td colspan="1">
        <input type="text" id="renta_tierra" name="renta_tierra" readonly="readonly"class="form-control required" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
    <!---
    <td colspan="1">
        <label>Practica de resiembra</label>
    </td>
    <td colspan="1">
        <input type="text" id="practica_resiembra" name="practica_resiembra" readonly="readonly"class="form-control required" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
    --->
  	<td colspan="1">
        <label>Nutrición</label>
    </td>
    <td colspan="1">
        <input type="text" id="fertilizacion" name="fertilizacion" readonly="readonly" class="form-control required" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
    
    
  </tr>
  <tr>
  	<td colspan="1"><label>Acondicionamiento del predio</label></td>
    <td colspan="1">
        <input type="text" id="acondicionamiento_predio" readonly="readonly" name="acondicionamiento_predio" class="form-control required" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
    <td colspan="1">
        <label>Manejo de plantas no deseadas</label>
    </td>
    <td colspan="1">
        <input type="text" id="control_malezas" name="control_malezas" readonly="readonly" class="form-control required" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
  	

  </tr>
  <tr>
  	<td colspan="1">
        <label>Mejoramiento de fertilidad del suelo</label>
    </td>
    <td colspan="1">
        <input type="text" id="mejoramiento_fertilidad" readonly="readonly" name="mejoramiento_fertilidad" class="form-control required" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
    
    <td colspan="1">
        <label>Manejo Fitosanitario (plagas de suelo)</label>
    </td>
    <td colspan="1">
        <input type="text" id="control_plagas_suelo" name="control_plagas_suelo" readonly="readonly"class="form-control required" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
    

  </tr>
  <tr>
  	<td colspan="1">
        <label>Preparación del suelo</label>
    </td>
    <td colspan="1">
        <input type="text" id="preparacion_suelo" readonly="readonly" name="preparacion_suelo" class="form-control required" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
    
    <td colspan="1">
        <label>Manejo Fitosanitario (plagas foliares)</label>
    </td>
    <td colspan="1">
        <input type="text" id="control_plagas_foliares" name="control_plagas_foliares" readonly="readonly"class="form-control required" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
    
  </tr>
  <tr>
  	<td colspan="1">
        <label>Riego</label>
    </td>
    <td colspan="1">
        <input type="text" id="riego" name="riego"readonly="readonly" class="form-control required" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
    <td colspan="1">
        <label>Manejo Fitosanitario (control de enfermedades)</label>
    </td>
    <td colspan="1">
        <input type="text" id="control_enfermedades" name="control_enfermedades" readonly="readonly" class="form-control required" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>

  </tr>
   <tr>
   	 <td colspan="1">
        <label>Siembra</label>
    </td>
    <td colspan="1">
        <input type="text" id="siembra" name="siembra" readonly="readonly"class="form-control required" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
    <td colspan="1">
        <label>Inductores de resistencia vegetal, crecimiento y productividad</label>
    </td>
    <td colspan="1">
        <input type="text" id="tratamiento_estres" name="tratamiento_estres" readonly="readonly" class="form-control required" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>

  </tr>
 <tr>
 	<td colspan="1">
        <label>Practica de siembra</label>
    </td>
    <td colspan="1">
        <input type="text" id="practica_siembra" name="practica_siembra" readonly="readonly"class="form-control required" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
 </tr>
 <!---
   <tr>
   	<td colspan="1">
        <label>Resiembra</label>
    </td>
    <td colspan="1">
        <input type="text" id="resiembra" name="resiembra" readonly="readonly" class="form-control required" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
    
    <td colspan="1">
        
    </td>
    <td colspan="1">

    </td>
  </tr>
  ---->
  <tr>
    <td colspan="3" style="font-size:16px;"><strong>Total de costo de cultivo</strong></td>
    <td id="total_costos" style="text-align: center; font-size: 16px"></td>
  </tr>
  <!--<tr>
    <td colspan="3" style="font-size:16px;"><strong>Costo de cultivo por hectárea(+hectareas+)</strong></td>
    
    <td id="costo_cultivo_hectarea" style="text-align: center; font-size: 16px"></td>
  </tr>-->
</table>

<div id="piechart_3d" style="width: 900px; height: 500px;"></div>

<h3>Costos indirectos</h3>

<table id="tabla_costos_indirectos" width="100%" border="0" class="table table-bordered" style="font-size: 12px">
  <tr>
    <th colspan="4" style="text-align: center; font-size: 14px">Concepto - Costo</th>
  </tr>
  <tr>
    <td>Trilla o corte</td>
    <td><input type="text" id="trilla_o_corte" name="trilla_o_corte" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>
    <td>Gastos de almacén</td>
    <td><input type="text" id="gastos_de_almacen" name="gastos_de_almacen" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>
  </tr>
  <tr>
    <td>Flete</td>
    <td><input type="text" id="flete" name="flete" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>
    <td>Cobertura de precios</td>
    <td><input type="text" id="cobertura_precios" name="cobertura_precios" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>
  </tr>
  <tr>
    <td>Seguro agrícola</td>
    <td><input type="text" id="seguro_agricola" name="seguro_agricola" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>
    <td>Intereses financieros</td>
    <td><input type="text" id="garantia_liquida" name="garantia_liquida" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>
  </tr>
  <tr>
    <td>Asistencia técnica</td>
    <td><input type="text" id="asistencia_tecnica" name="asistencia_tecnica" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" style="font-size:16px;"><strong>Total de costos indirectos</strong></td>
    <td colspan="2"><input type="text" id="costos_indirectos" name="costos_indirectos" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>
  </tr>
  <!--<tr>
    <td colspan="2" style="font-size:16px;"><strong>Costos indirectos por hectárea(+hectareas+)</strong></td>
    <td colspan="2"><input type="text" id="costos_indirectos_hectarea" name="costos_indirectos_hectarea" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>
  </tr>-->
  <tr>
    <td colspan="2" style="font-size:16px;"><strong>Costo de cultivo + Costos indirectos</strong></td>
    <td colspan="2"><input type="text" id="costo_de_cultivo_indirecto" name="costo_de_cultivo_indirecto" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>
  </tr>
  <!--<tr>
    <td colspan="2" style="font-size:16px;"><strong>Costo de cultivo + Costos indirectos por hectárea(+hectareas+)</strong></td>
    <td colspan="2"><input type="text" id="costo_de_cultivo_indirecto_por_hectarea" name="costo_de_cultivo_indirecto_por_hectarea" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>
  </tr>-->
</table>
<div id="piechartCc_3d" style="width: 900px; height: 500px;"></div>

<div id="piechartCI_3d" style="width: 900px; height: 500px;"></div>


<h3>Ingresos</h3>

<table id="tabla_ingresos_esperados" width="100%" border="0" class="table table-bordered" style="font-size: 12px">
  <tr>
  	<th scope="col" colspan="3" class="col-xs-2 text-center text-14">Concepto</th>
    <th scope="col" colspan="3" class="col-xs-2 text-center text-14">Toneladas por hectárea</th>
    <th scope="col" colspan="3" class="col-xs-2 text-center text-14">Ingreso por unidad</th>
    <th scope="col" colspan="3" class="col-xs-2 text-center text-14">Ingreso total</th>
    <?php /*?><th colspan="4" style="text-align: center; font-size: 14px">Concepto - Costo</th><?php */?>
  </tr>
  <?php 
		foreach($this->usos as $uso){
			echo '
				<tr>
					<td align="center" colspan="3">
						<label>'.$uso->nombre.'</label>
					</td>
					<td colspan="3" >
						<input type="text" id="'.$uso->nombre.'-tonelada" onkeyup="calculaIngresoFrm18(this)" readonly="readonly" name="'.$uso->nombre.'-tonelada" class="form-control required" placeholder="Tonelada" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
					</td>
					<td colspan="3" >
						<input type="text" id="'.$uso->nombre.'-ingreso_tonelada" onkeyup="calculaIngresoFrm18(this)" readonly="readonly" name="'.$uso->nombre.'-ingreso_tonelada" class="form-control required" placeholder="Ingreso" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
					</td>
					<td colspan="3">
						<input type="text" id="'.$uso->nombre.'" name="'.$uso->nombre.'"  readonly="readonly" class="form-control required" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
					</td>
				 </tr>							
			';
		}
	?>
<?php /*?>  <tr>
    <td>Grano</td>
    <td><input type="text" id="grano" name="grano" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>
    <td>Forraje verde</td>
    <td><input type="text" id="forraje_verde" name="forraje_verde" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>
  </tr>
  <tr>
    <td>Elote</td>
    <td><input type="text" id="elote" name="elote" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>
    <td>Hojas</td>
    <td><input type="text" id="hojas" name="hojas" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>
  </tr>
  <tr>
    <td>Forraje rastrojo</td>
    <td><input type="text" id="forraje_rastrojo" name="forraje_rastrojo" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>
    <td>Indemnización del seguro</td>
    <td><input type="text" id="indemnizacion_seguro" name="indemnizacion_seguro" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>
  </tr>
  <tr>
    <td>Procampo</td>
    <td><input type="text" id="procampo" name="procampo" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>
    <td>Incentivos</td>
    <td><input type="text" id="incentivos" name="incentivos" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>
  </tr>
<?php */?> 
	  <tr>
    <td align="center" colspan="3">
        <label>Indemnización del seguro</label>
    </td>
    <td colspan="3" >
        <input type="text" id="indemnizacion_seguro-tonelada" readonly="readonly" onkeyup="calculaIngresoFrm18(this)" name="indemnizacion_seguro-tonelada" class="form-control required" placeholder="Unidad" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
    <td colspan="3" >
        <input type="text" id="indemnizacion_seguro-ingreso_tonelada" readonly="readonly" onkeyup="calculaIngresoFrm18(this)" name="indemnizacion_seguro-ingreso_tonelada" class="form-control required" placeholder="Ingreso" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
    <td colspan="3">
        <input type="text" id="indemnizacion_seguro" name="indemnizacion_seguro"  readonly="readonly" class="form-control required" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
  </tr>
  <tr>
    <td align="center" colspan="3">
        <label>Producción para el bienestar</label>
    </td>
    <td colspan="3" >
        <input type="text" id="proagroproductivo-tonelada" readonly="readonly" onkeyup="calculaIngresoFrm18(this)" name="proagroproductivo-tonelada" class="form-control required" placeholder="Unidad" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
    <td colspan="3" >
        <input type="text" id="proagroproductivo-ingreso_tonelada" readonly="readonly" onkeyup="calculaIngresoFrm18(this)" name="proagroproductivo-ingreso_tonelada" class="form-control required" placeholder="Ingreso" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
    <td colspan="3">
        <input type="text" id="proagroproductivo" name="proagroproductivo" readonly="readonly" class="form-control required" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
  </tr>
  <tr>
    <td align="center" colspan="3">
        <label>Otros Incentivos</label>
    </td>
    <td colspan="3" >
        <input type="text" id="OtrosIncentivos-tonelada" readonly="readonly" onkeyup="calculaIngresoFrm18(this)" name="OtrosIncentivos-tonelada" class="form-control required" placeholder="Unidad" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
    <td colspan="3" >
        <input type="text" id="OtrosIncentivos-ingreso_tonelada" readonly="readonly" onkeyup="calculaIngresoFrm18(this)" name="OtrosIncentivos-ingreso_tonelada" class="form-control required" placeholder="Ingreso" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>    
    <td colspan="3">
        <input type="text" id="OtrosIncentivos" name="OtrosIncentivos" readonly="readonly" class="form-control required" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
  </tr>
	<tr>
    <td align="center" colspan="3">
        <label>Otros</label>
    </td>
    <td colspan="3" >
        <input type="text" id="Otros-tonelada" readonly="readonly" onkeyup="calculaIngresoFrm18(this)" name="Otros-tonelada" class="form-control required" placeholder="Unidad" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
    <td colspan="3" >
        <input type="text" id="Otros-ingreso_tonelada" readonly="readonly" onkeyup="calculaIngresoFrm18(this)" name="Otros-ingreso_tonelada" class="form-control required" placeholder="Ingreso" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>    
    <td colspan="3">
        <input type="text" id="Otros" name="OtrosIncentivos" readonly="readonly" class="form-control required" placeholder="Monto" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
    </td>
  </tr>
    <tr>
    <td colspan="6" style="font-size:16px; font-weight: bold">Total de ingresos </td>
    <td colspan="6"><input type="text" id="total_ingresos_esperados" name="total_ingresos_esperados" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>
  </tr>
  <!--<tr>
    <td colspan="6" style="font-size:16px; font-weight: bold">Ingresos por hectárea(+hectareas+)</td>
    <td colspan="6"><input type="text" id="ingresos_esperados_hectarea" name="ingresos_esperados_hectarea" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>
  </tr>-->
  
</table>

<div id="piechartIE_3d" style="width: 900px; height: 500px;"></div>

<h3>Utilidad</h3>
<table id="tabla_utilidad" width="100%" border="0" class="table table-bordered" style="font-size: 12px">
   <tr>
    <th colspan="2" style="text-align: center; font-size: 14px"></th>
    <!--<th colspan="2" style="text-align: center; font-size: 14px"><strong>Por Predio</strong></th>-->
    <th colspan="2" style="text-align: center; font-size: 14px"><strong>Por Hectárea</strong></th>
  </tr>
  <tr>
    <td colspan="2" style="font-size:16px; font-weight: bold">Ingresos</td>
    <!--<td colspan="2"><input type="text" id="total_ingresos_utilidad" name="total_ingresos_utilidad" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>-->
    <td colspan="2"><input type="text" id="total_ingresos_utilidad_por_hectarea" name="total_ingresos_utilidad_por_hectarea" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>
  </tr>
  <tr>
    <td colspan="2" style="font-size:16px; font-weight: bold">Egresos</td>
    <!--<td colspan="2"><input type="text" style="color:#ff0000;" id="total_egresos_utilidad" name="total_egresos_utilidad" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>-->
  	<td colspan="2"><input type="text" style="color:#ff0000;" id="total_egresos_utilidad_por_hectarea" name="total_egresos_utilidad_por_hectarea" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>

  </tr>
  <tr>
    <td colspan="2" style="font-size:16px; font-weight: bold">Utilidad</td>
    <!--<td colspan="2"><input type="text" id="utilidad" name="utilidad" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>-->
  	<td colspan="2"><input type="text" id="utilidad_por_hectarea" name="utilidad_por_hectarea" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>
  </tr>
  <tr>
    <td colspan="2" style="font-size:16px; font-weight: bold">Relación beneficio/costo</td>
    <td colspan="2"><input type="text" id="beneficio_costo" name="beneficio_costo" readonly="readonly" class="form-control required" placeholder="Monto" value=""/></td>
  </tr>
</table>
</form>