<form id="frm-9" name="frm-9" class="form-horizontal" method="post" role="form">
<div class="row center-block">
    <div class="col-xs-2 pull-left" id="btn-agregar-rsmr">
        <a class="btn btn-block btn-success"><i class="fa fa-plus-circle">&nbsp;</i>Resiembra</a>
    </div>
</div>
<table width="100%" border="0" id="tabla" class="table table-bordered trsiembra" style="font-size: 12px">
    <tr id="fila_generica_0" class="hide">
        <th scope="col" class="col-xs-2 text-center">Concepto</th>
        <th colspan="2" class="col-xs-1 text-center" scope="col">Número de semillas por hectárea</th>
        <th scope="col" class="col-xs-2 text-center">Costo por semilla</th>
        <th scope="col" class="col-xs-2 text-center">Costo total</th>
        <th scope="col" class="col-xs-2 text-center text-center">F. Realización</th>
        <th scope="col" class="col-xs-2 text-center">Innovación</th>
        <th scope="col" class="col-xs-2 text-center"></th>
    </tr>
    <tr id="fila_generica_00" class="hide">
        <th scope="col" class="col-xs-2 text-center">Concepto</th>
        <th scope="col" class="col-xs-1 text-center">Unidad</th>
        <th scope="col" class="col-xs-2 text-center">Cantidad</th>
        <th scope="col" class="col-xs-2 text-center">Costo unitario</th>
        <th scope="col" class="col-xs-2 text-center">Costo total</th>
        <th scope="col" class="col-xs-2 text-center text-center">F. Realización</th>
        <th scope="col" class="col-xs-2 text-center">Innovación</th>
        <th scope="col" class="col-xs-2 text-center">Agregar</th>
    </tr>

    <tr id="fila_generica_1" class="hide">
        <th scope="row">
            <div class="input-group">
                <input type="hidden" id="id_registro_" value="0" />
                <label>Cultivo:</label></br>
                <select style="color:grey;" id="id_cultivo_" class="form-control" onchange="seleccionaCultivo(this)">
                	<option value="0" selected>Seleccione un cultivo</option>
                </select>
                </br><label>Uso:</label></br>
                <select style="color:grey;" id="id_uso_" class="form-control">
                	<option value="0" selected>Seleccione un uso</option>
                </select>
                </br><label>Marca:</label></br>
                <select style="color:grey;" id="id_marca_" class="form-control">
                	<option value="0" selected>Seleccione una marca</option>
                </select>
                </br><label>¿Hibrido o Variedad?:</label></br>
                <select style="color:grey;" id="thov_" class="form-control">
                	<option value="1" selected>Hibrido</option>
                    <option value="2">Variedad</option>
                </select>
                </br><label>Nombre de hibrido o variedad:</label></br>
                <select style="color:grey;" id="id_hov_" class="form-control">
                	<option value="" selected>Seleccione un nombre</option>
                </select>
                </br><label>Hectáreas sembradas:</label>
                <input type="text" id="hectareas_sembradas_" class="form-control numeric required resemilla" value="" onkeypress="return permiteNumerosConDecimal(event,this);" onkeyup="calculaImporteFrm9(this)" />
            </div>
        </th>
       <td colspan="2">
            <?php /*?><select id="id_unidad_cultivo_" style="color:gray;" class="form-control">
                <option value="0">Seleccione una unidad</option>
            </select><?php */?>
    		<div class="input-group" style="width: 100%">
                <input type="text" id="cantidad_cultivo_" class="form-control numeric required verificarRango" value="" onkeyup="calculaImporteFrm7(this)" onkeypress="return permiteNumerosConDecimal(event,this);"/>
            </div>
        </td>
        <td>
            <div class="input-group">
                <input type="text" id="precio_cultivo_" class="form-control numeric required verificarRango2" value="" onkeyup="calculaImporteFrm9(this)" onkeypress="return permiteNumerosConDecimal(event,this);"/>
            </div>
        </td>
        <td>
            <div class="input-group">
                <input type="text" id="importe_cultivo_" readonly="readonly" class="form-control numeric required" value="" />
            </div>
        </td>
        <td>
            <div class="input-group date">
                <input type='text' class="form-control" readonly="readonly" id="fecha_cultivo_" />
                <span class="input-group-addon" style="cursor:pointer">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </td>
        <td>
            <div class="input-group">
                <input type="text" id="innovacion_cultivo_" class="form-control numeric required inno" value="" />
            </div>
        </td>
        <td>
            <!-- boton -->
        </td>
    </tr>
 	 <tr id="fila_generica_bio" class="hide">
    	<th colspan="8">
        	<label>¿Se realizó Inoculación con biofertilizante?</label></br>
        	<select style="color:grey;" id="ino_con_bio" class="form-control realizo" onchange="realizo(this);">
                <option value="1" class="realizo">Sí</option>
                <option value="2" selected class="realizo">No</option>
            </select>
        </th>
    </tr>
    <tr id="fila_generica_ins" class="hide">
    	<th colspan="8">
        	<label>¿Se realizó Inoculación con insecticida?</label></br>
        	<select style="color:grey;" id="ino_con_ins" class="form-control realizo" onchange="realizo(this);">
                <option value="1" class="realizo">Sí</option>
                <option value="2" selected class="realizo">No</option>
            </select>
        </th>
    </tr>
    <tr id="fila_generica_2" class="hide">
        <th scope="row">
        	
            <?php /*?><label>Inoculación con biofertilizante:</label></br><?php */?>
            <?php /*?><label>Marca:</label>
            <select style="color:grey;" id="id_marca_bio_" class="form-control">
            	<option value="0" selected>Seleccione una marca</option>
            </select>
            <label>Activo:</label>
            <select style="color:grey;" id="id_activo_bio_" class="form-control">
                <option value="" selected>Seleccione una opción</option>                   
            </select><?php */?>
            <label>Empresa:</label>
            <select class="form-control required" id="id_empresa_bio_" style="color:gray;" onchange="loadEmpresas('5',this)" >
                <option value="0" selected="selected">Seleccione una marca</option>
                <?php foreach($this->empresas as $empresa){?>
                     <option value="<?php echo $empresa->id?>"><?php echo $empresa->nombre?></option>
                <?php }?>
             </select><br />  
                    
             <label>Marca:</label>
             <select id="id_marca_bio_" class="form-control input-sm required" style="color:gray;">
                 <option value="0" selected="selected">Seleccione una marca</option>
             </select><br/>
            <input type="hidden" id="id_bio_" value="0" />
            <input type="hidden" id="tipo_bio_" value="0" />
        </th>
        <td>
            <select id="id_unidad_bio_" style="color:gray;" class="form-control">
                <option value="0">Seleccione una unidad</option>
            </select>
        </td>
        <td>
            <div class="input-group">
                <input type="text" id="cantidad_bio_" class="form-control numeric required " value="" onkeyup="calculaImporte2Frm9(this)" onkeypress="return permiteNumerosConDecimal(event,this);"/>
            </div>
        </td>
        <td>
            <div class="input-group">
                <input type="text" id="precio_bio_" class="form-control numeric required " value="" onkeyup="calculaImporte2Frm9(this)" onkeypress="return permiteNumerosConDecimal(event,this);"/>
            </div>
        </td>
        <td>
            <div class="input-group">
                <input type="text" id="importe_bio_" readonly="readonly" class="form-control numeric required" value="" />
            </div>
        </td>
        <td>
            <div class="input-group date">
                <input type='text' class="form-control" readonly="readonly" id="fecha_bio_" />
                <span class="input-group-addon" style="cursor:pointer">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </td>
        <td>
            <div class="input-group">
                <input type="text" id="innovacion_bio_" class="form-control numeric required inno" value="" />
            </div>
        </td>
        <td>
            <div class="input-group">
                <i id="eliminarFila" style="width:40px;" class="btn btn-block btn-danger fa fa-times-circle">&nbsp;</i>
            </div>
        </td>
    </tr>

    <tr id="fila_generica_3" class="hide">
        <th scope="row">
        	
            <?php /*?><label>Inoculación con insecticida:</label></br><?php */?>
            <?php /*?><label>Marca:</label>
            <select style="color:grey;" id="id_marca_ins_" class="form-control">
            	<option value="0" selected>Seleccione una marca</option>
            </select>
            <label>Activo:</label>
            <select style="color:grey;" id="id_activo_ins_" class="form-control">
                <option value="0" selected>Seleccione una opción</option>                   
            </select><?php */?>
            <label>Empresa:</label>
            <select class="form-control required" id="id_empresa_ins_" style="color:gray;" onchange="loadEmpresas('1',this)" >
                <option value="0" selected="selected">Seleccione una marca</option>
                <?php foreach($this->empresas as $empresa){?>
                     <option value="<?php echo $empresa->id?>"><?php echo $empresa->nombre?></option>
                <?php }?>
             </select><br />  
                    
             <label>Marca:</label>
             <select id="id_marca_ins_" class="form-control input-sm required" style="color:gray;">
                 <option value="0" selected="selected">Seleccione una marca</option>
             </select><br/>
            <input type="hidden" id="id_ins_" value="0" />
            <input type="hidden" id="tipo_ins_" value="0" />
        </th>
        <td>
            <select id="id_unidad_ins_" style="color:gray;" class="form-control">
                <option value="0">Seleccione una unidad</option>
            </select>
        </td>
        <td>
            <div class="input-group">
                <input type="text" id="cantidad_ins_" class="form-control numeric required" value="" onkeyup="calculaImporte2Frm9(this)" onkeypress="return permiteNumerosConDecimal(event,this);" />
            </div>
        </td>
        <td>
            <div class="input-group">
                <input type="text" id="precio_ins_" class="form-control numeric required" value="" onkeyup="calculaImporte2Frm9(this)" onkeypress="return permiteNumerosConDecimal(event,this);"/>
            </div>
        </td>
        <td>
            <div class="input-group">
                <input type="text" id="importe_ins_" readonly="readonly" class="form-control numeric required" value="" />
            </div>
        </td>
        <td>
            <div class="input-group date">
                <input type='text' class="form-control" readonly="readonly" id="fecha_ins_" />
                <span class="input-group-addon" style="cursor:pointer">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </td>
        <td>
            <div class="input-group">
                <input type="text" id="innovacion_ins_" class="form-control numeric required inno" value="" />
            </div>
        </td>
        <td>
            <div class="input-group">
                <i id="eliminarFila" style="width:40px;" class="btn btn-block btn-danger fa fa-times-circle">&nbsp;</i>
            </div>
        </td>
    </tr>
<!-----------------------------------------------------------------------------------------------------------------------------------------------------------
    --------------------------------------------------------------------------------------------------------------------------------------------------------- -->
    <tr>
        <th align="center" colspan="8" style="text-align:center; background-color:#a1c1d3;">
            Semilla de alto rendimiento (Nombre, Marca y Numero)
        </th>
    </tr>
</table>

<div class="row center-block">
	<div class="col-xs-2 pull-left" id="btn-clear-rsmr">
        <a class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Borrar</a>
    </div>
    <div class="col-xs-2 pull-left" id="btn-save-rsmr">
        <a class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
    </div>
    <!---
    <div class="col-xs-3 pull-left" id="btn-congelar-rsmr">
        <a class="btn btn-block btn-success"><i class="fa fa-minus-circle">&nbsp;</i>Finalizar captura</a>
    </div>
        ---->

    
    
</div>

<input type="hidden" id="total_hectareas" value="0" />
</form>