<form id="frm-6" name="frm-6" class="form-horizontal" method="post" action="/backend/diagnosticos/guardar-riego" role="form">
    <table id="tb_riego" width="100%" border="0" class="table table-bordered" style="font-size: 12px">
        <tr>
            <th scope="col" class="col-xs-2 text-center">Concepto</th>
            <th scope="col" class="col-xs-2 text-center">¿Fue realizado?</th>
            <th scope="col" class="col-xs-1 text-center">Unidad</th>
            <th scope="col" class="col-xs-1 text-center">Cantidad</th>
            <th scope="col" class="col-xs-2 text-center">Costo unitario</th>
            <th scope="col" class="col-xs-2 text-center">Costo total</th>
            <th scope="col" class="col-xs-2 text-center text-center">F. Realización</th>
            <th scope="col" class="col-xs-2 text-center">Innovación</th>
        </tr>
        <tr>
            <th scope="row">Acondicionamiento de zanjas</th>
            <td align="center">
            	<label>Si<input type="radio" value="1" name="acondicionamiento_realizado" id="acondicionamiento_Si" /></label> &nbsp;
                <label>No<input type="radio" value="2" name="acondicionamiento_realizado" id="acondicionamiento_No" /></label>
            </td>
            <td align="center" valign="middle">	
        		<select id="acondicionamiento_id_unidad" name="acondicionamiento_id_unidad" class="form-control" style="color:gray;">
                </select>
            </td>
            <td>
        		<div class="input-group">
                    <input type="text" id="acondicionamiento_cantidad" name="acondicionamiento_cantidad" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
        		<div class="input-group">
                    <input type="text" id="acondicionamiento_precio" name="acondicionamiento_precio" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
        		<div class="input-group">
                    <input type="text" id="acondicionamiento_importe" name="acondicionamiento_importe" class="form-control numeric required import" value="" />
                </div>
            </td>
            <td>
        		<div class="input-group date">
                    <input type='text' class="form-control" disabled id="acondicionamiento_fecha" name="acondicionamiento_fecha" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
        		<div class="input-group">
                    <input type="text" id="acondicionamiento_innovacion" name="acondicionamiento_innovacion" class="form-control numeric required inno" value="" />
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Apertura de desagüe</th>
            <td align="center">
                <label>Si<input type="radio" value="1" name="apertura_desague_realizado" id="apertura_desague_Si" /></label> &nbsp;
                <label>No<input type="radio" value="2" name="apertura_desague_realizado" id="apertura_desague_No" /></label>
            </td>
            <td align="center" valign="middle"> 
                <select id="apertura_desague_id_unidad" name="apertura_desague_id_unidad" class="form-control" style="color:gray;">
                </select>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="apertura_desague_cantidad" name="apertura_desague_cantidad" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="apertura_desague_precio" name="apertura_desague_precio" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="apertura_desague_importe" name="apertura_desague_importe" class="form-control numeric required import" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control" disabled id="apertura_desague_fecha" name="apertura_desague_fecha" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="apertura_desague_innovacion" name="apertura_desague_innovacion" class="form-control numeric required inno" value="" />
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Apertura de zanjas</th>
            <td align="center">
                <label>Si<input type="radio" value="1" name="apertura_zanjas_realizado" id="apertura_zanjas_Si" /></label> &nbsp;
                <label>No<input type="radio" value="2" name="apertura_zanjas_realizado" id="apertura_zanjas_No" /></label>
            </td>
            <td align="center" valign="middle"> 
                <select id="apertura_zanjas_id_unidad" name="apertura_zanjas_id_unidad" class="form-control" style="color:gray;">
                </select>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="apertura_zanjas_cantidad" name="apertura_zanjas_cantidad" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="apertura_zanjas_precio" name="apertura_zanjas_precio" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="apertura_zanjas_importe" name="apertura_zanjas_importe" class="form-control numeric required import" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control" disabled id="apertura_zanjas_fecha" name="apertura_zanjas_fecha" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="apertura_zanjas_innovacion" name="apertura_zanjas_innovacion" class="form-control numeric required inno" value="" />
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Pago de la cuota</th>
            <td align="center">
                <label>Si<input type="radio" value="1" name="cuota_realizado" id="cuota_Si" /></label> &nbsp;
                <label>No<input type="radio" value="2" name="cuota_realizado" id="cuota_No" /></label>
            </td>
            <td align="center" valign="middle"> 
                <select id="cuota_id_unidad" name="cuota_id_unidad" class="form-control" style="color:gray;">
                </select>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="cuota_cantidad" name="cuota_cantidad" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="cuota_precio" name="cuota_precio" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="cuota_importe" name="cuota_importe" class="form-control numeric required import" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control" disabled id="cuota_fecha" name="cuota_fecha" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="cuota_innovacion" name="cuota_innovacion" class="form-control numeric required inno" value="" />
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Riego de nacencia</th>
            <td align="center">
                <label>Si<input type="radio" value="1" name="nacencia_realizado" id="nacencia_Si" /></label> &nbsp;
                <label>No<input type="radio" value="2" name="nacencia_realizado" id="nacencia_No" /></label>
            </td>
            <td align="center" valign="middle"> 
                <select id="nacencia_id_unidad" name="nacencia_id_unidad" class="form-control" style="color:gray;">
                </select>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="nacencia_cantidad" name="nacencia_cantidad" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="nacencia_precio" name="nacencia_precio" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="nacencia_importe" name="nacencia_importe" class="form-control numeric required import" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control" disabled id="nacencia_fecha" name="nacencia_fecha" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="nacencia_innovacion" name="nacencia_innovacion" class="form-control numeric required inno" value="" />
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Riego[s] de auxilio</th>
            <td align="center">
                <label>Si<input type="radio" value="1" name="auxilio_realizado" id="auxilio_Si" /></label> &nbsp;
                <label>No<input type="radio" value="2" name="auxilio_realizado" id="auxilio_No" /></label>
            </td>
            <td align="center" valign="middle"> 
                <select id="auxilio_id_unidad" name="auxilio_id_unidad" class="form-control" style="color:gray;">
                </select>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="auxilio_cantidad" name="auxilio_cantidad" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="auxilio_precio" name="auxilio_precio" class="form-control numeric required" value="" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="auxilio_importe" name="auxilio_importe" class="form-control numeric required import" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control" disabled id="auxilio_fecha" name="auxilio_fecha" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="auxilio_innovacion" name="auxilio_innovacion" class="form-control numeric required inno" value="" />
                </div>
            </td>
        </tr>
    </table>

    <div class="row center-block">
    	<div class="col-xs-2 pull-left">
            <a  class="btn btn-block btn-success" id="btn-clean-riego"><i class="fa fa-eraser">&nbsp;</i>Borrar</a>
        </div>
        <div class="col-xs-2 pull-left" id="btn-save-riego">
            <a  class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
        </div>
        <!---
   		<div class="col-xs-3 pull-left" id="btn-congelar-r">
            <a  class="btn btn-block btn-success"><i class="fa fa-minus-circle">&nbsp;</i>Finalizar captura</a>
        </div>
        ---->
    
        
        
    </div>

</form>