<form id="frm-7" name="frm-7" class="form-horizontal" method="post" action="/backend/diagnosticos/guardar-semilla" role="form">
<table width="100%" border="0" id="tabla" class="table table-bordered tsemilla" style="font-size: 12px">
    <!--<tr>
        <th scope="col" class="col-xs-2 text-center">Concepto</th>
        <th scope="col" class="col-xs-1 text-center">Unidad</th>
        <th scope="col" class="col-xs-1 text-center">Cantidad</th>
        <th scope="col" class="col-xs-2 text-center">P.U.</th>
        <th scope="col" class="col-xs-2 text-center">Importe/ha</th>
        <th scope="col" class="col-xs-2 text-center text-center">F. Realización</th>
        <th scope="col" class="col-xs-2 text-center">Innovación</th>
        <th scope="col" class="col-xs-2 text-center">Agregar</th>
    </tr>-->

    <tr id="fila_generica_0" class="hide">
        <th scope="col" class="col-xs-2 text-center">Concepto</th>
        <th colspan="2" class="col-xs-1 text-center" scope="col">Kilos de semilla</th>
        <th scope="col" class="col-xs-2 text-center">Precio por kilo</th>
        <th scope="col" class="col-xs-2 text-center">Costo total</th>
        <th scope="col" class="col-xs-2 text-center text-center">F. Realización</th>
        <th scope="col" class="col-xs-2 text-center">Innovación</th>
        <th scope="col" class="col-xs-2 text-center"></th>
    </tr>
    <tr id="fila_generica_00" class="hide">
        <th scope="col" class="col-xs-2 text-center">Concepto</th>
        <th scope="col" class="col-xs-1 text-center">Unidad</th>
        <th scope="col" class="col-xs-2 text-center">Cantidad</th>
        <th scope="col" class="col-xs-2 text-center">Costo unitario</th>
        <th scope="col" class="col-xs-2 text-center">Costo total</th>
        <th scope="col" class="col-xs-2 text-center text-center">F. Realización</th>
        <th scope="col" class="col-xs-2 text-center">Innovación</th>
        <th scope="col" class="col-xs-2 text-center">Agregar</th>
    </tr>

    <tr id="fila_generica_1" class="hide">
        <th scope="row">
    		<div class="input-group">
                <label>Cultivo:</label></br>
                <select style="color:grey;" id="id_cultivo_" class="form-control">
                	<option value="0" selected>Seleccione un cultivo</option>
                </select>
                </br><label>Uso:</label></br>
                <select style="color:grey;" id="id_uso_" class="form-control">
                	<option value="0" selected>Seleccione un uso</option>
                </select>
                </br><label>Proceso de mejoramiento genético:</label></br>
                <select style="color:grey;" id="id_marca_" class="form-control">
                	<option value="0" selected>Seleccione un proceso</option>
                    <option value="1">Seleccione masal</option>
                    <option value="2">Retrocruza</option>
                    <option value="3">Variedad de polinización libre</option>
                    <option value="4">Cruza simple</option>
                    <option value="5">Cruza doble</option>
                    <option value="6">Cruza triple</option>
                    <option value="7">Otro</option>
                </select>
            </div>
        </th>
        <td colspan="2">
    		<div class="input-group" style="width: 100%">
                <input type="text" id="cantidad_cultivo_" class="form-control numeric required verificarRango" value="" onkeyup="calculaImporteFrm7(this)" onkeypress="return permiteNumerosConDecimal(event,this);"/>
            </div>
        </td>
        <td>
    		<div class="input-group">
                <input type="text" id="precio_cultivo_" class="form-control numeric required verificarRango2" value="" onkeyup="calculaImporteFrm7(this)" onkeypress="return permiteNumerosConDecimal(event,this);"/>
            </div>
        </td>
        <td>
    		<div class="input-group">
                <input type="text" id="importe_cultivo_" readonly="readonly" class="form-control numeric required" value="" />
            </div>
        </td>
        <td>
    		<div class="input-group date">
                <input type='text' class="form-control" readonly="readonly" id="fecha_cultivo_" />
                <span class="input-group-addon" style="cursor:pointer">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </td>
        <td>
    		<div class="input-group">
                <input type="text" id="innovacion_cultivo_" class="form-control numeric required inno" value="" />
            </div>
        </td>
        <td>
        	<!-- boton -->
        </td>
    </tr>
	 <tr id="fila_generica_bio" class="hide">
    	<th colspan="8">
        	<label>¿Se realizó inoculación?</label></br>
        	<select style="color:grey;" id="ino_con_bio" class="form-control realizo" onchange="realizo(this);">
                <option value="1" class="realizo">Sí</option>
                <option value="2" selected class="realizo">No</option>
            </select>
        </th>
    </tr>
    <tr id="fila_generica_2" class="hide">
        <th scope="row">
            <label>Fuente:</label>
            <select class="form-control required" id="id_empresa_bio_" style="color:gray;" onchange="cargarSubcatalogo(this)" >
                <option value="0" selected="selected">Seleccione una fuente</option>
                <?php foreach($this->cat_fuente_nutricion as $valor){?>
                     <option value="<?php echo $valor->id?>"><?php echo $valor->valor?></option>
                <?php }?>
             </select><br />  
                    
             <label>Tipo:</label>
             <select id="id_marca_bio_" class="form-control input-sm required" style="color:gray;">
                 <option value="0" selected="selected">Seleccione una marca</option>
             </select><br/>
            <input type="hidden" id="id_bio_" value="0" />
            <input type="hidden" id="tipo_bio_" value="0" />
            
        </th>
        <td>
            <select id="id_unidad_bio_" style="color:gray;" class="form-control">
                <option value="0">Seleccione una unidad</option>
            </select>
        </td>
        <td>
            <div class="input-group">
                <input type="text" id="cantidad_bio_" class="form-control numeric required " value="" onkeyup="calculaImporte2Frm7(this)" onkeypress="return permiteNumerosConDecimal(event,this);"/>
            </div>
        </td>
        <td>
            <div class="input-group">
                <input type="text" id="precio_bio_" class="form-control numeric required " value="" onkeyup="calculaImporte2Frm7(this)" onkeypress="return permiteNumerosConDecimal(event,this);" />
            </div>
        </td>
        <td>
            <div class="input-group">
                <input type="text" id="importe_bio_" readonly="readonly" class="form-control numeric required" value="" />
            </div>
        </td>
        <td>
            <div class="input-group date">
                <input type='text' class="form-control" readonly="readonly" id="fecha_bio_" />
                <span class="input-group-addon" style="cursor:pointer">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </td>
        <td>
            <div class="input-group">
                <input type="text" id="innovacion_bio_" class="form-control numeric required inno" value="" />
            </div>
        </td>
        <td>
            <div class="input-group">
                <i id="eliminarFila" style="width:40px;" class="btn btn-block btn-danger fa fa-times-circle">&nbsp;</i>
            </div>
        </td>
    </tr>

    
    
<!-----------------------------------------------------------------------------------------------------------------------------------------------------------
    --------------------------------------------------------------------------------------------------------------------------------------------------------- -->
    <tr>
      	<th align="center" colspan="8" style="text-align:center; background-color:#a1c1d3;">
        	 Semilla ( Proceso de mejoramiento y genotipo)
        </th>
    </tr>
</table>

<div class="row center-block">
	<div class="col-xs-2 pull-left" id="btn-clear-smr">
        <a class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Borrar</a>
    </div>
    <div class="col-xs-2 pull-left" id="btn-save-smr">
        <a class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
    </div>
    <!---
	<div class="col-xs-3 pull-left" id="btn-congelar-smr">
    	<a class="btn btn-block btn-success"><i class="fa fa-minus-circle">&nbsp;</i>Finalizar captura</a>
   	</div>
        ---->

	
    
</div>


</form>