<h3>Sistema de producción actual</h3>
<br>
<form name="frmSistemaProduccionActual" id="frmSistemaProduccionActual">
	<div class="form-group col-md-12">
		<h4>3.1 MEDIOS DISPONIBLES</h4>
	</div>
	<div class="form-group col-md-6">
		<label for="exampleInputEmail1">Fuerza de trabajo</label>
		<select name="fuerza_trabajo" id="fuerza_trabajo" class="form-control">
			<option value="">Elija una opción</option>
			<?php foreach($this->fuerza_trabajo as $r){?>
				<option <?php if($this->sistema_produccion_actual->fuerza_trabajo==$r->id) echo "selected";?> value="<?php echo $r->id?>"><?php echo $r->valor;?></option>
			<?php }?>
		</select>
	</div>
	<div class="form-group col-md-6">
		<label for="exampleInputEmail1">Mano de obra</label>
		<select name="mano_obra" id="mano_obra" class="form-control">
			<option value="">Elija una opción</option>
			<?php foreach($this->mano_obra as $r){?>
				<option <?php if($this->sistema_produccion_actual->mano_obra==$r->id) echo "selected";?> value="<?php echo $r->id?>"><?php echo $r->valor;?></option>
			<?php }?>
		</select>
	</div>
	<div class="form-group col-md-12">
		<label for="exampleInputEmail1">¿Cuénta con maquinaria agrícola?</label>
		<select name="maquinaria_agricola" class="form-control" onchange="muestraTabla(this.value, 1,'tbl_maquinaria_agricola');">
			<option value="">Elija una opción</option>
			<option value="1" <?php if($this->sistema_produccion_actual->maquinaria_agricola==1) echo "selected";?>>Si</option>
			<option value="2" <?php if($this->sistema_produccion_actual->maquinaria_agricola==2) echo "selected";?>>No</option>
		</select>

		<table class="table table-bordered <?php if($this->sistema_produccion_actual->maquinaria_agricola!=1) echo "hide";?>" id="tbl_maquinaria_agricola">
			<caption>Enliste las principales</caption>
			<tr>
				<th width="80%">Nombre</th>
				<th>Cantidad</th>
				<th>Agregar otro</th>
			</tr>
			<tr>
				<td><input type="text" name="nombre_maquinaria_agricola" id="nombre_maquinaria_agricola" class="form-control"></td>
				<td><input type="number" name="cantidad_maquinaria_agricola" id="cantidad_maquinaria_agricola" class="form-control"></td>
				<td><input type="button" class="btn btn-success" value="+" onclick="agregarEquipoSistemaProduccion('maquinaria_agricola');"></td>
			</tr>
			<?php foreach($this->equipos['maquinaria_agricola'] as $equipo){?>
			<tr id="fila_sistema_equipo_<?php echo $equipo['id']?>">
				<td><?php echo $equipo['nombre']?></td>
				<td><?php echo $equipo['cantidad']?></td>
				<td><input type="button" class="btn btn-danger" value="-" onclick="eliminarEquipoSistemaProduccion(<?php echo $equipo['id']?>);"></td>
			</tr>
			<?php }?>
		</table>
	</div>
	<div class="form-group col-md-12">
		<label for="exampleInputEmail1">¿Cuénta con equipo agrícola?</label>
		<select name="equipo_agricola" class="form-control" onchange="muestraTabla(this.value, 1,'tbl_equipo_agricola');">
			<option value="">Elija una opción</option>
			<option value="1" <?php if($this->sistema_produccion_actual->equipo_agricola==1) echo "selected";?>>Si</option>
			<option value="2" <?php if($this->sistema_produccion_actual->equipo_agricola==2) echo "selected";?>>No</option>
		</select>

		<table class="table table-bordered <?php if($this->sistema_produccion_actual->equipo_agricola!=1) echo "hide";?>" id="tbl_equipo_agricola">
			<caption>Enliste los principales</caption>
			<tr>
				<th width="80%">Nombre</th>
				<th>Cantidad</th>
				<th>Agregar otro</th>
			</tr>
			<tr>
				<td><input type="text" name="nombre_equipo_agricola" id="nombre_equipo_agricola" class="form-control"></td>
				<td><input type="number" name="cantidad_equipo_agricola" id="cantidad_equipo_agricola" class="form-control"></td>
				<td><input type="button" class="btn btn-success" value="+" onclick="agregarEquipoSistemaProduccion('equipo_agricola');"></td>
			</tr>
			<?php foreach($this->equipos['equipo_agricola'] as $equipo){?>
			<tr id="fila_sistema_equipo_<?php echo $equipo['id']?>">
				<td><?php echo $equipo['nombre']?></td>
				<td><?php echo $equipo['cantidad']?></td>
				<td><input type="button" class="btn btn-danger" value="-" onclick="eliminarEquipoSistemaProduccion(<?php echo $equipo['id']?>);"></td>
			</tr>
			<?php }?>
		</table>
	</div>
	<div class="form-group col-md-12">
		<label for="exampleInputEmail1">¿Cuénta con equipo tecnológico?</label>
		<select name="equipo_tecnologico" class="form-control" onchange="muestraTabla(this.value, 1,'tbl_equipo_tecnologico');">
			<option value="">Elija una opción</option>
			<option value="1" <?php if($this->sistema_produccion_actual->equipo_tecnologico==1) echo "selected";?>>Si</option>
			<option value="2" <?php if($this->sistema_produccion_actual->equipo_tecnologico==2) echo "selected";?>>No</option>
		</select>

		<table class="table table-bordered <?php if($this->sistema_produccion_actual->equipo_tecnologico!=1) echo "hide";?>" id="tbl_equipo_tecnologico">
			<caption>Enliste los principales</caption>
			<tr>
				<th width="80%">Nombre</th>
				<th>Cantidad</th>
				<th>Agregar otro</th>
			</tr>
			<tr>
				<td><input type="text" name="nombre_equipo_tecnologico" id="nombre_equipo_tecnologico" class="form-control"></td>
				<td><input type="number" name="cantidad_equipo_tecnologico" id="cantidad_equipo_tecnologico" class="form-control"></td>
				<td><input type="button" class="btn btn-success" value="+"onclick="agregarEquipoSistemaProduccion('equipo_tecnologico');"></td>
			</tr>
			<?php foreach($this->equipos['equipo_tecnologico'] as $equipo){?>
			<tr id="fila_sistema_equipo_<?php echo $equipo['id']?>">
				<td><?php echo $equipo['nombre']?></td>
				<td><?php echo $equipo['cantidad']?></td>
				<td><input type="button" class="btn btn-danger" value="-" onclick="eliminarEquipoSistemaProduccion(<?php echo $equipo['id']?>);"></td>
			</tr>
			<?php }?>
		</table>
	</div>
	<div class="form-group col-md-12">
		<label for="exampleInputEmail1">¿Cuénta con infraestructura?</label>
		<select name="infraestructura" class="form-control" onchange="muestraTabla(this.value, 1,'tbl_infraestructura');">
			<option value="">Elija una opción</option>
			<option value="1" <?php if($this->sistema_produccion_actual->infraestructura==1) echo "selected";?>>Si</option>
			<option value="2" <?php if($this->sistema_produccion_actual->infraestructura==2) echo "selected";?>>No</option>
		</select>

		<table class="table table-bordered <?php if($this->sistema_produccion_actual->infraestructura!=1) echo "hide";?>" id="tbl_infraestructura">
			<caption>Enliste los principales</caption>
			<tr>
				<th width="80%">Nombre</th>
				<th>Cantidad</th>
				<th>Agregar otro</th>
			</tr>
			<tr>
				<td><input type="text" name="nombre_infraestructura" id="nombre_infraestructura" class="form-control"></td>
				<td><input type="number" name="cantidad_infraestructura" id="cantidad_infraestructura" class="form-control"></td>
				<td><input type="button" class="btn btn-success" value="+" onclick="agregarEquipoSistemaProduccion('infraestructura');"></td>
			</tr>
			<?php foreach($this->equipos['infraestructura'] as $equipo){?>
			<tr id="fila_sistema_equipo_<?php echo $equipo['id']?>">
				<td><?php echo $equipo['nombre']?></td>
				<td><?php echo $equipo['cantidad']?></td>
				<td><input type="button" class="btn btn-danger" value="-" onclick="eliminarEquipoSistemaProduccion(<?php echo $equipo['id']?>);"></td>
			</tr>
			<?php }?>
		</table>
	</div>
	<div class="form-group col-md-12">
		<h4>3.2 SUELO</h4>
		<table class="table table-bordered">
			<caption>Características</caption>
			<tr>
				<td>Textura de suelo</td>
				<td>
					<select name="textura_suelo" id="textura_suelo" class="form-control">
						<option value="">Elija una opción</option>
						<?php foreach($this->cat_textura_suelo as $r){?>
							<option <?php if($this->sistema_produccion_actual->textura_suelo==$r->id) echo "selected";?> value="<?php echo $r->id?>"><?php echo $r->valor;?></option>
						<?php }?>
					</select>
				</td>
				<td>Nombre local</td>
				<td><input name="nombre_local" value="<?php if(is_object($this->sistema_produccion_actual)) echo $this->sistema_produccion_actual->nombre_local?>" type="tex" class="form-control"></td>
			</tr>
			<tr>
				<td>Porcentaje de materia orgánica</td>
				<td><input name="porcentaje_materia_organica" value="<?php if(is_object($this->sistema_produccion_actual)) echo $this->sistema_produccion_actual->porcentaje_materia_organica?>" type="tex" class="form-control"></td>
				<td>Conductividad Eléctrica</td>
				<td><input name="conductividad_electrica" value="<?php if(is_object($this->sistema_produccion_actual)) echo $this->sistema_produccion_actual->conductividad_electrica?>" type="tex" class="form-control"></td>
			</tr>
			<tr>
				<td>pH</td>
				<td><input name="ph" value="<?php if(is_object($this->sistema_produccion_actual)) echo $this->sistema_produccion_actual->ph?>" type="tex" class="form-control"></td>
				<td>Grado de compactación (libras por pulgada)</td>
				<td><input name="grado_compactacion" value="<?php if(is_object($this->sistema_produccion_actual)) echo $this->sistema_produccion_actual->grado_compactacion?>" type="tex" class="form-control"></td>
			</tr>
			<tr>
				<td>¿Cuál es la pendiente promedio del terreno? </td>
				<td>
					<select name="pendiente_promedio" id="pendiente_promedio" class="form-control">
						<option value="">Elija una opción</option>
						<?php foreach($this->cat_pendiente_promedio as $r){?>
							<option <?php if($this->sistema_produccion_actual->pendiente_promedio==$r->id) echo "selected";?> value="<?php echo $r->id?>"><?php echo $r->valor;?></option>
						<?php }?>
					</select>
				</td>
				<td>ORP (Potencial de Óxido-Reducción)</td>
				<td><input name="orp" value="<?php if(is_object($this->sistema_produccion_actual)) echo $this->sistema_produccion_actual->orp?>" type="tex" class="form-control"></td>
			</tr>
		</table>
		<table class="table table-bordered">
			<caption>Manejo</caption>
			<tr>
				<td>Técnica de labranza</td>
				<td>
					<select name="tecnica_labranza" id="tecnica_labranza" class="form-control">
						<option value="">Elija una opción</option>
						<?php foreach($this->cat_tecnica_labranza as $r){?>
							<option <?php if($this->sistema_produccion_actual->tecnica_labranza==$r->id) echo "selected";?> value="<?php echo $r->id?>"><?php echo $r->valor;?></option>
						<?php }?>
					</select>
				</td>
				<td>Número de laboreos del suelo desde la preparación hasta la cosecha</td>
				<td><input name="labores_suelo" type="number" class="form-control" value="<?php if(is_object($this->sistema_produccion_actual)) echo $this->sistema_produccion_actual->labores_suelo?>"></td>
			</tr>
			<tr>
				<td>¿Se utiliza fuego en la parcela?</td>
				<td>
					<select name="usa_fuego" class="form-control">
						<option value="">Elija una opción</option>
						<option value="1" <?php if($this->sistema_produccion_actual->usa_fuego==1) echo "selected";?>>Si</option>
						<option value="2" <?php if($this->sistema_produccion_actual->usa_fuego==2) echo "selected";?>>No</option>
					</select>
				</td>
				<td>Si su respuesta anterior fue afirmativa, ¿en qué momento  se aplica el fuego?</td>
				<td><input name="momento_aplica_fuego" type="text" class="form-control" value="<?php if(is_object($this->sistema_produccion_actual)) echo $this->sistema_produccion_actual->momento_aplica_fuego?>"></td>
			</tr>
		</table>
		<table class="table table-bordered" id="tbl_conservacion_sistema_produccion">
			<caption>Enliste las prácticas de conservación que se han realizado en este predio.</caption>
			<tr>
				<th width="20%">Nombre Técnico de la Práctica de Conservación </th>
				<th width="20%">Nombre Local (como le llaman en la región a esa práctica)</th>
				<th width="20%">¿Es una práctica vigente?</th>
				<th width="20%">¿De quién la aprendió?</th>
				<th width="15%">¿Cuánto tiempo tiene implementando esta práctica? (en años)</th>
				<th width="5%"></th>
			</tr>
			<tr>
				<td><input type="text" name="nombre_tecnico_conservacion" id="nombre_tecnico_conservacion" class="form-control"></td>
				<td><input type="text" name="nombre_local_conservacion" id="nombre_local_conservacion" class="form-control"></td>
				<td>
					<select class="form-control" name="practica_vigente_conservacion" id="practica_vigente_conservacion">
						<option value="">Elija una opción</option>
						<option value="1">Si</option>
						<option value="2">No</option>
					</select>
				</td>
				<td><input type="text" class="form-control" name="de_quien_aprendio_conservacion" id="de_quien_aprendio_conservacion"></td>
				<td><input type="number" class="form-control" name="tiempo_implementando_conservacion" id="tiempo_implementando_conservacion"></td>
				<td><input type="button" class="btn btn-success" value="+" onclick="agregarConservacionSistemaProduccion();"></td>
			</tr>
			<?php foreach($this->practica_conservaciones as $practica){?>
			<tr id="fila_sistema_conservacion_<?php echo $practica->id?>">
				<td><?php echo $practica->nombre_tecnico?></td>
				<td><?php echo $practica->nombre_local?></td>
				<td><?php echo ($practica->practica_vigente==1)?"Si":"No"?></td>
				<td><?php echo $practica->de_quien_aprendio?></td>
				<td><?php echo $practica->tiempo_implementando?></td>
				<td><input type="button" class="btn btn-danger" value="-" onclick="eliminarConservacionSistemaProduccion(<?php echo $practica->id?>);"></td>
			</tr>
			<?php }?>
		</table>
	</div>
	<?php echo $this->partial("parcial/cultivos.phtml",array('cultivos'=>$this->cultivos,'cat_disposicion_cultivo'=>$this->cat_disposicion_cultivo,'cat_obtiene_semilla'=>$this->cat_obtiene_semilla,'cat_propia_semilla'=>$this->cat_propia_semilla,'datos_cultivos'=>$this->datos_cultivos)); ?>
	<div class="form-group col-md-12">
		<h4>3.4 EVENTOS BIÓTICOS (PLAGAS O ENFERMEDADES) O ABIÓTICOS (SEQUÍAS, HELADAS, BAJAS TEMPERATURAS, INUNDACIÓN, GRANIZADA, ENTRE OTROS)</h4>
		<table class="table table-bordered" id="tbl_plagas_sistema_produccion">
			<caption>Enliste las principales plagas</caption>
			<tr>
				<th>Nombre</th>
				<th>Cultivo al que afecta</th>
				<th>Periodo de presencia (mes)</th>
				<th>¿En que etapa del cultivo (etapa fenológica) se presenta?</th>
				<th>Nombre local  de la etapa fenológica (¿cómo le llaman en la región a esa etapa fenológica?)</th>
				<th>¿Qué producto aplicó para su manejo?</th>
				<th></th>
			</tr>
			<tr>
				<td><input type="text" class="form-control" name="nombre_plagas" id="nombre_plagas"></td>
				<td>
					<select class="form-control" name="cultivo_plagas" id="cultivo_plagas">
						<option value="">Elija un cultivo</option>
						<?php foreach($this->datos_cultivos as $cultivo){?>
							<option value="<?php echo $cultivo->id?>"><?php echo $cultivo->Cultivo->nombre?></option>
						<?php }?>
					</select>
				</td>
				<td><input type="text" class="form-control" name="periodo_plagas" id="periodo_plagas"></td>
				<td><input type="text" class="form-control" name="etapa_plagas" id="etapa_plagas"></td>
				<td><input type="text" class="form-control" name="local_etapa_plagas" id="local_etapa_plagas"></td>
				<td><input type="text" class="form-control" name="producto_plagas" id="producto_plagas"></td>
				<td><input type="button" class="btn btn-success" value="+" onclick="agregarEventoSistemaProduccion('plagas');"></td>
			</tr>
			<?php foreach($this->sistema_eventos['plagas'] as $evento){?>
			<tr id="fila_sistema_evento_<?php echo $evento['id']?>">
				<td><?php echo $evento['nombre']?></td>
				<td><?php echo $evento['cultivo']?></td>
				<td><?php echo $evento['periodo']?></td>
				<td><?php echo $evento['etapa']?></td>
				<td><?php echo $evento['nombre_local']?></td>
				<td><?php echo $evento['producto_manejo']?></td>
				<td><input type="button" class="btn btn-danger" value="-" onclick="eliminarEventoSistemaProduccion(<?php echo $evento['id']?>);"></td>
			</tr>
			<?php }?>
		</table>
		<table class="table table-bordered" id="tbl_enfermedades_sistema_produccion">
			<caption>Enliste las principales enfermedades</caption>
			<tr>
				<th>Nombre</th>
				<th>Cultivo al que afecta</th>
				<th>Periodo de presencia (mes)</th>
				<th>¿En que etapa del cultivo (etapa fenológica) se presenta?</th>
				<th>Nombre local  de la etapa fenológica (¿cómo le llaman en la región a esa etapa fenológica?)</th>
				<th>¿Qué producto aplicó para su manejo?</th>
				<th></th>
			</tr>
			<tr>
				<td><input type="text" class="form-control" name="nombre_enfermedades" id="nombre_enfermedades"></td>
				<td>
					<select class="form-control" name="cultivo_enfermedades" id="cultivo_enfermedades">
						<option value="">Elija un cultivo</option>
						<?php foreach($this->datos_cultivos as $cultivo){?>
							<option value="<?php echo $cultivo->id?>"><?php echo $cultivo->Cultivo->nombre?></option>
						<?php }?>
					</select>
				</td>
				<td><input type="text" class="form-control" name="periodo_enfermedades" id="periodo_enfermedades"></td>
				<td><input type="text" class="form-control" name="etapa_enfermedades" id="etapa_enfermedades"></td>
				<td><input type="text" class="form-control" name="local_etapa_enfermedades" id="local_etapa_enfermedades"></td>
				<td><input type="text" class="form-control" name="producto_enfermedades" id="producto_enfermedades"></td>
				<td><input type="button" class="btn btn-success" value="+" onclick="agregarEventoSistemaProduccion('enfermedades');"></td>
			</tr>
			<?php foreach($this->sistema_eventos['enfermedades'] as $evento){?>
			<tr id="fila_sistema_evento_<?php echo $evento['id']?>">
				<td><?php echo $evento['nombre']?></td>
				<td><?php echo $evento['cultivo']?></td>
				<td><?php echo $evento['periodo']?></td>
				<td><?php echo $evento['etapa']?></td>
				<td><?php echo $evento['nombre_local']?></td>
				<td><?php echo $evento['producto_manejo']?></td>
				<td><input type="button" class="btn btn-danger" value="-" onclick="eliminarEventoSistemaProduccion(<?php echo $evento['id']?>);"></td>
			</tr>
			<?php }?>
		</table>
		<table class="table table-bordered"  id="tbl_abiotico_sistema_produccion">
			<caption>Enliste las principales eventos abióticos</caption>
			<tr>
				<th>Nombre</th>
				<th>Cultivo al que afecta</th>
				<th>Periodo de presencia (mes)</th>
				<th>¿En que etapa del cultivo (etapa fenológica) se presenta?</th>
				<th>Nombre local  de la etapa fenológica (¿cómo le llaman en la región a esa etapa fenológica?)</th>
				<th>¿Qué producto aplicó para su manejo?</th>
				<th></th>
			</tr>
			<tr>
				<td><input type="text" class="form-control" name="nombre_abiotico" id="nombre_abiotico"></td>
				<td>
					<select class="form-control" name="cultivo_abiotico" id="cultivo_abiotico">
						<option value="">Elija un cultivo</option>
						<?php foreach($this->datos_cultivos as $cultivo){?>
							<option value="<?php echo $cultivo->id?>"><?php echo $cultivo->Cultivo->nombre?></option>
						<?php }?>
					</select>
				</td>
				<td><input type="text" class="form-control" name="periodo_abiotico" id="periodo_abiotico"></td>
				<td><input type="text" class="form-control" name="etapa_abiotico" id="etapa_abiotico"></td>
				<td><input type="text" class="form-control" name="local_etapa_abiotico" id="local_etapa_abiotico"></td>
				<td><input type="text" class="form-control" name="producto_abiotico" id="producto_abiotico"></td>
				<td><input type="button" class="btn btn-success" value="+" onclick="agregarEventoSistemaProduccion('abiotico');"></td>
			</tr>
			<?php foreach($this->sistema_eventos['abiotico'] as $evento){?>
			<tr id="fila_sistema_evento_<?php echo $evento['id']?>">
				<td><?php echo $evento['nombre']?></td>
				<td><?php echo $evento['cultivo']?></td>
				<td><?php echo $evento['periodo']?></td>
				<td><?php echo $evento['etapa']?></td>
				<td><?php echo $evento['nombre_local']?></td>
				<td><?php echo $evento['producto_manejo']?></td>
				<td><input type="button" class="btn btn-danger" value="-" onclick="eliminarEventoSistemaProduccion(<?php echo $evento['id']?>);"></td>
			</tr>
			<?php }?>
		</table>
		<table class="table table-bordered" id="tbl_otros_sistema_produccion">
			<caption>Enliste otros eventos</caption>
			<tr>
				<th>Nombre</th>
				<th>Cultivo al que afecta</th>
				<th>Periodo de presencia (mes)</th>
				<th>¿En que etapa del cultivo (etapa fenológica) se presenta?</th>
				<th>Nombre local  de la etapa fenológica (¿cómo le llaman en la región a esa etapa fenológica?)</th>
				<th>¿Qué producto aplicó para su manejo?</th>
				<th></th>
			</tr>
			<tr>
				<td><input type="text" class="form-control" name="nombre_otros" id="nombre_otros"></td>
				<td>
					<select class="form-control" name="cultivo_otros" id="cultivo_otros">
						<option value="">Elija un cultivo</option>
						<?php foreach($this->datos_cultivos as $cultivo){?>
							<option value="<?php echo $cultivo->id?>"><?php echo $cultivo->Cultivo->nombre?></option>
						<?php }?>
					</select>
				</td>
				<td><input type="text" class="form-control" name="periodo_otros" id="periodo_otros"></td>
				<td><input type="text" class="form-control" name="etapa_otros" id="etapa_otros"></td>
				<td><input type="text" class="form-control" name="local_etapa_otros" id="local_etapa_otros"></td>
				<td><input type="text" class="form-control" name="producto_otros" id="producto_otros"></td>
				<td><input type="button" class="btn btn-success" value="+" onclick="agregarEventoSistemaProduccion('otros');"></td>
			</tr>
			<?php foreach($this->sistema_eventos['otros'] as $evento){?>
			<tr id="fila_sistema_evento_<?php echo $evento['id']?>">
				<td><?php echo $evento['nombre']?></td>
				<td><?php echo $evento['cultivo']?></td>
				<td><?php echo $evento['periodo']?></td>
				<td><?php echo $evento['etapa']?></td>
				<td><?php echo $evento['nombre_local']?></td>
				<td><?php echo $evento['producto_manejo']?></td>
				<td><input type="button" class="btn btn-danger" value="-" onclick="eliminarEventoSistemaProduccion(<?php echo $evento['id']?>);"></td>
			</tr>
			<?php }?>
		</table>
	</div>
	<?php
	//Convertimos los valores de las siguientes tablas en arreglos
	$normales=json_decode($this->sistema_produccion_actual->normales_climatologicas, true);
	$ultimo_ano=json_decode($this->sistema_produccion_actual->ultimo_ano, true);
	$ano_actual=json_decode($this->sistema_produccion_actual->ano_actual, true);

	?>
	<div class="form-group col-md-12">
		<h4>3.5 DATOS CLIMÁTICOS</h4>
		<table class="table table-bordered tablaClima">
			<tr>
				<th>Normales climatológicas</th>
				<th>Promedio</th>
				<th>Ene</th>
				<th>Feb</th>
				<th>Mar</th>
				<th>Abr</th>
				<th>May</th>
				<th>Jun</th>
				<th>Jul</th>
				<th>Ago</th>
				<th>Sep</th>
				<th>Oct</th>
				<th>Nov</th>
				<th>Dic</th>
			</tr>
			<tr>
				<td>Temperatura Máxima (grados)</td>
				<td id="normal_max">
				<?php
					$a= array_filter($normales['max']);
					echo (array_sum($a)/12);
				?>		
				</td>
				<td><input onkeyup="calcularPromedioClima('normal_max');" class="normal_max"  type="text" name="normal[max][ene]" value="<?php echo $normales['max']['ene']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_max');" class="normal_max"  type="text" name="normal[max][feb]" value="<?php echo $normales['max']['feb']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_max');" class="normal_max"  type="text" name="normal[max][mar]" value="<?php echo $normales['max']['mar']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_max');" class="normal_max"  type="text" name="normal[max][abr]" value="<?php echo $normales['max']['abr']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_max');" class="normal_max"  type="text" name="normal[max][may]" value="<?php echo $normales['max']['may']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_max');" class="normal_max"  type="text" name="normal[max][jun]" value="<?php echo $normales['max']['jun']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_max');" class="normal_max"  type="text" name="normal[max][jul]" value="<?php echo $normales['max']['jul']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_max');" class="normal_max"  type="text" name="normal[max][ago]" value="<?php echo $normales['max']['ago']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_max');" class="normal_max"  type="text" name="normal[max][sep]" value="<?php echo $normales['max']['sep']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_max');" class="normal_max"  type="text" name="normal[max][oct]" value="<?php echo $normales['max']['oct']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_max');" class="normal_max"  type="text" name="normal[max][nov]" value="<?php echo $normales['max']['nov']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_max');" class="normal_max"  type="text" name="normal[max][dic]" value="<?php echo $normales['max']['dic']?>"></td>
			</tr>
			<tr>
				<td>Temperatura Mínima (grados)</td>
				<td id="normal_min">
				<?php
					$a= array_filter($normales['min']);
					echo (array_sum($a)/12);
				?></td>
				<td><input onkeyup="calcularPromedioClima('normal_min');" class="normal_min" type="text" name="normal[min][ene]" value="<?php echo $normales['min']['ene']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_min');" class="normal_min" type="text" name="normal[min][feb]" value="<?php echo $normales['min']['feb']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_min');" class="normal_min" type="text" name="normal[min][mar]" value="<?php echo $normales['min']['mar']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_min');" class="normal_min" type="text" name="normal[min][abr]" value="<?php echo $normales['min']['abr']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_min');" class="normal_min" type="text" name="normal[min][may]" value="<?php echo $normales['min']['may']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_min');" class="normal_min" type="text" name="normal[min][jun]" value="<?php echo $normales['min']['jun']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_min');" class="normal_min" type="text" name="normal[min][jul]" value="<?php echo $normales['min']['jul']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_min');" class="normal_min" type="text" name="normal[min][ago]" value="<?php echo $normales['min']['ago']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_min');" class="normal_min" type="text" name="normal[min][sep]" value="<?php echo $normales['min']['sep']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_min');" class="normal_min" type="text" name="normal[min][oct]" value="<?php echo $normales['min']['oct']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_min');" class="normal_min" type="text" name="normal[min][nov]" value="<?php echo $normales['min']['nov']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_min');" class="normal_min" type="text" name="normal[min][dic]" value="<?php echo $normales['min']['dic']?>"></td>
			</tr>
			<tr>
				<td>Temperatura Promedio (grados)</td>
				<td id="normal_prom">
				<?php
					$a= array_filter($normales['prom']);
					echo (array_sum($a)/12);
				?></td>
				<td><input onkeyup="calcularPromedioClima('normal_prom');" class="normal_prom" type="text" name="normal[prom][ene]" value="<?php echo $normales['prom']['ene']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_prom');" class="normal_prom" type="text" name="normal[prom][feb]" value="<?php echo $normales['prom']['feb']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_prom');" class="normal_prom" type="text" name="normal[prom][mar]" value="<?php echo $normales['prom']['mar']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_prom');" class="normal_prom" type="text" name="normal[prom][abr]" value="<?php echo $normales['prom']['abr']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_prom');" class="normal_prom" type="text" name="normal[prom][may]" value="<?php echo $normales['prom']['may']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_prom');" class="normal_prom" type="text" name="normal[prom][jun]" value="<?php echo $normales['prom']['jun']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_prom');" class="normal_prom" type="text" name="normal[prom][jul]" value="<?php echo $normales['prom']['jul']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_prom');" class="normal_prom" type="text" name="normal[prom][ago]" value="<?php echo $normales['prom']['ago']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_prom');" class="normal_prom" type="text" name="normal[prom][sep]" value="<?php echo $normales['prom']['sep']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_prom');" class="normal_prom" type="text" name="normal[prom][oct]" value="<?php echo $normales['prom']['oct']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_prom');" class="normal_prom" type="text" name="normal[prom][nov]" value="<?php echo $normales['prom']['nov']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_prom');" class="normal_prom" type="text" name="normal[prom][dic]" value="<?php echo $normales['prom']['dic']?>"></td>
			</tr>
			<tr>
				<td>Precipitación  (mm)</td>
				<td id="normal_prec">
				<?php
					$a= array_filter($normales['prec']);
					echo (array_sum($a)/12);
				?></td>
				<td><input onkeyup="calcularPromedioClima('normal_prec');" class="normal_prec" type="text" name="normal[prec][ene]" value="<?php echo $normales['prec']['ene']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_prec');" class="normal_prec" type="text" name="normal[prec][feb]" value="<?php echo $normales['prec']['feb']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_prec');" class="normal_prec" type="text" name="normal[prec][mar]" value="<?php echo $normales['prec']['mar']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_prec');" class="normal_prec" type="text" name="normal[prec][abr]" value="<?php echo $normales['prec']['abr']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_prec');" class="normal_prec" type="text" name="normal[prec][may]" value="<?php echo $normales['prec']['may']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_prec');" class="normal_prec" type="text" name="normal[prec][jun]" value="<?php echo $normales['prec']['jun']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_prec');" class="normal_prec" type="text" name="normal[prec][jul]" value="<?php echo $normales['prec']['jul']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_prec');" class="normal_prec" type="text" name="normal[prec][ago]" value="<?php echo $normales['prec']['ago']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_prec');" class="normal_prec" type="text" name="normal[prec][sep]" value="<?php echo $normales['prec']['sep']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_prec');" class="normal_prec" type="text" name="normal[prec][oct]" value="<?php echo $normales['prec']['oct']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_prec');" class="normal_prec" type="text" name="normal[prec][nov]" value="<?php echo $normales['prec']['nov']?>"></td>
				<td><input onkeyup="calcularPromedioClima('normal_prec');" class="normal_prec" type="text" name="normal[prec][dic]" value="<?php echo $normales['prec']['dic']?>"></td>
			</tr>
		</table>
		<table class="table table-bordered tablaClima">
			<tr>
				<th>Último año</th>
				<th>Promedio</th>
				<th>Ene</th>
				<th>Feb</th>
				<th>Mar</th>
				<th>Abr</th>
				<th>May</th>
				<th>Jun</th>
				<th>Jul</th>
				<th>Ago</th>
				<th>Sep</th>
				<th>Oct</th>
				<th>Nov</th>
				<th>Dic</th>
			</tr>
			<tr>
				<td>Temperatura Máxima (grados)</td>
				<td id="ultima_max">
				<?php
					$a= array_filter($ultimo_ano['max']);
					echo (array_sum($a)/12);
				?></td>
				<td><input onkeyup="calcularPromedioClima('ultima_max');" class="ultima_max" type="text" name="ultimo[max][ene]" value="<?php echo $ultimo_ano['max']['ene']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_max');" class="ultima_max" type="text" name="ultimo[max][feb]" value="<?php echo $ultimo_ano['max']['feb']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_max');" class="ultima_max" type="text" name="ultimo[max][mar]" value="<?php echo $ultimo_ano['max']['mar']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_max');" class="ultima_max" type="text" name="ultimo[max][abr]" value="<?php echo $ultimo_ano['max']['abr']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_max');" class="ultima_max" type="text" name="ultimo[max][may]" value="<?php echo $ultimo_ano['max']['may']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_max');" class="ultima_max" type="text" name="ultimo[max][jun]" value="<?php echo $ultimo_ano['max']['jun']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_max');" class="ultima_max" type="text" name="ultimo[max][jul]" value="<?php echo $ultimo_ano['max']['jul']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_max');" class="ultima_max" type="text" name="ultimo[max][ago]" value="<?php echo $ultimo_ano['max']['ago']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_max');" class="ultima_max" type="text" name="ultimo[max][sep]" value="<?php echo $ultimo_ano['max']['sep']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_max');" class="ultima_max" type="text" name="ultimo[max][oct]" value="<?php echo $ultimo_ano['max']['oct']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_max');" class="ultima_max" type="text" name="ultimo[max][nov]" value="<?php echo $ultimo_ano['max']['nov']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_max');" class="ultima_max" type="text" name="ultimo[max][dic]" value="<?php echo $ultimo_ano['max']['dic']?>"></td>
			</tr>
			<tr>
				<td>Temperatura Mínima (grados)</td>
				<td id="ultima_min">
				<?php
					$a= array_filter($ultimo_ano['min']);
					echo (array_sum($a)/12);
				?></td>
				<td><input onkeyup="calcularPromedioClima('ultima_min');" class="ultima_min" type="text" name="ultimo[min][ene]" value="<?php echo $ultimo_ano['min']['ene']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_min');" class="ultima_min" type="text" name="ultimo[min][feb]" value="<?php echo $ultimo_ano['min']['feb']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_min');" class="ultima_min" type="text" name="ultimo[min][mar]" value="<?php echo $ultimo_ano['min']['mar']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_min');" class="ultima_min" type="text" name="ultimo[min][abr]" value="<?php echo $ultimo_ano['min']['abr']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_min');" class="ultima_min" type="text" name="ultimo[min][may]" value="<?php echo $ultimo_ano['min']['may']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_min');" class="ultima_min" type="text" name="ultimo[min][jun]" value="<?php echo $ultimo_ano['min']['jun']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_min');" class="ultima_min" type="text" name="ultimo[min][jul]" value="<?php echo $ultimo_ano['min']['jul']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_min');" class="ultima_min" type="text" name="ultimo[min][ago]" value="<?php echo $ultimo_ano['min']['ago']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_min');" class="ultima_min" type="text" name="ultimo[min][sep]" value="<?php echo $ultimo_ano['min']['sep']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_min');" class="ultima_min" type="text" name="ultimo[min][oct]" value="<?php echo $ultimo_ano['min']['oct']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_min');" class="ultima_min" type="text" name="ultimo[min][nov]" value="<?php echo $ultimo_ano['min']['nov']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_min');" class="ultima_min" type="text" name="ultimo[min][dic]" value="<?php echo $ultimo_ano['min']['dic']?>"></td>
			</tr>
			<tr>
				<td>Temperatura Promedio (grados)</td>
				<td id="ultima_prom">
				<?php
					$a= array_filter($ultimo_ano['prom']);
					echo (array_sum($a)/12);
				?></td>
				<td><input onkeyup="calcularPromedioClima('ultima_prom');" class="ultima_prom" type="text" name="ultimo[prom][ene]" value="<?php echo $ultimo_ano['prom']['ene']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_prom');" class="ultima_prom" type="text" name="ultimo[prom][feb]" value="<?php echo $ultimo_ano['prom']['feb']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_prom');" class="ultima_prom" type="text" name="ultimo[prom][mar]" value="<?php echo $ultimo_ano['prom']['mar']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_prom');" class="ultima_prom" type="text" name="ultimo[prom][abr]" value="<?php echo $ultimo_ano['prom']['abr']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_prom');" class="ultima_prom" type="text" name="ultimo[prom][may]" value="<?php echo $ultimo_ano['prom']['may']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_prom');" class="ultima_prom" type="text" name="ultimo[prom][jun]" value="<?php echo $ultimo_ano['prom']['jun']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_prom');" class="ultima_prom" type="text" name="ultimo[prom][jul]" value="<?php echo $ultimo_ano['prom']['jul']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_prom');" class="ultima_prom" type="text" name="ultimo[prom][ago]" value="<?php echo $ultimo_ano['prom']['ago']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_prom');" class="ultima_prom" type="text" name="ultimo[prom][sep]" value="<?php echo $ultimo_ano['prom']['sep']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_prom');" class="ultima_prom" type="text" name="ultimo[prom][oct]" value="<?php echo $ultimo_ano['prom']['oct']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_prom');" class="ultima_prom" type="text" name="ultimo[prom][nov]" value="<?php echo $ultimo_ano['prom']['nov']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_prom');" class="ultima_prom" type="text" name="ultimo[prom][dic]" value="<?php echo $ultimo_ano['prom']['dic']?>"></td>
			</tr>
			<tr>
				<td>Precipitación  (mm)</td>
				<td id="ultima_prec">
				<?php
					$a= array_filter($ultimo_ano['prec']);
					echo (array_sum($a)/12);
				?></td>
				<td><input onkeyup="calcularPromedioClima('ultima_prec');" class="ultima_prec" type="text" name="ultimo[prec][ene]" value="<?php echo $ultimo_ano['prec']['ene']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_prec');" class="ultima_prec" type="text" name="ultimo[prec][feb]" value="<?php echo $ultimo_ano['prec']['feb']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_prec');" class="ultima_prec" type="text" name="ultimo[prec][mar]" value="<?php echo $ultimo_ano['prec']['mar']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_prec');" class="ultima_prec" type="text" name="ultimo[prec][abr]" value="<?php echo $ultimo_ano['prec']['abr']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_prec');" class="ultima_prec" type="text" name="ultimo[prec][may]" value="<?php echo $ultimo_ano['prec']['may']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_prec');" class="ultima_prec" type="text" name="ultimo[prec][jun]" value="<?php echo $ultimo_ano['prec']['jun']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_prec');" class="ultima_prec" type="text" name="ultimo[prec][jul]" value="<?php echo $ultimo_ano['prec']['jul']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_prec');" class="ultima_prec" type="text" name="ultimo[prec][ago]" value="<?php echo $ultimo_ano['prec']['ago']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_prec');" class="ultima_prec" type="text" name="ultimo[prec][sep]" value="<?php echo $ultimo_ano['prec']['sep']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_prec');" class="ultima_prec" type="text" name="ultimo[prec][oct]" value="<?php echo $ultimo_ano['prec']['oct']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_prec');" class="ultima_prec" type="text" name="ultimo[prec][nov]" value="<?php echo $ultimo_ano['prec']['nov']?>"></td>
				<td><input onkeyup="calcularPromedioClima('ultima_prec');" class="ultima_prec" type="text" name="ultimo[prec][dic]" value="<?php echo $ultimo_ano['prec']['dic']?>"></td>
			</tr>
		</table>
		<table class="table table-bordered tablaClima">
			<tr>
				<th>Año actual</th>
				<th>Promedio</th>
				<th>Ene</th>
				<th>Feb</th>
				<th>Mar</th>
				<th>Abr</th>
				<th>May</th>
				<th>Jun</th>
				<th>Jul</th>
				<th>Ago</th>
				<th>Sep</th>
				<th>Oct</th>
				<th>Nov</th>
				<th>Dic</th>
			</tr>
			<tr>
				<td>Temperatura Máxima (grados)</td>
				<td id="actual_max">
				<?php
					$a= array_filter($ano_actual['max']);
					echo (array_sum($a)/12);
				?></td>
				<td><input onkeyup="calcularPromedioClima('actual_max');" class="actual_max" type="text" name="actual[max][ene]" value="<?php echo $ano_actual['max']['ene']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_max');" class="actual_max" type="text" name="actual[max][feb]" value="<?php echo $ano_actual['max']['feb']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_max');" class="actual_max" type="text" name="actual[max][mar]" value="<?php echo $ano_actual['max']['mar']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_max');" class="actual_max" type="text" name="actual[max][abr]" value="<?php echo $ano_actual['max']['abr']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_max');" class="actual_max" type="text" name="actual[max][may]" value="<?php echo $ano_actual['max']['may']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_max');" class="actual_max" type="text" name="actual[max][jun]" value="<?php echo $ano_actual['max']['jun']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_max');" class="actual_max" type="text" name="actual[max][jul]" value="<?php echo $ano_actual['max']['jul']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_max');" class="actual_max" type="text" name="actual[max][ago]" value="<?php echo $ano_actual['max']['ago']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_max');" class="actual_max" type="text" name="actual[max][sep]" value="<?php echo $ano_actual['max']['sep']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_max');" class="actual_max" type="text" name="actual[max][oct]" value="<?php echo $ano_actual['max']['oct']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_max');" class="actual_max" type="text" name="actual[max][nov]" value="<?php echo $ano_actual['max']['nov']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_max');" class="actual_max" type="text" name="actual[max][dic]" value="<?php echo $ano_actual['max']['dic']?>"></td>
			</tr>
			<tr>
				<td>Temperatura Mínima (grados)</td>
				<td id="actual_min">
				<?php
					$a= array_filter($ano_actual['min']);
					echo (array_sum($a)/12);
				?></td>
				<td><input onkeyup="calcularPromedioClima('actual_min');" class="actual_min" type="text" name="actual[min][ene]" value="<?php echo $ano_actual['min']['ene']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_min');" class="actual_min" type="text" name="actual[min][feb]" value="<?php echo $ano_actual['min']['feb']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_min');" class="actual_min" type="text" name="actual[min][mar]" value="<?php echo $ano_actual['min']['mar']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_min');" class="actual_min" type="text" name="actual[min][abr]" value="<?php echo $ano_actual['min']['abr']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_min');" class="actual_min" type="text" name="actual[min][may]" value="<?php echo $ano_actual['min']['may']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_min');" class="actual_min" type="text" name="actual[min][jun]" value="<?php echo $ano_actual['min']['jun']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_min');" class="actual_min" type="text" name="actual[min][jul]" value="<?php echo $ano_actual['min']['jul']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_min');" class="actual_min" type="text" name="actual[min][ago]" value="<?php echo $ano_actual['min']['ago']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_min');" class="actual_min" type="text" name="actual[min][sep]" value="<?php echo $ano_actual['min']['sep']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_min');" class="actual_min" type="text" name="actual[min][oct]" value="<?php echo $ano_actual['min']['oct']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_min');" class="actual_min" type="text" name="actual[min][nov]" value="<?php echo $ano_actual['min']['nov']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_min');" class="actual_min" type="text" name="actual[min][dic]" value="<?php echo $ano_actual['min']['dic']?>"></td>
			</tr>
			<tr>
				<td>Temperatura Promedio (grados)</td>
				<td id="actual_prom">
				<?php
					$a= array_filter($ano_actual['prom']);
					echo (array_sum($a)/12);
				?></td>
				<td><input onkeyup="calcularPromedioClima('actual_prom');" class="actual_prom" type="text" name="actual[prom][ene]" value="<?php echo $ano_actual['prom']['ene']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_prom');" class="actual_prom" type="text" name="actual[prom][feb]" value="<?php echo $ano_actual['prom']['feb']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_prom');" class="actual_prom" type="text" name="actual[prom][mar]" value="<?php echo $ano_actual['prom']['mar']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_prom');" class="actual_prom" type="text" name="actual[prom][abr]" value="<?php echo $ano_actual['prom']['abr']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_prom');" class="actual_prom" type="text" name="actual[prom][may]" value="<?php echo $ano_actual['prom']['may']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_prom');" class="actual_prom" type="text" name="actual[prom][jun]" value="<?php echo $ano_actual['prom']['jun']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_prom');" class="actual_prom" type="text" name="actual[prom][jul]" value="<?php echo $ano_actual['prom']['jul']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_prom');" class="actual_prom" type="text" name="actual[prom][ago]" value="<?php echo $ano_actual['prom']['ago']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_prom');" class="actual_prom" type="text" name="actual[prom][sep]" value="<?php echo $ano_actual['prom']['sep']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_prom');" class="actual_prom" type="text" name="actual[prom][oct]" value="<?php echo $ano_actual['prom']['oct']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_prom');" class="actual_prom" type="text" name="actual[prom][nov]" value="<?php echo $ano_actual['prom']['nov']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_prom');" class="actual_prom" type="text" name="actual[prom][dic]" value="<?php echo $ano_actual['prom']['dic']?>"></td>
			</tr>
			<tr>
				<td>Precipitación  (mm)</td>
				<td id="actual_prec">
				<?php
					$a= array_filter($ano_actual['prec']);
					echo (array_sum($a)/12);
				?></td>
				<td><input onkeyup="calcularPromedioClima('actual_prec');" class="actual_prec" type="text" name="actual[prec][ene]" value="<?php echo $ano_actual['prec']['ene']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_prec');" class="actual_prec" type="text" name="actual[prec][feb]" value="<?php echo $ano_actual['prec']['feb']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_prec');" class="actual_prec" type="text" name="actual[prec][mar]" value="<?php echo $ano_actual['prec']['mar']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_prec');" class="actual_prec" type="text" name="actual[prec][abr]" value="<?php echo $ano_actual['prec']['abr']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_prec');" class="actual_prec" type="text" name="actual[prec][may]" value="<?php echo $ano_actual['prec']['may']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_prec');" class="actual_prec" type="text" name="actual[prec][jun]" value="<?php echo $ano_actual['prec']['jun']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_prec');" class="actual_prec" type="text" name="actual[prec][jul]" value="<?php echo $ano_actual['prec']['jul']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_prec');" class="actual_prec" type="text" name="actual[prec][ago]" value="<?php echo $ano_actual['prec']['ago']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_prec');" class="actual_prec" type="text" name="actual[prec][sep]" value="<?php echo $ano_actual['prec']['sep']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_prec');" class="actual_prec" type="text" name="actual[prec][oct]" value="<?php echo $ano_actual['prec']['oct']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_prec');" class="actual_prec" type="text" name="actual[prec][nov]" value="<?php echo $ano_actual['prec']['nov']?>"></td>
				<td><input onkeyup="calcularPromedioClima('actual_prec');" class="actual_prec" type="text" name="actual[prec][dic]" value="<?php echo $ano_actual['prec']['dic']?>"></td>
			</tr>
		</table>
	</div>
	<input type="hidden" name="predio_id" id="predio_id" value="<?php echo $this->predio_id?>">
	<div class="form-group col-md-12">
		<button type="button" class="btn btn-default" onclick="guardarSistemaProduccionActual();">Guardar</button>
	</div>
</form>