<form id="frm-16" name="frm-16" class="form-horizontal" method="post" action="/backend/diagnosticos/guardar-tratamiento-de-estre-biotico-y-abiotico" role="form">
    <input type="hidden" name="id_dato_general" id="id_dato_general_tratamiento_b_ab" value="<?php echo $this->id; ?>" />
    <input type="hidden" name="id" id="id" value="<?php echo ($this->tratamiento_b_ab)?$this->tratamiento_b_ab->id:''; ?>" />
    <input type="hidden" disabled="disabled" name="congelado" id="congelado" value="<?php echo ($this->tratamiento_b_ab)?$this->tratamiento_b_ab->congelado:''; ?>" />
    <input type="hidden" id="tipo_tratamiento_b_ab" name="tipo"  value="<?php echo $this->tipo; ?>" />
    <table width="100%" border="0" id="tabla" class="table table-bordered" style="font-size: 12px">
        <tr>
            <th scope="col" class="col-xs-2 text-center">Variables/Datos</th>
            <th scope="col" class="col-xs-1 text-center">Unidad</th>
            <th scope="col" class="col-xs-1 text-center">Cantidad</th>
            <th scope="col" class="col-xs-1 text-center">Costo unitario</th>
            <th scope="col" class="col-xs-2 text-center">Costo total</th>
            <th scope="col" class="col-xs-2 text-center text-center">F. Realización</th>
            <th scope="col" class="col-xs-2 text-center">Etapa fenologica</th>
            <th scope="col" class="col-xs-1 text-center">Innovación</th>
            <th scope="col" class="col-xs-2 text-center">Agregar</th>
        </tr>

        <!-- GENERAL GRANULADO -->
        <tr id="fila-general-gran2" class="hide">
            <th scope="row">
                <div class="input-group">
                	<input type="hidden"  name="insecticida_tipo[]" class="form-control numeric required" value="GRANULADO" />
                    <label>Tipo:</label>
                    <select class="form-control required" name="empresa_herbicida[]" id="empresa_herbicida_" style="color:gray;" onchange="cargarSubcatalogo(this)" >
                        <option value="0" selected="selected">Seleccione un tipo</option>
                        <?php foreach($this->cat_tipo_inductores_resistencia as $valor){?>
                             <option value="<?php echo $valor->id?>" ><?php echo $valor->valor?></option>
                        <?php }?>
                    </select><br />
                </div>
            </th>
            <td>	
        		<div class="input-group">
                    <select class="form-control required" id="tipo_unidad" name="tipo_unidad[]" style="color:gray;">
                        <option value="0">Elija una opción</option>
                        <?php foreach($this->unidad["gran2"] as $unidad){?>
                            <option value="<?php echo $unidad->id?>"><?php echo $unidad->nombre?></option>
                        <?php }?>
                    </select>
                </div>
            </td>

            <td>
                <div class="input-group">
                    <input type="text" id="insecticida_cantidad" name="insecticida_cantidad[]" onkeyup="calculaImporteFrm16(this)" onkeypress="return permiteNumerosConDecimal(event,this);" class="form-control numeric  required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="insecticida_pu" name="insecticida_pu[]" onkeyup="calculaImporteFrm16(this)" onkeypress="return permiteNumerosConDecimal(event,this);" class="form-control numeric  required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="insecticida_importe" name="insecticida_importe[]" readonly="readonly" class="form-control numeric  required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control required"  id="insecticida_frealizacion" readonly="readonly" name="insecticida_frealizacion[]" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                    <div class="input-group">
                        <select class="form-control required" style="color:gray;" name="insecticida_etapa_fenologica[]">
                            <option value="0">Seleccione una opción</option>
                            <?php foreach($this->etapas_fenologicas as $etapa){?>
                                <option value="<?php echo $etapa->id?>"><?php echo $etapa->nombre?></option>
                            <?php }?>
                        </select>
                    </div>
                </td>
            <td>
                <div class="input-group">
                    <input type="text" id="insecticida_innovacion" name="insecticida_innovacion[]" class="form-control numeric  required" value="" />
                    
                </div>
            </td>
            <td>
                <div class="input-group">
                    <i id="eliminarFila" style="width:40px;" class="btn btn-block btn-danger fa fa-times-circle">&nbsp;</i>
                </div>
            </td>
        </tr>
        <!-- GENERAL TRATAMIENTO -->
        <tr id="fila-general-trat2" class="hide">
            <th scope="row">
                <div class="input-group">
                	<input type="hidden"  name="insecticida_tipo[]" class="form-control numeric " value="TRATAMIENTO" />
                    
                   	<label>Tipo:</label>
                    <select class="form-control required" name="empresa_herbicida[]" id="empresa_herbicida_" style="color:gray;" onchange="cargarSubcatalogo(this)">
                        <option value="0" selected="selected">Seleccione un tipo</option>
                        <?php foreach($this->cat_tipo_inductores_resistencia as $valor){?>
                             <option value="<?php echo $valor->id?>"><?php echo $valor->valor?></option>
                        <?php }?>
                    </select><br />
                </div>
            </th>
            <td>    
                <div class="input-group">
                    <select class="form-control required" id="tipo_unidad" name="tipo_unidad[]" style="color:gray;">
                        <option value="0">Elija una opción</option>
                        <?php foreach($this->unidad["trat2"] as $unidad){?>
                            <option value="<?php echo $unidad->id?>"><?php echo $unidad->nombre?></option>
                        <?php }?>
                    </select>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="insecticida_cantidad" name="insecticida_cantidad[]" onkeyup="calculaImporteFrm16(this)" onkeypress="return permiteNumerosConDecimal(event,this);" class="form-control numeric  required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="insecticida_pu" name="insecticida_pu[]" onkeyup="calculaImporteFrm16(this)" onkeypress="return permiteNumerosConDecimal(event,this);" class="form-control numeric  required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="insecticida_importe" name="insecticida_importe[]" readonly="readonly" class="form-control numeric  required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control required"  id="insecticida_frealizacion" readonly="readonly" name="insecticida_frealizacion[]" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                    <div class="input-group">
                        <select class="form-control required" style="color:gray;" name="insecticida_etapa_fenologica[]">
                            <option value="0">Seleccione una opción</option>
                            <?php foreach($this->etapas_fenologicas as $etapa){?>
                                <option value="<?php echo $etapa->id?>"><?php echo $etapa->nombre?></option>
                            <?php }?>
                        </select>
                    </div>
                </td>
            <td>
                <div class="input-group">
                    <input type="text" id="insecticida_innovacion" name="insecticida_innovacion[]" class="form-control numeric  required" value="" />
                    
                </div>
            </td>
            <td>
                <div class="input-group">
                    <i id="eliminarFila" style="width:40px;" class="btn btn-block btn-danger fa fa-times-circle">&nbsp;</i>
                </div>
            </td>
        </tr>
        <!-- GENERAL RECARGA -->
        <tr id="fila-general-rec2" class="hide">
            <th scope="row">
                <div class="input-group">
            		<input type="hidden"  name="insecticida_tipo[]" class="form-control numeric " value="RECARGA" />
                    
                    <label>Tipo:</label>
                    <select class="form-control required" name="empresa_herbicida[]" id="empresa_herbicida_" style="color:gray;" onchange="cargarSubcatalogo(this)">
                        <option value="0" selected="selected">Seleccione un tipo</option>
                        <?php foreach($this->cat_tipo_inductores_resistencia as $valor){?>
                             <option value="<?php echo $valor->id?>"><?php echo $valor->valor?></option>
                        <?php }?>
                    </select><br />
                </div>
            </th>
            <td>    
                <div class="input-group">
                    <select class="form-control required" id="tipo_unidad" name="tipo_unidad[]" style="color:gray;">
                        <option value="0">Elija una opción</option>
                        <?php foreach($this->unidad["rec2"] as $unidad){?>
                            <option value="<?php echo $unidad->id?>" ><?php echo $unidad->nombre?></option>
                        <?php }?>
                    </select>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="insecticida_cantidad" name="insecticida_cantidad[]" onkeyup="calculaImporteFrm16(this)" onkeypress="return permiteNumerosConDecimal(event,this);" class="form-control numeric  required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="insecticida_pu" name="insecticida_pu[]" onkeyup="calculaImporteFrm16(this)" onkeypress="return permiteNumerosConDecimal(event,this);" class="form-control numeric  required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="insecticida_importe" name="insecticida_importe[]" readonly="readonly" class="form-control numeric  required" value="" />
                </div>
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control required"  id="insecticida_frealizacion" readonly="readonly" name="insecticida_frealizacion[]" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <select class="form-control required" style="color:gray;" name="insecticida_etapa_fenologica[]">
                        <option value="0">Seleccione una opción</option>
                        <?php foreach($this->etapas_fenologicas as $etapa){?>
                            <option value="<?php echo $etapa->id?>"><?php echo $etapa->nombre?></option>
                        <?php }?>
                    </select>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="insecticida_innovacion" name="insecticida_innovacion[]" class="form-control numeric  required" value="" />
                    
                </div>
            </td>
            <td>
                <div class="input-group">
                    <i id="eliminarFila" style="width:40px;" class="btn btn-block btn-danger fa fa-times-circle">&nbsp;</i>
                </div>
            </td>
        </tr>
        
        
        <!-- ##############################################################################
             ############################# TABLA ##########################################
             ############################################################################## -->
        <!-- INSECTICIDA GRANULADO -->
        <tr>
          	<th align="center" colspan="9" style="text-align:center; background-color:#a1c1d3;">
            	INDUCTORES SISTÉMICOS DE RESISTENCIA VEGETAL
            </th>
        </tr>
        <?php 
        $i=0;
        do
        {
            $insecticida_granulado=$this->tratamiento_b_ab_insecticida_granulado[$i];
        ?>
        <tr id="despues_gran2_marca_<?php echo ($i+1) ?>" class="tdebya-gran2">
            <th scope="row">
            <input type="hidden"  name="insecticida_tipo[]" class="form-control numeric  required" value="GRANULADO" />
              	<label>Tipo:</label>
                <select class="form-control required" name="empresa_herbicida[]" id="empresa_herbicida_" style="width:100%; color:gray;" onchange="cargarSubcatalogo(this)">
                    <option value="0" selected="selected">Seleccione un tipo</option>
                    <?php foreach($this->cat_tipo_inductores_resistencia as $valor){?>
                             <option value="<?php echo $valor->id?>" <?php if($valor->id==$insecticida_granulado->empresa_id) echo "selected";?>><?php echo $valor->valor?></option>
                        <?php }?>
                </select><br/>
            </th>
            <td>    
                <select class="form-control required" id="tipo_unidad" name="tipo_unidad[]" style="color:gray;">
                    <option value="0">Elija una opción</option>
                    <?php foreach($this->unidad["gran2"] as $unidad){?>
                        <option value="<?php echo $unidad->id?>" <?php if($unidad->id==$insecticida_granulado->unidad_id) echo "selected";?>><?php echo $unidad->nombre?></option>
                    <?php }?>
                </select>
            </td>
            <td>
                <input type="text" id="gran2_insecticida_cantidad" name="insecticida_cantidad[]" onkeyup="calculaImporteFrm16(this)" onkeypress="return permiteNumerosConDecimal(event,this);"  class="form-control numeric required " value="<?php echo $insecticida_granulado->cantidad;?>" />
            </td>
            <td>
                <input type="text" id="gran2_insecticida_pu" name="insecticida_pu[]" onkeyup="calculaImporteFrm16(this)" onkeypress="return permiteNumerosConDecimal(event,this);" class="form-control numeric  required" value="<?php echo $insecticida_granulado->precio;?>" />
            </td>
            <td>
                <input type="text" id="gran2_insecticida_importe" name="insecticida_importe[]" readonly="readonly" class="form-control numeric  required" value="<?php echo $insecticida_granulado->importe;?>" />
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control required" id="insecticida_frealizacion" readonly="readonly" name="insecticida_frealizacion[]" value="<?php echo ($insecticida_granulado->fecha=='0000-00-00')?"":$insecticida_granulado->fecha;?>" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                <select class="form-control required" style="color:gray;" name="insecticida_etapa_fenologica[]">
                    <option value="0">Seleccione una opción</option>
                    <?php foreach($this->etapas_fenologicas as $etapa){?>
                        <option value="<?php echo $etapa->id?>" <?php echo ($etapa->id==$insecticida_granulado->etapa_fenologica)?"selected":""?>><?php echo $etapa->nombre?></option>
                    <?php }?>
                </select>
            </td>
            <td>
                <input type="text" id="insecticida_innovacion" name="insecticida_innovacion[]" class="form-control numeric  required" value="<?php echo $insecticida_granulado->innovacion;?>" />
                
            </td>
            <? if($i==0){?>
            <td>
                <div class="input-group">
                    <i class="btn btn-block btn-warning fa fa-plus-circle" style="width:40px; background:green; border-color:green;" onclick="agregarFila('', 'frm-16', '', 'gran2')">
                    </i>
                </div>
            </td>
            <?php }else{?>
            <td>
                <div class="input-group">
                    <i id="eliminarFila" style="width:40px;" class="btn btn-block btn-danger fa fa-times-circle">&nbsp;</i>
                </div>
            </td>
            <?php }?>
        </tr>
        <?php $i++; } while($i<count($this->tratamiento_b_ab_insecticida_granulado));?>
        <tr id="despues_gran2_apli_1">
            <th scope="row">
                <label>Selecciona la aplicacion:</label>
                <select class="form-control" id="tipo_ap_select_gran2_1" name="aplicacion_insecticida_granulado" style="color:gray;" onChange="evaluaCambioAplicacionFrm16('gran2')">
                    <option value="1" <?php echo ($this->tratamiento_b_ab->aplicacion_insecticida_granulado==1)?'selected="selected"':''?>>Mecanizada</option>
                    <option value="2" <?php echo ($this->tratamiento_b_ab->aplicacion_insecticida_granulado==2 || !isset($this->tratamiento_b_ab->aplicacion_insecticida_granulado))?'selected="selected"':''?>>Manual</option>
                </select>
            </th>
            <td  colspan="7" >
                <div style="width:100%;">
                    <div id="manual_div_gran2_1" class="input-group <?php echo ($this->tratamiento_b_ab->aplicacion_insecticida_granulado==2 || !isset($this->tratamiento_b_ab->aplicacion_insecticida_granulado))?'':'hide'?>">
                        <label>Numero de jornales:</label></br>
                        <input type="text" id="manual_div_no_jornales_gran2_1" name="jornales_insecticida_granulado" placeholder="No. Jornales" class="form-control numeric <?php echo ($this->tratamiento_b_ab->aplicacion_insecticida_granulado==2 || !isset($this->tratamiento_b_ab->aplicacion_insecticida_granulado))?'required':''?>" value="<?php echo $this->tratamiento_b_ab->jornales_insecticida_granulado?>" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        <label>Costo por jornal:</label></br>
                        <input type="text" id="manual_div_costo_jornal_gran2_1" name="   costo_jornal_insecticida_granulado" placeholder="Costo por jornal" class="form-control numeric <?php echo ($this->tratamiento_b_ab->aplicacion_insecticida_granulado==2 || !isset($this->tratamiento_b_ab->aplicacion_insecticida_granulado))?'required':''?>" value="<?php echo $this->tratamiento_b_ab->costo_jornal_insecticida_granulado?>" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                    </div>
                    <div id="mecanizada_div_gran2_1" class="input-group <?php echo ($this->tratamiento_b_ab->aplicacion_insecticida_granulado==1)?'':'hide'?>">
                        <label>Selecciona el tipo de mecanización:</label>
                        <select class="form-control" name="tipo_mecanizacion_insecticida_granulado" id="mecanizada_div_select_gran2_1" style="color:gray;" onChange="evaluaCambioAplicacion2Frm16('gran2')">
                            <option value="1" <?php echo ($this->tratamiento_b_ab->tipo_mecanizacion_insecticida_granulado==1)?'selected="selected"':''?>>Propia</option>
                            <option value="2" <?php echo ($this->tratamiento_b_ab->tipo_mecanizacion_insecticida_granulado==2)?'selected="selected"':''?>>Rentada</option>
                        </select>
                        <div id="mecanizada_div_select_div_propia_gran2_1" class="<?php echo ($this->tratamiento_b_ab->tipo_mecanizacion_insecticida_granulado==1 )?'':'hide'?>">
                            <label>Costo del combustible:</label></br>
                            <input type="text" id="mecanizada_div_select_div_propia_combustible_gran2_1" name="costo_combustible_insecticida_granulado" placeholder="Costo del combustible" class="form-control numeric <?php echo ($this->tratamiento_b_ab->tipo_mecanizacion_insecticida_granulado==1 && $this->tratamiento_b_ab->aplicacion_insecticida_granulado==1)?'required':''?>" value="<?php echo $this->tratamiento_b_ab->costo_combustible_insecticida_granulado?>" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                            <label>Costo del operador:</label></br>
                            <input type="text" id="mecanizada_div_select_div_propia_operador_gran2_1" name="costo_operador_insecticida_granulado" placeholder="Costo del operador" class="form-control numeric <?php echo ($this->tratamiento_b_ab->tipo_mecanizacion_insecticida_granulado==1 && $this->tratamiento_b_ab->aplicacion_insecticida_granulado==1)?'required':''?>" value="<?php echo $this->tratamiento_b_ab->costo_operador_insecticida_granulado?>" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        </div>
                        <div id="mecanizada_div_select_div_rentada_gran2_1" class="<?php echo ($this->tratamiento_b_ab->tipo_mecanizacion_insecticida_granulado==2)?'':'hide'?>">
                            <label>Monto de renta:</label></br>
                            <input type="text" name="monto_renta_insecticida_granulado" id="mecanizada_div_select_div_rentada_costo_gran2_1" placeholder="Costo de la renta" class="form-control numeric <?php echo ($this->tratamiento_b_ab->tipo_mecanizacion_insecticida_granulado==2)?'required':''?>" value="<?php echo $this->tratamiento_b_ab->monto_renta_insecticida_granulado?>" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <!-- INSECTICIDA TRATAMIENTO -->
        <tr>
            <th align="center" colspan="9" style="text-align:center; background-color:#a1c1d3;">
    	       INDUCTORES SISTÉMICOS DE CRECIMIENTO
            </th>
        </tr>
        <?php 
        $i=0;
        do
        {
            $insecticida_tratamiento=$this->tratamiento_b_ab_insecticida_tratamiento[$i];
        ?>
        <tr id="despues_trat2_marca_<?php echo ($i+1) ?>" class="tdebya-trat2">
            <th scope="row">
            <input type="hidden"  name="insecticida_tipo[]" class="form-control numeric  required" value="TRATAMIENTO" />
               	<label>Tipo:</label>
                <select class="form-control required" name="empresa_herbicida[]" id="empresa_herbicida_" style="width:100%; color:gray;" onchange="cargarSubcatalogo(this)">
                    <option value="0" selected="selected">Seleccione un tipo</option>
                    <?php foreach($this->cat_tipo_inductores_crecimiento as $valor){?>
                        <option value="<?php echo $valor->id?>" <?php if($valor->id==$insecticida_tratamiento->empresa_id) echo "selected";?>><?php echo $valor->valor?></option>
                    <?php }?>
                </select><br/>
            </th>
            <td>    
                <select class="form-control required" id="tipo_unidad" name="tipo_unidad[]" style="color:gray;">
                    <option value="0">Elija una opción</option>
                    <?php foreach($this->unidad["trat2"] as $unidad){?>
                        <option value="<?php echo $unidad->id?>" <?php if($unidad->id==$insecticida_tratamiento->unidad_id) echo "selected";?>><?php echo $unidad->nombre?></option>
                    <?php }?>
                </select>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="trat2_insecticida_cantidad" name="insecticida_cantidad[]" onkeyup="calculaImporteFrm16(this)" onkeypress="return permiteNumerosConDecimal(event,this);" class="form-control numeric  required" value="<?php echo $insecticida_tratamiento->cantidad;?>" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="trat2_insecticida_pu" name="insecticida_pu[]" onkeyup="calculaImporteFrm16(this)" onkeypress="return permiteNumerosConDecimal(event,this);" class="form-control numeric  required" value="<?php echo $insecticida_tratamiento->precio;?>" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="trat2_insecticida_importe" name="insecticida_importe[]" readonly="readonly" class="form-control numeric  required" value="<?php echo $insecticida_tratamiento->importe;?>" />
                </div>
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control required"  id="insecticida_frealizacion" readonly="readonly" name="insecticida_frealizacion[]" value="<?php echo ($insecticida_tratamiento->fecha=='0000-00-00')?"":$insecticida_tratamiento->fecha;?>" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                <select class="form-control required" style="color:gray;" name="insecticida_etapa_fenologica[]">
                    <option value="0">Seleccione una opción</option>
                    <?php foreach($this->etapas_fenologicas as $etapa){?>
                        <option value="<?php echo $etapa->id?>" <?php echo ($etapa->id==$insecticida_tratamiento->etapa_fenologica)?"selected":""?>><?php echo $etapa->nombre?></option>
                    <?php }?>
                </select>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="insecticida_innovacion" name="insecticida_innovacion[]" class="form-control numeric  required" value="<?php echo $insecticida_tratamiento->innovacion;?>" />
                    
                </div>
            </td>
            <td>
                <div class="input-group">
                    <i class="btn btn-block btn-warning fa fa-plus-circle" style="width:40px; background:green; border-color:green;" onclick="agregarFila('', 'frm-16', '', 'trat2')">
                    </i>
                </div>
            </td>
        </tr>
        <?php $i++; } while($i<count($this->tratamiento_b_ab_insecticida_tratamiento));?>
        <tr id="despues_trat2_apli_1">
            <th scope="row">
                <label>Selecciona la aplicacion:</label>
                <select class="form-control" id="tipo_ap_select_trat2_1" name="aplicacion_insecticida_tratamiento" style="color:gray;" onChange="evaluaCambioAplicacionFrm16('trat2')">
                    <option value="1" <?php if($this->tratamiento_b_ab->aplicacion_insecticida_tratamiento==1) echo "selected";?>>Mecanizada</option>
                    <option value="2" <?php if($this->tratamiento_b_ab->aplicacion_insecticida_tratamiento==2 || !isset($this->tratamiento_b_ab->aplicacion_insecticida_tratamiento)) echo "selected";?>>Manual</option>
                </select>
            </th>
            <td  colspan="7" >
                <div style="width:100%;">
                    <div id="manual_div_trat2_1" class="input-group <?php echo ($this->tratamiento_b_ab->aplicacion_insecticida_tratamiento==2 || !isset($this->tratamiento_b_ab->aplicacion_insecticida_tratamiento) )?'':'hide'?>">
                        <label>Numero de jornales:</label></br>
                        <input type="text" id="manual_div_no_jornales_trat2_1" name="jornales_insecticida_tratamiento" placeholder="No. Jornales" class="form-control numeric <?php echo ($this->tratamiento_b_ab->aplicacion_insecticida_tratamiento==2 || !isset($this->tratamiento_b_ab->aplicacion_insecticida_tratamiento) )?'required':''?>" value="<?php echo $this->tratamiento_b_ab->jornales_insecticida_tratamiento?>" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        <label>Costo por jornal:</label></br>
                        <input type="text" id="manual_div_costo_jornal_trat2_1" name="costo_jornal_insecticida_tratamiento" placeholder="Costo por jornal" class="form-control numeric <?php echo ($this->tratamiento_b_ab->aplicacion_insecticida_tratamiento==2 || !isset($this->tratamiento_b_ab->aplicacion_insecticida_tratamiento) )?'required':''?>" value="<?php echo $this->tratamiento_b_ab->costo_jornal_insecticida_tratamiento?>" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                    </div>
                    <div id="mecanizada_div_trat2_1" class="<?php echo ($this->tratamiento_b_ab->aplicacion_insecticida_tratamiento==1)?'':'hide'?> input-group">
                        <label>Selecciona el tipo de mecanización:</label>
                        <select class="form-control" id="mecanizada_div_select_trat2_1" name="tipo_mecanizacion_insecticida_tratamiento" style="color:gray;" onChange="evaluaCambioAplicacion2Frm16('trat2')">
                            <option value="1" <?php echo ($this->tratamiento_b_ab->tipo_mecanizacion_insecticida_tratamiento==1) ?'selected="selected"':'';?>>Propia</option>
                            <option value="2" <?php echo ($this->tratamiento_b_ab->tipo_mecanizacion_insecticida_tratamiento==2) ?'selected="selected"':'';?>>Rentada</option>
                        </select>
                        <div id="mecanizada_div_select_div_propia_trat2_1" class="<?php echo ($this->tratamiento_b_ab->tipo_mecanizacion_insecticida_tratamiento==1) ?'':'hide';?>">
                            <label>Costo del combustible:</label></br>
                            <input type="text" name="costo_combustible_insecticida_tratamiento" id="mecanizada_div_select_div_propia_combustible_trat2_1" placeholder="Costo del combustible" class="form-control numeric <?php echo ($this->tratamiento_b_ab->aplicacion_insecticida_tratamiento==1 && $this->tratamiento_b_ab->tipo_mecanizacion_insecticida_tratamiento==1) ?'required':'';?>" value="<?php echo $this->tratamiento_b_ab->costo_combustible_insecticida_tratamiento?>" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                            <label>Costo del operador:</label></br>
                            <input type="text" name="costo_operador_insecticida_tratamiento" id="mecanizada_div_select_div_propia_operador_trat2_1" placeholder="Costo del operador" class="form-control numeric <?php echo ($this->tratamiento_b_ab->aplicacion_insecticida_tratamiento==1 && $this->tratamiento_b_ab->tipo_mecanizacion_insecticida_tratamiento==1) ?'required':'';?>" value="<?php echo $this->tratamiento_b_ab->costo_operador_insecticida_tratamiento?>" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        </div>
                       <div id="mecanizada_div_select_div_rentada_trat2_1" class="<?php echo ($this->tratamiento_b_ab->tipo_mecanizacion_insecticida_tratamiento==2 )?'':'hide'?>">
                            <label>Monto de renta:</label></br>
                            <input type="text" name="monto_renta_insecticida_tratamiento" id="mecanizada_div_select_div_rentada_costo_trat2_1" placeholder="Costo de la renta" class="form-control numeric <?php echo ($this->tratamiento_b_ab->tipo_mecanizacion_insecticida_tratamiento==2 && $this->tratamiento_b_ab->aplicacion_insecticida_tratamiento==1)?'required':''?>" value="<?php echo $this->tratamiento_b_ab->monto_renta_insecticida_tratamiento?>" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <!-- INSECTICIDA RECARGA -->
        <?php 
        $i=0;
        do
        {
            $insecticida_recarga=$this->tratamiento_b_ab_insecticida_recarga[$i];
        ?>
        <tr>
            <th align="center" colspan="9" style="text-align:center; background-color:#a1c1d3;">
                INDUCTORES PRODUCTIVIDAD
            </th>
        </tr>
        <tr id="despues_rec2_marca_<?php echo ($i+1) ?>" class="tdebya-rec2">
            <th scope="row">
            <input type="hidden"  name="insecticida_tipo[]" class="form-control numeric  required" value="RECARGA" />
               	<label>Tipo:</label>
                <select class="form-control required" name="empresa_herbicida[]" id="empresa_herbicida_" style="width:100%; color:gray;" onchange="cargarSubcatalogo(this)">
                    <option value="0" selected="selected">Seleccione un tipo</option>
                    <?php foreach($this->cat_tipo_inductores_productividad as $valor){?>
                        <option value="<?php echo $valor->id?>" <?php if($valor->id==$insecticida_recarga->empresa_id) echo "selected";?>><?php echo $valor->valor?></option>
                    <?php }?>
                </select><br/>
            </th>
            <td>    
                <div class="input-group">
                    <select class="form-control required" id="tipo_unidad" name="tipo_unidad[]" style="color:gray;">
                        <option value="0">Elija una opción</option>
                        <?php foreach($this->unidad["rec2"] as $unidad){?>
                            <option value="<?php echo $unidad->id?>" <?php if($unidad->id==$insecticida_recarga->unidad_id) echo "selected";?>><?php echo $unidad->nombre?></option>
                        <?php }?>
                    </select>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="rec2_insecticida_cantidad" name="insecticida_cantidad[]" onkeyup="calculaImporteFrm16(this)" onkeypress="return permiteNumerosConDecimal(event,this);" class="form-control numeric  required" value="<?php echo $insecticida_recarga->cantidad;?>" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="rec2_insecticida_pu" name="insecticida_pu[]" onkeyup="calculaImporteFrm16(this)" onkeypress="return permiteNumerosConDecimal(event,this);" class="form-control numeric  required" value="<?php echo $insecticida_recarga->precio;?>" />
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="rec2_insecticida_importe" name="insecticida_importe[]" readonly="readonly" class="form-control numeric  required" value="<?php echo $insecticida_recarga->importe;?>" />
                </div>
            </td>
            <td>
                <div class="input-group date">
                    <input type='text' class="form-control required"  id="insecticida_frealizacion" readonly="readonly" name="insecticida_frealizacion[]" value="<?php echo ($insecticida_recarga->fecha=='0000-00-00')?"":$insecticida_recarga->fecha;?>" />
                    <span class="input-group-addon" style="cursor:pointer">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <select class="form-control required" style="color:gray;" name="insecticida_etapa_fenologica[]">
                        <option value="0">Seleccione una opción</option>
                        <?php foreach($this->etapas_fenologicas as $etapa){?>
                            <option value="<?php echo $etapa->id?>" <?php echo ($etapa->id==$insecticida_recarga->etapa_fenologica)?"selected":""?>><?php echo $etapa->nombre?></option>
                        <?php }?>
                    </select>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" id="insecticida_innovacion" name="insecticida_innovacion[]" class="form-control numeric  required" value="<?php echo $insecticida_recarga->innovacion;?>" />
                    
                </div>
            </td>
            <td>
                <div class="input-group">
                    <i class="btn btn-block btn-warning fa fa-plus-circle" style="width:40px; background:green; border-color:green;" onclick="agregarFila('', 'frm-16', '', 'rec2')">
                    </i>
                </div>
            </td>
        </tr>
        <?php $i++; } while($i<count($this->tratamiento_b_ab_insecticida_recarga));?>
        <tr id="despues_rec2_apli_1">
            <th scope="row">
                <label>Selecciona la aplicacion:</label>
                <select class="form-control" name="aplicacion_insecticida_granulado_recarga" id="tipo_ap_select_rec2_1" style="color:gray;" onChange="evaluaCambioAplicacionFrm16('rec2')">
                    <option value="1" <?php echo ($this->tratamiento_b_ab->aplicacion_insecticida_granulado_recarga==1)?'selected="selected"':''?>>Mecanizada</option>
                    <option value="2" <?php echo ($this->tratamiento_b_ab->aplicacion_insecticida_granulado_recarga==2 || !isset($this->tratamiento_b_ab->aplicacion_insecticida_granulado_recarga))?'selected="selected"':''?>>Manual</option>
                </select>
            </th>
            <td  colspan="7" >
                <div style="width:100%;">
                    <div id="manual_div_rec2_1" class="input-group <?php echo ($this->tratamiento_b_ab->aplicacion_insecticida_granulado_recarga==2 || !isset($this->tratamiento_b_ab->aplicacion_insecticida_granulado_recarga))?'':'hide'?>">
                        <label>Numero de jornales:</label></br>
                        <input type="text" name="jornales_insecticida_granulado_recarga" id="manual_div_no_jornales_rec2_1" placeholder="No. Jornales" class="form-control numeric <?php echo ($this->tratamiento_b_ab->aplicacion_insecticida_granulado_recarga==2 || !isset($this->tratamiento_b_ab->aplicacion_insecticida_granulado_recarga))?'required':''?>" value="<?php echo $this->tratamiento_b_ab->jornales_insecticida_granulado_recarga?>" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        <label>Costo por jornal:</label></br>
                        <input type="text" name="costo_jornal_insecticida_granulado_recarga" id="manual_div_costo_jornal_rec2_1" placeholder="Costo por jornal" class="form-control numeric <?php echo ($this->tratamiento_b_ab->aplicacion_insecticida_granulado_recarga==2 || !isset($this->tratamiento_b_ab->aplicacion_insecticida_granulado_recarga))?'required':''?>" value="<?php echo $this->tratamiento_b_ab->costo_jornal_insecticida_granulado_recarga?>" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                    </div>
                    <div id="mecanizada_div_rec2_1" class="<?php echo ($this->tratamiento_b_ab->aplicacion_insecticida_granulado_recarga==1)?'':'hide'?> input-group">
                        <label>Selecciona el tipo de mecanización:</label>
                        <select class="form-control" name="tipo_mecanizacion_insecticida_granulado_recarga" id="mecanizada_div_select_rec2_1" style="color:gray;" onChange="evaluaCambioAplicacion2Frm16('rec2')">
                            <option value="1" selected>Propia</option>
                            <option value="2">Rentada</option>
                        </select>
                        <div id="mecanizada_div_select_div_propia_rec2_1" class="<?php echo ($this->tratamiento_b_ab->tipo_mecanizacion_insecticida_granulado_recarga==1)?'':'hide'?>">
                            <label>Costo del combustible:</label></br>
                            <input name="costo_combustible_insecticida_granulado_recarga" type="text" id="mecanizada_div_select_div_propia_combustible_rec2_1" placeholder="Costo del combustible" class="form-control numeric <?php echo ($this->tratamiento_b_ab->aplicacion_insecticida_granulado_recarga==1 && $this->tratamiento_b_ab->tipo_mecanizacion_insecticida_granulado_recarga==1)?'required':''?>" value="<?php echo $this->tratamiento_b_ab->costo_combustible_insecticida_granulado_recarga?>" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                            <label>Costo del operador:</label></br>
                            <input name="costo_operador_insecticida_granulado_recarga" type="text" id="mecanizada_div_select_div_propia_operador_rec2_1" placeholder="Costo del operador" class="form-control numeric <?php echo ($this->tratamiento_b_ab->aplicacion_insecticida_granulado_recarga==1 && $this->tratamiento_b_ab->tipo_mecanizacion_insecticida_granulado_recarga==1)?'required':''?>" value="<?php echo $this->tratamiento_b_ab->costo_operador_insecticida_granulado_recarga?>" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        </div>
                        <div id="mecanizada_div_select_div_rentada_rec2_1" class="<?php echo ($this->tratamiento_b_ab->tipo_mecanizacion_insecticida_granulado_recarga==2)?'':'hide'?>">
                            <label>Monto de renta:</label></br>
                            <input type="text" name="monto_renta_insecticida_granulado_recarga" id="mecanizada_div_select_div_rentada_costo_rec2_1" placeholder="Costo de la renta" class="form-control numeric <?php echo ($this->tratamiento_b_ab->tipo_mecanizacion_insecticida_granulado_recarga==2 && $this->tratamiento_b_ab->aplicacion_insecticida_granulado_recarga==1)?'required':''?>" value="<?php echo $this->tratamiento_b_ab->monto_renta_insecticida_granulado_recarga?>" onkeypress="return permiteNumerosConDecimal(event,this);"/>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
</table>
<div class="row center-block">
	<div class="col-xs-2 pull-left" id="btnLimpiarTratamientoBioticoAbiotico">
        <a  class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Borrar</a>
    </div>
    <div style="cursor:pointer;" class="col-xs-2 pull-left" id="btnGuardarTratamientoBioticoAbiotico">
        <a   class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
    </div>
</div>
</form>