<section class="content">
  <div class="box" style="padding: 3em;">
    <form id="frm" name="frm" class="form-horizontal" role="form">
      <div class="row">
        <div class="form-group col-xs-12">
          <label for="nombre" class="col-xs-2 control-label">*Nombre:</label>
          <div class="col-xs-4">
            <input type="text" id="nombre" name="nombre" class="form-control input-sm" value="<?php echo utf8_decode($this->registro->nombre); ?>"  maxlength="100" placeholder="Nombre del estado" />
          </div>
        </div>
      </div>
      <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id; ?>" />
    </form>
  </div>
  <div class="height-5" style="margin-top:50px"></div>
  <div class="row center-block" style="">
    <div class="height-5"></div>
      <div class="col-xs-2 pull-left" id="btnGuardar">
        <a class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
      </div>
      <div class="col-xs-2 pull-left" onclick="limpiar()">
        <a class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Limpiar</a>
      </div>
    </div>
  </div>
</section>