<!DOCTYPE html>
<html>
  <head>
    <title>Agricultura</title>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.2 -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- Morris chart -->
    <link href="/css/morris.css" rel="stylesheet" type="text/css" />
    <!-- jvectormap -->
    <link href="/css/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- Daterange picker -->
    <link href="/css/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="/css/AdminLTE.css" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins 
         folder instead of downloading all of them to reduce the load. -->
    <link href="/css/_all-skins.min.css" rel="stylesheet" type="text/css" />
	<link href="/js/iCheck/square/blue.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="http://js.api.here.com/se/2.5.4/jsl.js?with=all" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <!-- jGrowl -->
    <link rel="stylesheet" href="/css/jgrowl/jquery.jgrowl.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/css/global.css?<?php echo time();?>" />
    <?php echo $this->headLink(); ?>
</head>

<body class="skin-blue sidebar-collapse">
    <!-- Site wrapper -->
    <div class="wrapper">
      
      <header class="main-header">
     	<a href="http://<?php echo $_SERVER["SERVER_NAME"]."/backend"?>" class="logo"> <figure class="col-md-6 pull-left logo" style="width: 100%;"><img src="/img/logo.jpeg" width="150px"></figure></a>
        <?php /*?><a href="../" class="logo"><b>CYCASA</b></a><?php */?>
        <!-- Header Navbar: style can be found in header.less -->
        
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <!--boton de menu-->
          <?php if(Zend_Auth::getInstance()->getIdentity()->tipo==1){ ?>
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <?php } ?>
          <div style="float: left; margin-left: 20px;">
            <h3 style="font-size: 22px;margin-top: 0px; margin-bottom: 0px; width:100%; text-align: center;">Plan de Transición Agroecológico</h3>
            <h3 style="font-size: 15px; margin-top: 1px; margin-bottom: 0px; width:100%; text-align: center;">Caracterización del Sistema de Producción Actual</h3>
            <h3 style="font-size: 13px; margin-top: 3px; margin-bottom: 0px; width:100%; text-align: center;">Sistema de captura</h3>
          </div>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              <li class="dropdown user user-menu">
	              <?php 
								if(Zend_Auth::getInstance()->hasIdentity()){?>
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									  <span class="hidden-xs">Hola <?php echo Zend_Auth::getInstance()->getIdentity()->nombre; ?></span>
								   </a>
									<ul class="dropdown-menu">
									  	<!-- User image -->
									  	<li class="user-header">
											<p>
										  		<?php echo Zend_Auth::getInstance()->getIdentity()->nombre; ?>
											</p>
									  	</li>
									  	<li class="user-footer">
											<div class="pull-left">
										  		<a href="/backend" class="btn btn-default btn-flat">Regresar al mapa</a>
											</div>
											<div class="pull-right">
										  		<a href="/backend/login/salir" class="btn btn-default btn-flat">Salir</a>
											</div>
									  </li>
	               <?php }
	               		else
	               		{
	               ?>
	               		<a href="/backend" class="">
	              				<span class="hidden-xs">Iniciar sesion</span>
	                		</a>
	        			<?php }?>
               </li>
            </ul>
          </div>
        </nav>
      </header>

      <!-- =============================================== -->

      <!-- Left side column. contains the sidebar -->
      <!--AQUI COLUMNA DE PERMISOS-->
      <?php if(Zend_Auth::getInstance()->getIdentity()->tipo==1){ ?>
      <aside class="main-sidebar">
        	<!-- sidebar: style can be found in sidebar.less -->
        	<section class="sidebar" id="demo_info">
         	<!-- Sidebar user panel -->
         	<div class="user-panel">
            	<div class="pull-left info">
              		<p><?php echo Zend_Auth::getInstance()->getIdentity()->nombre; ?></p>      
					</div>
          	</div>
				<!-- sidebar menu: : style can be found in sidebar.less -->
          	<ul class="sidebar-menu">
	            <li id="sbnvid" class="header" style="cursor: pointer;"><i id="hsbnvid" class="fa fa-caret-up" style="padding-left: 0.3em; padding-right:1em;"></i>&nbsp;Navegación</li>
	            <li class="treeview tbnvsb">
	              	<a href="/backend/diagnosticos/">
	                	<i class="fa fa-dashboard"></i> <span>Diagnosticos</span> </i>
	             	</a>         
					</li>
            	<li class="treeview tbnvsb">
              		<a href="#">
                		<i class="fa fa-files-o"></i>
		               <span>Catálogos</span>
		               <span class="label label-primary pull-right" id="catNumber"></span>
              		</a>
	              	<ul class="treeview-menu" id="cat">
                    <li><a href="/backend/catalogos/"><i class="fa fa-circle-o"></i> Catálogos</a></li>
                    <li><a href="/backend/catalogos-valores/"><i class="fa fa-circle-o"></i> Valores para catálogos</a></li>
                    <li><a href="/backend/activo/"><i class="fa fa-circle-o"></i> Activos</a></li>
		                <li><a href="/backend/agroconsultor/"><i class="fa fa-circle-o"></i> Agroconsultor</a></li>
		                <li><a href="/backend/municipio/"><i class="fa fa-circle-o"></i> Ciudades</a></li>
		                <li><a href="/backend/cultivo/"><i class="fa fa-circle-o"></i> Cultivos</a></li>
                    <li><a href="/backend/empresa/"><i class="fa fa-circle-o"></i> Empresas</a></li>
                    <li><a href="/backend/etapa-fenologica/"><i class="fa fa-circle-o"></i> Etapa Fenológica</a></li>
                    <li><a href="/backend/fuente/"><i class="fa fa-circle-o"></i> Fuentes</a></li>
		                <li><a href="/backend/dependencia/"><i class="fa fa-circle-o"></i> Dependencias</a></li>
		                <li><a href="/backend/estado/"><i class="fa fa-circle-o"></i> Estados</a></li>
		                <li><a href="/backend/integradora/"><i class="fa fa-circle-o"></i> Integradoras</a></li>
		                <li><a href="/backend/localidad/"><i class="fa fa-circle-o"></i> Localidades</a></li>
                    <li><a href="/backend/marcas/"><i class="fa fa-circle-o"></i> Marcas</a></li>
		                <!--<li><a href="/backend/marca-semilla/"><i class="fa fa-circle-o"></i> Marcas de semillas</a></li>-->
		                <li><a href="/backend/organizacion/"><i class="fa fa-circle-o"></i> Organizaciónes</a></li>
		                <li><a href="/backend/predio/"><i class="fa fa-circle-o"></i> Predios</a></li>
		                <li><a href="/backend/productor/"><i class="fa fa-circle-o"></i> Productores</a></li>
		                <li><a href="/backend/tipocultivo/"><i class="fa fa-circle-o"></i> Tipos de cultivos</a></li>
                    <li><a href="/backend/tecnicas/"><i class="fa fa-circle-o"></i> Técnica de análisis de suelo</a></li>
		                <li><a href="/backend/unidad/"><i class="fa fa-circle-o"></i> Unidades</a></li>
                    <li><a href="/backend/uso/"><i class="fa fa-circle-o"></i> Usos</a></li>
                  
	              	</ul>
	            </li>
              <?php if( Zend_Auth::getInstance()->getIdentity()->correo_electronico=='estrada.aguilar.ja@gmail.com' ){ ?>
              <li class="treeview tbnvsb">
                  <a href="#">
                    <i class="fa fa-files-o"></i>
                   <span>Reporte</span>
                   <span class="label label-primary pull-right" id="repNumber"></span>
                  </a>
                  <ul class="treeview-menu" id="rep">
                    <li><a href="/backend/reportes"><i class="fa fa-circle-o"></i> Reporte predios</a></li>
                  </ul>
              </li>
              <?php } ?>
                <?php if( Zend_Auth::getInstance()->getIdentity()->tipo==1 ){ ?>
                <li class="treeview tbnvsb">
              		<a href="#">
                		<i class="fa fa-cog"></i>
		               <span>Configuración </span>
		               <span class="label label-primary pull-right" id="confNumber"></span>
              		</a>
                    <ul class="treeview-menu" id="conf">
                    	<li><a href="/backend/configuracion/unidades-de-medida"><i class="fa fa-list-alt"></i>Unidades de medida</a></li>
                    </ul>
                </li>
                <?php } ?>
	            <li id="sbmpid" class="header" style="cursor: pointer;"><i id="hsbmpid" class="fa fa-caret-down" style="padding-left: 0.3em; padding-right:1em;"></i>&nbsp;Mapa</li>
                <li class="treeview tbmpsb" style="display:none;">
	              	<a href="/backend">
	                	<i class="fa fa-calendar-o"></i> <span>Mostrar</span> </i>
	             	</a>         
				</li>
	            <li class="treeview tbmpsb" style="display:none;">
              		<a href="#">
                		<i class="fa fa-bookmark-o"></i>
		               <span>Filtros</span>
		               <span class="label label-primary pull-right" id="catNumber"></span>
              		</a>
	              	<ul class="treeview-menu" id="cat">
		               <!-- Campo para mostrar estatus -->
				          <div id="verror" class="sidebar-form" style="display: none;">
				            <div class="input-group" style="width: 100%;">
				              <div id="verrorc" class="form-control" style="background-color: #f2dede; border: 1px solid #eed3d7; border-radius: 4px; color: #b94a48; font-size: 13px; height:auto;" align="center"></div>
				            </div>
				          </div>
				          <!-- Divisor para filtros -->
				          <p style="color: #FFF; padding-left: 10px; padding-top: 5px;">Filtrar por localidad:</p>
				          <!-- Buscar Estado -->
				          <div class="sidebar-form">
				            <div class="select-group">
				              <select id="search_select_estado" class="form-control">
				                <option value="0">Seleccione un estado...</option>
				                <?php foreach ($this->estados as $estado)
				                      {
				                        echo '<option value="'.$estado->id.'">'.utf8_decode(utf8_decode($estado->nombre)).'</option>';
				                      }
				                ?>
				              </select>
				            </div>
				          </div>
				          <!-- Buscar Municipio -->
				          <div class="sidebar-form">
				            <div class="select-group">
				              <select id="search_select_municipio" class="form-control">
				                <option value="0">Seleccione un municipio...</option>
				              </select>
				            </div>
				          </div>
				          <!-- Buscar Localidad -->
				          <div class="sidebar-form">
				            <div class="select-group">
				              <select id="search_select_localidad" class="form-control">
				                <option value="0">Seleccione una localidad...</option>
				              </select>
				            </div>
				          </div>
				          <!-- Divisor para filtros -->
				          <p style="color: #FFF; padding-left: 10px; padding-top: 5px;">Filtrar por coordinadas:</p>
				          <!-- Buscar por lat, long -->
				          <div style="display: flex;">
				            <!-- Buscar Latitud -->
				            <div class="sidebar-form" style="width: 45%;">
				              <div class="input-group">
				                <input id="search_input_lat" type="text" class="form-control" style="background: #FFF;" placeholder="Latitud..."/>
				              </div>
				            </div>
				            <!-- Buscar Longitud -->
				            <div class="sidebar-form" style="width: 45%;">
				              <div class="input-group">
				                <input id="search_input_lng" type="text" class="form-control" style="background: #FFF;" placeholder="Longitud..."/>
				              </div>
				            </div>
				          </div>
				          <!-- Boton buscar -->
				          <div class="sidebar-form" style="cursor: pointer; color: #FFF;"  onClick="buscarInfo()">
				            <button class="btn btn-flat" style="border-radius: 0 !important;"><i class="fa fa-search"></i></button>
				            <label style="padding-left: 0.5em; cursor: pointer;">Buscar informaci&oacute;n</label>
				          </div>
				          <!-- Boton limpiar -->
				          <div class="sidebar-form" style="cursor: pointer; color: #FFF;"  onClick="limpiarInfo()">
				            <button class="btn btn-flat" style="border-radius: 0 !important;"><i class="fa fa-eraser"></i></button>
				            <label style="padding-left: 0.5em; cursor: pointer;">Limpiar informaci&oacute;n</label>
				          </div>
	              	</ul>
	            </li>
         	</ul>
        	</section>
            <!-- /.togle .js -->
        <!-- /.sidebar -->
      </aside>
       <?php }//if del tipo de usuario ?>

      <!-- =============================================== -->

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper" style="min-height: 500px !important;">
        <?php echo $this->layout()->content; ?>
      </div><!-- /.content-wrapper -->

      <!--<footer class="main-footer">
         <strong>Copyright &copy; 2015  <a href="http://cycasa.com"> CYCASA </a></strong>
      </footer>-->
    </div><!-- ./wrapper -->
    
    	
        <div id="_dialogo-1" class="display-none"></div>
		<div id="_dialogo-2" class="display-none"></div>
        <div id="_dialogo-3" class="display-none"></div>
		<div id="_dialogo-pausa-notificacion" class="display-none"></div>
		<div id="_mensaje-1" class="display-none"></div>
		<div id="_mensaje-2" class="display-none"></div>
        <div id="_mensaje-3" class="display-none"></div>
     <?php echo $this->headScript(); ?>
     <!-- jGrowl -->
    <script type="text/javascript" src="/js/jgrowl/jquery.jgrowl.js"></script>

    <!-- jQuery 2.1.3 -->
<!--    <script src="/js/jQuery/jQuery-2.1.3.min.js"></script>
-->    <!-- Bootstrap 3.3.2 JS -->
<!--    <script src="/js/bootstrap/bootstrap.min.js" type="text/javascript"></script>
-->    <!-- SlimScroll 1.3.0 -->
<!--    <script src="/js/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
-->    <!-- FastClick -->
<!--    <script src='/js/fastclick/fastclick.min.js'></script>
-->    <!-- AdminLTE App -->
<!--    <script src="/js/app.min.js" type="text/javascript"></script>
-->
    
    
   <div id="dialog" title="Alert message" style="display: none">
        <div class="ui-dialog-content ui-widget-content">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0"></span>
                <label id="lblMessage"></label>
            </p>
        </div>
    </div>
    <div id="dialogWindow" title="Alert message" style="display: none; background-color:#ecf0f5 !important;">
        <div class="ui-dialog-content ui-widget-content" style=" margin-top: 60px !important;">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
                <label id="lblMessage"></label>
            </p>
        </div>
    </div>
    <div id="dialogWindow2" title="Alert message" style="display: none; background-color:#ecf0f5 !important;">
        <div class="ui-dialog-content ui-widget-content" style=" margin-top: 80px !important">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
                <label id="lblMessage"></label>
            </p>
        </div>
    </div>
    
  </body>
</html>
					<script language="javascript">
					//saber el numero de catalogos que hay en los li
                    	$('#catNumber').html($('#cat > li').length);
                    </script>
                    <script language="javascript">
					//saber el numero de catalogos que hay en los li
                    	$('#confNumber').html($('#conf > li').length);
                    </script>