<!DOCTYPE html>
<html>
  <head>
    <title>Agricultura</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.2 -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- Morris chart -->
    <link href="/css/morris.css" rel="stylesheet" type="text/css" />
    <!-- jvectormap -->
    <link href="/css/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- Daterange picker -->
    <link href="/css/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins 
         folder instead of downloading all of them to reduce the load. -->
    <link href="/css/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <link href="/js/iCheck/square/blue.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


    <!-- jQuery 2.1.3 -->
    <script src="/js/jQuery/jQuery-2.1.3.min.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="http://js.api.here.com/v3/3.0/mapsjs-ui.css" />
    
    <script src="http://js.api.here.com/v3/3.0/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-data.js" type="text/javascript" charset="utf-8"></script>-->
    <script src="http://js.api.here.com/se/2.5.4/jsl.js?with=all" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <!-- jGrowl -->
    <link rel="stylesheet" href="css/jgrowl/jquery.jgrowl.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/css/global.css?<?php echo time();?>" />
  </head>
  <body class="skin-blue">
    <!-- Notificaciones -->
    <div id="notifications" class="top-right"></div>
    <!-- Site wrapper -->
      <header class="main-header">
        <a href="../" class="logo"><b>CYCASA</b></a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
              <?php 
              if(Zend_Auth::getInstance()->hasIdentity()){?>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="hidden-xs">
                    <?php echo Zend_Auth::getInstance()->getIdentity()->nombre; ?>
                  </span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <p>
                      <?php echo Zend_Auth::getInstance()->getIdentity()->nombre; ?>
                    </p>
                  </li>
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Perfil</a>
                    </div>
                    <div class="pull-right">
                      <a href="#" class="btn btn-default btn-flat">Salir</a>
                    </div>
                  </li>
                  <?php }else{ ?>
                  <a href="/backend" class="">
                    <span class="hidden-xs">Iniciar sesion</span>
                  </a>
                  <?php }?>
                  </li>
                  <!-- Menu Body -->
                  <!-- Menu Footer-->
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <!-- =============================================== -->

      <!-- Left side column. contains the sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Campo para mostrar estatus -->
          <div id="verror" class="sidebar-form" style="display: none;">
            <div class="input-group" style="width: 100%;">
              <div id="verrorc" class="form-control" style="background-color: #f2dede; border: 1px solid #eed3d7; border-radius: 4px; color: #b94a48; font-size: 13px; height:auto;" align="center"></div>
            </div>
          </div>
          <!-- Divisor para filtros -->
          <p style="color: #FFF; padding-left: 10px; padding-top: 5px;">Filtrar por localidad:</p>
          <!-- Buscar Estado -->
          <div class="sidebar-form">
            <div class="select-group">
              <select id="search_select_estado" class="form-control">
                <option value="0">Seleccione un estado...</option>
                <?php foreach ($this->estados as $estado)
                      {
                        echo '<option value="'.$estado->id.'">'.utf8_decode(utf8_decode($estado->nombre)).'</option>';
                      }
                ?>
              </select>
            </div>
          </div>
          <!-- Buscar Municipio -->
          <div class="sidebar-form">
            <div class="select-group">
              <select id="search_select_municipio" class="form-control">
                <option value="0">Seleccione un municipio...</option>
              </select>
            </div>
          </div>
          <!-- Buscar Localidad -->
          <div class="sidebar-form">
            <div class="select-group">
              <select id="search_select_localidad" class="form-control">
                <option value="0">Seleccione una localidad...</option>
              </select>
            </div>
          </div>
          <!-- Divisor para filtros -->
          <p style="color: #FFF; padding-left: 10px; padding-top: 5px;">Filtrar por coordinadas:</p>
          <!-- Buscar por lat, long -->
          <div style="display: flex;">
            <!-- Buscar Latitud -->
            <div class="sidebar-form" style="width: 45%;">
              <div class="input-group">
                <input id="search_input_lat" type="text" class="form-control" style="background: #FFF;" placeholder="Latitud..."/>
              </div>
            </div>
            <!-- Buscar Longitud -->
            <div class="sidebar-form" style="width: 45%;">
              <div class="input-group">
                <input id="search_input_lng" type="text" class="form-control" style="background: #FFF;" placeholder="Longitud..."/>
              </div>
            </div>
          </div>
          <!-- Boton buscar -->
          <div class="sidebar-form" style="cursor: pointer; color: #FFF;"  onClick="buscarInfo()">
            <button class="btn btn-flat" style="border-radius: 0 !important;"><i class="fa fa-search"></i></button>
            <label style="padding-left: 1.5em; cursor: pointer;">Buscar informaci&oacute;n</label>
          </div>
          <!-- Boton limpiar -->
          <div class="sidebar-form" style="cursor: pointer; color: #FFF;"  onClick="limpiarInfo()">
            <button class="btn btn-flat" style="border-radius: 0 !important;"><i class="fa fa-eraser"></i></button>
            <label style="padding-left: 1.5em; cursor: pointer;">Limpiar informaci&oacute;n</label>
          </div>
      </aside>

      <!-- =============================================== -->

      <!-- Content Wrapper. Contains page content -->
      
        <?php echo $this->layout()->content; ?>
      

      <footer class="main-footer">     
        <strong>Copyright &copy; 2015  <a href="http://cycasa.com"> CYCASA </a></strong>
      </footer>
    

    
    <!-- Bootstrap 3.3.2 JS -->
    <script src="/js/bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <!-- SlimScroll 1.3.0 -->
    <script src="/js/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- FastClick -->
    <script src='/js/fastclick/fastclick.min.js'></script>
    <!-- AdminLTE App -->
    <script src="/js/app.min.js" type="text/javascript"></script>
    <script src="/js/iCheck/icheck.min.js" type="text/javascript"></script>
    <!-- jGrowl -->
    <script type="text/javascript" src="/js/jgrowl/jquery.jgrowl.js"></script>
    <?php echo $this->headScript(); ?>

  </body>
</html>