<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<?php echo $this->headTitle(); ?>
<?php echo $this->headScript();?>
<?php echo $this->headLink();?>
</head>
<body>

    <div class="row-fluid" id="contenedorMenu">
        <div class="row-fluid" id="menu">
            <div class="span3"><img src="/images/logo.png" /></div>
            <div class="span2 opcion">
                <img src="/images/png/catalogo.png" />&nbsp;Catálogos
                <ul class="submenu">
                    <li><a href="/catalogos/">Usuarios</a></li>
                    <li><a href="/catalogos/ubicacion">Ubicaciones</a></li>
                    <li><a href="/catalogos/banner">Banner</a></li>
                </ul>
            </div>
            <div class="span1 opcion"><a href="/login/logout"><img src="/images/png/salir.png"/>&nbsp;Salir</a></div>
            <div class="span6 opcion" align="right"><strong><?php echo Zend_Auth::getInstance()->getIdentity()->login?></strong></b></div>
        </div>
    </div>
    
    <div class="row-fluid" id="contenedorPrincipal"><?php echo $this->layout()->content; ?></div>
    <div class="dialog-form" title="" class="displayNone"></div>
    <div class="dialog-form-aux" title="" class="displayNone"></div>
    <div class="dialog-form-alerta" title="" class="displayNone"></div>

    <div id="btnFixed" style="display:none; background-color: #ccc; position: fixed; top: 50%; left: 0; height: 30px; margin-top: -15px;">
    
</body>
</html>