<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Agricultura || Acceso a usuarios</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!--    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
-->    
	<link href="/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <link href="/js/iCheck/square/blue.css" rel="stylesheet" type="text/css" />
    <link href="/css/dialog_mensaje.css" rel="stylesheet" type="text/css" />
	<?php 
	
	echo $this->headLink(); ?>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="login-page">
  <figure style="left: 9%; position: relative; margin-top:5%; width: 20%;"><img src="/img/logo.jpeg" width="370"></figure>
    <div class="login-box">
          <div class="login-logo">
          </div><!-- /.login-logo -->
          
          <h3 style="font-size: 50px; color: #fff; width: 100%;position: absolute;left: 600px;top: 40px;">Plan de Transición Agroecológico</h3>
          <h3 style="font-size: 38px; color: #fff; width: 100%;position: absolute;left: 540px;top: 90px;">Caracterización del Sistema de Producción Actual</h3>
          <h3 style="font-size: 30px; color: #fff; width: 100%;position: absolute;left: 800px;top: 135px;">Sistema de captura</h3>
          <div class="login-box-body">
            <p class="login-box-msg">Inicia sesión</p>
            <form id="frm-1" action="/backend/login/ingresar" method="post">
              <div class="form-group has-feedback">
                <input type="text" class="form-control" name="correo_electronico" placeholder="Email"/>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
              </div>
              <div class="form-group has-feedback">
                <input type="password" class="form-control" name="contrasena" placeholder="Password"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
              </div>
              <div class="row">
                <div class="col-xs-8">    
                  <!--<div class="checkbox icheck">
                    <label>
                      <input type="checkbox"> Recordrme
                    </label>
                  </div>  -->                      
                </div><!-- /.col -->
                <div class="col-xs-4">
                  <button type="submit" class="btn btn-primary btn-block btn-flat">Ingresar</button>
                </div><!-- /.col -->
              </div>
            </form>
            <!--<a href="#" onclick="recupera();"  >Olvidaste la contraseña</a><br>-->
            <!--<p>+52 (33)3125-6832<br>
            +52 (33)1057-0121<br>
            <a href="mailto:info@appgricola.com">info@appgricola.com</a>
            </p>-->
    
          </div><!-- /.login-box-body -->
        </div><!-- /.login-box --> 
        
        
        
        
        <section id="dialogo" class="dialogo"></section>
        <section id="dialogo2" class="dialogo2"></section>
        <section id="dialogoDepurar"></section>
		
        
        
        
        
        
        
        
        
        
	    <script src="/js/jQuery/jQuery-2.1.3.min.js"></script>
        <script src="/js/jQueryUI/jquery-ui-1.10.3.js"></script>
        <script src="/js/jQueryUI/dialog.js"></script>
		<script src="/js/bootstrap/bootstrap.min.js" type="text/javascript"></script>
        <script src="/js/login.js"></script>
    	<?php echo $this->headScript(); ?>


        
  </body>
  
</html>