<section class="content">
  <div class="box" style="padding: 3em;">
    <form id="frm" name="frm" class="form-horizontal" role="form">
      <div class="row">
        <div class="form-group col-xs-12">
          <label for="nombre" class="col-xs-2 control-label">*Nombre:</label>
          <div class="col-xs-4">
            <input type="text" id="nombre" name="nombre" class="form-control input-sm" value="<?php echo($this->registro->nombre); ?>"  maxlength="100" placeholder="Nombre del predio" />
          </div>
          <label for="id_dependencia" class="col-xs-2 control-label">*Dependencia:</label>
          <div class="col-xs-4">
            <select name="id_dependencia" id="id_dependencia" class="form-control input-sm">
                <option value="0">Seleccione una dependencia</option>
                <?php
                  foreach ($this->dependencias as $dependencia) {
                    if($this->registro->id_dependencia == $dependencia->id) $select = "selected";
                    else $select = '';
                    echo '<option value="'. $dependencia->id .'" '. $select .'>'. utf8_decode($dependencia->nombre) .'</option>';
                  }
                ?>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12">
          <label for="id_integradora" class="col-xs-2 control-label">*Integradora:</label>
          <div class="col-xs-4">
            <select name="id_integradora" id="id_integradora" class="form-control input-sm">
              <option value="0">Seleccione una integradora</option>
              <?php
                foreach ($this->integradoras as $integradora) {
                  if($this->registro->id_integradora == $integradora->id) $select = "selected";
                  else $select = '';
                  echo '<option value="'. $integradora->id .'" '. $select .'>'. utf8_decode($integradora->nombre) .'</option>';
                }
              ?>
          </select>
          </div>
          <label for="id_organizacion" class="col-xs-2 control-label">*Organizacion:</label>
          <div class="col-xs-4">
            <select name="id_organizacion" id="id_organizacion" class="form-control input-sm">
              <option value="0">Seleccione una organización</option>
              <?php
                foreach ($this->organizaciones as $organizacion) {
                  if($this->registro->id_organizacion == $organizacion->id) $select = "selected";
                  else $select = '';
                  echo '<option value="'. $organizacion->id .'" '. $select .'>'. utf8_decode($organizacion->nombre) .'</option>';
                }
              ?>
          </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12">
          <label for="id_estado" class="col-xs-2 control-label">*Estado:</label>
          <div class="col-xs-4">
            <select name="id_estado" id="id_estado" class="form-control input-sm">
              <option value="0">Seleccione un estado</option>
              <?php
                foreach ($this->estados as $estado) {
                  if($this->registro->Localidad->id_estado == $estado->id) $select = "selected";
                  else $select = '';
                  echo '<option value="'. $estado->id .'" '. $select .'>'. utf8_decode($estado->nombre) .'</option>';
                }
              ?>
            </select>
          </div>
          <label for="id_municipio" class="col-xs-2 control-label">*Municipio:</label>
          <div class="col-xs-4">
            <select name="id_municipio" id="id_municipio" class="form-control input-sm">
              <option value="0">Seleccione un municipio</option>
              <?php if($this->registro)
                    {
                      $municipios = Municipio::obtenerObjetoPorEstado($this->registro->Localidad->id_estado);
                      foreach ($municipios as $municipio) {
                        if($this->registro->Localidad->clave_municipio == $municipio->clave) $select = "selected";
                        else $select = '';
                        echo '<option value="'. $municipio->id .'" '. $select .'>'. utf8_decode($municipio->nombre) .'</option>';
                      }
                    }
              ?>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12">
          <label for="id_localidad" class="col-xs-2 control-label">*Localidad:</label>
          <div class="col-xs-4">
            <select name="id_localidad" id="id_localidad" class="form-control input-sm">
              <option value="0">Seleccione una localidad</option>
              <?php if($this->registro)
                    {
                      $localidades = Localidad::obtenerObjetoPorClaveMunicipio($this->registro->Localidad);
                      foreach ($localidades as $localidad) {
                        if($this->registro->id_localidad == $localidad->id) $select = "selected";
                        else $select = '';
                        echo '<option value="'. $localidad->id .'" '. $select .'>'. $localidad->nombre .'</option>';
                      }
                    }
              ?>
            </select>
          </div>
          <label for="potrero" class="col-xs-2 control-label">*Potrero:</label>
          <div class="col-xs-4">
           <input type="text" id="potrero" name="potrero" class="form-control input-sm" value="<?php echo($this->registro->potrero); ?>"  maxlength="100" placeholder="Potrero" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12">
          <label for="superficie" class="col-xs-2 control-label">*Superficie:</label>
          <div class="col-xs-4">
            <input type="text" id="superficie" name="superficie" class="form-control input-sm" value="<?php echo($this->registro->superficie); ?>"  maxlength="100" placeholder="Superficie" />
          </div>
          <label for="id_productor" class="col-xs-2 control-label">*Productor:</label>
          <div class="col-xs-4">
            <select name="id_productor" id="id_productor" class="form-control input-sm">
              <option value="0">Seleccione un productor</option>
              <?php
                foreach ($this->productores as $productor) {
                  if($this->registro->id_productor == $productor->id) $select = "selected";
                  else $select = '';
                  echo '<option value="'. $productor->id .'" '. $select .'>'. utf8_decode($productor->nombre) .'</option>';
                }
              ?>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12">
          <label for="territorio_funcional" class="col-xs-2 control-label">*Territorio funcional:</label>
          <div class="col-xs-4">
            <input type="text" id="territorio_funcional" name="territorio_funcional" class="form-control input-sm" value="<?php echo($this->registro->territorio_funcional); ?>"  maxlength="100" placeholder="Territorio funcional" />
          </div>
        </div>
      </div>
      <input type="hidden" name="id" id="id" value="<?php echo $this->registro->id; ?>" />
    </form>
  </div>
  <div class="height-5" style="margin-top:50px"></div>
  <div class="row center-block" style="">
    <div class="height-5"></div>
      <div class="col-xs-2 pull-left" id="btnGuardar">
        <a class="btn btn-block btn-success"><i class="fa fa-save">&nbsp;</i>Guardar</a>
      </div>
      <div class="col-xs-2 pull-left" onclick="limpiar()">
        <a class="btn btn-block btn-success"><i class="fa fa-eraser">&nbsp;</i>Limpiar</a>
      </div>
    </div>
  </div>
</section>