<div id="es-2" name="es-2" class="alert alert-success hide" style="padding-bottom: 0;" role="alert">
    Espere un momento, por favor...
    <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped active"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
       		<span class="sr-only">100% Completo</span>
		</div>
    </div>
</div>
<form id="frm-1" name="frm-1" method="post" action="/backend/login/recuperar" role="form">
  	<br>
    <div class="form-group">
        
   		<label for="correo_electronico" class="sr-only">*Correo electr&oacute;nico:</label>
		<input type="email" id="correo_electronico" name="correo_electronico" class="form-control" placeholder="mi_correo@email.com">
    </div><br>
    
    <div role="alert" class="text-center" style="position: relative; margin: auto; width:80% ">
        Tu contraseña ser&aacute; enviada al correo electr&oacute;nico registrado en el sistema
    </div>
    
    <br /><br />
   	<div class="text-right">
    	<button class="btn btn-rojo-1" id="btnRecupera" type="button" onclick="enviar()" >enviar</button>  
    </div>
    <br />
</form>