<!-- HEADER -->
  <section class="content-header">
    <h1>
      <?php echo $this->titulo; ?>
      <small><?php echo $this->subtitulo; ?></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"> Inicio</a></li>
      <li class="active"><a href="#"><i class="fa fa-server"></i>Catálogos</a></li>
      <li class="active"><a href="#"><i class="fa fa-building-o"></i>Empresas</a></li>
    </ol>
  </section>
<!-- /HEADER -->
<!-- CONTENIDO -->
  <section class="content">
    <div class="box">
      <!-- AGREGAR -->
      <div class="box-header">
        <div class="box-tools pull-right" onclick="agregar()">
          <a class="btn btn-block btn-success">
          	<i class="fa fa-plus"> Agregar</i>
          </a>
        </div>
      </div>
      <!-- /AGREGAR -->
      <!-- FILTROS -->
      <div style="margin-top:30px;"></div>
        <div class="box-body">
          <div class="box box-danger">
            <div class="box-header">
              <div class="row">
                <div class="col-xs-9">
                  <h3 class="box-title">Filtros de búsqueda</h3>
                </div>
              <div class="col-xs-3">
                <button name="reset" class="btn btn-info fa fa-eraser pull-right" onclick="javascript:limpiarFiltro();">
                  Limpiar
                </button> &nbsp;
                <button name="filtrar" class="btn btn-info fa fa-search pull-right" onclick="javascript:filtrargrig();">
                  Filtrar
                </button>
              </div>
            </div><br/>
            <!-- CAMPOS DE FILTROS -->
            <div class="form-group col-xs-4">
              <div class="col-xs-12">
                <input type="text" class="form-control input-sm" name="filtroNombre" id="filtroNombre" placeholder="Empresa"/>
              </div>
            </div>
            <!-- /CAMPOS DE FILTROS -->
          </div>
        </div>
      </div>
      <!-- /FILTROS -->
      <!-- GRID -->
      <div class="box-body">
        <?php echo $this->grid; ?>
        <div id="flexigrid" class="col-xs-12" style="padding:0px">
        </div>
      </div>
      <!-- /GRID -->     
  	</div>
  </section>
<!-- /CONTENIDO -->